Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

added platform config file in CI for Hercules
  ci/platforms/config.hercules
Owners: @TerrenceMcGuinness-NOAA

Stop making links for unbuilt components
  sorc/link_workflow.sh
Owners: none

Allow lower or upper hostname on hercules.
  ush/detect_machine.sh
Owners: none

Add Hercules to issue template.
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: none

Fix Hercules hostname (#2150)
  .github/ISSUE_TEMPLATE/bug_report.yml
  ush/detect_machine.sh
Owners: none

Enable radar reflectivity output (#2143)
  parm/config/gefs/config.fcst
  parm/config/gfs/config.fcst
  parm/ufs/fv3/diag_table
  ush/parsing_namelists_FV3.sh
Owners: none

Updated linter check/disable flags relative to reviewer comment.
  scripts/exglobal_diag.sh
Owners: none

Corrected file existence and size check as suggested by a reviewer.
  scripts/exglobal_diag.sh
Owners: none

Corrected formatting.
  scripts/exglobal_diag.sh
Owners: none

Corrections based on reviewer comments.
  jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
Owners: @GwenChen-NOAA

Address reviewer comments regarding SC2086
  parm/config/gfs/config.resources
Owners: none

Addressed further reviewer comments and previous oversights.
  scripts/exglobal_diag.sh
Owners: none

removed cycled cases from Hercules and added subfolder in GFS_CI_ROOT for Hercules and Orion
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
  ci/platforms/config.hercules
  ci/platforms/config.orion
Owners: @TerrenceMcGuinness-NOAA

Extend verifrad wall clock
  parm/config/gfs/config.resources
Owners: none

Update jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
  jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
Owners: @GwenChen-NOAA

Update jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
  jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
Owners: @GwenChen-NOAA

Update jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
  jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
Owners: @GwenChen-NOAA

Replace checkout script with submodules (#2142)
  .gitignore
  .gitmodules
  Externals.cfg
  ci/scripts/clone-build_ci.sh
  ci/scripts/driver_weekly.sh
  docs/source/clone.rst
  docs/source/components.rst
  docs/source/development.rst
  docs/source/init.rst
  docs/source/run.rst
  parm/config/gfs/config.resources
  sorc/build_all.sh
  sorc/checkout.sh
  sorc/gfs_build.cfg
  sorc/link_workflow.sh
  sorc/partial_build.sh
Owners: @TerrenceMcGuinness-NOAA

Update scripts/exglobal_diag.sh
  scripts/exglobal_diag.sh
Owners: none

Update scripts/exglobal_diag.sh
  scripts/exglobal_diag.sh
Owners: none

Update scripts/exglobal_diag.sh
  scripts/exglobal_diag.sh
Owners: none

Update scripts/exglobal_diag.sh
  scripts/exglobal_diag.sh
Owners: none

Update scripts/exglobal_diag.sh
  scripts/exglobal_diag.sh
Owners: none

Update scripts/exglobal_diag.sh
  scripts/exglobal_diag.sh
Owners: none

Update scripts/exglobal_diag.sh
  scripts/exglobal_diag.sh
Owners: none

Update scripts/exglobal_diag.sh
  scripts/exglobal_diag.sh
Owners: none

Update scripts/exglobal_diag.sh
  scripts/exglobal_diag.sh
Owners: none

Set job as shared when not exclusive on WCOSS2
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update ecf scripts to set shared when not exclusive
  ecf/scripts/enkfgdas/analysis/create/jenkfgdas_diag.ecf
  ecf/scripts/enkfgdas/analysis/recenter/jenkfgdas_sfc.ecf
  ecf/scripts/gdas/atmos/analysis/jgdas_atmos_analysis_diag.ecf
  ecf/scripts/gdas/atmos/gempak/jgdas_atmos_gempak.ecf
  ecf/scripts/gdas/atmos/gempak/jgdas_atmos_gempak_meta_ncdc.ecf
  ecf/scripts/gdas/atmos/obsproc/dump/jgdas_atmos_tropcy_qc_reloc.ecf
  ecf/scripts/gdas/atmos/obsproc/prep/jgdas_atmos_emcsfc_sfc_prep.ecf
  ecf/scripts/gdas/atmos/post/jgdas_atmos_post_manager.ecf
  ecf/scripts/gdas/atmos/post_processing/jgdas_atmos_chgres_forenkf.ecf
  ecf/scripts/gdas/atmos/verf/jgdas_atmos_verfozn.ecf
  ecf/scripts/gdas/atmos/verf/jgdas_atmos_verfrad.ecf
  ecf/scripts/gdas/atmos/verf/jgdas_atmos_vminmon.ecf
  ecf/scripts/gdas/wave/init/jgdas_wave_init.ecf
  ecf/scripts/gdas/wave/post/jgdas_wave_postpnt.ecf
  ecf/scripts/gdas/wave/post/jgdas_wave_postsbs.ecf
  ecf/scripts/gdas/wave/prep/jgdas_wave_prep.ecf
  ecf/scripts/gfs/atmos/gempak/jgfs_atmos_gempak.ecf
  ecf/scripts/gfs/atmos/gempak/jgfs_atmos_gempak_meta.ecf
  ecf/scripts/gfs/atmos/gempak/jgfs_atmos_gempak_ncdc_upapgif.ecf
  ecf/scripts/gfs/atmos/gempak/jgfs_atmos_npoess_pgrb2_0p5deg.ecf
  ecf/scripts/gfs/atmos/gempak/jgfs_atmos_pgrb2_spec_gempak.ecf
  ecf/scripts/gfs/atmos/obsproc/dump/jgfs_atmos_tropcy_qc_reloc.ecf
  ecf/scripts/gfs/atmos/obsproc/prep/jgfs_atmos_emcsfc_sfc_prep.ecf
  ecf/scripts/gfs/atmos/post/jgfs_atmos_post_manager.ecf
  ecf/scripts/gfs/atmos/post_processing/awips_20km_1p0/jgfs_atmos_awips_master.ecf
  ecf/scripts/gfs/atmos/post_processing/awips_g2/jgfs_atmos_awips_g2_master.ecf
  ecf/scripts/gfs/atmos/post_processing/bulletins/jgfs_atmos_fbwind.ecf
  ecf/scripts/gfs/atmos/verf/jgfs_atmos_vminmon.ecf
  ecf/scripts/gfs/wave/gempak/jgfs_wave_gempak.ecf
  ecf/scripts/gfs/wave/init/jgfs_wave_init.ecf
  ecf/scripts/gfs/wave/post/jgfs_wave_postsbs.ecf
  ecf/scripts/gfs/wave/post/jgfs_wave_prdgen_bulls.ecf
  ecf/scripts/gfs/wave/post/jgfs_wave_prdgen_gridded.ecf
  ecf/scripts/gfs/wave/prep/jgfs_wave_prep.ecf
Owners: @lgannoaa

Add MOS jobs to rocoto mesh (#2148)
  env/WCOSS2.env
  jobs/rocoto/mos_ext_grd_fcst.sh
  jobs/rocoto/mos_ext_grd_prdgen.sh
  jobs/rocoto/mos_ext_grd_prep.sh
  jobs/rocoto/mos_ext_stn_fcst.sh
  jobs/rocoto/mos_ext_stn_prdgen.sh
  jobs/rocoto/mos_ext_stn_prep.sh
  jobs/rocoto/mos_grd_fcst.sh
  jobs/rocoto/mos_grd_prdgen.sh
  jobs/rocoto/mos_grd_prep.sh
  jobs/rocoto/mos_stn_fcst.sh
  jobs/rocoto/mos_stn_prdgen.sh
  jobs/rocoto/mos_stn_prep.sh
  jobs/rocoto/mos_wx_ext_prdgen.sh
  jobs/rocoto/mos_wx_prdgen.sh
  modulefiles/module_base.wcoss2.lua
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.mos
  parm/config/gfs/config.mos_ext_grd_fcst
  parm/config/gfs/config.mos_ext_grd_prdgen
  parm/config/gfs/config.mos_ext_grd_prep
  parm/config/gfs/config.mos_ext_stn_fcst
  parm/config/gfs/config.mos_ext_stn_prdgen
  parm/config/gfs/config.mos_ext_stn_prep
  parm/config/gfs/config.mos_grd_fcst
  parm/config/gfs/config.mos_grd_prdgen
  parm/config/gfs/config.mos_grd_prep
  parm/config/gfs/config.mos_stn_fcst
  parm/config/gfs/config.mos_stn_prdgen
  parm/config/gfs/config.mos_stn_prep
  parm/config/gfs/config.mos_wx_ext_prdgen
  parm/config/gfs/config.mos_wx_prdgen
  parm/config/gfs/config.resources
  versions/run.wcoss2.ver
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

updated ocean post config in parm to include HERCULES to exclude it becuse NCL module is not there yet
  parm/config/gfs/config.ocnpost
Owners: none

updated comment in ocean post to include HERCULES as well as WCOSS
  parm/config/gfs/config.ocnpost
Owners: none

correct fbwind
  jobs/rocoto/fbwind.sh
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

basic sm and configured to include submodules
  Jenkinsfile
Owners: none

Correct fbwind (#2161)
  jobs/rocoto/fbwind.sh
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

missed a bracket in Jenkinsfile
  Jenkinsfile
Owners: none

CI Updates to support Hercules (#2155)
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
  ci/platforms/config.hercules
  parm/config/gfs/config.ocnpost
Owners: @TerrenceMcGuinness-NOAA

repalced node with step becuse first block in stage is steps
  Jenkinsfile
Owners: none

Update scripts/exglobal_diag.sh
  scripts/exglobal_diag.sh
Owners: none

Update scripts/exglobal_diag.sh
  scripts/exglobal_diag.sh
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
