Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

Update build_all.sh
  sorc/build_all.sh
Owners: none

Reenable METplus jobs on Hercules.
  parm/config/gfs/config.base.emc.dyn
Owners: none

Add in IMS obs fix directory
  sorc/link_workflow.sh
  versions/fix.ver
Owners: none

Remove FIXgempak variable
  gempak/ush/gdas_ecmwf_meta_ver.sh
  gempak/ush/gdas_meta_loop.sh
  gempak/ush/gdas_ukmet_meta_ver.sh
  gempak/ush/gempak_gdas_f000_gif.sh
  gempak/ush/gempak_gfs_f00_gif.sh
  gempak/ush/gempak_gfs_f12_gif.sh
  gempak/ush/gempak_gfs_f24_gif.sh
  gempak/ush/gempak_gfs_f36_gif.sh
  gempak/ush/gempak_gfs_f48_gif.sh
  gempak/ush/gfs_meta_ak.sh
  gempak/ush/gfs_meta_bwx.sh
  gempak/ush/gfs_meta_comp.sh
  gempak/ush/gfs_meta_crb.sh
  gempak/ush/gfs_meta_hi.sh
  gempak/ush/gfs_meta_hur.sh
  gempak/ush/gfs_meta_mar_atl.sh
  gempak/ush/gfs_meta_mar_comp.sh
  gempak/ush/gfs_meta_mar_pac.sh
  gempak/ush/gfs_meta_mar_ql.sh
  gempak/ush/gfs_meta_mar_skewt.sh
  gempak/ush/gfs_meta_mar_ver.sh
  gempak/ush/gfs_meta_nhsh.sh
  gempak/ush/gfs_meta_opc_na_ver
  gempak/ush/gfs_meta_opc_np_ver
  gempak/ush/gfs_meta_precip.sh
  gempak/ush/gfs_meta_qpf.sh
  gempak/ush/gfs_meta_sa.sh
  gempak/ush/gfs_meta_sa2.sh
  gempak/ush/gfs_meta_trop.sh
  gempak/ush/gfs_meta_us.sh
  gempak/ush/gfs_meta_usext.sh
  gempak/ush/gfs_meta_ver.sh
Owners: none

Remove FIX* variable settings in JJOBs
  jobs/JGDAS_ATMOS_GEMPAK
  jobs/JGDAS_ATMOS_GEMPAK_META_NCDC
  jobs/JGFS_ATMOS_GEMPAK
  jobs/JGFS_ATMOS_GEMPAK_META
  jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF
  jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
  jobs/JGFS_ATMOS_POSTSND
  jobs/JGLOBAL_ATMOS_ANALYSIS
  jobs/JGLOBAL_WAVE_INIT
  jobs/JGLOBAL_WAVE_POST_BNDPNT
  jobs/JGLOBAL_WAVE_POST_BNDPNTBLL
  jobs/JGLOBAL_WAVE_POST_PNT
  jobs/JGLOBAL_WAVE_POST_SBS
  jobs/JGLOBAL_WAVE_PREP
Owners: @GwenChen-NOAA, @WenMeng-NOAA, @RussTreadon-NOAA, @JessicaMeixner-NOAA

Remove `finddate.sh` from system (#2308)
  sorc/link_workflow.sh
  ush/syndat_getjtbul.sh
Owners: none

Reupgrade Hercules to SS/1.6.0
  modulefiles/module_base.hercules.lua
  modulefiles/module_gwci.hercules.lua
  modulefiles/module_gwsetup.hercules.lua
  versions/build.hercules.ver
  versions/run.hercules.ver
Owners: none

Fixed xarray version for SS/1.6.0.
  versions/run.spack.ver
Owners: none

revert changes to extend stage_ic to gdas for cycled parallels (#2294)
  parm/config/gfs/config.stage_ic
  scripts/exglobal_stage_ic.sh
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update shell-based CI scripts
  ci/cases/pr/C48_S2SWA_gefs.yaml
  ci/scripts/clone-build_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Fix git version in Hera's gwsetup module.
  modulefiles/module_gwsetup.hera.lua
  parm/config/gfs/config.base.emc.dyn
Owners: none

updating ugwd fix file
  versions/fix.ver
Owners: none

remove all by C96_atmsnowDA.yaml cases for selftest
  ci/cases/pr/C48_ATM.yaml
  ci/cases/pr/C48_S2SW.yaml
  ci/cases/pr/C48_S2SWA_gefs.yaml
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
Owners: @TerrenceMcGuinness-NOAA

no op for self test
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

had to set HOMEgfs temporarily (temporarily becasue it needs to be unset as to not interfear with create_experment.sh)
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

sh to py
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_ECEN
Owners: none

replaced ROOT_DIR designated for prod cron HOMEgfs to HOMEgfs
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Fixed Orion cdo version.
  versions/run.orion.ver
Owners: none

added export HOMEgfs
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

used try catch over run experments get archive of error logs and running bacth cancel before leaving pipeline
  Jenkinsfile
Owners: none

Remove FIX* variables from configs
  parm/config/gefs/config.base.emc.dyn
  parm/config/gefs/config.wave
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.anal
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.prep
  parm/config/gfs/config.wave
Owners: none

necessary updates to run
  parm/config/gfs/config.base.emc.dyn
  ush/python/pygfs/task/land_analysis.py
Owners: none

Remove FIX* variables from parm files
  parm/gdas/aero_jedi_fix.yaml
  parm/ufs/fix/gfs/atmos.fixed_files.yaml
  parm/ufs/fix/gfs/land.fixed_files.yaml
  parm/ufs/fix/gfs/ocean.fixed_files.yaml
Owners: none

replaced ROOT_DIR to HOMEgfs in check script and exported it for module setup
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Load default rocoto on Jet.
  modulefiles/module_gwsetup.jet.lua
Owners: none

Set HOMEgfs for module_setup in CI driver (#2321)
  ci/scripts/check_ci.sh
  ci/scripts/driver.sh
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Move IMS remapping files from COM_OBS to FIXgdas (#2322)
  parm/config/gfs/config.base.emc.dyn
  sorc/link_workflow.sh
  ush/python/pygfs/task/land_analysis.py
  versions/fix.ver
Owners: none

put HOMEgfs back in the paths to the CI scripts
  Jenkinsfile
Owners: none

setting git credentials and small modification in sorc
  .git-credentials
Owners: none

trying recusive scm
  Jenkinsfile
Owners: none

hera.intl to hera in gdas build all
  sorc/build_all.sh
Owners: none

gocart inst_aod fix
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

fix typo, to turn off C48mx500_3DVarAOWCDA tests
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
Owners: @TerrenceMcGuinness-NOAA

just hadded buildDiscarder line
  Jenkinsfile
Owners: none

needed w in build all for new tests
  ci/cases/yamls/build.yaml
Owners: @TerrenceMcGuinness-NOAA

-w is not really in develop now removeing w from yamls build and removed FMS failing C96_atmsnowDA
  Jenkinsfile
  ci/cases/yamls/build.yaml
Owners: @TerrenceMcGuinness-NOAA

Add unstructured grid for HR3/GFS (#2230)
  ci/cases/pr/C48_S2SWA_gefs.yaml
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  ci/cases/yamls/build.yaml
  ci/scripts/clone-build_ci.sh
  docs/source/clone.rst
  env/WCOSS2.env
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.resources
  parm/config/gfs/config.stage_ic
  parm/config/gfs/config.ufs
  parm/config/gfs/config.wave
  parm/wave/at_10m_interp.inp.tmpl
  parm/wave/ep_10m_interp.inp.tmpl
  parm/wave/glo_200_interp.inp.tmpl
  parm/wave/glo_30m_interp.inp.tmpl
  parm/wave/wc_10m_interp.inp.tmpl
  scripts/exgfs_wave_init.sh
  sorc/build_all.sh
  sorc/build_ufs.sh
  sorc/build_ww3prepost.sh
  ush/wave_grid_moddef.sh
  versions/fix.ver
Owners: @TerrenceMcGuinness-NOAA, @JessicaMeixner-NOAA

Remove FIX* variables in /scripts scripts
  scripts/exgdas_atmos_chgres_forenkf.sh
  scripts/exgdas_atmos_nawips.sh
  scripts/exgdas_atmos_verfrad.sh
  scripts/exgdas_enkf_ecen.sh
  scripts/exgdas_enkf_post.sh
  scripts/exgdas_enkf_sfc.sh
  scripts/exgdas_enkf_update.sh
  scripts/exgfs_atmos_gempak_meta.sh
  scripts/exgfs_atmos_goes_nawips.sh
  scripts/exgfs_atmos_nawips.sh
  scripts/exgfs_wave_init.sh
  scripts/exgfs_wave_nawips.sh
  scripts/exgfs_wave_prdgen_bulls.sh
  scripts/exgfs_wave_prdgen_gridded.sh
  scripts/exgfs_wave_prep.sh
  scripts/exglobal_atmos_analysis.sh
  scripts/exglobal_atmos_analysis_calc.sh
  scripts/exglobal_atmos_sfcanl.sh
  scripts/exglobal_forecast.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @JessicaMeixner-NOAA

Remove FIX* variables from /ush scripts
  ush/forecast_postdet.sh
  ush/fv3gfs_remap.sh
  ush/gaussian_sfcanl.sh
  ush/gfs_sndp.sh
  ush/gfs_truncate_enkf.sh
  ush/syndat_qctropcy.sh
  ush/tropcy_relocate.sh
  ush/tropcy_relocate_extrkr.sh
  ush/wave_grid_interp_sbs.sh
  ush/wave_prnc_cur.sh
  ush/wave_prnc_ice.sh
Owners: none

remove git credential file
  .git-credentials
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
