Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

Remove non-gfs USH* variables from configs
  parm/config/gefs/config.wave
  parm/config/gfs/config.prep
  parm/config/gfs/config.wave
Owners: none

Replace non-gfs USH* variables with USHgfs in scripts
  scripts/exgdas_atmos_gempak_gif_ncdc.sh
  scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
  scripts/exgfs_atmos_postsnd.sh
  scripts/exgfs_wave_init.sh
  scripts/exgfs_wave_post_gridded_sbs.sh
  scripts/exgfs_wave_post_pnt.sh
  scripts/exgfs_wave_prdgen_bulls.sh
  scripts/exgfs_wave_prdgen_gridded.sh
  scripts/exgfs_wave_prep.sh
  scripts/exglobal_atmos_tropcy_qc_reloc.sh
Owners: @JessicaMeixner-NOAA

Replace non-gfs USH* variables with USHgfs in ush scripts
  ush/syndat_qctropcy.sh
  ush/tropcy_relocate.sh
Owners: none

remove hera from skip list
  ci/cases/pr/C96_atmsnowDA.yaml
Owners: @TerrenceMcGuinness-NOAA

Updated submodule configuration
  .gitmodules
Owners: none

Remote UTILgfs exports in JJOB scripts
  jobs/JGDAS_ATMOS_GEMPAK
  jobs/JGDAS_ATMOS_GEMPAK_META_NCDC
  jobs/JGFS_ATMOS_AWIPS_G2
  jobs/JGFS_ATMOS_FBWIND
  jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF
Owners: @GwenChen-NOAA

remove all skipped hosts for C96 amos snow DA case because CI now supports full dule builds
  ci/cases/pr/C96_atmsnowDA.yaml
Owners: @TerrenceMcGuinness-NOAA

remove all skipped hosts for C48 S2SWA gefs (did wrong one before) case because CI now supports full dule builds
  ci/cases/pr/C48_S2SWA_gefs.yaml
  ci/cases/pr/C96_atmsnowDA.yaml
Owners: @TerrenceMcGuinness-NOAA

Rename the land DA jobs to snow DA to better reflect what they are doing (#2330)
  ci/cases/pr/C96_atmsnowDA.yaml
  ci/cases/yamls/atmsnowDA_defaults_ci.yaml
  env/AWSPW.env
  env/CONTAINER.env
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGLOBAL_ATMOS_SFCANL
  jobs/JGLOBAL_PREP_SNOW_OBS
  jobs/JGLOBAL_SNOW_ANALYSIS
  jobs/rocoto/prepsnowobs.sh
  jobs/rocoto/snowanl.sh
  parm/config/gefs/config.base.emc.dyn
  parm/config/gefs/config.resources
  parm/config/gefs/yaml/defaults.yaml
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.com
  parm/config/gfs/config.landanl
  parm/config/gfs/config.preplandobs
  parm/config/gfs/config.prepsnowobs
  parm/config/gfs/config.resources
  parm/config/gfs/config.snowanl
  parm/config/gfs/yaml/defaults.yaml
  parm/gdas/snow_jedi_fix.yaml
  scripts/exglobal_atmos_sfcanl.sh
  scripts/exglobal_prep_snow_obs.py
  scripts/exglobal_snow_analysis.py
  ush/python/pygfs/task/snow_analysis.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @TerrenceMcGuinness-NOAA, @GeorgeGayno-NOAA, @WalterKolczynski-NOAA, @aerorahul

Remove EXEC* variable exports from JJOB scripts
  jobs/JGDAS_ATMOS_GEMPAK
  jobs/JGDAS_ATMOS_GEMPAK_META_NCDC
  jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG
  jobs/JGFS_ATMOS_AWIPS_G2
  jobs/JGFS_ATMOS_FBWIND
  jobs/JGFS_ATMOS_GEMPAK
  jobs/JGFS_ATMOS_GEMPAK_META
  jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF
  jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
  jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS
  jobs/JGFS_ATMOS_POSTSND
  jobs/JGLOBAL_ATMOS_POST_MANAGER
  jobs/JGLOBAL_WAVE_INIT
  jobs/JGLOBAL_WAVE_POST_BNDPNT
  jobs/JGLOBAL_WAVE_POST_BNDPNTBLL
  jobs/JGLOBAL_WAVE_POST_PNT
  jobs/JGLOBAL_WAVE_POST_SBS
  jobs/JGLOBAL_WAVE_PREP
Owners: @GwenChen-NOAA, @WenMeng-NOAA, @lgannoaa, @JessicaMeixner-NOAA

Remove non-gfs EXEC* variables from configs
  parm/config/gefs/config.wave
  parm/config/gfs/config.prep
  parm/config/gfs/config.wave
Owners: none

Replace non-gfs EXEC* variables in ush scripts
  ush/gfs_bufr.sh
  ush/gfs_bufr_netcdf.sh
  ush/syndat_getjtbul.sh
  ush/syndat_qctropcy.sh
  ush/tropcy_relocate.sh
  ush/wave_grib2_sbs.sh
  ush/wave_grid_interp_sbs.sh
  ush/wave_grid_moddef.sh
  ush/wave_outp_spec.sh
  ush/wave_prnc_cur.sh
  ush/wave_prnc_ice.sh
Owners: none

Remove non-gfs EXEC* variables in scripts scripts
  scripts/exgfs_wave_post_pnt.sh
  scripts/exgfs_wave_prdgen_bulls.sh
Owners: @JessicaMeixner-NOAA

Replace SCRbufrsnd with SCRgfs
  jobs/JGFS_ATMOS_POSTSND
Owners: @WenMeng-NOAA

just move Jenkinsfile into ci subdirecotry
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Removed ufs_utils module; will be updated with test branch.
  .gitmodules
Owners: none

Replace SRCgfs with SCRgfs in JJOB scripts
  jobs/JGDAS_ATMOS_GEMPAK
  jobs/JGDAS_ATMOS_GEMPAK_META_NCDC
  jobs/JGFS_ATMOS_GEMPAK
  jobs/JGFS_ATMOS_GEMPAK_META
  jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF
  jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
Owners: @GwenChen-NOAA

Fixed broken submodule load; add ufs_utils.fd back to repo with correct feature branch.
  .gitmodules
Owners: none

Fix rocoto forecast hour determination for GEFS
  ci/cases/pr/C48_S2SWA_gefs.yaml
  workflow/rocoto/tasks.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

added CI-KILL feature into driver scirpt
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

fix path
  jobs/JGLOBAL_PREP_OCEAN_OBS
Owners: none

dropped a semicolon in if statment in driver script
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

dropeed semi and needed space
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

missed a fi
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

dropped in build_all with kill switch
  sorc/build_all.sh
Owners: none

Add stage IC entry for C192
  parm/config/gfs/config.stage_ic
Owners: none

Fix rocoto forecast hour determination for GEFS (#2351)
  ci/cases/pr/C48_S2SWA_gefs.yaml
  parm/config/gfs/config.stage_ic
  workflow/rocoto/tasks.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

added merged version of build_all with kill and w
  sorc/build_all.sh
Owners: none

added k switch to build_all for quick kill
  ci/scripts/clone-build_ci.sh
Owners: @TerrenceMcGuinness-NOAA

fixed git_pr_kill_list name
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

added purge of pr dir from top level GFS_CI_ROOT on kill
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

removed k switch udpates to build all as it failed
  ci/scripts/clone-build_ci.sh
  sorc/build_all.sh
Owners: @TerrenceMcGuinness-NOAA

updated n check on kill list to match working changes
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

remove all labels with KILL
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

took out x in -z if checks
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

updated removing lables
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

updated utility name cancel_bach_jobs
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

put correct REPO_URL back for operations
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Remove EXPDIR exports from JJOB scripts
  jobs/JGFS_ATMOS_GEMPAK
  jobs/JGFS_ATMOS_GEMPAK_META
  jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF
  jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
  jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS
Owners: @GwenChen-NOAA, @WenMeng-NOAA

Remove AWIPS script variables
  jobs/rocoto/awips_20km_1p0deg.sh
  jobs/rocoto/awips_g2.sh
  parm/config/gfs/config.awips
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
