Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

Add PYTHONPATH to stage_ic.sh
  jobs/rocoto/stage_ic.sh
Owners: none

Remove IC staging from setup
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Add initial changes to pythonize and yamlize staging
  parm/stage/da.yaml.j2
  parm/stage/fv3.yaml.j2
  parm/stage/fv3_nest.yaml.j2
  parm/stage/ice.yaml.j2
  parm/stage/master_forecast_only.yaml.j2
  parm/stage/mediator.yaml.j2
  parm/stage/ocean.yaml.j2
  parm/stage/wave.yaml.j2
  scripts/exglobal_stage_ic.py
  ush/python/pygfs/task/stage.py
Owners: none

Update .github/workflows/ci-unit_tests.yaml
  .github/workflows/ci-unit_tests.yaml
Owners: none

Update .github/workflows/ci-unit_tests.yaml
  .github/workflows/ci-unit_tests.yaml
Owners: none

removed caps in docstrings and testing write permissions to pr in actions
  .github/workflows/ci-unit_tests.yaml
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Add more flexibility in gefs_tasks.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix spacing
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

made deep copies of objects in calls to --all and --summary are distinct and only -w ane -d are re-used
  .github/workflows/ci-unit_tests.yaml
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Fix IAUFHRS
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/gfs_netcdfa.yaml.j2
Owners: none

Make gsistat mandatory; remove duplicate flux files
  parm/archive/gdas.yaml.j2
  parm/archive/gfsa.yaml.j2
Owners: none

Fix ocean time step to archive
  parm/archive/gdasocean.yaml.j2
Owners: none

Add missing ice IC file to archive.
  parm/archive/gdasice.yaml.j2
Owners: none

Add missing ocean CSVs.
  parm/archive/gdasocean_analysis.yaml.j2
Owners: none

Archive *gdas hourly outputs at 3-hour intervals
  parm/archive/enkf.yaml.j2
  parm/archive/enkf_grp.yaml.j2
  parm/archive/gdas.yaml.j2
Owners: none

Remove warm start check for ingesting fv3.yaml.j2
  parm/stage/master_forecast_only.yaml.j2
Owners: none

Delete jedi2fv3inc function and fix coding norm error in atmens_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Update cice_ver to 20240416
  versions/fix.ver
Owners: none

Update mom6_ver in fix.ver
  versions/fix.ver
Owners: none

Add missing keys and fix bugs
  parm/archive/arcdir.yaml.j2
  parm/archive/enkf.yaml.j2
  parm/archive/enkf_grp.yaml.j2
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/gdasocean.yaml.j2
  parm/archive/gdasocean_analysis.yaml.j2
  parm/archive/gfs_netcdfa.yaml.j2
  parm/archive/gfsa.yaml.j2
  parm/archive/master_gdas.yaml.j2
  parm/archive/master_gfs.yaml.j2
  scripts/exgdas_enkf_earc.py
  scripts/exglobal_archive.py
Owners: none

Add flexibility in oceanice_products_gefs yaml
  parm/post/oceanice_products_gefs.yaml
Owners: none

removed anl restart dir level
  ush/forecast_postdet.sh
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Replace OCNICE with OCN and ICE in config
  parm/config/gefs/config.base
  parm/config/gefs/config.fcst
  parm/config/gfs/config.base
  parm/config/gfs/config.fcst
Owners: none

Replace OCNICE with OCN and ICE in workflow
  workflow/rocoto/gefs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Replace OCNICE with OCN in diag_table
  parm/ufs/fv3/diag_table
Owners: none

Replace OCNICE with OCN and ICE in ocnice yaml
  parm/post/oceanice_products_gefs.yaml
Owners: none

Replace OCNICE with OCN and ICE in ush
  ush/forecast_predet.sh
  ush/parsing_namelists_CICE.sh
  ush/python/pygfs/task/oceanice_products.py
Owners: none

Fix spacing
  parm/config/gefs/config.base
Owners: none

Fix spacing in config.base
  parm/config/gefs/config.base
Owners: none

Make if statements more clean in workflow
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

towards complete task
  ush/python/pygfs/task/marine_letkf.py
Owners: none

corrected comment
  scripts/exgdas_global_marine_analysis_letkf.py
Owners: none

Update .github/workflows/ci-unit_tests.yaml
  .github/workflows/ci-unit_tests.yaml
Owners: none

Update oceanice prod python script
  ush/python/pygfs/task/oceanice_products.py
Owners: none

Fix trailing whitespace
  ush/python/pygfs/task/oceanice_products.py
Owners: none

updated PR #2515 and reviewed all suggestions from EMC team
  modulefiles/module_base.gaea.lua
  ush/module-setup.sh
  versions/build.gaea.ver
  versions/run.gaea.ver
Owners: none

Update CICE and MOM6 fix versions (#2600)
  versions/fix.ver
Owners: none

updated versions/build.gaea.ver
  versions/build.gaea.ver
Owners: none

remove white trailing space from hosts/gaea.yaml
  workflow/hosts/gaea.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

removed white trailing space in hosts/gaea.yaml
  workflow/hosts/gaea.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
