Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

review suggestions
  jobs/JGLOBAL_PREP_OCEAN_OBS
  jobs/rocoto/prepoceanobs.sh
Owners: none

make executable
  jobs/JGLOBAL_AERO_ANALYSIS_GENERATE_BMATRIX
  jobs/rocoto/aeroanlgenb.sh
  scripts/exglobal_aero_analysis_generate_bmatrix.py
Owners: none

trying to parameterize job runs in Jenkins
  ci/Jenkinsfile_multilabel
Owners: @TerrenceMcGuinness-NOAA

updated the name of the job for lanuching in dev project
  ci/Jenkinsfile_multilabel
Owners: @TerrenceMcGuinness-NOAA

added folder name to job name for dev build
  ci/Jenkinsfile_multilabel
Owners: @TerrenceMcGuinness-NOAA

Add enkf archiving.
  jobs/JGDAS_ENKF_ARCHIVE
  jobs/rocoto/earc.sh
  parm/archive/arcdir.yaml.j2
  parm/archive/enkf.yaml.j2
  parm/archive/enkf_grp.yaml.j2
  parm/archive/enkf_restarta_grp.yaml.j2
  parm/archive/enkf_restartb_grp.yaml.j2
  parm/archive/gfs_flux.yaml.j2
  parm/archive/gfs_flux_1p00.yaml.j2
  parm/archive/gfs_pgrb2b.yaml.j2
  parm/archive/gfsa.yaml.j2
  parm/archive/gfsb.yaml.j2
  scripts/exgdas_enkf_earc.py
  scripts/exgdas_enkf_earc.sh
  ush/python/pygfs/task/archive.py
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Remove now-defunct hpssarch_gen.sh.
  ush/hpssarch_gen.sh
Owners: none

Address PEP8 warnings
  scripts/exglobal_archive.py
  ush/python/pygfs/task/archive.py
Owners: none

Fix additional PEP8 warnings
  ush/python/pygfs/task/archive.py
Owners: none

stopped recurstion
  ci/Jenkinsfile_multilabel
Owners: @TerrenceMcGuinness-NOAA

NodeParameterDefinition needed a Name
  ci/Jenkinsfile_multilabel
Owners: @TerrenceMcGuinness-NOAA

repete
  ci/Jenkinsfile_multilabel
Owners: @TerrenceMcGuinness-NOAA

forgot quotes on hera string
  ci/Jenkinsfile_multilabel
Owners: @TerrenceMcGuinness-NOAA

added a default vaule to machine to orion for testing
  ci/Jenkinsfile_multilabel
Owners: @TerrenceMcGuinness-NOAA

removed this test case for the Jenkins file and moving to a new PR
  ci/Jenkinsfile_multilabel
Owners: @TerrenceMcGuinness-NOAA

Update jobs/rocoto/prepoceanobs.sh
  jobs/rocoto/prepoceanobs.sh
Owners: none

Fix paths for refactored prepocnobs task (#2504)
  jobs/JGLOBAL_PREP_OCEAN_OBS
  jobs/rocoto/prepoceanobs.sh
  sorc/link_workflow.sh
Owners: none

re-add these tar files
  sorc/mods4aws/gfs_utils.aws.tar
  sorc/mods4aws/gsi_enkf.aws.tar
  sorc/mods4aws/gsi_utils.aws.tar
  sorc/mods4aws/ufs_model.aws.tar
  sorc/mods4aws/ufs_utils.aws.tar
Owners: none

update gsi_utils module file
  sorc/mods4aws/gsi_utils.aws.tar
Owners: none

Update GLDAS tag to gldas_gfsv16_release.v.2.1.1
  Externals.cfg
  sorc/checkout.sh
Owners: none

Release notes and version update to v16.3.17
  docs/Release_Notes.gfs.v16.3.17.md
  versions/run.ver
Owners: none

ecFlow def updates for GLDAS job
  ecf/defs/gfs_v16_3.def
Owners: @lgannoaa

add c768 and c1152 tests
  ci/cases/weekly/C1152_S2SW.yaml
  ci/cases/weekly/C768_S2SW.yaml
Owners: @TerrenceMcGuinness-NOAA

update ww3 pre and postdet functions
  jobs/JGLOBAL_FORECAST
  parm/config/gefs/config.wave
  parm/config/gfs/config.wave
  ush/forecast_det.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

fixed overlooked docstring signature missmatch
  ci/scripts/utils/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

remote head and origin/develop-AR blocks
  parm/config/gfs/config.resources
  parm/config/gfs/config.ufs
Owners: none

updated to approprate signatrure type hints to two functions in ci state database tool
  ci/scripts/utils/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

add C768 and C1152 S2SW ci yamls
  ci/cases/weekly/C1152_S2SW.yaml
  ci/cases/weekly/C768_S2SW.yaml
Owners: @TerrenceMcGuinness-NOAA

remove head detached block
  ush/detect_machine.sh
  ush/load_fv3gfs_modules.sh
Owners: none

remote head detached block
  ush/detect_machine.sh
Owners: none

move high res tests to new directory
  ci/cases/hires/C1152_S2SW.yaml
  ci/cases/hires/C768_S2SW.yaml
Owners: @TerrenceMcGuinness-NOAA

ww3 was setting a grd in config.base and config.wave
  parm/config/gefs/config.wave
  parm/config/gfs/config.wave
  ush/forecast_det.sh
  ush/forecast_postdet.sh
Owners: none

Commit before some testing
  ush/python/pygfs/task/aero_bmatrix.py
  ush/python/pygfs/task/bmatrix.py
Owners: none

fixed the bug with getting the latest pslot name as the new ones are generated (we can fintune runing old ones on demand latter)
  ci/Jenkinsfile
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

Add C768 and C1152 S2SW test cases (#2509)
  ci/cases/hires/C1152_S2SW.yaml
  ci/cases/hires/C768_S2SW.yaml
Owners: @TerrenceMcGuinness-NOAA

fixed shellcheck CS2045 and globbed the dir names first before loopoing as suggested
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

added quotes for shellceck on getting sourded pslot dirs
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

address shellcheck in test/ and jobs/
  jobs/JGLOBAL_FORECAST
  test/g2cmp.sh
  test/nccmp.sh
Owners: none

Fixes for snow DA archiving.
  parm/archive/arcdir.yaml.j2
  parm/archive/gdas.yaml.j2
  scripts/exglobal_archive.py
  ush/python/pygfs/task/snow_analysis.py
Owners: none

reworing shellnorms back fix
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
