Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

new linee at aend of ci_utils
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

fix new location of create_experment and added local env def into next job
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

moved env section in create-experiments
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

corrected path to getting TEST_DIR address in create-experiments
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

moved env for HOMEgfs into steps on create
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

updaed env for run experiments too
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

update env section to define HOMEgfs in run
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

need pr in path for cases
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

hard coded id so not to have to rebuild
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

added overwrite to create experment
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

removed skips
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

Address reviewer's comments.
  workflow/rocoto/gfs_cycled_xml.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

merge cleanup
  jobs/JGLOBAL_MARINE_ANALYSIS_LETKF
  ush/python/pygfs/task/marine_letkf.py
  workflow/applications/gfs_cycled.py
Owners: @WalterKolczynski-NOAA, @aerorahul

modified HERCULES.env
  env/HERCULES.env
Owners: none

removed direct git clone and used cross mounted path to RHHPCS directly using pw env inorder to use github action checkout@v3
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

Increase enkfgdas_update walltime to 35mins
  ecf/scripts/enkfgdas/analysis/create/jenkfgdas_update.ecf
  parm/config/config.resources.emc.dyn
  parm/config/config.resources.nco.static
Owners: @lgannoaa

Replace separate JEDI radiance bias correction files with tarball (#2875)
  ci/cases/pr/C96C48_ufs_hybatmDA.yaml
  env/ORION.env
  parm/archive/gdas_restarta.yaml.j2
  parm/config/gfs/config.resources.ORION
  parm/stage/analysis.yaml.j2
  ush/python/pygfs/jedi/jedi.py
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: @TerrenceMcGuinness-NOAA

Move to contrib installation of spack-stack on Jet (#2878)
  docs/note_fixfield.txt
  docs/source/components.rst
  docs/source/init.rst
  modulefiles/module_base.jet.lua
  modulefiles/module_gwsetup.jet.lua
  parm/config/gfs/config.aero
  sorc/link_workflow.sh
  ush/detect_machine.sh
  ush/forecast_predet.sh
  versions/build.jet.ver
  versions/run.jet.ver
  workflow/hosts.py
  workflow/hosts/jet.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

made distinction between runners path and RDPHCS path with CHECKOUT_DIR_PW and TEST_DIR respectivily
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

Increase enkfgdas_update walltime to 35mins (#2966)
  ecf/scripts/enkfgdas/analysis/create/jenkfgdas_update.ecf
  parm/config/config.resources.emc.dyn
  parm/config/config.resources.nco.static
Owners: @lgannoaa

fixed reference to CHECKOUT_DIR and updated submodule arguments to checkout@v3
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

updated GITHUB ENV and OUTPUT syntax
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

added lfs and shallow depth for submodules to get checkout to work
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

turn off git-lfs becasue it is not in the pw env
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

Updates for handling IAU for cold start
  parm/config/gfs/config.base
  parm/config/gfs/config.stage_ic
  ush/forecast_det.sh
  ush/forecast_predet.sh
Owners: none

gdas checkout submodule failed again because it did not complete, removed lfs: false in case that was causing something to missed
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

Rearrange gfs_cycled task order
  workflow/applications/gfs_cycled.py
Owners: @WalterKolczynski-NOAA, @aerorahul

added extra git configure to try to help with the checkout issues with the gdas.cd submodule clone issues
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

upgrade checkout@v3 to checckout@v4.2.0
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

removed redundent specification of TEST_DIR when writing to GITHUB_OUTPUT
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

also added verif-global.fd as a shallow clone
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

rsync check out dir after it is cloned on pw onto RDPHCS cross mounted link in HOME dir
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

worked on correct path for rsync to RDHPCS
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

remore optons to chmod on dest in rysnc
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

Rearrange XML RUN order to match develop
  workflow/applications/gfs_cycled.py
Owners: @WalterKolczynski-NOAA, @aerorahul

GFSv16.3.19 - place PlanetiQ RO data in monitor mode (#2968)
  Externals.cfg
  docs/Release_Notes.md
  ecf/scripts/enkfgdas/analysis/create/jenkfgdas_update.ecf
  parm/config/config.resources.emc.dyn
  parm/config/config.resources.nco.static
  sorc/checkout.sh
  versions/run.ver
Owners: @lgannoaa

Set WAFS tag back to new gfs_wafs.v6.3.3
  Externals.cfg
  sorc/checkout.sh
Owners: none

Update WAFS tag in release notes
  docs/Release_Notes.md
Owners: none

Add corrections to the GEFS variable names
  parm/product/gefs.0p25.fFFF.paramlist.b.txt
Owners: none

Update WAFS branch to v16.3.21
  versions/run.ver
Owners: none
