Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

Corrections noted in PR #1871 but relevant to PR #1875.
  ush/remap_prep.sh
Owners: none

Update aero analysis for new bump files and archive aero diags (#1886)
  jobs/JGLOBAL_ARCHIVE
  scripts/exglobal_archive.sh
  ush/hpssarch_gen.sh
  ush/python/pygfs/task/aero_analysis.py
Owners: none

Fix wavepostbndpntbll data dependency
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix wavepostbndpntbll data dependency (#1888)
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

update model hash to latest
  Externals.cfg
  sorc/checkout.sh
Owners: none

GEFS Stagging in ocean, ice, and wave
  scripts/exglobal_stage_ic.sh
Owners: none

update configure files based on model updates to reg test
  parm/ufs/chem/CAP.rc
  parm/ufs/chem/GOCART2G_GridComp.rc
  parm/ufs/nems.configure.cpld.IN
  parm/ufs/nems.configure.cpld_aero.IN
  parm/ufs/nems.configure.cpld_aero_outerwave.IN
  parm/ufs/nems.configure.cpld_aero_wave.IN
  parm/ufs/nems.configure.cpld_outerwave.IN
  parm/ufs/nems.configure.cpld_wave.IN
  ush/nems_configure.sh
  ush/parsing_namelists_FV3.sh
Owners: none

Updated incorrect syntax.
  ush/remap.sh
Owners: none

Updated stdout/stderr redirect; not written to .
  ush/remap.sh
Owners: none

Updated stdout/stderr path and added an environment variable; cleaned up the comment for function .
  ush/remap.sh
Owners: none

Cleaned up stdout/stderr path; now clobbering netCDF-formatted output file such that the file doesn't grow infinitely if not manually removed.
  ush/remap.sh
Owners: none

Created stand-alone script containing the string manipulation utililites/tools.
  ush/string_utils.sh
Owners: none

Updated relative to .
  ush/remap.sh
Owners: none

add workflow to PYTHONPATH on Orion (#1863)
  jobs/rocoto/anal.sh
  jobs/rocoto/eobs.sh
  jobs/rocoto/eupd.sh
Owners: none

Added missing for netCDF file purging.
  ush/remap.sh
Owners: none

Updated docstring oversight.
  ush/remap.sh
Owners: none

replace PYTHONPATH for Orion with regional_workflow (#1863)
  jobs/rocoto/anal.sh
  jobs/rocoto/eobs.sh
  jobs/rocoto/eupd.sh
Owners: none

Move product functions to separate function
  jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG
  jobs/rocoto/awips.sh
  scripts/exgdas_atmos_post.sh
  scripts/exgfs_atmos_awips_20km_1p0deg.sh
  scripts/exgfs_atmos_grib_awips.sh
  scripts/exgfs_atmos_nawips.sh
  scripts/exgfs_atmos_post.sh
  ush/fv3gfs_dwn_nems.sh
  ush/product_functions.sh
  ush/scale_dec.sh
Owners: @GwenChen-NOAA, @WenMeng-NOAA

Remove debug print
  scripts/exgfs_atmos_awips_20km_1p0deg.sh
Owners: none

GEFS Stagging with NSEM_ENS fixed
  scripts/exglobal_stage_ic.sh
Owners: none

Removing Shell checks
  scripts/exglobal_stage_ic.sh
Owners: none

Removing Shell checks
  scripts/exglobal_stage_ic.sh
Owners: none

Removing Shell checks
  scripts/exglobal_stage_ic.sh
Owners: none

Removing Shell checks
  scripts/exglobal_stage_ic.sh
Owners: none

updates to wcoss2 for module conflict errors
  modulefiles/module_base.wcoss2.lua
  versions/build.wcoss2.ver
  versions/run.wcoss2.ver
Owners: none

Changed permissions such that the file is now executable.
  ush/string_utils.sh
Owners: none

Bug correction for vector rotations.
  ush/remap.sh
Owners: none

fix a date bugs in forecast_*det.sh, close namelist section and correct cut of resolution from CASE
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/nems_configure.sh
  ush/parsing_namelists_FV3.sh
Owners: none

add --utc to date command in j-jobs
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY
  jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE
  jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE
  jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE
  jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE
  jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE
  jobs/JGLOBAL_FORECAST
  jobs/JGLOBAL_LAND_ANALYSIS
  jobs/JGLOBAL_PREP_LAND_OBS
Owners: @guillaumevernieres, @CoryMartin-NOAA, @RussTreadon-NOAA, @jiaruidong2017

add --utc in forecast_predet.sh where middate was being calculated
  ush/forecast_predet.sh
Owners: none

made modifications with =GFS
  scripts/exglobal_stage_ic.sh
Owners: none

Fixed
  scripts/exglobal_stage_ic.sh
Owners: none

missed one instance of date in scripts
  scripts/exglobal_stage_ic.sh
Owners: none

fixed if loops for gfs and gefs
  scripts/exglobal_stage_ic.sh
Owners: none

replace regional_workflow with regional_workflow_cmaq (#1863)
  jobs/rocoto/anal.sh
  jobs/rocoto/eobs.sh
  jobs/rocoto/eupd.sh
Owners: none

determine ensemble ocean, ice and wave resolutions from deterministic resolution. There are no dual-resolution counterparts for these components
  parm/config/gefs/config.base.emc.dyn
  parm/config/gefs/config.efcs
  parm/config/gfs/config.efcs
Owners: none

Add description for scale_dec
  ush/product_functions.sh
Owners: none

looping over memdir for all staging components
  scripts/exglobal_stage_ic.sh
Owners: none

Corrections for remapping of grid angle rotations.
  ush/remap.sh
Owners: none

Fix a few bugs reported by devs (#1893)
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY
  jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE
  jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE
  jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE
  jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE
  jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE
  jobs/JGLOBAL_FORECAST
  jobs/JGLOBAL_LAND_ANALYSIS
  jobs/JGLOBAL_PREP_LAND_OBS
  scripts/exglobal_stage_ic.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/nems_configure.sh
  ush/parsing_namelists_FV3.sh
Owners: @guillaumevernieres, @CoryMartin-NOAA, @RussTreadon-NOAA, @jiaruidong2017
