Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

Update scripts/exglobal_cleanup.sh
  scripts/exglobal_cleanup.sh
Owners: none

Update ush/wave_tar.sh
  ush/wave_tar.sh
Owners: none

Update ush/wave_prnc_ice.sh
  ush/wave_prnc_ice.sh
Owners: none

Update ush/wave_grid_interp_sbs.sh
  ush/wave_grid_interp_sbs.sh
Owners: none

Update ush/wave_grid_interp_sbs.sh
  ush/wave_grid_interp_sbs.sh
Owners: none

Update jobs/JGLOBAL_WAVE_POST_SBS
  jobs/JGLOBAL_WAVE_POST_SBS
Owners: @JessicaMeixner-NOAA

Update jobs/JGLOBAL_WAVE_POST_BNDPNT
  jobs/JGLOBAL_WAVE_POST_BNDPNT
Owners: @JessicaMeixner-NOAA

Update jobs/JGLOBAL_WAVE_POST_PNT
  jobs/JGLOBAL_WAVE_POST_PNT
Owners: @JessicaMeixner-NOAA

Update jobs/JGLOBAL_WAVE_POST_SBS
  jobs/JGLOBAL_WAVE_POST_SBS
Owners: @JessicaMeixner-NOAA

Update jobs/JGLOBAL_WAVE_POST_BNDPNT
  jobs/JGLOBAL_WAVE_POST_BNDPNT
Owners: @JessicaMeixner-NOAA

Clean up extractvars script
  scripts/exglobal_extractvars.sh
Owners: none

Update jobs/JGLOBAL_WAVE_INIT
  jobs/JGLOBAL_WAVE_INIT
Owners: @JessicaMeixner-NOAA

Minor fix
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmensanl
Owners: none

Added tasks to construct aero_diffparm.yaml from template.
  parm/config/gfs/config.aeroanlgenb
  ush/python/pygfs/task/aero_bmatrix.py
  ush/python/pygfs/task/bmatrix.py
Owners: none

Minor update
  parm/config/gfs/config.atmensanl
Owners: none

Reverting linter complaint to account for a missing environment variable.
  ush/gfs_bufr.sh
Owners: none

Clean up extractvars atmos script
  ush/gefs_atmos_extractvars.sh
Owners: none

Minor update
  parm/config/gfs/config.atmanl
  ush/python/pygfs/task/atm_analysis.py
Owners: none

Coding norms
  ush/python/pygfs/task/atm_analysis.py
Owners: none

Fixed typo detected by linter.
  jobs/JGLOBAL_WAVE_INIT
Owners: @JessicaMeixner-NOAA

Clean up atmos extractvars script
  ush/gefs_atmos_extractvars.sh
Owners: none

Added missing semicolon.
  jobs/JGLOBAL_WAVE_INIT
Owners: @JessicaMeixner-NOAA

Apply suggestions from code review
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

move weekly -> hires (two were copies and tehrefore deleted)
  ci/cases/hires/C384C192_hybatmda.yaml
  ci/cases/hires/C384_S2SWA.yaml
  ci/cases/hires/C384_atm3DVar.yaml
  ci/cases/weekly/C1152_S2SW.yaml
  ci/cases/weekly/C768_S2SW.yaml
Owners: @TerrenceMcGuinness-NOAA

Clean up atmos extractvars script further
  ush/gefs_atmos_extractvars.sh
Owners: none

Refine atmos extractvars script
  ush/gefs_atmos_extractvars.sh
Owners: none

disable specific spellcheck in atmos script
  ush/gefs_atmos_extractvars.sh
Owners: none

Revert "move weekly -> hires (two were copies and tehrefore deleted)"
  ci/cases/weekly/C1152_S2SW.yaml
  ci/cases/weekly/C384C192_hybatmda.yaml
  ci/cases/weekly/C384_S2SWA.yaml
  ci/cases/weekly/C384_atm3DVar.yaml
  ci/cases/weekly/C768_S2SW.yaml
Owners: @TerrenceMcGuinness-NOAA

remove the duplicate yamls from weekly, just keep in hires dir
  ci/cases/weekly/C1152_S2SW.yaml
  ci/cases/weekly/C768_S2SW.yaml
Owners: @TerrenceMcGuinness-NOAA

aded -u to the build_all script for CI testing using the bash system
  ci/scripts/clone-build_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Further optimize the wavepostpnt job
  scripts/exgfs_wave_post_pnt.sh
  ush/wave_outp_spec.sh
Owners: @JessicaMeixner-NOAA

Update ufs-weather-model (#2646)
  ush/parsing_namelists_CICE.sh
Owners: none

Add double quotes around variables
  scripts/exgfs_wave_post_pnt.sh
  ush/wave_outp_spec.sh
Owners: @JessicaMeixner-NOAA

Apply suggestions from code review
  scripts/exgfs_wave_post_pnt.sh
Owners: @JessicaMeixner-NOAA

Remove jcb from GW submodules
  .gitmodules
Owners: none

adjust link to point to new jcb location in gdasapp
  sorc/link_workflow.sh
Owners: none

Set FHMAX_HF_GFS to zero
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Move some stuff around
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmensanl
  parm/gdas/staging/atm_berror_bump.yaml.j2
  parm/gdas/staging/atm_berror_gsibec.yaml.j2
  parm/gdas/staging/atm_lgetkf_bkg.yaml.j2
  parm/gdas/staging/atm_var_bkg.yaml.j2
  parm/gdas/staging/atm_var_fv3ens.yaml.j2
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

changed DIFF -> DIFFUSION and diff -> diffusion in files below
  parm/config/gfs/config.aeroanlgenb
  ush/python/pygfs/task/aero_bmatrix.py
  ush/python/pygfs/task/bmatrix.py
Owners: none

added addtional check to make sure the Configure object is getting popululated correctly after config parms are in place
  ci/scripts/tests/test_setup.py
Owners: @TerrenceMcGuinness-NOAA
