Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

Add extended product case for WCOSS
  ci/cases/pr/C96_atm3DVar_extended.yaml
  parm/config/gefs/config.base
  parm/config/gefs/yaml/defaults.yaml
  parm/config/gfs/config.base
  parm/config/gfs/yaml/defaults.yaml
Owners: @TerrenceMcGuinness-NOAA

Fix problem with IFS breaking NLN
  gempak/ush/gfs_meta_opc_na_ver
  gempak/ush/gfs_meta_opc_np_ver
  gempak/ush/gfs_meta_ver.sh
Owners: none

Trim end date of extended test
  ci/cases/pr/C96_atm3DVar_extended.yaml
Owners: @TerrenceMcGuinness-NOAA

remove old comments and clean up indentation mismatches
  parm/config/gefs/config.fcst
  parm/config/gefs/config.ufs
  parm/config/gfs/config.fcst
  parm/config/gfs/config.ufs
Owners: none

Unset memory for JET instead of setting to 0
  parm/config/gfs/config.resources
Owners: none

Update parm/config/gefs/config.ufs
  parm/config/gefs/config.ufs
Owners: none

Add xr_cnvcld flag to namelist and configure files
  parm/config/gefs/config.ufs
  parm/config/gfs/config.ufs
  ush/parsing_namelists_FV3.sh
Owners: none

fix indendation
  parm/config/gefs/config.ufs
  parm/config/gfs/config.ufs
Owners: none

add back removed comment line
  parm/config/gefs/config.fcst
  parm/config/gfs/config.fcst
Owners: none

move from gdasapp
  .gitignore
  scripts/exgdas_global_marine_analysis_letkf.py
  sorc/link_workflow.sh
Owners: none

removing spurious refs to centering
  scripts/exgdas_global_marine_analysis_letkf.py
Owners: none

Fixed small bug
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

move from gdasapp
  scripts/exgdas_global_marine_analysis_letkf.py
  ush/python/pygfs/task/marine_letkf.py
Owners: none

Apply suggestions from code review
  parm/config/gefs/config.ufs
  parm/config/gfs/config.ufs
Owners: none

Apply suggestions from code review
  parm/config/gfs/config.ufs
Owners: none

Apply suggestions from code review
  parm/config/gfs/config.ufs
Owners: none

Apply suggestions from code review
  parm/config/gefs/config.ufs
Owners: none

Update parm/config/gefs/config.ufs
  parm/config/gefs/config.ufs
Owners: none

Update ush/forecast_predet.sh
  ush/forecast_predet.sh
Owners: none

add new parm variable for gefs
  parm/config/gefs/config.fcst
Owners: none

Update R version on Hera
  versions/run.hera.ver
Owners: none

Add CI test for products (#2567)
  .gitignore
  ci/cases/pr/C96_atm3DVar_extended.yaml
  ci/cases/yamls/gfs_extended_ci.yaml
  gempak/ush/gfs_meta_opc_na_ver
  gempak/ush/gfs_meta_opc_np_ver
  gempak/ush/gfs_meta_ver.sh
  parm/config/gefs/config.base
  parm/config/gefs/yaml/defaults.yaml
  parm/config/gfs/config.base
  parm/config/gfs/yaml/defaults.yaml
  scripts/exgfs_atmos_grib2_special_npoess.sh
  versions/run.hera.ver
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
  workflow/prod.yml
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

Handle indention at the master level
  parm/archive/chem.yaml.j2
  parm/archive/enkf.yaml.j2
  parm/archive/enkf_grp.yaml.j2
  parm/archive/enkf_restarta_grp.yaml.j2
  parm/archive/enkf_restartb_grp.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/gdas_restartb.yaml.j2
  parm/archive/gdasice.yaml.j2
  parm/archive/gdasice_restart.yaml.j2
  parm/archive/gdasocean.yaml.j2
  parm/archive/gdasocean_analysis.yaml.j2
  parm/archive/gdasocean_restart.yaml.j2
  parm/archive/gdaswave.yaml.j2
  parm/archive/gdaswave_restart.yaml.j2
  parm/archive/gfs_downstream.yaml.j2
  parm/archive/gfs_flux.yaml.j2
  parm/archive/gfs_flux_1p00.yaml.j2
  parm/archive/gfs_netcdfa.yaml.j2
  parm/archive/gfs_netcdfb.yaml.j2
  parm/archive/gfs_pgrb2b.yaml.j2
  parm/archive/gfs_restarta.yaml.j2
  parm/archive/gfsa.yaml.j2
  parm/archive/gfsb.yaml.j2
  parm/archive/gfswave.yaml.j2
  parm/archive/ice_6hravg.yaml.j2
  parm/archive/ice_grib2.yaml.j2
  parm/archive/master_enkf.yaml.j2
  parm/archive/master_gdas.yaml.j2
  parm/archive/master_gfs.yaml.j2
  parm/archive/ocean_6hravg.yaml.j2
  parm/archive/ocean_daily.yaml.j2
  parm/archive/ocean_grib2.yaml.j2
Owners: none

updates for 1 degree runs
  parm/config/gefs/config.stage_ic
  parm/config/gefs/config.ufs
  ush/parsing_namelists_MOM6.sh
  versions/fix.ver
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

updated method for counting status cases from rocotostat
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Add back accidental removal of old way of building YAML
  ush/python/pygfs/task/analysis.py
Owners: none

fix indent norm
  ush/python/pygfs/task/analysis.py
Owners: none

started a unit test for rocotostat
  ci/scripts/utils/test_rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

added more moc args
  ci/scripts/utils/test_rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Update scripts/exglobal_archive.sh
  scripts/exglobal_archive.sh
Owners: none

updated third arg to moc
  ci/scripts/utils/test_rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

removed moc stuff from test
  ci/scripts/utils/test_rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

added data for unit testing rocotostat
  ci/scripts/utils/database.db
  ci/scripts/utils/test_rocotostat.py
  ci/scripts/utils/workflow.xml
Owners: @TerrenceMcGuinness-NOAA

updated comments from PR #2515
  env/GAEA.env
  parm/config/gfs/config.base
  parm/config/gfs/config.ufs
  sorc/build_ufs.sh
Owners: none

remove ci/platform/config.gaea
  ci/platforms/config.gaea
Owners: @TerrenceMcGuinness-NOAA

updated comments based on PR #2515
  ush/detect_machine.sh
  versions/fix.ver
  workflow/hosts/gaea.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

moved tests dir for ci unit tests under scripts
  ci/scripts/tests/database.db
  ci/scripts/tests/test_rocotostat.py
  ci/scripts/tests/workflow.xml
  ci/scripts/utils/rocotostat.py
  ci/scripts/utils/test_rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

added ci unit tests using pytest
  .github/workflows/linters.yaml
Owners: none

chris H has install.h spelled INSTALL
  .github/workflows/linters.yaml
Owners: none

added path to rocotostat in GitHub runner
  .github/workflows/linters.yaml
  ci/scripts/tests/test-results.xml
Owners: @TerrenceMcGuinness-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
