Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

Split fv3 yaml into warm and cold
  parm/stage/fv3.yaml.j2
  parm/stage/fv3_cold.yaml.j2
  parm/stage/fv3_warm.yaml.j2
Owners: none

Fix other yamls to work
  parm/stage/fv3_nest.yaml.j2
  parm/stage/ice.yaml.j2
  parm/stage/master_forecast_only.yaml.j2
  parm/stage/mediator.yaml.j2
  parm/stage/ocean.yaml.j2
  parm/stage/wave.yaml.j2
Owners: none

latest
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_LETKF
  ush/python/pygfs/task/marine_letkf.py
Owners: none

enable wcoss2 ufsda build and module load (#2602)
  sorc/build_all.sh
  ush/load_ufsda_modules.sh
Owners: none

updates to use glo_100
  parm/config/gefs/config.base
  parm/config/gefs/config.ufs
  parm/config/gefs/config.wave
  parm/config/gfs/config.ufs
  parm/config/gfs/config.wave
  parm/wave/ww3_grib2.glo_100.inp.tmpl
  scripts/exgfs_wave_post_gridded_sbs.sh
Owners: @JessicaMeixner-NOAA

Add namelist parameter for interp_inc.x
  ush/calcanl_gfs.py
Owners: none

changed ACCOUNT to HPC_ACCOUNT for the nems override of ACCOUNT (solves issue with source to Jinjga and env var clashing issue with wxvflow configuration)
  ci/cases/yamls/atmaerosnowDA_defaults_ci.yaml
  ci/cases/yamls/gefs_ci_defaults.yaml
  ci/cases/yamls/gfs_defaults_ci.yaml
  ci/cases/yamls/gfs_extended_ci.yaml
  ci/cases/yamls/soca_gfs_defaults_ci.yaml
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
  ci/platforms/config.hera
  ci/platforms/config.hercules
  ci/platforms/config.orion
  ci/platforms/config.wcoss2
Owners: @TerrenceMcGuinness-NOAA

Split FHOUT_OCNICE variable in archive scripts
  parm/archive/gdasice.yaml.j2
  parm/archive/gdasocean.yaml.j2
  parm/archive/ice_grib2.yaml.j2
  parm/archive/ocean_grib2.yaml.j2
  scripts/exglobal_archive.py
Owners: none

Revert "Add namelist parameter for interp_inc.x"
  ush/calcanl_gfs.py
Owners: none

Add COM variables exports in JGLOBAL_STAGE_IC
  jobs/JGLOBAL_STAGE_IC
Owners: none

Update fv3_cold yaml
  parm/stage/fv3_cold.yaml.j2
Owners: none

Update stage python scripts
  scripts/exglobal_stage_ic.py
  ush/python/pygfs/task/stage.py
Owners: none

Remove cycle_HH and cycle_YMD from fv3_cold yaml
  parm/stage/fv3_cold.yaml.j2
Owners: none

Fixed bugs
  parm/archive/arcdir.yaml.j2
  parm/archive/enkf.yaml.j2
  parm/archive/enkf_grp.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/config/gfs/config.base
  scripts/exglobal_archive.py
Owners: none

Require all jinja2 archive template variables be defined
  ush/python/pygfs/task/archive.py
Owners: none

Address shellcheck warning
  parm/config/gfs/config.base
Owners: none

more robust rocotostat.py that has been refactored and fixes STALLED and retryies rocotstat if it fails to run
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

now copies ensemble
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_LETKF
  ush/python/pygfs/task/marine_letkf.py
Owners: none

Correct FHMAX_FITS
  parm/config/gfs/config.base
Owners: none

Updates for `obsproc/v1.2` in operations (#2616)
  docs/Release_Notes.gfs.v16.3.15.md
  versions/hera.ver
  versions/orion.ver
  versions/run.ver
  versions/wcoss2.ver
Owners: none

fixed stall check (was not really calling rocotocheck again) and extend tries and wait because rocotocheck is now working fine on Orion and Hercules
  ci/scripts/run-check_ci.sh
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Remove unneeded funcions from stage.py
  ush/python/pygfs/task/stage.py
Owners: none

cleanup and rationalisation
  ush/python/pygfs/task/marine_letkf.py
Owners: none

error_return losts its scope in a update and need to be set
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Refactor stage yamls
  parm/stage/fv3_cold.yaml.j2
  parm/stage/fv3_nest.yaml.j2
  parm/stage/fv3_warm.yaml.j2
  parm/stage/ice.yaml.j2
  parm/stage/master_forecast_only.yaml.j2
  parm/stage/mediator.yaml.j2
  parm/stage/ocean.yaml.j2
  parm/stage/wave.yaml.j2
Owners: none

Add MEMDIR array to JGLOBAL_STAGE_IC
  jobs/JGLOBAL_STAGE_IC
Owners: none

Remove stage_ic job dependencies from setup
  workflow/rocoto/gefs_tasks.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

initial commit to add the prepaeroobs job
  env/HERA.env
  jobs/JGLOBAL_PREP_AERO_OBS
  jobs/rocoto/prepaeroobs.sh
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.prepaeroobs
  parm/config/gfs/config.resources
  scripts/exglobal_prep_aero_obs.py
  ush/python/pygfs/task/aero_prepobs.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Reformat arcdir.yaml.j2 to remove logic
  parm/archive/arcdir.yaml.j2
  ush/python/pygfs/task/archive.py
Owners: none

Moved fatal checks to the top of archive.py
  ush/python/pygfs/task/archive.py
Owners: none

Moved file renaming so it can be sent to arcdir.
  ush/python/pygfs/task/archive.py
Owners: none

Update forecast job to use COMIN/COMOUT
  jobs/JGLOBAL_FORECAST
  ush/forecast_det.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

Set MEMDIR as empty if not set
  jobs/JGLOBAL_STAGE_IC
Owners: none

Add keys_gefs in exglobal_stage_ic.py
  scripts/exglobal_stage_ic.py
Owners: none

rearranging
  ush/python/pygfs/task/marine_letkf.py
Owners: none

pynomrms two commands on one line not allowed
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Update parm/config/gefs/config.fcst
  parm/config/gefs/config.fcst
Owners: none

Update scripts/exglobal_stage_ic.sh
  scripts/exglobal_stage_ic.sh
Owners: none

Update ush/forecast_postdet.sh
  ush/forecast_postdet.sh
Owners: none

Update ush/forecast_predet.sh
  ush/forecast_predet.sh
Owners: none
