Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

Update documentation for change to interval from gfs_cyc
  docs/source/jobs.rst
  docs/source/setup.rst
Owners: none

Revert inadvertent change to C384C192_hybatmda test
  ci/cases/weekly/C384C192_hybatmda.yaml
Owners: @TerrenceMcGuinness-NOAA

Revert inadvertent cycledef change for prep and atmanlinit
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update CI tests for gfs_cyc to interval change
  ci/cases/gfsv17/C384mx025_3DVarAOWCDA.yaml
  ci/cases/pr/C48_S2SWA_gefs.yaml
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96C48_hybatmaerosnowDA.yaml
  ci/cases/pr/C96C48_ufs_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
  ci/cases/pr/C96_atm3DVar_extended.yaml
  ci/cases/weekly/C384C192_hybatmda.yaml
  ci/cases/weekly/C384_atm3DVar.yaml
Owners: @TerrenceMcGuinness-NOAA

Remove unnecessary declaration
  workflow/rocoto/gfs_forecast_only_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Replace gfs_cyc with interval
  gempak/ush/gfs_meta_comp.sh
  gempak/ush/gfs_meta_mar_comp.sh
  jobs/JGFS_ATMOS_VERIFICATION
  parm/config/gefs/config.base
  parm/config/gfs/config.base
  parm/config/gfs/config.wave
  scripts/exgfs_aero_init_aerosol.py
  workflow/applications/applications.py
  workflow/applications/gefs.py
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/gefs_xml.py
  workflow/rocoto/gfs_cycled_xml.py
  workflow/rocoto/gfs_forecast_only_xml.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/rocoto.py
  workflow/rocoto/tasks.py
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix overindented line in setup_expt
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix interval issue with GEFS XML generation
  workflow/rocoto/gefs_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Correct metp cycledefs
  workflow/rocoto/gfs_cycled_xml.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix missing whitespace around operator
  workflow/rocoto/gfs_cycled_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix cleanup dependency when metp is not run that cycle
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

added hyper-threading HERA.env
  env/HERA.env
Owners: none

updated ORION.env
  env/ORION.env
Owners: none

Fix merge bugs
  workflow/applications/gfs_cycled.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix cleanup dependency for forecast-only
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update enkfgdas_update job resources
  docs/Release_Notes.md
  ecf/scripts/enkfgdas/analysis/create/jenkfgdas_update.ecf
  env/WCOSS2.env
  parm/config/config.resources.emc.dyn
  parm/config/config.resources.nco.static
Owners: @lgannoaa

Update eupd resources for dev
  parm/config/config.resources.emc.dyn
Owners: none

using Rocky 8 on CSPs
  .gitmodules
  modulefiles/module_gwsetup.noaacloud.lua
  versions/build.noaacloud.ver
  versions/run.noaacloud.ver
Owners: none

Re-enable metp for forecast-only
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/gfs_forecast_only_xml.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Make metp tasks parallel again
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix pynorms
  workflow/rocoto/gfs_forecast_only_xml.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

update fms version to match spack stack on pw
  versions/spack.ver
Owners: none

wip, added tools to select mom6 levels
  ush/python/pygfs/task/marine_analysis.py
  ush/python/pygfs/utils/marine_da_utils.py
Owners: none

updated run.sh to use MACHINE_ID in load fv4gfs modules script
  ush/load_fv3gfs_modules.sh
Owners: none

pynorm ...
  ush/python/pygfs/utils/marine_da_utils.py
Owners: none

Fix metp forecast-only cycledef
  workflow/rocoto/gfs_cycled_xml.py
  workflow/rocoto/gfs_forecast_only_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

updated version of g2tmpl and change to module file noaacloud.intl for ufs_modle.fd
  sorc/ufs_noaacloud.intel.lua
  versions/spack.ver
Owners: none

debugging after merge
  jobs/JGLOBAL_MARINE_ANALYSIS_LETKF
  parm/config/gfs/config.marineanlletkf
  ush/python/pygfs/task/marine_letkf.py
Owners: none

add patch for updating ufs_noaacloud.intel module file from global-workflow repo (temp)
  sorc/build_ufs.sh
  sorc/ufs_noaacloud.intel.diff
  sorc/ufs_noaacloud.intel.lua
Owners: none

fix C48_S2SWA_gefs CI error and added HPC_ACCOUNT
  ci/cases/yamls/gefs_replay_ci.yaml
  parm/config/gefs/config.base
Owners: @TerrenceMcGuinness-NOAA

Correct the Python code
  workflow/applications/gefs.py
Owners: @WalterKolczynski-NOAA, @aerorahul

add versioning for noaacloud and temp patch to ufs_module module file for noaacloud
  sorc/build_all.sh
  sorc/build_ufs.sh
Owners: none

removed githug action pipeline for pw to make this a build pr
  .github/workflows/pw-ci-hera-ssh.yaml
Owners: none

Correct the parameters
  parm/config/gefs/config.base
Owners: none

switched to dict
  ush/python/pygfs/utils/marine_da_utils.py
Owners: none

moved source of ver for runtime in load fv3gfs modules back to before the module is loaded
  ush/load_fv3gfs_modules.sh
Owners: none

changed the runtime version of g2tmp down
  versions/run.noaacloud.ver
Owners: none

resource updates for C5 C768 GSI
  env/GAEA.env
  parm/config/gfs/config.resources.GAEA
Owners: none

adjustments to resource location
  env/GAEA.env
  parm/config/gfs/config.resources.GAEA
Owners: none

adding hydrostatic options
  parm/config/gefs/config.fcst
  parm/config/gefs/config.ufs
  parm/config/gefs/yaml/defaults.yaml
  sorc/build_all.sh
  ush/forecast_predet.sh
  ush/parsing_namelists_FV3.sh
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
