Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

bugfix
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update scripts/exgdas_atmos_nawips.sh
  scripts/exgdas_atmos_nawips.sh
Owners: @GwenChen-NOAA

Update scripts/exgdas_atmos_nawips.sh
  scripts/exgdas_atmos_nawips.sh
Owners: @GwenChen-NOAA

run the diagb in the half cycle
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

end of day save
  jobs/JGLOBAL_AERO_ANALYSIS_GENERATE_BMATRIX
Owners: none

Update for JCB policies and stage DA job files with Jinja2-templates (#2700)
  env/HERCULES.env
  jobs/rocoto/aeroanlfinal.sh
  jobs/rocoto/aeroanlinit.sh
  jobs/rocoto/aeroanlrun.sh
  jobs/rocoto/atmanlfinal.sh
  jobs/rocoto/atmanlfv3inc.sh
  jobs/rocoto/atmanlinit.sh
  jobs/rocoto/atmanlvar.sh
  jobs/rocoto/atmensanlfinal.sh
  jobs/rocoto/atmensanlfv3inc.sh
  jobs/rocoto/atmensanlinit.sh
  jobs/rocoto/atmensanlletkf.sh
  jobs/rocoto/oceanice_products.sh
  jobs/rocoto/prepatmiodaobs.sh
  jobs/rocoto/prepobsaero.sh
  jobs/rocoto/prepsnowobs.sh
  jobs/rocoto/snowanl.sh
  jobs/rocoto/upp.sh
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmensanl
  parm/gdas/staging/atm_berror_gsibec.yaml.j2
  parm/gdas/staging/atm_lgetkf_bkg.yaml.j2
  parm/gdas/staging/atm_var_bkg.yaml.j2
  parm/gdas/staging/atm_var_fv3ens.yaml.j2
  scripts/exglobal_cleanup.sh
  scripts/exglobal_prep_snow_obs.py
  ush/detect_machine.sh
  ush/load_fv3gfs_modules.sh
  ush/load_ufsda_modules.sh
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/aero_emissions.py
  ush/python/pygfs/task/aero_prepobs.py
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/archive.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
  ush/python/pygfs/task/oceanice_products.py
  ush/python/pygfs/task/snow_analysis.py
  ush/python/pygfs/task/upp.py
  workflow/hosts.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Some updates
  jobs/JGLOBAL_STAGE_IC
  parm/config/gefs/config.stage_ic
  parm/stage/stage.yaml.j2
  scripts/exglobal_stage_ic.py
  ush/python/pygfs/task/stage.py
Owners: none

Update ci/scripts/tests/test_create_experiment.py
  ci/scripts/tests/test_create_experiment.py
Owners: @TerrenceMcGuinness-NOAA

Update ci/scripts/tests/test_setup.py
  ci/scripts/tests/test_setup.py
Owners: @TerrenceMcGuinness-NOAA

Update ci/scripts/tests/test_setup.py
  ci/scripts/tests/test_setup.py
Owners: @TerrenceMcGuinness-NOAA

fix template issue + updates for g-w develop merge
  jobs/JGLOBAL_SNOW_ENSEMBLE_ANALYSIS
  ush/python/pygfs/task/snowens_analysis.py
Owners: none

update global-workflow for orion+rocky8
  modulefiles/module_base.orion.lua
  ush/detect_machine.sh
  versions/build.orion.ver
  versions/run.orion.ver
Owners: none

Fix octal issue
  jobs/JGFS_ATMOS_GEMPAK
Owners: @GwenChen-NOAA

update fit2obs and prepobs paths
  modulefiles/module_base.orion.lua
  versions/run.orion.ver
Owners: none

add config.resources.ORION to address GSI performance issues
  parm/config/gfs/config.resources.ORION
Owners: none

Address Jiarui's comments
  jobs/JGLOBAL_SNOW_ENSEMBLE_ANALYSIS
  parm/gdas/snow_stage_orog.yaml.j2
Owners: none

Correct 'include' tabbing
  parm/archive/master_enkf.yaml.j2
  parm/archive/master_gdas.yaml.j2
  parm/archive/master_gfs.yaml.j2
Owners: none

update missed gwci and gwsetup modulefiles
  modulefiles/module_gwci.orion.lua
  modulefiles/module_gwsetup.orion.lua
Owners: none

align ;; in config.resources.ORION
  parm/config/gfs/config.resources.ORION
Owners: none

fix error for one of the ufs config file
  ush/parsing_ufs_configure.sh
Owners: none

3dfgat gdas.cd ctests work but needs tidy
  env/HERA.env
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP
  jobs/JGLOBAL_MARINE_BMAT
  jobs/rocoto/marinebmat.sh
  parm/config/gfs/config.com
  parm/config/gfs/config.marinebmat
  parm/config/gfs/config.ocnanal
  parm/config/gfs/config.resources
  scripts/exglobal_marine_bmat_run.py
  sorc/link_workflow.sh
  ush/python/pygfs/task/marine_bmat.py
Owners: @guillaumevernieres

no op for ci self test
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

the tripple sing quoting for srting output icludes the charage returns after all
  ci/scripts/tests/test_setup.py
Owners: @TerrenceMcGuinness-NOAA

Update ci/scripts/tests/test_setup.py
  ci/scripts/tests/test_setup.py
Owners: @TerrenceMcGuinness-NOAA

corrected typo of unit test github control file
  .github/workflows/ci_unit_tests.yaml
Owners: none

removed no-op line from driver
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

pynorms
  ush/python/pygfs/task/marine_bmat.py
Owners: none

Refine procedure to get fv3 fhours with replay ICs
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

point to different soca tools
  jobs/rocoto/marinebmat.sh
  parm/config/gfs/config.ocnanal
Owners: none

Check that common variables are defined before using them
  env/AWSPW.env
  env/GAEA.env
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
Owners: none

Switch analcalc CDUMP to RUN
  scripts/exglobal_atmos_analysis_calc.sh
Owners: @RussTreadon-NOAA

Fix shellcheck errors
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

Fix postsndcfp resource declaration
  parm/config/gfs/config.resources
Owners: none

Further simplify analysis resources
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  parm/config/gfs/config.anal
  parm/config/gfs/config.eobs
  scripts/exglobal_atmos_analysis.sh
Owners: @RussTreadon-NOAA

change as suggested by reviewer
  workflow/rocoto/workflow_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Ignore 'unused' SC warning
  env/GAEA.env
Owners: none

Add function to calculate CICE average
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/parsing_namelists_CICE.sh
Owners: none

Fix CI test error
  scripts/exgfs_atmos_grib2_special_npoess.sh
Owners: none

updates for running latest model
  ush/forecast_postdet.sh
Owners: none

fix unintentional change
  ush/forecast_postdet.sh
Owners: none
