Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

add wdqms.py and wdqms_driver.py from https://github.com/kevindougherty-noaa/wdqms at hash f7728cc
  ush/wdqms.py
  ush/wdqms_driver.py
Owners: none

bring contents of wdqms_driver.py into wdqms.py. Run wdqms.py through autopep8
  ush/wdqms.py
  ush/wdqms_driver.py
Owners: none

make wdqms.py into an executable
  ush/wdqms.py
Owners: none

add rocoto job, jjob, exjob and update configs for wdqms. also add it to rocoto
  jobs/JGDAS_ATMOS_WDQMS
  jobs/rocoto/wdqms.sh
  parm/config/config.base.emc.dyn
  parm/config/config.base.nco.static
  parm/config/config.resources.emc.dyn
  parm/config/config.resources.nco.static
  parm/config/config.wdqms
  scripts/exgdas_atmos_wdqms.sh
  ush/rocoto/setup_workflow.py
Owners: none

add relevant ecf script and trigger it in the ecf suite def
  ecf/defs/gfs_v16_3.def
  ecf/scripts/gdas/atmos/analysis/jgdas_atmos_analysis_wdqms.ecf
  jobs/JGDAS_ATMOS_ANALYSIS_WDQMS
  jobs/rocoto/wdqms.sh
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: @lgannoaa

update paths to snowDA obs prep yaml templates
  parm/config/gfs/config.prepsnowobs
Owners: none

remove .emc.dyn from config.base names and fix paths to snow parm files
  parm/config/gefs/config.base
  parm/config/gfs/config.base
  parm/config/gfs/config.snowanl
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

updated hist name gaea-c5 and related content in workflow and sorc directories
  sorc/link_workflow.sh
  workflow/hosts.py
Owners: @WalterKolczynski-NOAA, @aerorahul

fix shellcheck errors
  parm/config/gefs/config.base
  parm/config/gfs/config.base
Owners: none

update hash to wxflow
  .gitmodules
Owners: none

update hash to gdasapp
  .gitmodules
Owners: none

disable the AOWCDA test on Hera since it will fail due to updates in the jinja templates
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
Owners: @TerrenceMcGuinness-NOAA

Removed submodule.
  .gitmodules
Owners: none

Updates for UFS_UTILS.
  .gitmodules
Owners: none

Removed submodule.
  .gitmodules
Owners: none

Rocky 8 updates.
  .gitmodules
Owners: none

Removed submodule.
  .gitmodules
Owners: none

Reformat snowDA templates to jinja2 (#2371)
  .gitignore
  .gitmodules
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  parm/config/gefs/config.base
  parm/config/gfs/config.base
  parm/config/gfs/config.prepsnowobs
  parm/config/gfs/config.snowanl
  parm/gdas/snow_jedi_fix.yaml
  parm/gdas/snow_jedi_fix.yaml.j2
  sorc/link_workflow.sh
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/snow_analysis.py
  workflow/setup_expt.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

new pr database code
  ci/scripts/update_pr_database.py
Owners: @TerrenceMcGuinness-NOAA

insitu BUFR2IODA related
  jobs/JGLOBAL_PREP_OCEAN_OBS
  parm/config/gfs/config.prepoceanobs
Owners: none

made if else into match with functions
  ci/scripts/update_pr_database.py
Owners: @TerrenceMcGuinness-NOAA

made each input a functional call
  ci/scripts/update_pr_database.py
Owners: @TerrenceMcGuinness-NOAA

got mostly working
  ci/scripts/update_pr_database.py
Owners: @TerrenceMcGuinness-NOAA

set JEDI ATM CASE_ANL based on DOHYBVAR, replace C48C48 JEDI ATM case with C96C48 (#2294)
  ci/cases/pr/C96C48_ufs_hybatmDA.yaml
  parm/config/gfs/config.atmanl
Owners: @TerrenceMcGuinness-NOAA

address shellcheck error (#2294)
  parm/config/gfs/config.atmanl
Owners: none

properly indent shellcheck directive (#2294)
  parm/config/gfs/config.atmanl
Owners: none

clean up comments in JEDI ATM Var and Ens init and run config files (#2294)
  parm/config/gfs/config.atmanlinit
  parm/config/gfs/config.atmanlrun
  parm/config/gfs/config.atmensanlinit
  parm/config/gfs/config.atmensanlrun
Owners: none

Add Hercules support for the GSI monitor (#2373)
  modulefiles/module_base.hercules.lua
  parm/config/gfs/config.base
  versions/run.hercules.ver
Owners: none

rewrote pr_list_database.py using wxflow import SQLiteDB
  ci/scripts/get_labels.py
  ci/scripts/pr_list_database.py
  ci/scripts/update_pr_database.py
  ci/scripts/workflow
Owners: @TerrenceMcGuinness-NOAA

removed pygithub work
  ci/scripts/get_labels.py
  ci/scripts/workflow
Owners: @TerrenceMcGuinness-NOAA

added pylint spaces
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

more pycodestyle spaces
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

update JEDI ATM templates to jinja2 (#2294)
  parm/gdas/atm_jedi_fix.yaml
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Additional top level variable replacements
  scripts/exgdas_atmos_chgres_forenkf.sh
  scripts/exgdas_atmos_nawips.sh
  scripts/exgdas_atmos_verfozn.sh
  scripts/exgdas_atmos_verfrad.sh
  scripts/exgdas_enkf_earc.sh
  scripts/exgdas_enkf_ecen.sh
  scripts/exgdas_enkf_post.sh
  scripts/exgdas_enkf_select_obs.sh
  scripts/exgdas_enkf_sfc.sh
  scripts/exgdas_enkf_update.sh
  scripts/exgfs_atmos_awips_20km_1p0deg.sh
  scripts/exgfs_atmos_fbwind.sh
  scripts/exgfs_atmos_goes_nawips.sh
  scripts/exgfs_atmos_grib2_special_npoess.sh
  scripts/exgfs_atmos_grib_awips.sh
  scripts/exgfs_atmos_nawips.sh
  scripts/exgfs_atmos_postsnd.sh
  scripts/exgfs_pmgr.sh
  scripts/exgfs_prdgen_manager.sh
  scripts/exgfs_wave_init.sh
  scripts/exgfs_wave_nawips.sh
  scripts/exgfs_wave_post_gridded_sbs.sh
  scripts/exgfs_wave_post_pnt.sh
  scripts/exgfs_wave_prdgen_bulls.sh
  scripts/exgfs_wave_prdgen_gridded.sh
  scripts/exgfs_wave_prep.sh
  scripts/exglobal_archive.sh
  scripts/exglobal_atmos_analysis.sh
  scripts/exglobal_atmos_analysis_calc.sh
  scripts/exglobal_atmos_pmgr.sh
  scripts/exglobal_atmos_products.sh
  scripts/exglobal_atmos_sfcanl.sh
  scripts/exglobal_atmos_tropcy_qc_reloc.sh
  scripts/exglobal_atmos_vminmon.sh
  scripts/exglobal_cleanup.sh
  scripts/exglobal_diag.sh
  scripts/exglobal_forecast.sh
  scripts/exglobal_stage_ic.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @WenMeng-NOAA, @JessicaMeixner-NOAA

Additional top level variable replacements in job scripts
  jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG
  jobs/JGFS_ATMOS_AWIPS_G2
  jobs/JGFS_ATMOS_FBWIND
  jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS
  jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE
  jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE
  jobs/JGLOBAL_AERO_ANALYSIS_RUN
  jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE
  jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE
  jobs/JGLOBAL_ATMENS_ANALYSIS_RUN
  jobs/JGLOBAL_ATMOS_POST_MANAGER
  jobs/JGLOBAL_ATMOS_PRODUCTS
  jobs/JGLOBAL_ATMOS_UPP
  jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE
  jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE
  jobs/JGLOBAL_ATM_ANALYSIS_RUN
  jobs/JGLOBAL_ATM_PREP_IODA_OBS
  jobs/JGLOBAL_CLEANUP
  jobs/JGLOBAL_OCEANICE_PRODUCTS
  jobs/JGLOBAL_PREP_OCEAN_OBS
  jobs/JGLOBAL_PREP_SNOW_OBS
  jobs/JGLOBAL_SNOW_ANALYSIS
  jobs/JGLOBAL_STAGE_IC
  jobs/JGLOBAL_WAVE_GEMPAK
  jobs/JGLOBAL_WAVE_INIT
  jobs/JGLOBAL_WAVE_POST_BNDPNT
  jobs/JGLOBAL_WAVE_POST_BNDPNTBLL
  jobs/JGLOBAL_WAVE_POST_PNT
  jobs/JGLOBAL_WAVE_POST_SBS
  jobs/JGLOBAL_WAVE_PRDGEN_BULLS
  jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED
  jobs/JGLOBAL_WAVE_PREP
Owners: @GwenChen-NOAA, @WenMeng-NOAA, @CoryMartin-NOAA, @RussTreadon-NOAA, @lgannoaa, @aerorahul, @JessicaMeixner-NOAA

Removed submodule.
  .gitmodules
Owners: none

updated gaea-c5 host information in module_gwset and yaml files
  modulefiles/module_gwsetup.gaea-c5.lua
  ush/detect_machine.sh
  workflow/hosts/gaea-c5.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Removed incorrect submodule.
  .gitmodules
Owners: none

Updates for GSI ENKF.
  .gitmodules
Owners: none

updated workflow/hosts.py and added gaea-c5 machine
  workflow/hosts.py
Owners: @WalterKolczynski-NOAA, @aerorahul

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
