Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

remove gefs S2SA disabled test
  ci/cases/pr_disable/C48_S2SA_gefs.yaml
Owners: @TerrenceMcGuinness-NOAA

bring changes from GV at /scratch1/NCEPDEV/stmp2/Guillaume.Vernieres/runs/gw-ci
  ci/cases/pr/C48_atm3DVar_ocnhybDA.yaml
  ci/platforms/soca_gfs_defaults_ci.yaml
  parm/config/gfs/yaml/defaults.yaml
Owners: @TerrenceMcGuinness-NOAA

added missing container case
  parm/config/gfs/config.resources
Owners: none

rename test case yaml
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
Owners: @TerrenceMcGuinness-NOAA

Simplify and extend load_ufsda_modules to Hercules (#2245)
  ush/load_ufsda_modules.sh
Owners: none

Update GFS version to v16.3.13 in index.rst (#2256)
  docs/source/index.rst
Owners: none

STY: Have seq separate numbers with spaces, not newlines
  ush/forecast_predet.sh
Owners: none

added an explicit cd into the gfs/sorc dir to run build_all
  Jenkinsfile
Owners: none

fixed quote on echo PWD on script sh command line
  Jenkinsfile
Owners: none

Fix post parm links (#2243)
  parm/post/upp.yaml
  sorc/link_workflow.sh
Owners: none

Added missing container case in gfs/config.resources (#2258)
  parm/config/gfs/config.resources
Owners: none

soca related updates
  env/HERA.env
  jobs/JGLOBAL_PREP_OCEAN_OBS
  parm/config/gfs/config.ocn
  parm/config/gfs/config.resources
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

GOCART ExtData biogenic climatology fix (#2253)
  parm/ufs/gocart/ExtData.other
Owners: none

added explicit git command for updating submoules recursivly, scm was apearing to skip gdas submodules
  Jenkinsfile
Owners: none

PR to get the snow da test working (#4)
  jobs/JGLOBAL_LAND_ANALYSIS
  jobs/JGLOBAL_PREP_LAND_OBS
  ush/python/pygfs/task/land_analysis.py
Owners: @jiaruidong2017

Add OCNRES in "add_increments" and remove OCNRES in "prepare_IMS"
  ush/python/pygfs/task/land_analysis.py
Owners: none

Update DMPDIR path on WCOSS2
  ush/rocoto/setup_expt.py
  ush/rocoto/setup_expt_fcstonly.py
Owners: none

skip snowDA test on Orion due to lack of data
  ci/cases/pr/C96_atmsnowDA.yaml
Owners: @TerrenceMcGuinness-NOAA

Add a yaml for snow DA testing. (#2199)
  ci/cases/pr/C48_ATM.yaml
  ci/cases/pr/C48_S2SW.yaml
  ci/cases/pr/C48_S2SWA_gefs.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
  ci/cases/pr/C96_atmsnowDA.yaml
  ci/cases/weekly/C384C192_hybatmda.yaml
  ci/cases/weekly/C384_S2SWA.yaml
  ci/cases/yamls/atmsnowDA_defaults_ci.yaml
  ci/cases/yamls/gefs_ci_defaults.yaml
  ci/cases/yamls/gfs_defaults_ci.yaml
  jobs/JGLOBAL_LAND_ANALYSIS
  jobs/JGLOBAL_PREP_LAND_OBS
  ush/python/pygfs/task/land_analysis.py
  workflow/create_experiment.py
  workflow/setup_expt.py
Owners: @TerrenceMcGuinness-NOAA, @jiaruidong2017, @WalterKolczynski-NOAA, @aerorahul

Update global_cycle for fractional grid
  ush/forecast_postdet.sh
Owners: none

added max jobs on build all to 4
  Jenkinsfile
Owners: none

Clean-up, ready for PR.
  parm/config/gfs/config.anal
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.esfc
  scripts/exgdas_enkf_sfc.sh
  scripts/exgdas_enkf_update.sh
  scripts/exglobal_atmos_analysis.sh
  scripts/exglobal_atmos_sfcanl.sh
  ush/forecast_postdet.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

update to develop ci/ structure
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  ci/cases/yamls/soca_gfs_defaults_ci.yaml
Owners: @TerrenceMcGuinness-NOAA

stage atmosphere increments if doing a warm start and if they are available
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

use ICS from config.file
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
Owners: @TerrenceMcGuinness-NOAA

minor goofs and turn soca test off till gdasapp updates are in
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  ci/cases/yamls/soca_gfs_defaults_ci.yaml
  parm/config/gfs/yaml/defaults.yaml
Owners: @TerrenceMcGuinness-NOAA

updated pipline with node on setup RUNDIR and removed system in run experment wrapper
  Jenkinsfile
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

Moved weekly cases files into pr for high resolution testing
  ci/cases/pr/C384C192_hybatmda.yaml
  ci/cases/pr/C384_S2SWA.yaml
  ci/cases/pr/C384_atm3DVar.yaml
  ci/cases/pr/C48_ATM.yaml
  ci/cases/pr/C48_S2SW.yaml
  ci/cases/pr/C48_S2SWA_gefs.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
  ci/cases/pr/C96_atmsnowDA.yaml
Owners: @TerrenceMcGuinness-NOAA

updated path of HOMEgfs in run check scripts using gfs as default
  ci/scripts/run-check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

use HOME to point to RUNDIRS for run-check
  Jenkinsfile
Owners: none

add label updates back move archive to post
  Jenkinsfile
Owners: none

STY: Quote variable dereferences in seq arguments
  ush/forecast_predet.sh
Owners: none

Merge to develop to remove the deterministic changes.
  jobs/rocoto/landanl.sh
  jobs/rocoto/landensanl.sh
  parm/config/gfs/config.landanl
  parm/config/gfs/config.preplandobs
  scripts/exglobal_prep_land_obs.py
  ush/python/pygfs/task/land_analysis.py
Owners: none

Setup the snow analysis to update the enkf ensemble members.
  env/HERA.env
  jobs/JGLOBAL_ARCHIVE
  jobs/JGLOBAL_LANDENS_ANALYSIS
  jobs/rocoto/landensanl.sh
  parm/config/gfs/config.landensanl
  parm/config/gfs/config.resources
  scripts/exgdas_enkf_sfc.sh
  scripts/exglobal_archive.sh
  ush/hpssarch_gen.sh
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA, @WalterKolczynski-NOAA, @aerorahul

Correct a mistake.
  parm/config/gfs/config.resources
Owners: none

Modify the landensanl job task.
  jobs/JGLOBAL_ARCHIVE
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Remove MPICH_COLL_OPT_OFF=1 WCOSS2 setting
  env/WCOSS2.env
Owners: none

Add new symlinked post parm files to .gitignore
  .gitignore
Owners: none

added throttle to build
  Jenkinsfile
Owners: none

remove prop from throttle
  Jenkinsfile
Owners: none
