Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

added only buils scripts but disabled otherwise scan poll
  Jenkinsfile_stubbed
Owners: none

remove nested ws in build
  Jenkinsfile
Owners: none

skip AOWCDA test on orion and hercules, for now
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
Owners: @TerrenceMcGuinness-NOAA

added comments in Jenkinsfile
  Jenkinsfile
Owners: none

initial additions
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_ECEN
  jobs/rocoto/ocnanalecen.sh
  parm/config/gfs/config.ocnanalecen
  parm/config/gfs/config.resources
Owners: none

updates to populate EXPDIR and ROTDIR for JEDI hybatmDA ci (#2294)
  ci/cases/pr/C48C48_ufs_hybatmDA.yaml
  parm/config/gfs/config.esfc
  parm/config/gfs/config.nsst
  parm/config/gfs/config.sfcanl
  workflow/setup_expt.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

land to snow
  ci/cases/yamls/atmsnowDA_defaults_ci.yaml
  jobs/JGLOBAL_ATMOS_SFCANL
  jobs/JGLOBAL_PREP_SNOW_OBS
  jobs/JGLOBAL_SNOW_ANALYSIS
  jobs/rocoto/prepsnowobs.sh
  jobs/rocoto/snowanl.sh
  parm/config/gefs/config.base.emc.dyn
  parm/config/gefs/config.resources
  parm/config/gefs/yaml/defaults.yaml
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.com
  parm/config/gfs/config.landanl
  parm/config/gfs/config.preplandobs
  parm/config/gfs/config.prepsnowobs
  parm/config/gfs/config.resources
  parm/config/gfs/config.snowanl
  parm/config/gfs/yaml/defaults.yaml
  scripts/exglobal_atmos_sfcanl.sh
  scripts/exglobal_prep_snow_obs.py
  scripts/exglobal_snow_analysis.py
  ush/python/pygfs/task/snow_analysis.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @TerrenceMcGuinness-NOAA, @GeorgeGayno-NOAA, @WalterKolczynski-NOAA, @aerorahul

apply comments from review to replace SALTY with SALIN and remove scaling of the salinity variable. add new line at the end of files
  jobs/JGLOBAL_OCEANICE_PRODUCTS
  jobs/rocoto/oceanice_products.sh
  ush/oceanice_nc2grib2.sh
Owners: none

added some markdown formatting in GitHub messages
  Jenkinsfile
Owners: none

fine, keep datadir
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_ECEN
Owners: none

updated some markdown formatting in main GitHub PR message
  Jenkinsfile
  Jenkinsfile_stubbed
Owners: none

updated format with one more <br>
  Jenkinsfile
Owners: none

Changes in env/
  env/AWSPW.env
  env/CONTAINER.env
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
Owners: none

enriched resources
  parm/config/gfs/config.resources
Owners: none

Update config.resources
  parm/config/gfs/config.resources
Owners: none

Update config.resources
  parm/config/gfs/config.resources
Owners: none

Enable AO WCDA test (#1963)
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  ci/cases/yamls/soca_gfs_defaults_ci.yaml
  env/HERA.env
  jobs/JGLOBAL_PREP_OCEAN_OBS
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.ocn
  parm/config/gfs/config.resources
  parm/config/gfs/yaml/defaults.yaml
  workflow/applications/gfs_cycled.py
  workflow/setup_expt.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

Jenkins Declartive Pipeline for CI with gfs/gefs multibuilds (#2246)
  Jenkinsfile
  ci/cases/yamls/build.yaml
  ci/scripts/run-check_ci.sh
  ci/scripts/utils/ci_utils.sh
  ci/scripts/utils/ci_utils_wrapper.sh
  modulefiles/module_gwsetup.hera.lua
Owners: @TerrenceMcGuinness-NOAA

PR for develop self test using Jenkins on Orion
  Jenkinsfile
Owners: none

Turn soil analysis off for default.
  parm/config/gfs/config.base.emc.dyn
Owners: none

lower task count so it runs out of box on hera
  parm/config/gfs/config.ufs
Owners: none

moved post back to the end of the main stages block
  Jenkinsfile
Owners: none

just to experments
  Jenkinsfile
Owners: none

paired down errounous info in comment about running expirement
  Jenkinsfile
Owners: none

turn off monitor jobs for JEDIATMVAR, adjust JEDIATM resources, fix pynorm error (#2294)
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.resources
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

add COM_ICE_NETCDF_TMPL for any ice netcdf products that we may have now or in the future
  parm/config/gfs/config.com
Owners: none

Revert Hercules modules to SS/1.5.1.
  modulefiles/module_base.hercules.lua
  modulefiles/module_gwci.hercules.lua
  modulefiles/module_gwsetup.hercules.lua
  parm/config/gfs/config.base.emc.dyn
  versions/build.hercules.ver
  versions/run.hercules.ver
Owners: none

Fix SS versions for CI modules.
  modulefiles/module_gwci.hera.lua
  modulefiles/module_gwci.orion.lua
Owners: none

Redo v16.3 config.base changes for DA increments
  parm/config/gfs/config.base.emc.dyn
Owners: none

update build for unstructured waves
  ci/cases/yamls/build.yaml
Owners: @TerrenceMcGuinness-NOAA

all gfs wave grids need to be unstructured since we build with -w
  parm/config/gfs/config.base.emc.dyn
Owners: none

perform subsetting of model native output for products
  modulefiles/module_base.hera.lua
  modulefiles/module_base.hercules.lua
  modulefiles/module_base.jet.lua
  modulefiles/module_base.orion.lua
  modulefiles/module_base.s4.lua
  parm/post/oceanice_products.yaml
  scripts/exglobal_oceanice_products.py
  ush/python/pygfs/task/oceanice_products.py
  versions/run.spack.ver
Owners: none

Moved weekly cases files into pr for high resolution testing
  ci/cases/pr/C384C192_hybatmda.yaml
  ci/cases/pr/C384_S2SWA.yaml
  ci/cases/pr/C384_atm3DVar.yaml
  ci/cases/pr/C48_ATM.yaml
  ci/cases/pr/C48_S2SW.yaml
  ci/cases/pr/C48_S2SWA_gefs.yaml
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
  ci/cases/pr/C96_atmsnowDA.yaml
Owners: @TerrenceMcGuinness-NOAA

Reduce processors for GEFS wave post
  parm/config/gefs/config.resources
Owners: none

Fix Jenkins success reporting (#2302)
  Jenkinsfile
Owners: none

Redo v16.3 config.base changes for DA increments (#2304)
  parm/config/gfs/config.base.emc.dyn
Owners: none

added cases C48mx500_3DVarAOWCDA, C96C48_hybatmDA, and C96_atmsnowDA to the case pr list in Jenkins
  Jenkinsfile
Owners: none

Added additional test cases to the pr list in Jenkins (#2306)
  Jenkinsfile
Owners: none

remove not required variables from ocean native product files
  parm/post/oceanice_products.yaml
Owners: none

remove sst_h from ice native netcdf products. fix gefs dependency for products
  parm/post/oceanice_products.yaml
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul
