Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

removed whitespace per pycodestyle
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

Update ci/scripts/pr_list_database.py
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

Rewrote pr_list_database.py to use wxflow's SQLiteDB Class (#2376)
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

adde pygithug into pr_list_database
  ci/scripts/githubpr.py
  ci/scripts/pr_list_database.py
  ci/scripts/workflow
Owners: @TerrenceMcGuinness-NOAA

updated newer changes to pr database script
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

fixed open ready to list of PRs
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

tweeked discription in update_database
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

pycode updated spaces
  ci/scripts/githubpr.py
Owners: @TerrenceMcGuinness-NOAA

added some pycodestyle spacings
  ci/scripts/githubpr.py
Owners: @TerrenceMcGuinness-NOAA

couple more pycodestyle spaces
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

put back open as requiremnt of PRs that labels are gotten from
  ci/scripts/githubpr.py
Owners: @TerrenceMcGuinness-NOAA

Add switch to control `debug=true` on WCOSS2 for development testing (#2388)
  .github/workflows/docs.yaml
  docs/source/configure.rst
  parm/config/gefs/config.base
  parm/config/gfs/config.base
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

rework gdas.yaml to Jinja template
  parm/archive/gdas.yaml
Owners: none

Atmos ensemble pertubation options
  env/WCOSS2.env
  parm/config/gefs/config.efcs
  ush/forecast_postdet.sh
  ush/parsing_namelists_FV3.sh
Owners: none

Add JEDI atmosphere only CI (#2357)
  ci/cases/pr/C96C48_ufs_hybatmDA.yaml
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmanlinit
  parm/config/gfs/config.atmensanl
  parm/config/gfs/config.atmensanlinit
  parm/gdas/atm_jedi_fix.yaml
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
  workflow/applications/applications.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

Version update and new release notes for WDQMS
  docs/Release_Notes.gfs.v16.3.14.md
  versions/run.ver
Owners: none

remove extra gitworkfow work stuck in my forked develop branch
  .github/workflows/getlabels.yaml
  .github/workflows/orion_status.yaml
Owners: none

Fix typos in ukmet gempak meta
  gempak/ush/gdas_ukmet_meta_ver.sh
Owners: none

Restart with a blank slate; rename gdas.yaml.
  parm/archive/enkfgdas.yaml
  parm/archive/enkfgdas_hybvar.yaml
  parm/archive/enkfgdas_hybvar_lobsdiag.yaml
  parm/archive/enkfgdas_hybvar_nolobsdiag.yaml
  parm/archive/enkfgfs.yaml
  parm/archive/enkfgfs_hybvar.yaml
  parm/archive/enkfgfs_hybvar_lobsdiag.yaml
  parm/archive/enkfgfs_hybvar_nolobsdiag.yaml
  parm/archive/gdas.yaml.j2
  parm/archive/gdas_aero.yaml
  parm/archive/gdas_dopost.yaml
  parm/archive/gdas_ice.yaml
  parm/archive/gdas_ocn.yaml
  parm/archive/gdas_verfozn.yaml
  parm/archive/gdas_verfrad.yaml
  parm/archive/gdas_vminmon.yaml
  parm/archive/gdas_wave.yaml
  parm/archive/gfs.yaml
  parm/archive/gfs_aero.yaml
  parm/archive/gfs_archgaussian.yaml
  parm/archive/gfs_archgaussian_cycled.yaml
  parm/archive/gfs_bufrsnd.yaml
  parm/archive/gfs_cycled.yaml
  parm/archive/gfs_forecastonly.yaml
  parm/archive/gfs_ice.yaml
  parm/archive/gfs_ocn.yaml
  parm/archive/gfs_vminmon.yaml
  parm/archive/gfs_wave.yaml
Owners: none

Turned off GSI verification for RDHPCS Hera.
  parm/config/gfs/config.base
Owners: none

Changed config.atmanl to allow non-hybrid background error yamls
  parm/config/gfs/config.atmanl
Owners: none

Update ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/analysis.py
Owners: none

Changed config.atmanl to allow non-hybrid background error yamls (#2394)
  parm/config/gfs/config.atmanl
Owners: none

add caveat to the doc-block
  ush/python/pygfs/task/analysis.py
Owners: none

Update gfs-utils for rdbfmsua build
  scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
Owners: none

parse jedi_yaml once for aerosol and atm jedi tasks
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.aeroanlfinal
  parm/config/gfs/config.aeroanlinit
  parm/config/gfs/config.aeroanlrun
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

update aeroDA config file
  parm/config/gfs/config.aeroanl
Owners: none

make ush/forecast_predet.sh shellcheck compliant
  ush/forecast_predet.sh
Owners: none

replace HOMEgfs/parm with PARMgfs to be consistent w/ gw
  parm/config/gefs/config.ufs
  parm/config/gfs/config.ufs
Owners: none

fix mixed-indent in .gitmodules
  .gitmodules
Owners: none

remove documentation about generating ICs using global-workflow
  docs/source/init.rst
Owners: none

uppercase UFS_UTILS
  docs/source/init.rst
Owners: none

Remove documentation about generating ICs using global-workflow (#2397)
  docs/source/init.rst
Owners: none

adde base git_pr_list and also git_ci_pr_list that optionally filters by host and defaulted by Ready lables to may be used for getting Kill list
  ci/scripts/githubpr.py
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

added pycodestyle spaces
  ci/scripts/githubpr.py
Owners: @TerrenceMcGuinness-NOAA

Update scripts/exglobal_stage_ic.sh
  scripts/exglobal_stage_ic.sh
Owners: none

Update ush/forecast_postdet.sh
  ush/forecast_postdet.sh
Owners: none

moved data base state code and GitHub module for class into utils directory as the are not scripts
  ci/scripts/utils/githubpr.py
  ci/scripts/utils/pr_list_database.py
  ci/scripts/workflow
Owners: @TerrenceMcGuinness-NOAA

update configs and some more yamls;
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmensanl
  parm/config/gfs/config.snowanl
  parm/gdas/aero_crtm_coeff.yaml
  parm/gdas/aero_crtm_coeff.yaml.j2
  parm/gdas/aero_jedi_fix.yaml
  parm/gdas/aero_jedi_fix.yaml.j2
  parm/gdas/atm_crtm_coeff.yaml.j2
  parm/gdas/atm_jedi_fix.yaml.j2
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
  ush/python/pygfs/task/snow_analysis.py
Owners: none

Update Git version table
  docs/source/hpc.rst
Owners: none
