Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

Remove 'untested' warning
  ush/python/pygfs/task/archive.py
Owners: none

Corrected genesis COM path
  parm/archive/gfsa.yaml.j2
Owners: none

Remove unsaved atm_stoch files
  parm/archive/enkf_restartb_grp.yaml.j2
Owners: none

Move restart_interval* to more logical locations
  parm/config/gfs/config.base
Owners: none

added a no operations text for a branch to differ from develop for a ci selftest
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Remove unused gfs_restartb template
  parm/archive/gfs_restartb.yaml.j2
Owners: none

Update scripts/exglobal_atmos_analysis.sh
  scripts/exglobal_atmos_analysis.sh
Owners: @RussTreadon-NOAA

fix seaice archiving
  ush/hpssarch_gen.sh
Owners: none

update gdas app hash and turn on C48mx500_3DVarAOWCDA test on hera
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
Owners: @TerrenceMcGuinness-NOAA

Bug fix for #2528 from aerorahul
  jobs/JGLOBAL_FORECAST
Owners: none

Add the global nesting capability
  parm/config/gfs/config.base
  parm/config/gfs/config.fcst
  parm/config/gfs/config.resources
  parm/config/gfs/config.stage_ic
  parm/config/gfs/config.ufs
  scripts/exglobal_stage_ic.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/parsing_model_configure_FV3.sh
  ush/parsing_namelists_FV3.sh
Owners: none

Moved the *_CADS flags to the $OBSQC namelist secton as suggested by reviewers.
  scripts/exglobal_atmos_analysis.sh
Owners: @RussTreadon-NOAA

Specifically set the AIRS_CADS, CRIS_CADS, and IASI_CADS to false in this file.
  parm/config/gfs/config.anal
Owners: none

Apply suggestions from code review
  parm/config/gfs/config.fcst
  parm/config/gfs/config.resources
  parm/config/gfs/config.stage_ic
  parm/config/gfs/config.ufs
  ush/forecast_postdet.sh
Owners: none

removed j from gh clone and extra print line in rocotostat that was stoping the check script
  ci/scripts/clone-build_ci.sh
  ci/scripts/driver.sh
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Hot fix for bash CI on WCOSS2 (#2536)
  ci/scripts/clone-build_ci.sh
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Apply suggestions from code review
  parm/config/gefs/config.base
  parm/config/gfs/config.ufs
  sorc/link_workflow.sh
  ush/forecast_postdet.sh
  ush/parsing_model_configure_FV3.sh
  ush/parsing_namelists_FV3.sh
Owners: none

minor fix
  sorc/link_workflow.sh
  ush/parsing_model_configure_FV3.sh
Owners: none

minor changes
  parm/config/gfs/config.ufs
  ush/parsing_model_configure_FV3.sh
  ush/parsing_namelists_FV3.sh
Owners: none

add additional update from before
  ush/forecast_postdet.sh
Owners: none

fix naensloc
  scripts/exglobal_atmos_analysis.sh
Owners: @RussTreadon-NOAA

remove line that made things "work" but for the wrong reasons
  ush/forecast_postdet.sh
Owners: none

revert changes for FIX_DIR on Hera
  sorc/link_workflow.sh
Owners: none

Make ocean/ice GEFS hist files 24-hr averages
  parm/config/gefs/config.base
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Produce 24-hour ocean/ice products for GEFS
  parm/post/oceanice_products.yaml
Owners: none

Add CADS use flexibility (#2540)
  parm/config/gfs/config.anal
  scripts/exglobal_atmos_analysis.sh
Owners: @RussTreadon-NOAA

first file update for multilable feature into main Jenkinsfile
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

wave updates
  parm/config/gefs/config.wave
  scripts/exgfs_wave_post_pnt.sh
Owners: @JessicaMeixner-NOAA

debug out env.Node as it was not flagging the parent job
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

damn env.Node is now nulll checking for BUILD_CAUSE
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

compile gdas
  sorc/build_all.sh
Owners: none

small updates for forecast_postdet.sh
  ush/forecast_postdet.sh
Owners: none

echo out getCauses
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

remove self.config.ntiles=6 in analysis.py
  ush/python/pygfs/task/analysis.py
Owners: none

revert changes in parsing_namelists_FV3.sh
  ush/parsing_namelists_FV3.sh
Owners: none

found consice way to check for spawned jobs
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

moved scope of run_nodes
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

add a new file - parsing_namelists_FV3_nest.sh
  ush/parsing_namelists_FV3_nest.sh
Owners: none

are we failing on pullRequests again
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

update parsing_namelists_FV3_nest.sh for global nest
  ush/parsing_namelists_FV3_nest.sh
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
