Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

update CICE restart copying
  ush/forecast_postdet.sh
Owners: none

Updated GEMPAK version and APRUN launcher.
  env/HERA.env
  versions/run.hera.ver
Owners: none

Launch Multiple Platforms to Jenkins with polling (#2548)
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Link ensemble analysis increment files to COMROOT for warm_start (#2553)
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fixes sea ice archiving (#2541)
  ush/hpssarch_gen.sh
Owners: none

updated host and config
  parm/config/gfs/config.base
  workflow/hosts.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Add master template outline.
  parm/archive/chem.yaml.j2
  parm/archive/enkf.yaml.j2
  parm/archive/enkf_grp.yaml.j2
  parm/archive/enkf_restarta_grp.yaml.j2
  parm/archive/enkf_restartb_grp.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/gdas_restartb.yaml.j2
  parm/archive/gdasice.yaml.j2
  parm/archive/gdasice_restart.yaml.j2
  parm/archive/gdasocean.yaml.j2
  parm/archive/gdasocean_analysis.yaml.j2
  parm/archive/gdasocean_restart.yaml.j2
  parm/archive/gdaswave.yaml.j2
  parm/archive/gdaswave_restart.yaml.j2
  parm/archive/gfs_downstream.yaml.j2
  parm/archive/gfs_flux.yaml.j2
  parm/archive/gfs_flux_1p00.yaml.j2
  parm/archive/gfs_netcdfa.yaml.j2
  parm/archive/gfs_netcdfb.yaml.j2
  parm/archive/gfs_pgrb2b.yaml.j2
  parm/archive/gfs_restarta.yaml.j2
  parm/archive/gfsa.yaml.j2
  parm/archive/gfsb.yaml.j2
  parm/archive/gfswave.yaml.j2
  parm/archive/ice_6hravg.yaml.j2
  parm/archive/ice_grib2.yaml.j2
  parm/archive/master_enkf.yaml.j2
  parm/archive/master_gdas.yaml.j2
  parm/archive/master_gfs.yaml.j2
  parm/archive/ocean_6hravg.yaml.j2
  parm/archive/ocean_daily.yaml.j2
  parm/archive/ocean_grib2.yaml.j2
  scripts/exgdas_enkf_earc.py
  ush/python/pygfs/task/archive.py
Owners: none

Remove implicit symlink names
  parm/config/gfs/config.base
  scripts/exgdas_atmos_chgres_forenkf.sh
  scripts/exgdas_enkf_ecen.sh
  scripts/exgdas_enkf_post.sh
  scripts/exgdas_enkf_select_obs.sh
  scripts/exgdas_enkf_sfc.sh
  scripts/exgdas_enkf_update.sh
  scripts/exgfs_wave_init.sh
  scripts/exglobal_atmos_analysis.sh
  scripts/exglobal_atmos_analysis_calc.sh
  scripts/exglobal_atmos_sfcanl.sh
  scripts/exglobal_diag.sh
  ush/gaussian_sfcanl.sh
  ush/link_crtm_fix.sh
  ush/wave_grid_interp_sbs.sh
  ush/wave_prnc_ice.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA, @JessicaMeixner-NOAA

Enable monitor build on Hercules
  parm/config/gfs/config.base
  sorc/build_all.sh
Owners: none

Replace ln -s with $NLN
  gempak/ush/gfs_meta_opc_na_ver
  gempak/ush/gfs_meta_opc_np_ver
  ush/link_crtm_fix.sh
Owners: none

Update env/HERA.env
  env/HERA.env
Owners: none

Adjust earc groups by resolution
  parm/config/gfs/config.earc
Owners: none

Rename save_restart variables.
  parm/archive/master_gdas.yaml.j2
Owners: none

Fix atardir datasets
  ush/python/pygfs/task/archive.py
Owners: none

Enhance error handlings for missing input files
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: none

Remove redundant messages from error handlings
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: none

Use gdas executable and make uniform across atm/atmens/snow/aero
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
  ush/python/pygfs/task/snow_analysis.py
Owners: none

put back jediexe in snow
  ush/python/pygfs/task/snow_analysis.py
Owners: none

update executable in config
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmensanl
  parm/config/gfs/config.snowanl
Owners: none

updates for replay ICS after merge of restart cap
  jobs/JGLOBAL_FORECAST
  parm/config/gefs/config.stage_ic
  scripts/exglobal_stage_ic.sh
  ush/forecast_det.sh
  ush/forecast_postdet.sh
  ush/parsing_namelists_WW3.sh
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

clean up some temporary files
  sorc/aws.env
  sorc/list.module.1.6.0
  sorc/mod4aws/gdas.aws.tar
  sorc/mod4aws/gfs_utils.aws.tar
  sorc/mod4aws/gsi_enkf.aws.tar
  sorc/mod4aws/gsi_enkf.azure.tar
  sorc/mod4aws/gsi_monitor.aws.tar
  sorc/mod4aws/gsi_utils.aws.tar
  sorc/mod4aws/ufs_model.aws.tar
  sorc/mod4aws/ufs_utils.aws.tar
  sorc/mod4aws/update-modulefiles.sh
  sorc/mod4aws/upp.aws.tar
  sorc/module.1.7.0
Owners: none

clean up few unused files
  env/AWSPW.env
  env/GOOGLEPW.env
  env/NOAACLOUD.env
  jobs/rocoto/stage_ic.sh
  parm/config/gfs/config.resources
  scripts/exglobal_forecast.sh
  sorc/build_all.sh
  sorc/build_ufs.sh
  sorc/build_ww3prepost.sh
  sorc/mods4aws/gdas.aws.tar
  sorc/mods4aws/gfs_utils.aws.tar
  sorc/mods4aws/gsi_enkf.aws.tar
  sorc/mods4aws/gsi_monitor.aws.tar
  sorc/mods4aws/gsi_utils.aws.tar
  sorc/mods4aws/ufs_model.aws.tar
  sorc/mods4aws/ufs_utils.aws.tar
  sorc/mods4aws/update-modulefiles.sh
  sorc/mods4aws/upp.aws.tar
  sorc/setup-case.sh
  ush/module-setup.sh
  workflow/hosts.py
  workflow/hosts/googlepw.yaml
  workflow/hosts/noaacloud.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Fixed linter exception.
  env/HERA.env
Owners: none

Utilize scale-dependent localization for atmospheric analysis (#2542)
  parm/config/gfs/config.resources
  scripts/exglobal_atmos_analysis.sh
Owners: @RussTreadon-NOAA

updates for GFS CI
  ush/forecast_det.sh
Owners: none

addition for GFS test
  ush/forecast_postdet.sh
Owners: none

fixes before PR
  parm/config/gefs/config.ufs
  scripts/exglobal_stage_ic.sh
  ush/forecast_postdet.sh
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

gaea module updates in modulefiles, env, and versions
  env/GAEA.env
  modulefiles/module_base.gaea.lua
  modulefiles/module_gwsetup.gaea.lua
  versions/build.gaea.ver
  versions/run.gaea.ver
  workflow/hosts/gaea.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Update oceanice_products yaml file
  parm/post/oceanice_products.yaml
Owners: none

Add correction to updated oceanice yaml file
  parm/post/oceanice_products.yaml
Owners: none

Fix iaufhrs typo
  parm/archive/enkf_grp.yaml.j2
Owners: none

Fix timedelta typo
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/gfs_restarta.yaml.j2
Owners: none

Apply fixes to master templates
  parm/archive/master_enkf.yaml.j2
  parm/archive/master_gdas.yaml.j2
  parm/archive/master_gfs.yaml.j2
Owners: none

Fix dataset parsing
  ush/python/pygfs/task/archive.py
Owners: none

Add FATAL ERROR to fatal error messages
  ush/python/pygfs/task/archive.py
Owners: none

Fix whitespace
  ush/python/pygfs/task/archive.py
Owners: none

Update scripts/exgdas_atmos_analysis_wdqms.sh
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: none

Update scripts/exgdas_atmos_analysis_wdqms.sh
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: none

Update scripts/exglobal_stage_ic.sh
  scripts/exglobal_stage_ic.sh
Owners: none

Update scripts/exgdas_atmos_analysis_wdqms.sh
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: none
