Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

parallelStages is working now, rename loop contol variable for caseName
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

cleaned up code after getting parrallel working
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

matrix stage labels must be literal
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

make c48s2sw run, but have issue with gfswavepostpnt
  env/AWSPW.env
  scripts/exgfs_wave_post_pnt.sh
  workflow/hosts/awspw.yaml
  workflow/rocoto/rocoto.py
Owners: @JessicaMeixner-NOAA, @WalterKolczynski-NOAA, @aerorahul

Add more write groups to spread memory requirements
  parm/config/gfs/config.ufs
Owners: none

Reduce eupd tasks/threads on Hera
  parm/config/gfs/config.resources.HERA
Owners: none

added dyamic case list
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

removed hard coded list cases
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

update gdas hash and copy gaussian increment
  parm/gdas/aero_finalize_variational.yaml.j2
Owners: none

Renamed custom eupd resources
  parm/config/gfs/config.resources.HERA
Owners: none

Handle UNAVAILABLE rocoto state
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Reverse order in case label to match Create
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Only delete temp restarts if it is the final fcst segment
  jobs/JGLOBAL_FORECAST
Owners: none

Fix default syntax
  jobs/JGLOBAL_FORECAST
Owners: none

remove error message from archive.py
  sorc/link_workflow.sh
Owners: none

Add enkfgdas into stage_ic job checks
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Refactor staging job for mem loop and COM declare
  jobs/JGLOBAL_STAGE_IC
  parm/stage/stage.yaml.j2
  scripts/exglobal_stage_ic.py
  ush/python/pygfs/task/stage.py
Owners: none

Resolve pynorms errors
  ush/python/pygfs/task/stage.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

changing COM_ into COMIN
  jobs/JGLOBAL_ATMOS_UPP
Owners: @WenMeng-NOAA, @aerorahul

changing COM_ into COMIN_
  scripts/exglobal_atmos_upp.py
Owners: none

Some fixes and updates to conditions
  jobs/JGLOBAL_STAGE_IC
  parm/stage/stage.yaml.j2
  scripts/exglobal_stage_ic.py
Owners: none

Add capability to run forecast in segments (#2795)
  ci/cases/yamls/gfs_extended_ci.yaml
  jobs/JGLOBAL_FORECAST
  parm/archive/enkf.yaml.j2
  parm/archive/enkf_restarta_grp.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/gfs_netcdfa.yaml.j2
  parm/archive/master_enkf.yaml.j2
  parm/archive/master_gdas.yaml.j2
  parm/archive/master_gfs.yaml.j2
  parm/config/gefs/config.base
  parm/config/gefs/config.fcst
  parm/config/gefs/yaml/defaults.yaml
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.base
  parm/config/gfs/config.fcst
  parm/config/gfs/yaml/defaults.yaml
  ush/calcanl_gfs.py
  ush/forecast_predet.sh
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/aero_prepobs.py
  workflow/applications/applications.py
  workflow/rocoto/gefs_tasks.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/rocoto.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

Add ocninc.nc copy to stage.yaml.j2
  parm/stage/stage.yaml.j2
Owners: none

Add IC timestamps to ICSDIR in CI yamls
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96C48_ufs_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
  ci/cases/pr/C96_atm3DVar_extended.yaml
  ci/cases/pr/C96_atmaerosnowDA.yaml
Owners: @TerrenceMcGuinness-NOAA

Add fixes to products for when REPLAY IC's are used (#2755)
  parm/config/gefs/config.extractvars
  parm/config/gefs/config.fcst
  parm/config/gefs/config.resources
  parm/post/oceanice_products_gefs.yaml
  parm/ufs/fv3/diag_table_replay
  ush/atmos_extractvars.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/ocnice_extractvars.sh
  ush/parsing_model_configure_FV3.sh
  ush/parsing_namelists_FV3.sh
Owners: none

Add support for forecast-only runs on AWS (#2711)
  env/AWSPW.env
  modulefiles/module_base.noaacloud.lua
  modulefiles/module_gwci.noaacloud.lua
  modulefiles/module_gwsetup.noaacloud.lua
  parm/config/gfs/config.base
  parm/config/gfs/config.resources
  parm/config/gfs/config.resources.AWSPW
  sorc/build_all.sh
  sorc/build_ufs.sh
  sorc/link_workflow.sh
  ush/load_fv3gfs_modules.sh
  ush/load_ufswm_modules.sh
  ush/module-setup.sh
  versions/build.noaacloud.ver
  versions/run.noaacloud.ver
  workflow/hosts.py
  workflow/hosts/awspw.yaml
  workflow/rocoto/tasks.py
  workflow/rocoto/workflow_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Add Gaea C5 to CI (#2814)
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  ci/cases/pr/C96C48_ufs_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar_extended.yaml
  ci/cases/pr/C96_atmaerosnowDA.yaml
  ci/platforms/config.gaea
  ci/scripts/check_ci.sh
  ci/scripts/driver.sh
  ci/scripts/driver_weekly.sh
  ci/scripts/run_ci.sh
  ci/scripts/utils/launch_java_agent.sh
Owners: @TerrenceMcGuinness-NOAA

Jenkins Pipeline Updates (#2815)
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Update AWSPW host BASE_IC path
  workflow/hosts/awspw.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Allow UNKNOWN statuses to retry as well; initialize rocoto_state
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

make gw run on azure, after aws code merged
  env/AZUREPW.env
  parm/config/gfs/config.base
  parm/config/gfs/config.resources
  parm/config/gfs/config.resources.AZUREPW
  workflow/hosts.py
  workflow/hosts/azurepw.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Add Gaea C5 to CI (#2814)
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  ci/cases/pr/C96C48_hybatmaerosnowDA.yaml
  ci/cases/pr/C96C48_ufs_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar_extended.yaml
  ci/platforms/config.gaea
  ci/scripts/check_ci.sh
  ci/scripts/driver.sh
  ci/scripts/driver_weekly.sh
  ci/scripts/run_ci.sh
  ci/scripts/utils/launch_java_agent.sh
Owners: @TerrenceMcGuinness-NOAA

Jenkins Pipeline Updates (#2815)
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

c48 atm forecast only on google
  env/AZUREPW.env
  env/GOOGLEPW.env
  parm/config/gfs/config.resources
  parm/config/gfs/config.resources.AZUREPW
  parm/config/gfs/config.resources.GOOGLEPW
  workflow/hosts.py
  workflow/hosts/azurepw.yaml
  workflow/hosts/googlepw.yaml
  workflow/rocoto/rocoto.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Hotfix: Handle UNAVAILABLE and UNKNOWN rocoto status in Bash CI (#2820)
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Stubs for anlstat job
  jobs/JGLOBAL_ANALYSIS_STATS
  jobs/rocoto/anlstat.sh
  parm/config/gfs/config.base
  scripts/exglobal_analysis_stats.py
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

update for pynorms
  workflow/applications/gfs_cycled.py
Owners: @WalterKolczynski-NOAA, @aerorahul

remove mkdir lines
  jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE
  jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE
Owners: @CoryMartin-NOAA

remove to_ymdh
  ush/python/pygfs/task/snowens_analysis.py
Owners: none

Consolidate staging settings
  jobs/JGLOBAL_STAGE_IC
  parm/stage/stage.yaml.j2
  scripts/exglobal_stage_ic.py
  ush/python/pygfs/task/stage.py
  ush/python/pygfs/task/stage_ic.py
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
