Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

removed white trailing space from hosts.py
  workflow/hosts.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Moving logic for skipping hosts in pr cases (#2573)
  ci/scripts/driver.sh
  ci/scripts/utils/parse_yaml.py
  workflow/create_experiment.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

quick hotfix so that each PR run starts fresh with complete new EXPDIR and COMROT (ie no experment re-runs from done for now)
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Remove existing EXPDIRs and COMROTs when CI is re-run (#2601)
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

dtg_prefix
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update to error message for missing CNVSTAT
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: none

Fold in obsproc/v1.2 and WDQMS script error handling updates (#2603)
  docs/Release_Notes.gfs.v16.3.15.md
  scripts/exgdas_atmos_analysis_wdqms.sh
  versions/hera.ver
  versions/orion.ver
  versions/run.ver
  versions/wcoss2.ver
Owners: none

ugwd_ver updated
  versions/fix.ver
  workflow/hosts/gaea.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

due to cross mounted disks on hercules and orion STMP need updates to for DATADIR to avoid race condtions
  ci/platforms/config.hercules
  ci/platforms/config.orion
Owners: @TerrenceMcGuinness-NOAA

Update config.hercules
  ci/platforms/config.hercules
Owners: @TerrenceMcGuinness-NOAA

Update config.orion
  ci/platforms/config.orion
Owners: @TerrenceMcGuinness-NOAA

Fix race condition in CI between Orion and Hercules (#2604)
  ci/platforms/config.hercules
  ci/platforms/config.orion
Owners: @TerrenceMcGuinness-NOAA

Update config.hercules
  ci/platforms/config.hercules
Owners: @TerrenceMcGuinness-NOAA

added PTMP dirs in ci conig same as STMP for coverage
  ci/platforms/config.hera
  ci/platforms/config.orion
  ci/platforms/config.wcoss2
Owners: @TerrenceMcGuinness-NOAA

Update ci/platforms/config.wcoss2
  ci/platforms/config.wcoss2
Owners: @TerrenceMcGuinness-NOAA

Updating CI Machine configs with redundant PTMP (#2605)
  ci/platforms/config.hera
  ci/platforms/config.hercules
  ci/platforms/config.orion
  ci/platforms/config.wcoss2
Owners: @TerrenceMcGuinness-NOAA

Adds jjob and other necessities for marine LETKF task (#2564)
  env/HERA.env
  env/ORION.env
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_LETKF
  jobs/rocoto/ocnanalletkf.sh
  parm/config/gfs/config.ocnanalletkf
  parm/config/gfs/config.resources
  scripts/exgdas_global_marine_analysis_letkf.py
  ush/python/pygfs/task/marine_letkf.py
Owners: none

Flesh out enkf restarts.
  parm/archive/enkf_restarta_grp.yaml.j2
  parm/archive/enkf_restartb_grp.yaml.j2
  parm/archive/master_enkf.yaml.j2
  scripts/exgdas_enkf_earc.py
Owners: none

Key enkf atmf netcdf files off of IAUFHRS_ENKF
  parm/archive/enkf_grp.yaml.j2
  scripts/exgdas_enkf_earc.py
Owners: none

Add missing logs and inc file to enkf*.tar
  parm/archive/enkf.yaml.j2
Owners: none

Make atma files optional, correct log name
  parm/archive/gdas.yaml.j2
Owners: none

Add sfcanl data files to gdas restart tarballs
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/gdas_restartb.yaml.j2
Owners: none

Move misplaced endif
  parm/archive/gfsa.yaml.j2
Owners: none

Add iaufhrs_enkf definition
  parm/archive/master_enkf.yaml.j2
Owners: none

does gridgen
  scripts/exgdas_global_marine_analysis_letkf.py
  ush/python/pygfs/task/marine_letkf.py
Owners: none

end of day commit
  ush/python/pygfs/task/snowens_analysis.py
Owners: none

Updating nc check script to verify time dimensions
  ush/check_netcdf.sh
Owners: none

Ignore shellcheck warning
  ush/check_netcdf.sh
Owners: none

Fixed ncfile variable name
  ush/check_netcdf.sh
Owners: none

Additional FATAL ERROR messaging updates
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: none

Do not try to collect ecen, esfc logs on first cycle
  parm/archive/enkf.yaml.j2
Owners: none

Move staticmethod for compatability with older Python versions
  ush/python/pygfs/task/archive.py
Owners: none

Additional FATAL ERROR messaging updates (#2606)
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: none

wip
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Allow forecast to generate 24-hr CICE at non-00Z
  ush/forecast_postdet.sh
Owners: none

Update resources for C384 GEFS runs
  parm/config/gefs/config.resources
  parm/config/gefs/config.ufs
Owners: none

include rm RUNDIRS step before creating experement in case it is a rerun
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

Add remove RUNDIRS step in CI before creating experements (#2607)
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

Remove some unnecessary braces
  ush/forecast_postdet.sh
Owners: none

End of day/week commit
  jobs/JGLOBAL_SNOW_ENSEMBLE_ANALYSIS
  parm/config/gfs/config.esnowanl
  ush/python/pygfs/task/snow_analysis.py
  ush/python/pygfs/task/snowens_analysis.py
  workflow/applications/gfs_cycled.py
Owners: @WalterKolczynski-NOAA, @aerorahul

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
