Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

added more details to testing Configuration updates and consolidation of paths
  ci/scripts/tests/run_setup_xml.sh
  ci/scripts/tests/test_rocotostat.py
  ci/scripts/tests/test_setup.py
  ci/scripts/tests/testdata/rocotostat/.gitkeep
  ci/scripts/tests/testdata/rocotostat_stalled/.gitkeep
Owners: @TerrenceMcGuinness-NOAA

few shell norms
  ci/scripts/tests/run_setup_xml.sh
Owners: @TerrenceMcGuinness-NOAA

self test no op
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

pynorm spaces in test codes
  ci/scripts/tests/test_rocotostat.py
  ci/scripts/tests/test_setup.py
Owners: @TerrenceMcGuinness-NOAA

Pregenerate sed-searchable paths.
  scripts/exgfs_wave_post_pnt.sh
Owners: @JessicaMeixner-NOAA

Modify routine to determine CICE filenames
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

Revert "Update resources for C384 GEFS runs"
  parm/config/gefs/config.resources
  parm/config/gefs/config.ufs
Owners: none

Remove whitespace
  ush/forecast_postdet.sh
Owners: none

moved shell script that performs the export to the test code and added a check for the users value not in the parm
  ci/scripts/tests/run_setup_xml.sh
  ci/scripts/tests/test_setup.py
Owners: @TerrenceMcGuinness-NOAA

single pynorm white space
  ci/scripts/tests/test_setup.py
Owners: @TerrenceMcGuinness-NOAA

added HOMEgfs and checked for no UNKNOWN
  ci/scripts/tests/test_setup.py
Owners: @TerrenceMcGuinness-NOAA

Rename fv3 yamls to atmosphere yamls
  parm/stage/atmosphere_cold.yaml.j2
  parm/stage/atmosphere_nest.yaml.j2
  parm/stage/atmosphere_warm.yaml.j2
  ush/python/pygfs/task/stage.py
Owners: none

Add time loop for some staging
  parm/gdas/staging/atm_lgetkf_bkg.yaml.j2
  parm/gdas/staging/atm_var_bkg.yaml.j2
  parm/gdas/staging/atm_var_fv3ens.yaml.j2
Owners: none

removed superfluous logging
  ush/python/pygfs/task/marine_letkf.py
Owners: none

Add more corrections
  ush/gefs_ocnice_extractvars.sh
Owners: none

Simplify ocnice extractvars script
  ush/gefs_ocnice_extractvars.sh
Owners: none

Remove unused variable
  scripts/exglobal_extractvars.sh
  ush/gefs_ocnice_extractvars.sh
Owners: none

Update S4 POC info
  docs/source/hpc.rst
  docs/source/init.rst
Owners: none

Add more corrections
  ush/gefs_ocnice_extractvars.sh
Owners: none

Clean up wave script in extractvars task
  ush/gefs_atmos_extractvars.sh
  ush/gefs_wav_extractvars.sh
Owners: none

Add more fixes to wave script in extractvars
  ush/gefs_wav_extractvars.sh
Owners: none

Enable wcoss2 ufsda build and module load (#2620)
  ci/cases/pr/C96C48_ufs_hybatmDA.yaml
  ci/scripts/clone-build_ci.sh
  sorc/build_all.sh
  ush/load_ufsda_modules.sh
Owners: @TerrenceMcGuinness-NOAA

Define COM directories for extractvars task
  jobs/JGLOBAL_EXTRACTVARS
  parm/config/gfs/config.com
  scripts/exglobal_extractvars.sh
  ush/gefs_wav_extractvars.sh
Owners: none

Fix for ValueError (#2653)
  ush/wdqms.py
Owners: none

Update S4 point of contact in docs (#2660)
  docs/source/hpc.rst
  docs/source/init.rst
Owners: none

Address spelcheck issue
  ush/forecast_predet.sh
Owners: none

Add modifications to parsing_namelist script
  ush/parsing_namelists_FV3.sh
Owners: none

First pass for parsing script
  ush/parsing_namelists_FV3.sh
Owners: none

Update MOM6 namelist
  global_control.nml.IN
  ush/parsing_namelists_FV3.sh
  ush/parsing_namelists_MOM6.sh
Owners: none

Correct issue in forecast_predet from spellcheck
  ush/forecast_predet.sh
Owners: none

Address spellchecks and remove commented out lines
  ush/forecast_predet.sh
Owners: none

Initial commit
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmensanl
  parm/config/gfs/yaml/defaults.yaml
Owners: none

Update parm/config/gfs/config.aeroanlgenb
  parm/config/gfs/config.aeroanlgenb
Owners: none

specify location of sensor in filename
  ush/python/pygfs/task/aero_prepobs.py
Owners: none

update job name in archive step
  parm/archive/arcdir.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gfsa.yaml.j2
Owners: none

style, separated fix file yaml
  parm/config/gfs/config.ocnanal
  ush/python/pygfs/task/marine_letkf.py
Owners: none

removed {} from script string
  ci/scripts/tests/test_setup.py
Owners: @TerrenceMcGuinness-NOAA

update model and module files - reversing update needed for wave jobs to work while spack inconsistent bt workflow and ww3/ufs
  jobs/rocoto/waveinit.sh
  jobs/rocoto/wavepostbndpnt.sh
  jobs/rocoto/wavepostbndpntbll.sh
  jobs/rocoto/wavepostpnt.sh
  jobs/rocoto/wavepostsbs.sh
  jobs/rocoto/waveprep.sh
Owners: none

removed gsi_utils from Runner
  .github/workflows/ci-unit_tests.yaml
Owners: none

did not need detect machine in gsi utils
  .github/workflows/ci-unit_tests.yaml
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
