Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

modified master_gefs.yaml.j2
  parm/archive/master_gefs.yaml.j2
Owners: none

modified master_gefs.yaml.j2
  parm/archive/master_gefs.yaml.j2
Owners: none

modified gefs yaml files
  parm/archive/gefs_atmos.yaml.j2
  parm/archive/gefs_ice.yaml.j2
  parm/archive/gefs_ocean.yaml.j2
  parm/archive/gefs_wave.yaml.j2
Owners: none

modified gefs_wave.yaml.j2
  parm/archive/gefs_wave.yaml.j2
Owners: none

Stage multifile (FMS) increments and update GDAS hash
  ush/forecast_postdet.sh
Owners: none

Add new UPP links to .gitignore (#2904)
  .gitignore
  sorc/link_workflow.sh
Owners: none

Update GDAS hash and update finalize jobs in atmanl and atmensanl
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

pynorms
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Stage multifile (FMS) increments and update GDAS hash
  ush/forecast_postdet.sh
Owners: none

...
  sorc/link_workflow.sh
Owners: none

Add metp dependency for gfscleanup #2899
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix bug and update GDAS hash
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Update gdas hash and update calcanl.py
  ush/python/pygfs/task/calcanl.py
Owners: none

only link cubed-sphere output files from the model when DO_JEDIATMVAR=YES
  ush/forecast_postdet.sh
Owners: none

the latests
  jobs/JGLOBAL_MARINE_ANALYSIS_LETKF
  parm/config/gfs/config.com
  ush/python/pygfs/task/marine_letkf.py
  ush/python/pygfs/utils/marine_da_utils.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

add bones to the fire blending in the prep_emissions job
  jobs/JGLOBAL_PREP_EMISSIONS
  parm/config/gefs/config.prep_emissions
  parm/config/gefs/config.resources
  parm/config/gfs/config.aero
  parm/config/gfs/config.resources
  parm/prep/aero_emissions.yaml
  parm/ufs/gocart/ExtData.hfed
  scripts/exglobal_prep_emissions.py
  ush/python/pygfs/task/aero_emissions.py
Owners: none

modified defaults.yaml
  parm/config/gefs/yaml/defaults.yaml
Owners: none

Disable native grid writes for non-JEDI experiments; update C384 compression options (#2914)
  parm/config/gefs/config.ufs
  parm/config/gfs/config.ufs
  ush/forecast_postdet.sh
  ush/parsing_model_configure_FV3.sh
Owners: none

pycodestyle
  ush/python/pygfs/task/aero_emissions.py
Owners: none

pycodestyle fixes
  ci/scripts/utils/publish_logs.py
  scripts/exglobal_prep_emissions.py
  scripts/exglobal_stage_ic.py
  ush/compare_f90nml.py
  ush/python/pygfs/task/aero_emissions.py
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/oceanice_products.py
  workflow/ecFlow/ecflow_definitions.py
  workflow/rocoto/gfs_tasks.py
  workflow/setup_expt.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

modified gefs.py
  workflow/applications/gefs.py
Owners: @WalterKolczynski-NOAA, @aerorahul

added config.cleanup to parm/config/gefs
  parm/config/gefs/config.cleanup
Owners: none

modified config.resources
  parm/config/gefs/config.resources
Owners: none

modified gefs.py
  workflow/applications/gefs.py
Owners: @WalterKolczynski-NOAA, @aerorahul

modifed gefs_tasks.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

modifed gefs_tasks.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

modified gefs_tasks.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

modified gefs.py
  workflow/applications/gefs.py
Owners: @WalterKolczynski-NOAA, @aerorahul

removed envar test yaml
  ci/cases/pr/C48mx500_hybAOWCDA.yaml
Owners: @TerrenceMcGuinness-NOAA

fix prep_emission jjob
  jobs/JGLOBAL_PREP_EMISSIONS
Owners: none

Update RTOFS version in Release_Notes.md
  docs/Release_Notes.md
Owners: none

adding _TMPL on suffix of COM_ATMOS_HISTORY and COM_ATMOS_MASTER
  jobs/JGLOBAL_ATMOS_UPP
Owners: @WenMeng-NOAA, @aerorahul

norms, try 1
  jobs/JGLOBAL_MARINE_ANALYSIS_CHECKPOINT
  ush/python/pygfs/task/marine_analysis.py
  ush/python/pygfs/task/marine_bmat.py
  ush/python/pygfs/utils/marine_da_utils.py
Owners: none

norms, try 2
  scripts/exglobal_marine_analysis_checkpoint.py
  ush/python/pygfs/task/marine_analysis.py
  ush/python/pygfs/task/marine_bmat.py
Owners: none

norms, try 3
  ush/python/pygfs/task/marine_bmat.py
Owners: none

Support gefs C48 on Azure (#2881)
  env/AZUREPW.env
  parm/config/gefs/config.base
  parm/config/gefs/config.resources
  parm/config/gefs/config.resources.AZUREPW
  workflow/hosts/azurepw.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Update WCOSS2.env
  env/WCOSS2.env
Owners: none

modified config.cleanup
  parm/config/gefs/config.cleanup
Owners: none

add 1 deg ocean/ice info
  parm/config/gfs/config.resources
Owners: none

removed config.cleanup
  parm/config/gefs/config.cleanup
Owners: none
