Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

turned off failFast and made file hlding all the errror logs unique to pslot name
  ci/Jenkinsfile
  ci/scripts/run-check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

failFast false syntax
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

build and run on hera for Rocky 8
  sorc/setup_case.sh
  versions/build.hera.ver
  versions/run.hera.ver
  versions/run.spack.ver
Owners: none

removed post and added a finilize stage that only marks success and made fail inside matrix
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Add new data sources used in GFS v16.3.12 (#2283)
  scripts/exglobal_atmos_analysis.sh
  versions/build.wcoss2.ver
  versions/run.wcoss2.ver
Owners: @RussTreadon-NOAA

Had new brakets wrong
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

remoted timestamp and quote errrors
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

removed escapes to tics on home
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

misstyped script again and gave full path to error log file
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

groovy uses double back slash to escape trying to get tic markdown in message to GitHug
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

just some fine tunning on format
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

just some fine tunning on format still
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

one more iteration on format
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

move failFast not up one level
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

remove all fail fasts and forced error
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Change COM_OBS_IN to COMIN_OBS and change COM_OBS_OUT to COMOUT_OBS.
  jobs/JGLOBAL_PREP_SNOW_OBS
  ush/python/pygfs/task/snow_analysis.py
Owners: none

Remove duplicates and replace Python function in1d with function merge for matching rows with selected columns between two data frames
  ush/wdqms.py
Owners: none

Remove duplicates and replace Pychon function in1d with merge for matching rows with selected columns between two data frames
  ush/wdqms.py
Owners: none

added bufr2ioda links to gitignore
  .gitignore
Owners: none

Follow-up fixes for gfs post process.
  parm/product/gfs.anl.paramlist.a.txt
  parm/product/gfs.f000.paramlist.a.txt
  parm/product/gfs.fFFF.paramlist.a.txt
  scripts/exglobal_atmos_products.sh
  ush/forecast_postdet.sh
Owners: none

Remove commented lines
  scripts/exglobal_atmos_products.sh
  ush/forecast_postdet.sh
Owners: none

Flip the build for GFS and GEFS with waves (#2462)
  ci/cases/yamls/build.yaml
  ci/scripts/clone-build_ci.sh
  docs/source/clone.rst
  sorc/build_all.sh
  sorc/build_ufs.sh
  sorc/build_ww3prepost.sh
Owners: @TerrenceMcGuinness-NOAA

Update flux file naming convention
  ush/hpssarch_gen.sh
Owners: none

More updates in flux file name in hpssarch_gen.sh.
  ush/hpssarch_gen.sh
Owners: none

add noaacloud module for AWS
  modulefiles/module_base.noaacloud.lua
  modulefiles/module_gwci.noaacloud.lua
  modulefiles/module_gwsetup.noaacloud.lua
  ush/module-setup.sh
Owners: none

Improve ERROR messages in forecast_postdet.sh
  ush/forecast_postdet.sh
Owners: none

Use of JCB for gdas 3dvar
  .gitignore
  parm/config/gfs/config.atmanl
  sorc/link_workflow.sh
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Correct missing L from prior edits
  ush/forecast_postdet.sh
Owners: none

Additional fatal error improvement
  ush/forecast_postdet.sh
Owners: none

Update archive protocol function, add templates.
  jobs/run_archive.sh
  parm/archive/gdas.yaml.j2
  parm/archive/gdas_ice.yaml.j2
  parm/archive/gdas_ice_restart.yaml.j2
  parm/archive/gdas_ocean_6hravg.yaml.j2
  parm/archive/gdas_ocean_daily.yaml.j2
  parm/archive/gdas_ocean_grib2.yaml.j2
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/gdas_restartb.yaml.j2
  parm/archive/gdas_wave_restart.yaml.j2
  scripts/call_archive.py
  ush/python/pygfs/task/archive.py
Owners: none

remove left over prints
  ush/python/pygfs/task/analysis.py
Owners: none

unused import
  ush/python/pygfs/task/analysis.py
Owners: none

add DBNAlert and update output filename per EE2 convention
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: none

Check DO_JEDISNOWDA condition before adding snow DA analysis to the list.
  ush/hpssarch_gen.sh
Owners: none

Made suggested changes.
  ush/hpssarch_gen.sh
Owners: none

Change LAND to SNOW in config.base.
  parm/config/gfs/config.base
Owners: none

Slight refactoring of analysis jobs
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmanlfv3inc
  parm/config/gfs/config.atmanlvar
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
  ush/python/pygfs/task/snow_analysis.py
Owners: none

refactor the way obs are decided
  .gitignore
  parm/config/gfs/config.atmanl
  parm/gdas/atm.yaml.j2
  sorc/link_workflow.sh
  ush/python/pygfs/task/analysis.py
Owners: none

remove rogue atm file
  parm/gdas/atm.yaml.j2
Owners: none

remove unused import
  ush/python/pygfs/task/analysis.py
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
