Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

Clean up HOME* variables
  parm/config/gefs/config.atmos_products
  parm/config/gefs/config.base.emc.dyn
  parm/config/gefs/config.fcst
  parm/config/gefs/config.ufs
  parm/config/gfs/config.aero
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmensanl
  parm/config/gfs/config.atmos_products
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.efcs
  parm/config/gfs/config.fcst
  parm/config/gfs/config.fit2obs
  parm/config/gfs/config.oceanice_products
  parm/config/gfs/config.postsnd
  parm/config/gfs/config.prep
  parm/config/gfs/config.prepsnowobs
  parm/config/gfs/config.snowanl
  parm/config/gfs/config.ufs
  parm/config/gfs/config.upp
  parm/config/gfs/yaml/test_ci.yaml
  parm/gdas/atm_jedi_fix.yaml
  parm/gdas/snow_jedi_fix.yaml
  parm/post/oceanice_products.yaml
  parm/post/upp.yaml
  scripts/exglobal_forecast.sh
  ush/radmon_err_rpt.sh
  ush/syndat_qctropcy.sh
  ush/tropcy_relocate.sh
Owners: none

Sort list of coupler restart files for file_array.
  ush/forecast_det.sh
Owners: none

Update requested by reviewer.
  sorc/build_all.sh
Owners: none

Committing prior to clean clone and build.
  sorc/build_all.sh
  sorc/build_gdas.sh
  sorc/build_ufs.sh
  sorc/build_ufs_utils.sh
  sorc/build_upp.sh
Owners: none

GEFS stage ICs for C384 and with ocean perturbations
  parm/config/gefs/config.stage_ic
  scripts/exglobal_stage_ic.sh
Owners: none

Update gsd_prep_chem tag to gefs_v12.3.9
  sorc/checkout.sh
Owners: none

Update gsd_prep_chem tag to gefs_v12.3.9 (#2362)
  sorc/checkout.sh
Owners: none

Clean out additional unneeded HOMEgfs settings
  jobs/JGDAS_ATMOS_GEMPAK_META_NCDC
  jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG
  jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF
  jobs/JGFS_ATMOS_POSTSND
  jobs/JGLOBAL_ATMOS_POST_MANAGER
  ush/fv3gfs_remap.sh
Owners: @GwenChen-NOAA, @WenMeng-NOAA, @lgannoaa

Move Jenkinsfile into ci subdirectory (#2355)
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

STY: Skip shell check of command return
  ush/forecast_det.sh
Owners: none

turn on ci/cases/pr/C48mx500_3DVarAOWCDA test on hera
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
Owners: @TerrenceMcGuinness-NOAA

patch on HWs pr
  sorc/build_all.sh
  sorc/build_gdas.sh
  sorc/build_gfs_utils.sh
  sorc/build_gsi_enkf.sh
  sorc/build_gsi_monitor.sh
  sorc/build_gsi_utils.sh
  sorc/build_ufs_utils.sh
  sorc/build_upp.sh
  sorc/build_ww3prepost.sh
  ush/module-setup.sh
Owners: none

random bugfix
  ush/python/pygfs/task/aero_analysis.py
Owners: none

edits for option to stage ocean perturbation files
  parm/config/gefs/config.base.emc.dyn
  parm/config/gefs/config.stage_ic
  scripts/exglobal_stage_ic.sh
Owners: none

bug fix.
  parm/config/gfs/config.anal
Owners: none

replace nc4 with nc in setup_exp.py, correct JEDI DA var and ens bug in resource setting (#2294)
  parm/config/gfs/config.atmanlinit
  parm/config/gfs/config.atmanlrun
  parm/config/gfs/config.atmensanlinit
  parm/config/gfs/config.atmensanlrun
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update exglobal_stage_ic.sh
  scripts/exglobal_stage_ic.sh
Owners: none

ci self test no operation entry
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

remove extra git action files
  .github/workflows/getlabels.yaml
  .github/workflows/orion_status.yaml
Owners: none

Clean up merge, resolve spelling issues.
  parm/config/gfs/config.anal
  scripts/exgdas_enkf_update.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

added skip host Orion on gefs case for this first pass self test
  ci/cases/pr/C48_S2SWA_gefs.yaml
Owners: @TerrenceMcGuinness-NOAA

Turn on C48mx500_3DVarAOWCDA test on hera (#2363)
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
Owners: @TerrenceMcGuinness-NOAA

Change EXECbufrsnd to EXECgfs in gfs_sndp.sh
  ush/gfs_sndp.sh
Owners: none

apply shellcheck fixes
  sorc/build_all.sh
  sorc/build_gdas.sh
Owners: none

Update scripts/exglobal_stage_ic.sh
  scripts/exglobal_stage_ic.sh
Owners: none

Update scripts/exglobal_stage_ic.sh
  scripts/exglobal_stage_ic.sh
Owners: none

gefs is not supported on bash orion
  ci/cases/pr/C48_S2SWA_gefs.yaml
Owners: @TerrenceMcGuinness-NOAA

Update sorc/build_all.sh to eliminate upp special handling.
  sorc/build_all.sh
Owners: none

removed most messaging to gitHut and wrapped label updates with try catches so they do not error on authenticating with GitHub
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

adjust JEDI atm var configuration (#2294)
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
  parm/config/gfs/config.atmanl
Owners: @TerrenceMcGuinness-NOAA

Update stage IC to handle ocean perturbations (#2364)
  parm/config/gefs/config.base.emc.dyn
  parm/config/gefs/config.stage_ic
  scripts/exglobal_stage_ic.sh
Owners: none

Sort list of coupler restart files for restart time determination (#2360)
  ush/forecast_det.sh
Owners: none

Updated the gsi fix version. Added GSI_SOILANAL to a template.
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/yaml/defaults.yaml
  versions/fix.ver
Owners: none

Update sorc/build_gdas.sh to add trailing space.
  sorc/build_gdas.sh
Owners: none

Update sorc/build_gdas.sh to force clean build directory with every invocation
  sorc/build_gdas.sh
Owners: none

Adding debug option for all build scripts (#2326)
  sorc/build_all.sh
  sorc/build_gdas.sh
  sorc/build_gfs_utils.sh
  sorc/build_gsi_enkf.sh
  sorc/build_gsi_monitor.sh
  sorc/build_gsi_utils.sh
  sorc/build_ufs.sh
  sorc/build_ufs_utils.sh
  sorc/build_upp.sh
  sorc/build_ww3prepost.sh
  ush/module-setup.sh
Owners: none

Add gsi-monitor support for Hercules.
  modulefiles/module_base.hercules.lua
  parm/config/gfs/config.base.emc.dyn
  versions/run.hercules.ver
Owners: none

Reduce Jenkins messaging to GitHub (#2370)
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

remove atms_n20 from setup_expt.py (#2294)
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

reformat snowDA templates to jinja2 and test
  .gitignore
  .gitmodules
  parm/gdas/snow_jedi_fix.yaml
  parm/gdas/snow_jedi_fix.yaml.j2
  sorc/link_workflow.sh
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/snow_analysis.py
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
