Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

patch to reviewer comments on PR 2094
  jobs/rocoto/awips_20km_1p0deg.sh
  jobs/rocoto/awips_g2.sh
  parm/config/gfs/config.awips
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Moved weekly cases files into pr for high resolution testing
  ci/cases/pr/C384C192_hybatmda.yaml
  ci/cases/pr/C384_S2SWA.yaml
  ci/cases/pr/C384_atm3DVar.yaml
  ci/cases/pr/C48_ATM.yaml
  ci/cases/pr/C48_S2SW.yaml
  ci/cases/pr/C48_S2SWA_gefs.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
Owners: @TerrenceMcGuinness-NOAA

Move the IMS data processing from preplandobs task to landanl task.
  env/HERA.env
  jobs/rocoto/landanl.sh
  jobs/rocoto/landensanl.sh
  parm/config/gfs/config.landanl
  parm/config/gfs/config.preplandobs
  scripts/exglobal_prep_land_obs.py
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/land_analysis.py
Owners: none

Remove the comments
  scripts/exglobal_prep_land_obs.py
Owners: none

Upgrade to spack-stack/1.5.1 and Intel 2022 on non-production machines (#2084)
  jobs/rocoto/anal.sh
  jobs/rocoto/efcs.sh
  jobs/rocoto/eobs.sh
  jobs/rocoto/eupd.sh
  jobs/rocoto/fcst.sh
  jobs/rocoto/post.sh
  jobs/rocoto/prep.sh
  modulefiles/module_base.hera.lua
  modulefiles/module_base.jet.lua
  modulefiles/module_base.orion.lua
  modulefiles/module_base.s4.lua
  modulefiles/module_gwci.hera.lua
  modulefiles/module_gwci.orion.lua
  modulefiles/module_gwsetup.hera.lua
  modulefiles/module_gwsetup.jet.lua
  modulefiles/module_gwsetup.orion.lua
  modulefiles/module_gwsetup.s4.lua
  modulefiles/module_gwsetup.wcoss2.lua
  parm/config/gefs/config.base.emc.dyn
  parm/config/gfs/config.base.emc.dyn
  scripts/exgfs_atmos_awips_20km_1p0deg.sh
  scripts/exgfs_atmos_grib_awips.sh
  scripts/exglobal_diag.sh
  sorc/checkout.sh
  sorc/link_workflow.sh
  ush/getncdimlen
  ush/gsi_utils.py
  versions/build.hera.ver
  versions/build.jet.ver
  versions/build.orion.ver
  versions/build.s4.ver
  versions/build.spack.ver
  versions/run.hera.ver
  versions/run.jet.ver
  versions/run.orion.ver
  versions/run.s4.ver
  versions/run.spack.ver
Owners: none

clean-up logic in rocoto/upp.sh
  jobs/rocoto/upp.sh
Owners: none

Increase memory allocation for gdasediag
  ecf/scripts/enkfgdas/analysis/create/jenkfgdas_diag.ecf
  parm/config/config.resources.emc.dyn
  parm/config/config.resources.nco.static
Owners: @lgannoaa

Add back 1.25 deg WAFS blending on top of PR#2100 https://github.com/NOAA-EMC/global-workflow/pull/2100
  ecf/defs/gfs_v16_3.def
Owners: @lgannoaa

Update ci/scripts/utils/ci_utils.sh
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

Robust CI Restarts (#2093)
  ci/platforms/config.orion
  ci/scripts/check_ci.sh
  ci/scripts/clone-build_ci.sh
  ci/scripts/driver.sh
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

added no operation line to driver.sh for a ci self test after update
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Consolidate VMINMON and cleanup monitor scripts (#2088)
  .gitignore
  fix/product/gfs_minmon_cost.txt
  fix/product/gfs_minmon_gnorm.txt
  jobs/JGDAS_ATMOS_VERFOZN
  jobs/JGDAS_ATMOS_VERFRAD
  jobs/JGDAS_ATMOS_VMINMON
  jobs/JGFS_ATMOS_VMINMON
  jobs/JGLOBAL_ATMOS_VMINMON
  jobs/rocoto/vminmon.sh
  parm/config/gfs/config.verfozn
  parm/config/gfs/config.verfrad
  parm/config/gfs/config.vminmon
  scripts/exgdas_atmos_verfozn.sh
  scripts/exgdas_atmos_verfrad.sh
  scripts/exgfs_atmos_vminmon.sh
  scripts/exglobal_atmos_vminmon.sh
  sorc/link_workflow.sh
  ush/ozn_xtrct.sh
  ush/radmon_diag_ck.sh
  ush/radmon_err_rpt.sh
  ush/radmon_verf_angle.sh
  ush/radmon_verf_bcoef.sh
  ush/radmon_verf_bcor.sh
  ush/radmon_verf_time.sh
Owners: @EdwardSafford-NOAA

Update index.rst for new GFSv16.3.11 version
  docs/source/index.rst
Owners: none

remove pgrb.1p00 products per suggestion from @WenMeng-NOAA
  parm/config/gfs/config.atmos_products
  scripts/exglobal_atmos_products.sh
Owners: none

Update jobs/rocoto/awips_g2.sh
  jobs/rocoto/awips_g2.sh
Owners: none

Update awips_g2.sh
  jobs/rocoto/awips_g2.sh
Owners: none

GFSv16.3.11 - Enable the monitoring of NOAA-21 and GOES-18 radiances (#2117)
  Externals.cfg
  docs/Release_Notes.gfs.v16.3.11.md
  sorc/checkout.sh
  versions/build.ver
  versions/run.ver
Owners: none

Apply suggestions from code review
  jobs/rocoto/atmos_products.sh
  jobs/rocoto/upp.sh
  scripts/exglobal_atmos_products.sh
Owners: none

remove stack_intel and stack_impi versions from build.spack.ver. These are machine controlled
  versions/build.spack.ver
Owners: none

Splits AWIPS jobs into seperate tasks (#2094)
  jobs/rocoto/awips_20km_1p0deg.sh
  jobs/rocoto/awips_g2.sh
  parm/config/gfs/config.awips
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

update dependency on awips_g2 task
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update index.rst for new GFSv16.3.11 version (#2121)
  docs/source/index.rst
Owners: none

Update jobs/rocoto/atmos_products.sh
  jobs/rocoto/atmos_products.sh
Owners: none

Update jobs/rocoto/upp.sh
  jobs/rocoto/upp.sh
Owners: none

Added GEMPAK applications.
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Updated valid tasks.
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Updated GFS and GDAS tasks.
  workflow/applications/gfs_cycled.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Updated Rocoto jobs.
  jobs/rocoto/gempakmeta.sh
  jobs/rocoto/gempakmetancdc.sh
  jobs/rocoto/gempakncdcupapgif.sh
  jobs/rocoto/gempakpgrb2spec.sh
Owners: none

Updated applications and tasks.
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Updated NPOESS tasks as requested by the reviewer.
  jobs/rocoto/npoess.sh
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Updated dependency.
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Added NPOESS to GEMPAK as requested by reviewer.
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Grouped related tasks.
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Initial Hercules port. #1588
  README.md
  docs/note_fixfield.txt
  docs/source/clone.rst
  docs/source/components.rst
  docs/source/hpc.rst
  docs/source/init.rst
  docs/source/start.rst
  env/HERCULES.env
  modulefiles/module-setup.csh.inc
  modulefiles/module-setup.sh.inc
  modulefiles/module_base.hercules.lua
  modulefiles/module_gwci.hercules.lua
  modulefiles/module_gwsetup.hercules.lua
  parm/config/gefs/config.resources
  parm/config/gefs/config.ufs
  parm/config/gfs/config.aero
  parm/config/gfs/config.resources
  parm/config/gfs/config.ufs
  sorc/link_workflow.sh
  ush/detect_machine.sh
  ush/load_fv3gfs_modules.sh
  ush/module-setup.sh
  versions/build.hercules.ver
  versions/run.hercules.ver
  workflow/hosts.py
  workflow/hosts/hercules.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Rocoto job scripts.
  jobs/rocoto/gempakmeta.sh
  jobs/rocoto/gempakmetancdc.sh
  jobs/rocoto/gempakncdcupapgif.sh
  jobs/rocoto/gempakpgrb2spec.sh
Owners: none

Updates for Rocoto NPOESS job script.
  jobs/rocoto/npoess.sh
Owners: none

Updated Rocoto applications/tasks.
  workflow/applications/applications.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Updated Rocoto tasks.
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Updated GFS tasks.
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Updated GFS forecast applications.
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
Owners: @WalterKolczynski-NOAA, @aerorahul

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
