Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

add in stub scripts
  jobs/JGLOBAL_ANALYSIS_STATS
  jobs/rocoto/anlstat.sh
  scripts/exglobal_analysis_stats.py
Owners: none

EOLs
  jobs/JGLOBAL_ANALYSIS_STATS
  jobs/rocoto/anlstat.sh
  scripts/exglobal_analysis_stats.py
Owners: none

Address pynorms errors
  ush/python/pygfs/task/stage_ic.py
Owners: none

make gefs run on AWS
  parm/config/gefs/config.resources.AWSPW
  scripts/exgfs_wave_post_pnt.sh
  workflow/rocoto/rocoto.py
Owners: @JessicaMeixner-NOAA, @WalterKolczynski-NOAA, @aerorahul

Compress first[last]_mem logic and remove unused variable
  ush/python/pygfs/task/stage_ic.py
  workflow/rocoto/gefs_tasks.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

initial commit of jedi local ensemble observer and solver jobs (#2415)
  env/HERCULES.env
  jobs/JGLOBAL_ATMENS_ANALYSIS_SOL
  jobs/rocoto/atmensanlsol.sh
  parm/config/gfs/config.atmensanlobs
  parm/config/gfs/config.atmensanlsol
  parm/config/gfs/config.resources
  scripts/exglobal_atmens_analysis_sol.py
  ush/python/pygfs/task/atmens_analysis.py
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Remove unneeded lines and update mem setup
  jobs/JGLOBAL_STAGE_IC
  ush/python/pygfs/task/stage_ic.py
Owners: none

run ATM forecast only on Google
  parm/config/gfs/config.base
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

test1
  parm/archive/gefs_arcdir.yaml.j2
  ush/python/pygfs/task/archive.py
Owners: none

add BREAKPOINTS variable
  ci/cases/yamls/gefs_replay_ci.yaml
Owners: @TerrenceMcGuinness-NOAA

test in gefs C48 case
  workflow/rocoto/workflow_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

fix pynorms error
  workflow/rocoto/workflow_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

fix pynorms error
  workflow/rocoto/workflow_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

working azure atm forecast only
  env/AZUREPW.env
  parm/config/gfs/config.base
  parm/config/gfs/config.resources.AWSPW
  workflow/rocoto/rocoto.py
Owners: @WalterKolczynski-NOAA, @aerorahul

fix shell checks
  parm/config/gefs/config.base
Owners: none

updated gefes_tasks.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

turn off fit2obs for jediatmvar (#2415)
  parm/config/gfs/config.base
Owners: none

use 'unset memory' in resource.AWSPW, instead of change it in rocoto.py
  parm/config/gefs/config.resources.AWSPW
  parm/config/gfs/config.resources.AWSPW
  workflow/rocoto/rocoto.py
Owners: @WalterKolczynski-NOAA, @aerorahul

use 'unset memory' in .resource.AZUREPW
  parm/config/gfs/config.resources.AZUREPW
  workflow/rocoto/rocoto.py
Owners: @WalterKolczynski-NOAA, @aerorahul

use /lustre instead of /contrib as working dir
  parm/config/gfs/config.resources.GOOGLEPW
  workflow/hosts/googlepw.yaml
  workflow/rocoto/rocoto.py
Owners: @WalterKolczynski-NOAA, @aerorahul

edit defult config.efc to be close to re-forecasting
  parm/config/gefs/config.efcs
Owners: none

update setup_expt.py to copy JEDI radiance bias correction files, update gdas.cd hash (#2415)
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

correct pynorm errors in setup_expt.py (#2415)
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

remove export APRUN="${APRUN}"
  env/AWSPW.env
Owners: none

add entries for lgetkf observer and solver jobs to machine specific env files, add marine entries to WCOSS2.env (#2415)
  env/HERA.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
Owners: none

Fix bug in variable check
  ush/extractvars_tools.sh
Owners: none

Add more settings to GEFS replay CI test
  ci/cases/yamls/gefs_replay_ci.yaml
  parm/config/gefs/config.base
  parm/config/gefs/yaml/defaults.yaml
Owners: @TerrenceMcGuinness-NOAA

Add atmos variables requested for reforeacst
  parm/product/gefs.0p25.fFFF.paramlist.b.txt
Owners: none

Reorganize TSNOWP in paramlist
  parm/product/gefs.0p25.fFFF.paramlist.b.txt
Owners: none

not worry about threads on wcoss
  env/WCOSS2.env
Owners: none

Extract ice variables from history file instead
  ush/ocnice_extractvars.sh
Owners: none

Fix typo
  ush/ocnice_extractvars.sh
Owners: none

Update TCDC variable to correct name
  parm/product/gefs.0p25.fFFF.paramlist.a.txt
  parm/product/gefs.0p25.fFFF.paramlist.b.txt
Owners: none

Separate stage yaml into component ones
  parm/config/gefs/config.stage_ic
  parm/config/gfs/config.stage_ic
  parm/stage/analysis.yaml.j2
  parm/stage/atmosphere_cold.yaml.j2
  parm/stage/atmosphere_nest.yaml.j2
  parm/stage/atmosphere_perturbation.yaml.j2
  parm/stage/atmosphere_warm.yaml.j2
  parm/stage/ice.yaml.j2
  parm/stage/master_gefs.yaml.j2
  parm/stage/master_gfs.yaml.j2
  parm/stage/ocean.yaml.j2
  parm/stage/ocean_mediator.yaml.j2
  parm/stage/ocean_replay.yaml.j2
  parm/stage/ocean_rerun.yaml.j2
  parm/stage/stage.yaml.j2
  parm/stage/wave.yaml.j2
  scripts/exglobal_stage_ic.py
  ush/python/pygfs/task/stage_ic.py
Owners: none

Remove enkfgdas from gdas/gfs stage dependency
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Correct resources for eupd, upp jobs @C768
  parm/config/gfs/config.resources.HERA
Owners: none

Add the repair job scripts
  jobs/JGEFS_ATMOS_ACC
  jobs/rocoto/repairf0306.sh
  parm/config/gefs/config.base
  parm/config/gefs/config.repairf0306
  parm/config/gefs/config.resources
  scripts/gefs_atmos_f0306.sh
  workflow/applications/gefs.py
Owners: @WalterKolczynski-NOAA, @aerorahul

revert sed separator change for now
  env/AWSPW.env
  scripts/exgfs_wave_post_pnt.sh
Owners: @JessicaMeixner-NOAA

change COMIN_ATMOS_MASTER into COMOUT_ATMOS_MASTER
  jobs/JGLOBAL_ATMOS_UPP
Owners: @WenMeng-NOAA, @aerorahul

revert sed separator change for now, more revert needed
  scripts/exgfs_wave_post_pnt.sh
Owners: @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
