Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

mod
  .gitmodules
Owners: none

update enkf sfc update
  scripts/exgdas_enkf_sfc.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Upload GDAS and GOES job scripts
  ecf/scripts/gdas/atmos/gempak/jgdas_atmos_gempak.ecf
  ecf/scripts/gfs/atmos/gempak/jgfs_atmos_pgrb2_spec_gempak.ecf
  jobs/JGDAS_ATMOS_GEMPAK
  jobs/JGFS_ATMOS_GEMPAK
  jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
  jobs/rocoto/gempakgrb2spec.sh
  scripts/exgdas_atmos_nawips.sh
  scripts/exgfs_atmos_goes_nawips.sh
Owners: @lgannoaa, @GwenChen-NOAA

more changes
  ci/cases/pr/C96_atmaerosnowDA.yaml
  parm/gdas/snow_finalize_ens_update.yaml.j2
  parm/gdas/snow_stage_ens_update.yaml.j2
  parm/gdas/snow_stage_orog.yaml.j2
  scripts/exgdas_enkf_sfc.sh
Owners: @TerrenceMcGuinness-NOAA, @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Fix resource tests
  parm/config/gfs/config.resources
Owners: none

Use -n instead of ! -z
  parm/config/gfs/config.resources
Owners: none

update ci case
  ci/cases/pr/C96_atmaerosnowDA.yaml
Owners: @TerrenceMcGuinness-NOAA

sync on hera and test
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Turn on HF output and metp in extended test
  ci/cases/yamls/gfs_extended_ci.yaml
  parm/config/gefs/config.base
  parm/config/gefs/yaml/defaults.yaml
  parm/config/gfs/config.base
  parm/config/gfs/yaml/defaults.yaml
Owners: @TerrenceMcGuinness-NOAA

Turn metp back off for extended test
  ci/cases/yamls/gfs_extended_ci.yaml
Owners: @TerrenceMcGuinness-NOAA

Replace BASE_CPLIC with BASE_IC
  parm/config/gefs/config.base
  parm/config/gfs/config.base
  workflow/hosts/gaea.yaml
  workflow/hosts/hera.yaml
  workflow/hosts/hercules.yaml
  workflow/hosts/jet.yaml
  workflow/hosts/orion.yaml
  workflow/hosts/s4.yaml
  workflow/hosts/wcoss2.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Declare one variable per line
  parm/config/gfs/config.resources
Owners: none

fix dependencies
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Use the environment bash for new config files
  parm/config/gfs/config.resources.GAEA
  parm/config/gfs/config.resources.HERA
  parm/config/gfs/config.resources.HERCULES
  parm/config/gfs/config.resources.JET
  parm/config/gfs/config.resources.S4
  parm/config/gfs/config.resources.WCOSS2
Owners: none

Declare one variable per line; unset dynamic variables
  parm/config/gfs/config.resources
Owners: none

Add comment on sourcing machine resources file
  parm/config/gfs/config.resources
Owners: none

ignore these bufr2ioda links
  .gitignore
Owners: none

fixing some bugs
  scripts/exgdas_enkf_sfc.sh
  workflow/rocoto/gfs_tasks.py
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA, @WalterKolczynski-NOAA, @aerorahul

Update ush/python/pygfs/task/aero_prepobs.py
  ush/python/pygfs/task/aero_prepobs.py
Owners: none

Update env/WCOSS2.env
  env/WCOSS2.env
Owners: none

Update ush/python/pygfs/task/aero_prepobs.py
  ush/python/pygfs/task/aero_prepobs.py
Owners: none

Update ush/python/pygfs/task/aero_prepobs.py
  ush/python/pygfs/task/aero_prepobs.py
Owners: none

Update config.base
  parm/config/gfs/config.base
Owners: none

Remove ocean daily files (#2689)
  parm/archive/master_gfs.yaml.j2
  parm/archive/ocean_daily.yaml.j2
  parm/ufs/fv3/diag_table
  ush/forecast_postdet.sh
Owners: none

Add observation preparation job for aerosols DA to workflow (#2624)
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGLOBAL_PREP_OBS_AERO
  jobs/rocoto/prepobsaero.sh
  parm/archive/arcdir.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gfsa.yaml.j2
  parm/config/gfs/config.base
  parm/config/gfs/config.prepobsaero
  parm/config/gfs/config.resources
  scripts/exglobal_archive.py
  scripts/exglobal_prep_obs_aero.py
  ush/python/pygfs/task/aero_prepobs.py
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update JGLOBAL_STAGE_IC for cycled mode
  jobs/JGLOBAL_STAGE_IC
Owners: none

Add ICSDIR setting to stage configs
  parm/config/gefs/config.stage_ic
  parm/config/gfs/config.stage_ic
Owners: none

Add cycled keys to exglobal_stage_ic.py
  scripts/exglobal_stage_ic.py
Owners: none

Add cycled analysis yaml to stage.py
  ush/python/pygfs/task/stage.py
Owners: none

Add cycled staging job to mesh
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Remove fill_ROTDIR function and update icsdir option
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

shellcheck
  jobs/JGLOBAL_PREP_SNOW_OBS
  jobs/JGLOBAL_SNOW_ANALYSIS
  jobs/JGLOBAL_SNOW_ENSEMBLE_ANALYSIS
  scripts/exgdas_enkf_sfc.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

more shellcheck
  scripts/exgdas_enkf_sfc.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Resolving conflict.
  parm/archive/ocean_daily.yaml.j2
Owners: none

updated Jenkinsfile with try block around scm checkout and beefed up Finilize
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

syntax error on if statment
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Addressed reviewer comments.
  parm/archive/arcdir.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gfsa.yaml.j2
Owners: none

Update wxflow hash and fix big in lgetkf staging file
  parm/gdas/staging/atm_lgetkf_bkg.yaml.j2
Owners: none

had up update Machine name for map
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

lower case on the keys for Node Name map
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
