Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

extra )
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

need double quotes to resolve env vars
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

take out sleep
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Fix build jobs for the UFS.
  sorc/build_ufs.sh
Owners: none

Fixed small omission
  parm/gdas/atm_jedi_fix.yaml.j2
Owners: none

Hotfix: send the correct number of build jobs for the UFS (#2423)
  sorc/build_ufs.sh
Owners: none

update ufs-weather-model hash to 126db7a5 and in the authoritative repo
  .gitmodules
Owners: none

add a newline at the end of diag_table_aod
  parm/ufs/fv3/diag_table_aod
Owners: none

increase memory for offline upp on wcoss2 for C768
  parm/config/gfs/config.resources
Owners: none

Update sorc/link_workflow.sh
  sorc/link_workflow.sh
Owners: none

Fix earc for which nmem isn't a multiple of 10.
  ush/hpssarch_gen.sh
Owners: none

Update parm/config/gfs/config.resources
  parm/config/gfs/config.resources
Owners: none

Update .gitmodules
  .gitmodules
Owners: none

Update parm/config/gfs/config.base
  parm/config/gfs/config.base
Owners: none

preppended HOME to eror log paths in the error.log file to pass to GitHub PR message
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

replace reset w/ purge for orion
  ush/module-setup.sh
Owners: none

re-aline files to develop
  ci/scripts/githubpr.py
  ci/scripts/pr_list_database.py
  ci/scripts/workflow
Owners: @TerrenceMcGuinness-NOAA

Add WAFS jobs, scripts and ush to GFS v17 workflow repository (#2412)
  .gitignore
  jobs/JGFS_ATMOS_WAFS
  jobs/JGFS_ATMOS_WAFS_BLENDING_0P25
  jobs/JGFS_ATMOS_WAFS_GCIP
  jobs/JGFS_ATMOS_WAFS_GRIB2
  jobs/JGFS_ATMOS_WAFS_GRIB2_0P25
  scripts/exgfs_atmos_wafs_blending_0p25.sh
  scripts/exgfs_atmos_wafs_gcip.sh
  scripts/exgfs_atmos_wafs_grib.sh
  scripts/exgfs_atmos_wafs_grib2.sh
  scripts/exgfs_atmos_wafs_grib2_0p25.sh
  ush/wafs_mkgbl.sh
Owners: none

Add release note for gfs.v16.3.15 - adding wdqms into global-workflow
  docs/Release_Notes.gfs.v16.3.15.md
Owners: none

syntax error in checkout if main error log file was present and non-zero
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

still had anogher syntax error in checkout if main error log file was present and non-zero
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

remove overwrite from fcst options
  parm/config/gefs/config.efcs
Owners: none

fix warnings
  scripts/exgdas_enkf_ecen.sh
  scripts/exgdas_enkf_sfc.sh
  scripts/exgdas_enkf_update.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

fix warnings 2
  scripts/exgdas_enkf_ecen.sh
  scripts/exgdas_enkf_sfc.sh
  scripts/exgdas_enkf_update.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

fix if statements
  scripts/exgdas_enkf_ecen.sh
  scripts/exgdas_enkf_sfc.sh
  scripts/exgdas_enkf_update.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

files needed when running 2011
  ush/forecast_postdet.sh
Owners: none

change location cdmbgwd is set
  parm/config/gefs/config.efcs
  parm/config/gefs/config.fcst
  ush/parsing_namelists_FV3.sh
Owners: none

needed base name for gist file name
  ci/scripts/utils/publish_logs.py
Owners: @TerrenceMcGuinness-NOAA

fixed file names in git as list and added delete funciton
  ci/scripts/utils/publish_logs.py
Owners: @TerrenceMcGuinness-NOAA

added some white spaces for readablity
  ci/scripts/utils/publish_logs.py
Owners: @TerrenceMcGuinness-NOAA

pynorm spaces in publish code
  ci/scripts/utils/publish_logs.py
Owners: @TerrenceMcGuinness-NOAA

fix shell check
  scripts/exgdas_enkf_sfc.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

had need varible to narrowly scoped
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Rename atmanlrun and atmanlinc to atmanlvar and atmanlfv3 respectively
  env/HERA.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGLOBAL_ATM_ANALYSIS_FV3_INCREMENT
  jobs/JGLOBAL_ATM_ANALYSIS_VARIATIONAL
  jobs/rocoto/atmanlfv3inc.sh
  jobs/rocoto/atmanlvar.sh
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmanlfv3inc
  parm/config/gfs/config.atmanlinc
  parm/config/gfs/config.atmanlrun
  parm/config/gfs/config.atmanlvar
  parm/config/gfs/config.resources
  scripts/exglobal_aero_analysis_variational.py
  scripts/exglobal_atm_analysis_fv3_increment.py
  scripts/exglobal_atm_analysis_variational.py
  sorc/link_workflow.sh
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

still got scope of error_logs_message to tight
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

comment if no error logs are found when cases fail
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

fixing already exits issue
  ci/scripts/utils/publish_logs.py
Owners: @TerrenceMcGuinness-NOAA

trying to fix if exixts
  ci/scripts/utils/githubpr.py
  ci/scripts/utils/publish_logs.py
Owners: @TerrenceMcGuinness-NOAA

still trying
  ci/scripts/utils/publish_logs.py
Owners: @TerrenceMcGuinness-NOAA

still try try
  ci/scripts/utils/githubpr.py
  ci/scripts/utils/publish_logs.py
Owners: @TerrenceMcGuinness-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
