Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

add label
  Jenkinsfile
Owners: none

noop change
  ci/scripts/noop
Owners: @TerrenceMcGuinness-NOAA

moving add Label around
  Jenkinsfile
Owners: none

added labels add in post SUCCESS
  Jenkinsfile
Owners: none

Moved weekly cases files into pr for high resolution testing
  ci/cases/pr/C384C192_hybatmda.yaml
  ci/cases/pr/C384_S2SWA.yaml
  ci/cases/pr/C384_atm3DVar.yaml
  ci/cases/pr/C48_ATM.yaml
  ci/cases/pr/C48_S2SW.yaml
  ci/cases/pr/C48_S2SWA_gefs.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
Owners: @TerrenceMcGuinness-NOAA

Create a new get_obs_dict for skipping the IMS data copies.
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/land_analysis.py
Owners: none

Interim commit to fix reflectivity
  parm/ufs/fv3/diag_table
  sorc/build_ufs.sh
Owners: none

added correct credntialsId for label add
  Jenkinsfile
Owners: none

removed credentials block
  Jenkinsfile
Owners: none

Add submodules to replace checkout script
  .gitignore
  .gitmodules
Owners: none

Delete checkout and update git ignore
  .gitignore
  sorc/checkout.sh
Owners: none

Remove manage externals and partial build
  Externals.cfg
  sorc/gfs_build.cfg
  sorc/partial_build.sh
Owners: none

Add build options to control build GSI and UFSDA
  sorc/build_all.sh
Owners: none

temporary files added
  workflow/coupled1152.sh
  workflow/coupled768.sh
Owners: @WalterKolczynski-NOAA, @aerorahul

updates to run with C768 on wcoss2
  env/WCOSS2.env
Owners: none

updates for wave configuration
  parm/config/gfs/config.ufs
  parm/config/gfs/config.wave
  parm/wave/glo_15mxt_interp.inp.tmpl
  parm/wave/wave_gfs.buoys
Owners: none

updated Node name
  Jenkinsfile
Owners: none

Update documentation for submodules
  docs/source/clone.rst
  docs/source/components.rst
  docs/source/run.rst
Owners: none

More documentation updates for submodule change
  docs/source/clone.rst
  docs/source/development.rst
  docs/source/init.rst
Owners: none

Update CI for submodule change
  ci/scripts/clone-build_ci.sh
  ci/scripts/driver_weekly.sh
Owners: @TerrenceMcGuinness-NOAA

Remove one commented-out git ignore
  .gitignore
Owners: none

Ignore dirty ufs_model submodule
  .gitmodules
Owners: none

Slight adjustment to CI checkout
  ci/scripts/driver_weekly.sh
Owners: @TerrenceMcGuinness-NOAA

Revert unintentional change in build_ufs
  sorc/build_ufs.sh
Owners: none

Turn on radar reflectivity in FV3 namelist
  parm/config/gefs/config.fcst
  parm/config/gfs/config.fcst
  ush/parsing_namelists_FV3.sh
Owners: none

Fix module load typo
  jobs/rocoto/upp.sh
Owners: none

Remove errant space in documentation
  docs/source/clone.rst
Owners: none

Fix module load typo (#2145)
  jobs/rocoto/upp.sh
Owners: none

Convert HERCULES.env to use cases. Update Hercules URL. #1588
  env/HERCULES.env
  ush/detect_machine.sh
Owners: none

Modify release note for gfs.v16.3.13
  docs/Release_Notes.gfs.v16.3.13.md
  versions/run.ver
Owners: none

Add MOS jobs to WCOSS env file
  env/WCOSS2.env
Owners: none

Create MOS configs and add DO_MOS switch
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.mos
  parm/config/gfs/config.mos_ext_grd_fcst
  parm/config/gfs/config.mos_ext_grd_prdgen
  parm/config/gfs/config.mos_ext_grd_prep
  parm/config/gfs/config.mos_ext_stn_fcst
  parm/config/gfs/config.mos_ext_stn_prdgen
  parm/config/gfs/config.mos_ext_stn_prep
  parm/config/gfs/config.mos_grd_fcst
  parm/config/gfs/config.mos_grd_prdgen
  parm/config/gfs/config.mos_grd_prep
  parm/config/gfs/config.mos_stn_fcst
  parm/config/gfs/config.mos_stn_prdgen
  parm/config/gfs/config.mos_stn_prep
  parm/config/gfs/config.mos_wx_ext_prdgen
  parm/config/gfs/config.mos_wx_prdgen
Owners: none

Create rocoto job scripts for MOS
  jobs/rocoto/mos_ext_grd_fcst.sh
  jobs/rocoto/mos_ext_grd_prdgen.sh
  jobs/rocoto/mos_ext_grd_prep.sh
  jobs/rocoto/mos_ext_stn_fcst.sh
  jobs/rocoto/mos_ext_stn_prdgen.sh
  jobs/rocoto/mos_ext_stn_prep.sh
  jobs/rocoto/mos_grd_fcst.sh
  jobs/rocoto/mos_grd_prdgen.sh
  jobs/rocoto/mos_grd_prep.sh
  jobs/rocoto/mos_stn_fcst.sh
  jobs/rocoto/mos_stn_prdgen.sh
  jobs/rocoto/mos_stn_prep.sh
  jobs/rocoto/mos_wx_ext_prdgen.sh
  jobs/rocoto/mos_wx_prdgen.sh
Owners: none

Add MOS jobs to resource config
  parm/config/gfs/config.resources
Owners: none

Add MOS modules for WCOSS2
  modulefiles/module_base.wcoss2.lua
  versions/run.wcoss2.ver
Owners: none

Add MOS jobs and new prepost flag to rocoto setup
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Wrap prepost in pbspro scheduler check
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Corrected formatting.
  scripts/exglobal_diag.sh
Owners: none

Resolve shellcheck SC2250 warnings in config.resources
  parm/config/gfs/config.resources
Owners: none

Clean up list of MOS configs and jobs in setup
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
Owners: @WalterKolczynski-NOAA, @aerorahul

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
