Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

revert to what had worked
  Jenkinsfile
Owners: none

remove steps
  Jenkinsfile
Owners: none

try parallel
  Jenkinsfile
Owners: none

try parallel run cases again
  Jenkinsfile
Owners: none

try parallel run cases again still
  Jenkinsfile
Owners: none

try parallel run cases again still 2
  Jenkinsfile
Owners: none

move parallel
  Jenkinsfile
Owners: none

move parallel yet again
  Jenkinsfile
Owners: none

move parallel yet again
  Jenkinsfile
Owners: none

agent node
  Jenkinsfile
Owners: none

agent node
  Jenkinsfile
Owners: none

working version
  Jenkinsfile
Owners: none

added get pslot list
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

added (sequential) run experments
  Jenkinsfile
  ci/scripts/run-check_ci.sh
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

added build all script in build all for real
  Jenkinsfile
Owners: none

forgot path for pslot list
  Jenkinsfile
Owners: none

rename ush/parsing_nems_configure.sh to ush/parsing_ufs_configure.sh and remove ush/ufs_configure.sh
  ush/parsing_ufs_configure.sh
  ush/ufs_configure.sh
Owners: none

Add the archive to save the snow analysis to hpss.
  jobs/JGLOBAL_ARCHIVE
  scripts/exglobal_archive.sh
  ush/hpssarch_gen.sh
Owners: none

Fix the shell check warning.
  scripts/exglobal_archive.sh
Owners: none

wip
  scripts/exglobal_forecast.sh
  ush/forecast_det.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/ufs_configure.sh
Owners: none

clear logs on controler by renaming Jenkinsfile
  Jenkinsfile_org
Owners: none

added case in create experiment
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

use MOM6 templates from ufs-weather-model
  .gitignore
  sorc/link_workflow.sh
  ush/forecast_postdet.sh
  ush/parsing_namelists_CICE.sh
  ush/parsing_namelists_MOM6.sh
Owners: none

local variables are used in parsing namelists. ignore shellcheck warnings
  ush/parsing_namelists_CICE.sh
  ush/parsing_namelists_MOM6.sh
Owners: none

add Jenkisfile back for new log
  Jenkinsfile
Owners: none

fix typos
  ush/parsing_model_configure_FV3.sh
  ush/parsing_namelists_CICE.sh
  ush/parsing_namelists_MOM6.sh
Owners: none

typo bug with pslot in get_pslot_list and uncomment build
  Jenkinsfile_org
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

bug misspelled ci run script
  Jenkinsfile
  Jenkinsfile_org
Owners: none

added rm RUNTESTS dir before createing experminets at the pipeline level
  Jenkinsfile
Owners: none

removed global RUNTESTS, was getting wrong WORKSPACE dir
  Jenkinsfile
Owners: none

removed RUNTEST var in one more place
  Jenkinsfile
Owners: none

Moved weekly cases files into pr for high resolution testing
  ci/cases/pr/C384C192_hybatmda.yaml
  ci/cases/pr/C384_S2SWA.yaml
  ci/cases/pr/C384_atm3DVar.yaml
  ci/cases/pr/C48_ATM.yaml
  ci/cases/pr/C48_S2SW.yaml
  ci/cases/pr/C48_S2SWA_gefs.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
Owners: @TerrenceMcGuinness-NOAA

SPELLED WORKSPACE WRONG
  Jenkinsfile
Owners: none

remove files no longer used in global-workflow. They are obtained from the UFSWM
  parm/ufs/fv3/data_table
  parm/ufs/mom6/MOM_input_template_025
  parm/ufs/mom6/MOM_input_template_050
  parm/ufs/mom6/MOM_input_template_100
  parm/ufs/mom6/MOM_input_template_500
Owners: none

use the DATA_TABLE template from UFSWM
  ush/parsing_namelists_FV3.sh
Owners: none

Remove HIRS from GSI processing (#2183)
  scripts/exglobal_atmos_analysis.sh
  scripts/exglobal_diag.sh
Owners: @RussTreadon-NOAA

Orog fix file reorg and fix directory variable standardization (#2181)
  jobs/JGLOBAL_WAVE_INIT
  jobs/JGLOBAL_WAVE_POST_BNDPNT
  jobs/JGLOBAL_WAVE_POST_BNDPNTBLL
  jobs/JGLOBAL_WAVE_POST_PNT
  jobs/JGLOBAL_WAVE_POST_SBS
  jobs/JGLOBAL_WAVE_PREP
  parm/config/gefs/config.base.emc.dyn
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.base.emc.dyn
  parm/gdas/aero_jedi_fix.yaml
  parm/ufs/fix/gfs/atmos.fixed_files.yaml
  parm/ufs/fix/gfs/land.fixed_files.yaml
  parm/ufs/fix/gfs/ocean.fixed_files.yaml
  scripts/exgdas_atmos_chgres_forenkf.sh
  scripts/exgdas_enkf_ecen.sh
  scripts/exgdas_enkf_sfc.sh
  scripts/exgfs_wave_nawips.sh
  scripts/exgfs_wave_prdgen_gridded.sh
  scripts/exglobal_atmos_analysis.sh
  scripts/exglobal_atmos_analysis_calc.sh
  scripts/exglobal_atmos_sfcanl.sh
  scripts/exglobal_forecast.sh
  ush/calcanl_gfs.py
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/fv3gfs_remap.sh
  ush/gaussian_sfcanl.sh
  ush/link_crtm_fix.sh
  ush/python/pygfs/task/land_analysis.py
  ush/syndat_qctropcy.sh
  versions/fix.ver
Owners: @JessicaMeixner-NOAA, @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Reorganize NPOESS scripts (#2166)
  jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS
  scripts/exgfs_atmos_grib2_special_npoess.sh
Owners: @WenMeng-NOAA

Stop Gempak pgrb2 spec from modifying $DATA (#2147)
  jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
Owners: @GwenChen-NOAA

move some variables from postdet to configs
  parm/config/gfs/config.ice
  parm/config/gfs/config.ocn
  ush/forecast_postdet.sh
  ush/parsing_model_configure_FV3.sh
  ush/parsing_namelists_CICE.sh
  ush/parsing_namelists_MOM6.sh
  ush/parsing_ufs_configure.sh
Owners: none
