Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

make account and hpss more generic
  ci/cases/gfsv17/ocnanal.yaml
Owners: @TerrenceMcGuinness-NOAA

be consistent with PR yamls
  ci/cases/gfsv17/C384mx025_3DVarAOWCDA.yaml
Owners: @TerrenceMcGuinness-NOAA

remove user-defined stmp/ptmp/tmp/etc to provide more consistency with other yamls
  ci/cases/gfsv17/ocnanal.yaml
Owners: @TerrenceMcGuinness-NOAA

RDHPCS Hera resource update for eupd task.
  parm/config/gfs/config.resources
Owners: none

remove hpss_project for consistency with ci tests
  ci/cases/gfsv17/ocnanal.yaml
Owners: @TerrenceMcGuinness-NOAA

Script to keep Jenkins Agent persistent from cron (#2634)
  ci/platforms/config.hera
  ci/platforms/config.hercules
  ci/platforms/config.orion
  ci/scripts/utils/launch_java_agent.sh
Owners: @TerrenceMcGuinness-NOAA

update obslist
  ci/cases/gfsv17/obs_list.yaml
  ci/cases/gfsv17/ocnanal.yaml
Owners: @TerrenceMcGuinness-NOAA

replay
  ush/forecast_postdet.sh
Owners: none

replay for control member
  ush/forecast_postdet.sh
Owners: none

FHROT is half_window
  ush/forecast_postdet.sh
Owners: none

Update ush/wave_tar.sh
  ush/wave_tar.sh
Owners: none

add acorn to list of not supported usfda platforms (#2602)
  ush/load_ufsda_modules.sh
Owners: none

Addresses reviewer comment.
  ush/gfs_bufr_netcdf.sh
Owners: none

correct comment
  ush/forecast_postdet.sh
Owners: none

style
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_LETKF
  ush/python/pygfs/task/marine_letkf.py
Owners: none

style
  ush/python/pygfs/task/marine_letkf.py
Owners: none

Update wave_tar.sh
  ush/wave_tar.sh
Owners: none

Addresses reviewer comment.
  scripts/exgfs_wave_post_gridded_sbs.sh
Owners: @JessicaMeixner-NOAA

add back run
  ush/python/pygfs/task/marine_letkf.py
Owners: none

Condense conditionals
  ush/python/pygfs/task/archive.py
Owners: none

merged in changes to rocoto check from develop
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Add scripts to process atmos reforecast variables
  parm/config/gefs/config.extractvars
  scripts/exglobal_extractvars.sh
  ush/gefs_atmos_extractvars.sh
Owners: none

Add parm files for extractvars task
  parm/product/gefs_shortparmlist_2d.parm
  parm/product/gefs_shortparmlist_3d_d.parm
  parm/product/gefs_shortparmlist_3d_h.parm
  parm/product/gefs_wav_shortparmlist.parm
Owners: none

added docstring to attempt_multiple_times in the rocoso stat code
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Add documentation to _construct_arcdir_set
  ush/python/pygfs/task/archive.py
Owners: none

Refine extractvars scripts
  parm/config/gefs/config.extractvars
  scripts/exglobal_extractvars.sh
  ush/gefs_atmos_extractvars.sh
Owners: none

Add corrections
  scripts/exglobal_extractvars.sh
Owners: none

tidying up AWS changes
  parm/config/gfs/config.stage_ic
  scripts/exglobal_atmos_products.sh
  scripts/exglobal_stage_ic.sh
  sorc/.gitignore
  sorc/build_all.sh
  sorc/com.slurm
  sorc/link_workflow.sh
  sorc/setup-case.sh
  ush/exglobal_prep_ocean_obs.py
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/load_fv3gfs_modules.sh
  ush/module-setup.sh
  workflow/hosts.py
  workflow/hosts/awspw.yaml
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/rocoto.py
  workflow/rocoto/tasks.py
  workflow/rocoto/workflow_xml.py
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

use wxflow on disk and added link_workflow and removed pip install wxflow
  .github/workflows/ci-unit_tests.yaml
Owners: none

misspelled link_workflow.sh
  .github/workflows/ci-unit_tests.yaml
Owners: none

add link up wxflow because virt env was not current
  .github/workflows/ci-unit_tests.yaml
Owners: none

Update ci/cases/gfsv17/ocnanal.yaml
  ci/cases/gfsv17/ocnanal.yaml
Owners: @TerrenceMcGuinness-NOAA

replay w/ cold start ics
  ush/forecast_postdet.sh
Owners: none

end of day commit
  parm/gdas/snow_stage_ens_update.yaml.j2
  sorc/link_workflow.sh
  ush/python/pygfs/task/snowens_analysis.py
Owners: none

moved making of wxflow links into test section
  .github/workflows/ci-unit_tests.yaml
Owners: none

Add C384mx025_3DVarAOWCDA yamls (#2625)
  ci/cases/gfsv17/C384mx025_3DVarAOWCDA.yaml
  ci/cases/gfsv17/ocnanal.yaml
Owners: @TerrenceMcGuinness-NOAA

removed pytest junit install
  .github/workflows/ci-unit_tests.yaml
Owners: none

handle ICs differently on AWS
  parm/config/gfs/config.stage_ic
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

handle ICs differently on AWS
  parm/config/gfs/config.stage_ic
Owners: none

Update parm/config/gfs/config.resources
  parm/config/gfs/config.resources
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
