Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

Revert "Proposed change to enkf.yaml.j2"
  parm/archive/enkf.yaml.j2
Owners: none

Adjust for re-rganization and renaming of UPP parm files
  sorc/link_workflow.sh
Owners: none

Account for new file names from UPP
  ush/forecast_predet.sh
Owners: none

Account for new file names from UPP
  ush/forecast_predet.sh
Owners: none

Fix error from my misunderstanding of how obs/sol jobs work for LETKF
  parm/archive/enkf.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gfsa.yaml.j2
  scripts/exglobal_atmens_analysis_initialize.py
  scripts/exglobal_atmens_analysis_obs.py
Owners: @RussTreadon-NOAA

Adjust file name to new names from UPP
  parm/post/upp.yaml
Owners: none

Set JCB algorithm depending on whether running in observer-solver mode or not
  parm/archive/gdas.yaml.j2
  parm/archive/gfsa.yaml.j2
  parm/config/gfs/config.atmensanl
  parm/config/gfs/yaml/defaults.yaml
Owners: none

update final git paths; trim GAEA.env to only running jobs
  env/GAEA.env
  modulefiles/module_base.gaea.lua
  workflow/hosts/gaea.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix error in JCB prototype file name
  parm/config/gfs/yaml/defaults.yaml
Owners: none

20240903 gfsv17 bufr package update
  env/WCOSS2.env
  parm/config/gfs/config.resources
  scripts/exgfs_atmos_postsnd.sh
  ush/gfs_bufr.sh
Owners: none

Address some comments
  parm/archive/enkf.yaml.j2
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

The perils of copypasta
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

update prepobs version number for Gaea
  modulefiles/module_base.gaea.lua
Owners: none

Add double quotes in ocnice_extractvars
  ush/ocnice_extractvars.sh
Owners: none

var init ok, run needs tlc
  env/CONTAINER.env
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY
  jobs/JGLOBAL_MARINE_ANALYSIS_INITIALIZE
  jobs/JGLOBAL_MARINE_ANALYSIS_VARIATIONAL
  jobs/JGLOBAL_MARINE_BMAT
  jobs/rocoto/marineanlinit.sh
  jobs/rocoto/marineanlvar.sh
  parm/archive/gdas.yaml.j2
  parm/config/gfs/config.marineanlinit
  parm/config/gfs/config.marineanlvar
  parm/config/gfs/config.ocnanalprep
  parm/config/gfs/config.ocnanalrun
  parm/config/gfs/config.resources
  scripts/exglobal_marine_analysis_initialize.py
  scripts/exglobal_marine_analysis_variational.py
  ush/python/pygfs/task/marine_analysis.py
  ush/python/pygfs/task/marine_bmat.py
  ush/python/pygfs/utils/marine_da_utils.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @guillaumevernieres, @WalterKolczynski-NOAA, @aerorahul

link aer using the 2013-2024 mean MERRA2 climatology
  ush/forecast_predet.sh
Owners: none

Address comments and update GDAS hash
  ush/python/pygfs/jedi/jedi.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Mistakenly had class method marked as static method
  ush/python/pygfs/jedi/jedi.py
Owners: none

Update
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Update gfsgoes file name convention
  parm/post/upp.yaml
Owners: none

Remove 65-level upp itag files.
  .gitignore
  sorc/link_workflow.sh
Owners: none

Update sorc/link_workflow.sh
  sorc/link_workflow.sh
Owners: none

Update .gitignore
  .gitignore
Owners: none

Wait to run wave post until after forecast completes
  workflow/rocoto/gefs_tasks.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

modified exglobal_archive.py
  scripts/exglobal_archive.py
Owners: none

modify JGLOBAL_ARCHIVE
  jobs/JGLOBAL_ARCHIVE
Owners: none

modify gefs_arcdir.yaml.j2
  parm/archive/gefs_arcdir.yaml.j2
Owners: none

updated exglobal_archive.py
  scripts/exglobal_archive.py
Owners: none

Update env/WCOSS2.env
  env/WCOSS2.env
Owners: none

Update scripts/exgfs_atmos_postsnd.sh
  scripts/exgfs_atmos_postsnd.sh
Owners: none

Support global-workflow GEFS C48 on Google Cloud (#2861)
  env/GOOGLEPW.env
  parm/config/gefs/config.base
  parm/config/gefs/config.resources
  parm/config/gefs/config.resources.GOOGLEPW
  workflow/hosts/googlepw.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Add ability to run CI test C96_atm3DVar.yaml to Gaea-C5 (#2885)
  env/GAEA.env
  modulefiles/module_base.gaea.lua
  versions/run.gaea.ver
Owners: none

modified exglobal_archive.py
  scripts/exglobal_archive.py
Owners: none

modify gefs_arcdir.yaml.j2
  parm/archive/gefs_arcdir.yaml.j2
Owners: none

modifed JGLOBAL_ARCHIVE
  jobs/JGLOBAL_ARCHIVE
Owners: none

modified JGLOBAL_ARCHIVE
  jobs/JGLOBAL_ARCHIVE
Owners: none

Updated APRUN for new tasks.
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
Owners: none

Update Gaea and GCP APRUNs
  env/GAEA.env
  env/GOOGLEPW.env
Owners: none

removed arch_test.sh
  jobs/rocoto/arch_test.sh
Owners: none

Update jedi.py
  ush/python/pygfs/jedi/jedi.py
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
