Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

revert bypass of wave IC
  scripts/exglobal_stage_ic.sh
Owners: none

bugfixes
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Allow use of ocean obs prep in WCDA cycling and remove R2D2 (#2215)
  parm/config/gfs/config.ocnanal
  parm/config/gfs/config.prepoceanobs
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Add ocean resolution to setup_expt invocation and retire/reduce COMROT/ROTDIR usage (#2214)
  ci/cases/pr/C48_ATM.yaml
  ci/cases/pr/C48_S2SW.yaml
  ci/cases/pr/C48_S2SWA_gefs.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
  ci/cases/weekly/C384C192_hybatmda.yaml
  ci/cases/weekly/C384_S2SWA.yaml
  ci/cases/weekly/C384_atm3DVar.yaml
  ci/platforms/gefs_ci_defaults.yaml
  ci/platforms/gfs_defaults_ci.yaml
  ci/scripts/check_ci.sh
  ci/scripts/run-check_ci.sh
  docs/doxygen/mainpage.h
  docs/source/errors_faq.rst
  docs/source/init.rst
  docs/source/setup.rst
  docs/source/start.rst
  docs/source/view.rst
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY
  jobs/JGFS_ATMOS_FSU_GENESIS
  jobs/JGLOBAL_ATMOS_POST_MANAGER
  parm/config/gefs/config.base.emc.dyn
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.com
  scripts/exglobal_atmos_pmgr.sh
  scripts/exglobal_forecast.sh
  test/README.md
  workflow/hosts/awspw.yaml
  workflow/hosts/container.yaml
  workflow/hosts/hera.yaml
  workflow/hosts/hercules.yaml
  workflow/hosts/jet.yaml
  workflow/hosts/orion.yaml
  workflow/hosts/s4.yaml
  workflow/hosts/wcoss2.yaml
  workflow/setup_expt.py
Owners: @TerrenceMcGuinness-NOAA, @guillaumevernieres, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul

updated cancel_slurm to a generlized cancel_batch for pbs on wcoss
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

added PR number as input
  .github/workflows/orion_status.yaml
Owners: none

take out PR on on
  .github/workflows/orion_status.yaml
Owners: none

trying status of CI as a workflow action
  .github/workflows/orion_status.yaml
Owners: none

Update orion_status.yaml
  .github/workflows/orion_status.yaml
Owners: none

noop on getlables
  .github/workflows/getlabels.yaml
Owners: none

take out PR on on do loops syntax until singleton
  .github/workflows/orion_status.yaml
Owners: none

added {{}} on inputs.pr_number
  .github/workflows/orion_status.yaml
Owners: none

still not getting outputs
  .github/workflows/getlabels.yaml
  .github/workflows/orion_status.yaml
Owners: none

added reusable workflow for getting lables for each job
  .github/workflows/getlabels.yaml
  .github/workflows/orion_status.yaml
Owners: none

take out PR on on do loops syntax until direct
  .github/workflows/orion_status.yaml
Owners: none

EOF error working
  .github/workflows/getlabels.yaml
Owners: none

take out PR on on do loops syntax until set faulse
  .github/workflows/orion_status.yaml
Owners: none

take out PR on on do loops syntax until
  .github/workflows/orion_status.yaml
Owners: none

added () on DONE
  .github/workflows/getlabels.yaml
Owners: none

removed getlables
  .github/workflows/getlabels.yaml
Owners: none

no op for self test
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

EOF error working II
  .github/workflows/getlabels.yaml
Owners: none

fixed uses path
  .github/workflows/orion_status.yaml
Owners: none

quotes on GITHUB_OUTPUT
  .github/workflows/getlabels.yaml
Owners: none

added read write permissions to reuse
  .github/workflows/getlabels.yaml
Owners: none

take out PR on on do loops needed noop
  .github/workflows/orion_status.yaml
Owners: none

ambiguous redrirect to GITHUB_OUTPUT
  .github/workflows/getlabels.yaml
Owners: none

take out PR jobs need steps
  .github/workflows/orion_status.yaml
Owners: none

take out PR jobs with no steps
  .github/workflows/orion_status.yaml
Owners: none

adding env back to GITHUB_OUPUT
  .github/workflows/getlabels.yaml
Owners: none

take out PR on on do loops
  .github/workflows/orion_status.yaml
Owners: none

issue with orion status
  .github/workflows/orion_status.yaml
Owners: none

take out PR jobs need steps
  .github/workflows/orion_status.yaml
Owners: none

fixed logic in status workflow for on set
  .github/workflows/orion_status.yaml
Owners: none

took out secrets required line
  .github/workflows/getlabels.yaml
Owners: none

no op for self test
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

remove yml file
  .github/workflows/getlabels.yml
Owners: none

change order in needs
  .github/workflows/orion_status.yaml
Owners: none

fixed other pr_number assiginments
  .github/workflows/getlabels.yaml
  .github/workflows/orion_status.yaml
Owners: none

addeing yml file
  .github/workflows/getlabels.yml
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
