Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

Fix shellcheck issue
  ush/parsing_namelists_FV3.sh
Owners: none

Remove unnecessary git module loads
  modulefiles/module_gwsetup.gaea.lua
  modulefiles/module_gwsetup.hera.lua
  modulefiles/module_gwsetup.orion.lua
  modulefiles/module_gwsetup.wcoss2.lua
Owners: none

Format table
  docs/source/hpc.rst
Owners: none

Add Intel note for WCOSS2
  docs/source/hpc.rst
Owners: none

Add Git-LFS note.
  docs/source/hpc.rst
Owners: none

Reformatted table
  docs/source/hpc.rst
Owners: none

Add minimum software requirements (#2712)
  docs/source/hpc.rst
  modulefiles/module_gwsetup.gaea.lua
  modulefiles/module_gwsetup.hera.lua
  modulefiles/module_gwsetup.orion.lua
  modulefiles/module_gwsetup.wcoss2.lua
Owners: none

malaproprated CUTOM_WORKSPCE
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Updates to indicate inputs to post-processing jobs.
  jobs/JGLOBAL_ATMOS_PRODUCTS
  jobs/JGLOBAL_OCEANICE_PRODUCTS
  scripts/exglobal_atmos_products.sh
  scripts/exglobal_oceanice_products.py
Owners: none

Add COM template for JEDI obs (#2678)
  parm/config/gfs/config.com
Owners: none

Fix and simplify online archiving and reenable METplus jobs (#2687)
  .gitignore
  parm/archive/arcdir.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/config/gfs/yaml/defaults.yaml
  ush/python/pygfs/task/archive.py
Owners: none

Link both global-nest fix files and non-nest ones at the same time (#2632)
  .gitignore
  parm/config/gefs/config.base
  parm/config/gfs/config.base
  parm/ufs/fix/gfs/atmos.fixed_files.yaml
  parm/ufs/fix/gfs/land.fixed_files.yaml
  parm/ufs/fix/gfs/ocean.fixed_files.yaml
  scripts/exgdas_enkf_sfc.sh
  scripts/exglobal_forecast.sh
  sorc/link_workflow.sh
  ush/forecast_predet.sh
  ush/gaussian_sfcanl.sh
  versions/fix.nest.ver
  versions/fix.ver
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Optimize wavepostpnt (#2657)
  parm/config/gefs/config.resources
  parm/config/gefs/config.wave
  parm/config/gfs/config.resources
  parm/config/gfs/config.wave
  scripts/exgfs_wave_post_pnt.sh
  ush/wave_outp_spec.sh
  workflow/rocoto/gefs_tasks.py
  workflow/rocoto/gfs_tasks.py
Owners: @JessicaMeixner-NOAA, @WalterKolczynski-NOAA, @aerorahul

Update gdas.cd and gsi_utils hashes (#2641)
  parm/archive/enkf.yaml.j2
Owners: none

Remove ocean daily files (#2689)
  parm/archive/master_gfs.yaml.j2
  parm/archive/ocean_daily.yaml.j2
  parm/ufs/fv3/diag_table
  ush/forecast_postdet.sh
Owners: none

Removes misleading "No such file or directory" syntax errors from output files (#2688)
  scripts/exglobal_diag.sh
Owners: none

Add minimum software requirements (#2712)
  docs/source/hpc.rst
  modulefiles/module_gwsetup.gaea.lua
  modulefiles/module_gwsetup.hera.lua
  modulefiles/module_gwsetup.orion.lua
  modulefiles/module_gwsetup.wcoss2.lua
Owners: none

Add observation preparation job for aerosols DA to workflow (#2624)
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGLOBAL_PREP_OBS_AERO
  jobs/rocoto/prepobsaero.sh
  parm/archive/arcdir.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gfsa.yaml.j2
  parm/config/gfs/config.base
  parm/config/gfs/config.prepobsaero
  parm/config/gfs/config.resources
  scripts/exglobal_archive.py
  scripts/exglobal_prep_obs_aero.py
  ush/python/pygfs/task/aero_prepobs.py
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update archive job to use COMIN/COMOUT (#2668)
  jobs/JGDAS_ENKF_ARCHIVE
  jobs/JGLOBAL_ARCHIVE
  parm/archive/arcdir.yaml.j2
  parm/archive/chem.yaml.j2
  parm/archive/enkf.yaml.j2
  parm/archive/enkf_grp.yaml.j2
  parm/archive/enkf_restarta_grp.yaml.j2
  parm/archive/enkf_restartb_grp.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/gdas_restartb.yaml.j2
  parm/archive/gdasice.yaml.j2
  parm/archive/gdasice_restart.yaml.j2
  parm/archive/gdasocean.yaml.j2
  parm/archive/gdasocean_analysis.yaml.j2
  parm/archive/gdasocean_restart.yaml.j2
  parm/archive/gdaswave.yaml.j2
  parm/archive/gdaswave_restart.yaml.j2
  parm/archive/gfs_downstream.yaml.j2
  parm/archive/gfs_flux.yaml.j2
  parm/archive/gfs_flux_1p00.yaml.j2
  parm/archive/gfs_netcdfa.yaml.j2
  parm/archive/gfs_netcdfb.yaml.j2
  parm/archive/gfs_pgrb2b.yaml.j2
  parm/archive/gfs_restarta.yaml.j2
  parm/archive/gfsa.yaml.j2
  parm/archive/gfsb.yaml.j2
  parm/archive/gfswave.yaml.j2
  parm/archive/ice_6hravg.yaml.j2
  parm/archive/ice_grib2.yaml.j2
  parm/archive/master_enkf.yaml.j2
  parm/archive/ocean_6hravg.yaml.j2
  parm/archive/ocean_grib2.yaml.j2
  scripts/exgdas_enkf_earc.py
  scripts/exglobal_archive.py
  ush/python/pygfs/task/archive.py
Owners: none

Update GDASapp hash to move JCB into GDASapp (#2665)
  .gitmodules
  sorc/link_workflow.sh
Owners: none

Replace `sleep` with `wait_for_file` (#2586)
  env/HERA.env
  scripts/exgfs_atmos_awips_20km_1p0deg.sh
  scripts/exgfs_atmos_postsnd.sh
  scripts/exgfs_wave_nawips.sh
  scripts/exgfs_wave_post_gridded_sbs.sh
  scripts/exgfs_wave_prdgen_gridded.sh
  ush/gfs_bufr.sh
  ush/gfs_bufr_netcdf.sh
  ush/wave_tar.sh
  versions/run.hera.ver
Owners: @JessicaMeixner-NOAA

Update ufs-weather-model (#2663)
  .gitmodules
  scripts/exglobal_cleanup.sh
  sorc/build_upp.sh
  sorc/link_workflow.sh
  ush/forecast_postdet.sh
Owners: none

Update Jenkinsfile
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Eliminate post groups (#2667)
  .gitignore
  jobs/rocoto/atmos_ensstat.sh
  jobs/rocoto/atmos_products.sh
  jobs/rocoto/oceanice_products.sh
  jobs/rocoto/upp.sh
  parm/config/gefs/config.base
  scripts/exgdas_enkf_earc.py
  workflow/rocoto/gefs_tasks.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Hotfix for bug in template names. (#2697)
  parm/archive/master_enkf.yaml.j2
Owners: none

Add ability to use GEFS replay ICs (#2559)
  parm/config/gefs/config.base
  parm/config/gefs/config.efcs
  parm/config/gefs/config.fcst
  parm/config/gefs/config.stage_ic
  parm/config/gefs/config.ufs
  parm/config/gefs/yaml/defaults.yaml
  parm/config/gfs/config.base
  scripts/exgfs_wave_post_pnt.sh
  scripts/exglobal_stage_ic.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/parsing_namelists_WW3.sh
  ush/wave_outp_spec.sh
  workflow/rocoto/gefs_tasks.py
  workflow/setup_expt.py
Owners: @JessicaMeixner-NOAA, @WalterKolczynski-NOAA, @aerorahul

Add Hercules-EMC to the Jenkins configurable parameter list (#2685)
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Turn on high-frequency output in extended test (#2679)
  ci/cases/yamls/gfs_extended_ci.yaml
  parm/config/gefs/config.base
  parm/config/gefs/yaml/defaults.yaml
  parm/config/gfs/config.base
  parm/config/gfs/yaml/defaults.yaml
Owners: @TerrenceMcGuinness-NOAA

add g-w python to PYTHONPATH on WCOSS2 in upp.sh (#2700)
  jobs/rocoto/upp.sh
Owners: none

have all mom6 fill value be the same and have 40L for GFS/GEFS and otherwise 75
  parm/config/gefs/config.ufs
  parm/config/gfs/config.ufs
Owners: none

added fix to rocotostat for stalled case and remove dependances to updates to wxflow
  .github/workflows/ci-unit_tests.yaml
  ci/cases/yamls/atmaerosnowDA_defaults_ci.yaml
  ci/cases/yamls/gefs_ci_defaults.yaml
  ci/cases/yamls/gfs_defaults_ci.yaml
  ci/cases/yamls/gfs_extended_ci.yaml
  ci/cases/yamls/soca_gfs_defaults_ci.yaml
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
  ci/platforms/config.hera
  ci/platforms/config.hercules
  ci/platforms/config.orion
  ci/platforms/config.wcoss2
  ci/scripts/tests/test_rocotostat.py
  ci/scripts/tests/test_setup.py
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

update to current gitmodules without wxflow updates
  .gitmodules
Owners: none

needed pynorms space after :
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

still need to do the pip install of wxflow to get all the Jinja stuff too
  .github/workflows/ci-unit_tests.yaml
Owners: none

Update jobs/JGLOBAL_WAVE_POST_SBS
  jobs/JGLOBAL_WAVE_POST_SBS
Owners: @JessicaMeixner-NOAA

Assign machine- and RUN-specific resources (#2672)
  env/AWSPW.env
  env/CONTAINER.env
  env/GAEA.env
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  modulefiles/module_gwsetup.hercules.lua
  parm/config/gefs/config.resources
  parm/config/gfs/config.anal
  parm/config/gfs/config.analcalc
  parm/config/gfs/config.resources
  parm/config/gfs/config.resources.GAEA
  parm/config/gfs/config.resources.HERA
  parm/config/gfs/config.resources.HERCULES
  parm/config/gfs/config.resources.JET
  parm/config/gfs/config.resources.S4
  parm/config/gfs/config.resources.WCOSS2
  parm/config/gfs/config.ufs
  ush/forecast_postdet.sh
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Simplify resource declarations in config.resources
  parm/config/gfs/config.resources
Owners: none

Remove 'step' from resource variable names in env files
  env/AWSPW.env
  env/GAEA.env
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/WCOSS2.env
Owners: none

Trim env files by declaring common variables
  env/AWSPW.env
  env/GAEA.env
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
Owners: none

More env cleanup
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
Owners: none
