Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

Correcting pynorm test failures.
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Correcting pynorm test failures.
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update rocoto_statcount.py
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

Update run_ci.sh
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Update release notes because job card jgfs_atmos_wafs_grib2_0p25.ecf needs more resource
  docs/Release_Notes.gfs.v16.3.11.md
Owners: none

use ice_in_template from ufswm instead of creating in from scratch in gw
  sorc/link_workflow.sh
  ush/parsing_namelists_CICE.sh
Owners: none

link and parse model_configure from UFSWM
  sorc/link_workflow.sh
  ush/parsing_model_configure_FV3.sh
  ush/parsing_namelists_CICE.sh
Owners: none

ignore links from ufs-weather-model templates
  .gitignore
Owners: none

fix errors
  scripts/exglobal_forecast.sh
  ush/parsing_model_configure_FV3.sh
  ush/parsing_namelists_CICE.sh
  ush/parsing_nems_configure.sh
Owners: none

Moved weekly cases files into pr for high resolution testing
  ci/cases/pr/C384C192_hybatmda.yaml
  ci/cases/pr/C384_S2SWA.yaml
  ci/cases/pr/C384_atm3DVar.yaml
  ci/cases/pr/C48_ATM.yaml
  ci/cases/pr/C48_S2SA_gefs.yaml
  ci/cases/pr/C48_S2SW.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
Owners: @TerrenceMcGuinness-NOAA

spelling, typos, and brain fart on {DATE +}
  ci/scripts/check_ci.sh
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Update ci/scripts/utils/rocoto_statcount.py
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

Update ci/scripts/utils/rocoto_statcount.py
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

Update ci/scripts/utils/rocoto_statcount.py
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

updated elseif line and replaced PENDING with SUBMITTING
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

Moving configuration-type files to .
  ush/forecast_postdet.sh
Owners: none

Updates requested by reviewers.
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

Update wave IC source for C384
  parm/config/gfs/config.stage_ic
Owners: none

added exit code and removed redundent which
  ci/scripts/run_ci.sh
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

Update ush/forecast_postdet.sh
  ush/forecast_postdet.sh
Owners: none

put Walters test back for no RUNNING, SUBMITTING, or QUEUED and added UNKNOWN as a final state
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

added back which method to get new and sperate Execute Object to have alternative argument list to rocotostat
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

Update check_ci.sh
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Update run_ci.sh
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Update run_ci.sh
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Updated JGLOBAL_FORECAST and forecast_postdet.sh
  jobs/JGLOBAL_FORECAST
  ush/forecast_postdet.sh
Owners: none

removed DATE as date command
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

white spaces from lint
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

pynorm indent on dict
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

more white space related pynorm stuff
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

hopefully last white space related pynorm stuff
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

Update run_ci.sh
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Update run_ci.sh
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Update run_ci.sh
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Update run_ci.sh
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Bug fix.
  jobs/JGDAS_ENKF_FCST
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Update upp_ver to 8.3.0 in build.ver
  versions/build.ver
Owners: none

Add upp_ver update to release notes
  docs/Release_Notes.gfs.v16.3.11.md
Owners: none

update model check out and remove hack for upp
  Externals.cfg
  sorc/checkout.sh
Owners: none

Update wave IC source for C384 (#2055)
  parm/config/gfs/config.stage_ic
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
