Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

change variable name for IAU
  parm/config/gefs/config.base
  parm/config/gefs/config.fcst
  parm/config/gefs/config.wave
  parm/config/gefs/yaml/defaults.yaml
  parm/config/gfs/config.base
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/parsing_model_configure_FV3.sh
  ush/wave_outp_spec.sh
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

fixes for stage_ic
  parm/config/gefs/config.base
  scripts/exglobal_stage_ic.sh
  ush/forecast_postdet.sh
  ush/parsing_model_configure_FV3.sh
Owners: none

removed extra spaces
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update .github/workflows/ci-unit_tests.yaml
  .github/workflows/ci-unit_tests.yaml
Owners: none

save
  scripts/exglobal_atmos_sfcanl.sh
  ush/python/pygfs/task/snow_analysis.py
Owners: none

Pull ensemble snow DA work out of this branch
  jobs/JGLOBAL_SNOW_ENSEMBLE_ANALYSIS
  jobs/rocoto/esnowanl.sh
  parm/config/gfs/config.esnowanl
  parm/config/gfs/config.resources
  scripts/exglobal_snow_ensemble_analysis.py
  ush/python/pygfs/task/snowens_analysis.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

turn on iau
  ci/cases/yamls/atmaerosnowDA_defaults_ci.yaml
Owners: @TerrenceMcGuinness-NOAA

make norm happy again
  ush/python/pygfs/task/snow_analysis.py
Owners: none

Change GRIB2 parameter names and vertical levels
  parm/post/oceanice_products.yaml
  ush/oceanice_nc2grib2.sh
Owners: none

Add task to extract reforecast variables
  parm/config/gefs/config.extractvars
  parm/config/gefs/config.resources
  workflow/applications/gefs.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Apply suggestions from code review
  scripts/exglobal_atmos_sfcanl.sh
  ush/python/pygfs/task/snow_analysis.py
Owners: none

does the gridgen
  ush/python/pygfs/task/marine_letkf.py
Owners: none

Separate stmp/ptmp for orion and hercules.
  workflow/hosts/hercules.yaml
  workflow/hosts/orion.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Do not run arch/earc on half cycles
  parm/archive/arcdir.yaml.j2
  parm/archive/enkf.yaml.j2
  parm/archive/enkf_grp.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/master_enkf.yaml.j2
  parm/archive/master_gdas.yaml.j2
  parm/archive/master_gfs.yaml.j2
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

address great reviewer comments
  scripts/exglobal_atmos_sfcanl.sh
Owners: none

added STMP to ci yaml over rides because of Orion-Hercules cross mounting, also update work slurm to batch
  ci/cases/yamls/atmaerosnowDA_defaults_ci.yaml
  ci/cases/yamls/gefs_ci_defaults.yaml
  ci/cases/yamls/gfs_defaults_ci.yaml
  ci/cases/yamls/gfs_extended_ci.yaml
  ci/cases/yamls/soca_gfs_defaults_ci.yaml
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
  ci/platforms/config.hera
  ci/platforms/config.hercules
  ci/platforms/config.orion
  ci/platforms/config.wcoss2
Owners: @TerrenceMcGuinness-NOAA

also updated STMP overide to all other over ride yamls cases
  ci/cases/yamls/atmaerosnowDA_defaults_ci.yaml
  ci/cases/yamls/gfs_extended_ci.yaml
  ci/cases/yamls/soca_gfs_defaults_ci.yaml
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
Owners: @TerrenceMcGuinness-NOAA

changed BATCH_ACCOUNT to ACCOUNT as intended
  ci/cases/yamls/atmaerosnowDA_defaults_ci.yaml
  ci/cases/yamls/gefs_ci_defaults.yaml
  ci/cases/yamls/gfs_defaults_ci.yaml
  ci/cases/yamls/gfs_extended_ci.yaml
  ci/cases/yamls/soca_gfs_defaults_ci.yaml
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
  ci/platforms/config.hera
  ci/platforms/config.hercules
  ci/platforms/config.orion
  ci/platforms/config.wcoss2
Owners: @TerrenceMcGuinness-NOAA

also no adding PTMP in the over riding scheme in all the overide yamls
  ci/cases/yamls/atmaerosnowDA_defaults_ci.yaml
  ci/cases/yamls/gefs_ci_defaults.yaml
  ci/cases/yamls/gfs_defaults_ci.yaml
  ci/cases/yamls/gfs_extended_ci.yaml
  ci/cases/yamls/soca_gfs_defaults_ci.yaml
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
Owners: @TerrenceMcGuinness-NOAA

save AWS change
  parm/config/gfs/config.stage_ic
  sorc/setup-case.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  workflow/hosts/awspw.yaml
  workflow/rocoto/gfs_tasks.py
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Revert "Separate stmp/ptmp for orion and hercules."
  workflow/hosts/hercules.yaml
  workflow/hosts/orion.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

updated STMP and PTMP settings in host file for Orion and Hercuels with machine name in path becaise they are cross mounted
  ci/cases/yamls/atmaerosnowDA_defaults_ci.yaml
  ci/cases/yamls/gefs_ci_defaults.yaml
  ci/cases/yamls/gfs_defaults_ci.yaml
  ci/cases/yamls/gfs_extended_ci.yaml
  ci/cases/yamls/soca_gfs_defaults_ci.yaml
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
  ci/platforms/config.hera
  ci/platforms/config.hercules
  ci/platforms/config.orion
  ci/platforms/config.wcoss2
  workflow/hosts/hercules.yaml
  workflow/hosts/orion.yaml
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

Set default FHOUT to 6 for ocn and ice
  parm/config/gefs/config.base
Owners: none

Update ice prod job for GEFS
  parm/post/oceanice_products_gefs.yaml
  ush/check_ice_netcdf.sh
  ush/python/pygfs/task/oceanice_products.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix formatting in oceanice_prod python code
  ush/python/pygfs/task/oceanice_products.py
Owners: none

Improve formatting
  ush/check_ice_netcdf.sh
Owners: none

Refine formatting in ice check script
  ush/check_ice_netcdf.sh
Owners: none

Reorganize enkf templates; add comments; fix increment/analysis archiving
  parm/archive/enkf.yaml.j2
  parm/archive/enkf_grp.yaml.j2
  parm/archive/enkf_restarta_grp.yaml.j2
  parm/archive/master_enkf.yaml.j2
Owners: none

Reorganize gdas archiving; add ensres data; add comments
  parm/archive/gdas.yaml.j2
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/master_gdas.yaml.j2
Owners: none

Reorganize GFS archiving; add comments
  parm/archive/gfsa.yaml.j2
  parm/archive/gfsb.yaml.j2
  parm/archive/gfswave.yaml.j2
  parm/archive/master_gfs.yaml.j2
Owners: none

Comment arcdir archiving
  parm/archive/arcdir.yaml.j2
Owners: none

Add ice archiving comment
  parm/archive/ice_grib2.yaml.j2
Owners: none

Add top level script for extractvars task
  jobs/rocoto/extractvars.sh
Owners: none

added a attempt_multiple_times routine to the python rocotostat utility for robustness
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Simplify check_ice_netcdf script
  ush/check_ice_netcdf.sh
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update config.hercules
  ci/platforms/config.hercules
Owners: @TerrenceMcGuinness-NOAA

Update config.wcoss2
  ci/platforms/config.wcoss2
Owners: @TerrenceMcGuinness-NOAA

it is workflow_dispatch not dispatch
  .github/workflows/ci-unit_tests.yaml
Owners: none

Sea-ice analysis insertion (#2584)
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST
  jobs/JGLOBAL_FORECAST
  parm/config/gfs/config.com
  ush/forecast_postdet.sh
  workflow/setup_expt.py
Owners: @guillaumevernieres, @WalterKolczynski-NOAA, @aerorahul

Fix syntax in config.base
  parm/config/gefs/config.base
  parm/config/gfs/config.base
Owners: none
