Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

clean up headers for forecast scripts
  ush/forecast_det.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/parsing_namelists_FV3.sh
Owners: none

rename writing_ufs_configure to UFS_configure and create FV3 model_configure after fv3nml
  scripts/exglobal_forecast.sh
  ush/forecast_det.sh
  ush/forecast_postdet.sh
  ush/parsing_ufs_configure.sh
Owners: none

wip
  scripts/exglobal_forecast.sh
  ush/forecast_det.sh
  ush/forecast_predet.sh
Owners: none

docstring indent for function
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

put back consistent naming for ci database
  ci/scripts/utils/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

disable shellcheck for using Wed Apr 17 15:15:18 UTC 2024
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Add rocoto `sh` tag, script to check netcdf file and apply this to check ocean output (#2484)
  ush/bash_utils.sh
  ush/check_netcdf.sh
  ush/file_utils.sh
  ush/jjob_header.sh
  ush/preamble.sh
  workflow/rocoto/gefs_tasks.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/rocoto.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Enabled GFS archiving and reworked some features
  parm/archive/arcdir.yaml.j2
  parm/archive/chem.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/gdas_restartb.yaml.j2
  parm/archive/gdasice.yaml.j2
  parm/archive/gdasice_restart.yaml.j2
  parm/archive/gdasocean.yaml.j2
  parm/archive/gdasocean_analysis.yaml.j2
  parm/archive/gdasocean_restart.yaml.j2
  parm/archive/gdaswave_restart.yaml.j2
  parm/archive/gfs_downstream.yaml.j2
  parm/archive/gfs_flux.yaml.j2
  parm/archive/gfs_flux_1p00.yaml.j2
  parm/archive/gfs_netcdfa.yaml.j2
  parm/archive/gfs_netcdfb.yaml.j2
  parm/archive/gfs_pgrb2b.yaml.j2
  parm/archive/gfs_restarta.yaml.j2
  parm/archive/gfs_restartb.yaml.j2
  parm/archive/gfsa.yaml.j2
  parm/archive/gfsb.yaml.j2
  parm/archive/gfswave.yaml.j2
  parm/archive/ice_6hravg.yaml.j2
  parm/archive/ice_grib2.yaml.j2
  parm/archive/ocean_6hravg.yaml.j2
  parm/archive/ocean_daily.yaml.j2
  parm/archive/ocean_grib2.yaml.j2
  scripts/exglobal_archive.py
  ush/python/pygfs/task/archive.py
Owners: none

Change run to variational for aerosol analysis
  scripts/exglobal_aero_analysis_variational.py
  ush/python/pygfs/task/aero_analysis.py
Owners: none

More places for run to var
  jobs/JGLOBAL_AERO_ANALYSIS_VARIATIONAL
  jobs/rocoto/aeroanlvar.sh
Owners: none

run to var with a find/replace
  env/AWSPW.env
  env/CONTAINER.env
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/rocoto/aeroanlvar.sh
  parm/config/gfs/config.aeroanlrun
  parm/config/gfs/config.aeroanlvar
  parm/config/gfs/config.resources
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

More changes needed; end of day commit
  env/HERA.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGLOBAL_AERO_ANALYSIS_GENERATE_BMATRIX
  jobs/rocoto/aeroanlgenb.sh
  parm/config/gfs/config.aeroanlgenb
  parm/config/gfs/config.resources
  scripts/exglobal_aero_analysis_generate_bmatrix.py
Owners: none

Update ci/scripts/run-check_ci.sh
  ci/scripts/run-check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

model is running again
  jobs/JGLOBAL_FORECAST
  scripts/exglobal_forecast.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/parsing_model_configure_FV3.sh
  ush/parsing_namelists_FV3.sh
Owners: none

Update ci/scripts/run-check_ci.sh
  ci/scripts/run-check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

removing bang in declare from an eralier version
  ci/scripts/run-check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

shellnorms complaining about needing quotes for not splitting and added them to the evaluation echoing and scraping of the full_state varibable
  ci/scripts/run-check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

appease on more shellnorm for quoting
  ci/scripts/run-check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

spacers add to docstrings in pr list database
  ci/scripts/utils/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

add changes of gsi_enkf
  sorc/mods4aws/gsi_enkf.aws.tar
  sorc/mods4aws/gsi_enkf.azure.tar
Owners: none

rerun of coupled model seems to work (sans waves)
  ush/forecast_det.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

add a helper script to do nccmp in test
  test/nccmp.sh
Owners: none

add test script to compare 2 grib2 files
  test/g2cmp.sh
Owners: none

path tweaks
  jobs/JGLOBAL_PREP_OCEAN_OBS
  sorc/link_workflow.sh
Owners: none

had escape char going in the wrong direction in message to gitHub PR
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

few more updates with gaea lib packages
  modulefiles/module_base.gaea.lua
  modulefiles/module_gwsetup.gaea.lua
Owners: none

gocart_emissions dir corrected
  parm/config/gfs/config.aero
Owners: none

changes to CCPP_SUITE=FV3_GFS_v17_p8
  parm/config/gfs/config.ufs
Owners: none

S4 directory identifiers corrected and changed back
  ush/detect_machine.sh
Owners: none

hpssarch (NO) & no hpss connectivity
  workflow/hosts/gaea.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

add config.gaea for ci
  ci/platforms/config.gaea
Owners: @TerrenceMcGuinness-NOAA

Missed one
  env/HERCULES.env
Owners: none

had to demote pslot to be local because it was crating run conditions in parallel
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Save to start building and iterating on HPC
  scripts/exglobal_aero_analysis_generate_bmatrix.py
  ush/python/pygfs/task/aero_bmatrix.py
  ush/python/pygfs/task/bmatrix.py
Owners: none

comment correction
  jobs/JGLOBAL_PREP_OCEAN_OBS
Owners: none

update gdas submodule and link new exe
  sorc/link_workflow.sh
Owners: none

commit before starting to build test experiment
  ush/python/pygfs/task/aero_bmatrix.py
  ush/python/pygfs/task/bmatrix.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

add two vers for noaacloud
  sorc/gfs_utils.aws.tar
  sorc/gsi_enkf.azure.tar
  sorc/gsi_utils.aws.tar
  sorc/ufs_model.aws.tar
  sorc/ufs_utils.aws.tar
  versions/build.noaacloud.ver
  versions/run.noaacloud.ver
  workflow/hosts/awspw.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Update jobs/JGLOBAL_PREP_OCEAN_OBS
  jobs/JGLOBAL_PREP_OCEAN_OBS
Owners: none

Updated UFS hash.
  ush/parsing_namelists_CICE.sh
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
