Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

comment for utility yaml
  ush/python/pygfs/task/marine_bmat.py
Owners: none

clean-up and correct the issue in JGLOBAL_CLEANUP
  jobs/JGLOBAL_CLEANUP
  scripts/exglobal_cleanup.sh
Owners: none

Modify config.extractvars based on requirements
  parm/config/gefs/config.extractvars
Owners: none

resolved conflicts
  workflow/applications/gefs.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Updates for RTOFSv2.4.3 operational upgrade (#2800)
  docs/Release_Notes.gfs.v15.2.0.txt
  docs/Release_Notes.gfs.v15.2.2.txt
  docs/Release_Notes.gfs.v16.0.0.md
  docs/Release_Notes.gfs.v16.1.0.txt
  docs/Release_Notes.gfs.v16.1.4.txt
  docs/Release_Notes.gfs.v16.1.5.txt
  docs/Release_Notes.gfs.v16.1.6.txt
  docs/Release_Notes.gfs.v16.1.7.txt
  docs/Release_Notes.gfs.v16.1.8.txt
  docs/Release_Notes.gfs.v16.2.0.md
  docs/Release_Notes.gfs.v16.2.1.md
  docs/Release_Notes.gfs.v16.2.2.md
  docs/Release_Notes.gfs.v16.3.10.md
  docs/Release_Notes.gfs.v16.3.11.md
  docs/Release_Notes.gfs.v16.3.12.md
  docs/Release_Notes.gfs.v16.3.13.md
  docs/Release_Notes.gfs.v16.3.14.md
  docs/Release_Notes.gfs.v16.3.15.md
  docs/Release_Notes.gfs.v16.3.16.md
  docs/Release_Notes.gfs.v16.3.3.md
  docs/Release_Notes.gfs.v16.3.4.md
  docs/Release_Notes.gfs.v16.3.5.md
  docs/Release_Notes.gfs.v16.3.6.md
  docs/Release_Notes.gfs.v16.3.8.md
  docs/Release_Notes.gfs.v16.3.9.md
  docs/Release_Notes.gfs_downstream.v15.2.0.txt
  docs/Release_Notes.gfs_downstream.v16.0.0.txt
  docs/Release_Notes.md
  versions/run.ver
Owners: none

Remove if-defined parameter expansions from if-blocks for defined variables
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Update workflow/rocoto/tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Remove more if-defined parameter expansions
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Check that pr_building is not empty rather than empty
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Remove ACCOUNT_SERVICE
  workflow/hosts/awspw.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Execute cice_avg function in forecast exscript
  scripts/exglobal_forecast.sh
Owners: none

Use cdo to perform time average in cice_avg func
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

Remove extra space
  ush/forecast_postdet.sh
Owners: none

updated config.resources
  parm/config/gefs/config.resources
Owners: none

Add fixes for metplus jobs when gfs_cyc=2 or 4 (#2791)
  parm/config/gfs/config.base
  parm/config/gfs/config.metp
  parm/config/gfs/config.resources
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Address clara's comments + fregrid_exe
  ush/python/pygfs/task/snowens_analysis.py
Owners: none

Remove FHOUT_ICE_6h
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/parsing_namelists_CICE.sh
Owners: none

Make all jobs source config.resources.
  jobs/JGFS_ATMOS_FBWIND
  jobs/JGFS_ATMOS_GEMPAK_META
  jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
  parm/config/gfs/config.fbwind
  parm/config/gfs/config.resources
Owners: @GwenChen-NOAA

Add STAGE_IC_YAML_TMPL variable
  parm/config/gefs/config.stage_ic
  parm/config/gfs/config.stage_ic
  scripts/exglobal_stage_ic.py
  ush/python/pygfs/task/stage.py
Owners: none

Add more fixes
  ush/forecast_predet.sh
Owners: none

Update parm/config/gfs/config.stage_ic
  parm/config/gfs/config.stage_ic
Owners: none

Add documentation to stage.yaml.j2
  parm/stage/stage.yaml.j2
Owners: none

Update parm/config/gfs/config.fbwind
  parm/config/gfs/config.fbwind
Owners: none

updated arch_test.sh
  jobs/rocoto/arch_test.sh
Owners: none

Updates to stage.yaml.j2
  parm/stage/stage.yaml.j2
Owners: none

run gefs
  env/AWSPW.env
  parm/config/gefs/config.resources
Owners: none

updated arch_test.sh
  jobs/rocoto/arch_test.sh
Owners: none

shellcheck
  env/HERA.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
Owners: none

update gefs.py
  workflow/applications/gefs.py
Owners: @WalterKolczynski-NOAA, @aerorahul

updated config.resources
  parm/config/gefs/config.resources
Owners: none

updated config.resources
  parm/config/gefs/config.resources
Owners: none

update from cdump to run
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

updated gefs_tasks.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

update fregrid arg lists
  ush/python/pygfs/task/snowens_analysis.py
Owners: none

Condition based on REPLAY_ICS
  parm/config/gefs/config.fcst
  ush/parsing_namelists_FV3.sh
Owners: none

address comments
  env/WCOSS2.env
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

fix comments
  ush/python/pygfs/task/snowens_analysis.py
Owners: none

Rearange if-block to address reviewer comment
  ush/forecast_predet.sh
Owners: none

Address shellcheck error
  ush/forecast_predet.sh
Owners: none

remove ush/check_netcdf.sh as it is not used anymore
  ush/check_netcdf.sh
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
