Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

modified config.base
  parm/config/gefs/config.base
Owners: none

Add new bufr table for GFS C96 output
  env/WCOSS2.env
  parm/product/bufr_ij_gfs_C1152.txt
  parm/product/bufr_ij_gfs_C768.txt
  parm/product/bufr_ij_gfs_C96.txt
  scripts/exgfs_atmos_postsnd.sh
  ush/gfs_bufr.sh
Owners: none

deleted gefs.yaml
  parm/archive/gefs.yaml.j2
Owners: none

modified parm/config/gefs/yaml/defaults.yaml
  parm/config/gefs/yaml/defaults.yaml
Owners: none

modifed parm/config/gefs/yaml/defaults.yaml
  parm/config/gefs/yaml/defaults.yaml
Owners: none

added a test to archive.py
  ush/python/pygfs/task/archive.py
Owners: none

modified exglobal_Archive.py
  scripts/exglobal_archive.py
Owners: none

modified the warning message exgdas_enkf_earc.py
  scripts/exgdas_enkf_earc.py
Owners: none

modified gefs_arcdir.yaml.j2
  parm/archive/gefs_arcdir.yaml.j2
Owners: none

Reenable Orion Cycling Support (#2877)
  .gitignore
  parm/config/gefs/config.base
  parm/config/gefs/config.ufs
  parm/config/gfs/config.resources.ORION
  parm/config/gfs/config.ufs
  parm/post/upp.yaml
  sorc/build_all.sh
  sorc/link_workflow.sh
  ush/forecast_predet.sh
  ush/parsing_model_configure_FV3.sh
  ush/python/pygfs/task/upp.py
  versions/run.spack.ver
  workflow/rocoto/gefs_tasks.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Add an archive task to GEFS system to archive files locally (#2816)
  jobs/rocoto/arch_test.sh
  parm/archive/gefs_arcdir.yaml.j2
  parm/archive/gfs_arcdir.yaml.j2
  parm/config/gefs/yaml/defaults.yaml
  scripts/exgdas_enkf_earc.py
  scripts/exglobal_archive.py
  ush/python/pygfs/task/archive.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

added gefs.yaml.j2
  parm/archive/gefs.yaml.j2
Owners: none

added master_gefs.yaml.j2
  parm/archive/master_gefs.yaml.j2
Owners: none

Restructure the bufr sounding job (#2853)
  env/WCOSS2.env
  parm/config/gfs/config.resources
  parm/product/bufr_ij_gfs_C1152.txt
  parm/product/bufr_ij_gfs_C768.txt
  parm/product/bufr_ij_gfs_C96.txt
  scripts/exgfs_atmos_postsnd.sh
  ush/gfs_bufr.sh
Owners: none

Create JEDI class (#2805)
  parm/archive/enkf.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gfsa.yaml.j2
  parm/config/gfs/config.atmensanl
  parm/config/gfs/yaml/defaults.yaml
  scripts/exglobal_atm_analysis_finalize.py
  scripts/exglobal_atm_analysis_fv3_increment.py
  scripts/exglobal_atm_analysis_initialize.py
  scripts/exglobal_atm_analysis_variational.py
  scripts/exglobal_atmens_analysis_finalize.py
  scripts/exglobal_atmens_analysis_fv3_increment.py
  scripts/exglobal_atmens_analysis_initialize.py
  scripts/exglobal_atmens_analysis_letkf.py
  scripts/exglobal_atmens_analysis_obs.py
  scripts/exglobal_atmens_analysis_sol.py
  ush/python/pygfs/jedi/__init__.py
  ush/python/pygfs/jedi/jedi.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: @RussTreadon-NOAA

Initial commit
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGLOBAL_ATM_CALC_ANALYSIS
  jobs/rocoto/calcanl.sh
  parm/config/gfs/config.calcanl
  parm/config/gfs/config.resources
  scripts/exglobal_atm_calc_analysis.py
  ush/python/pygfs/__init__.py
  ush/python/pygfs/task/calcanl.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

modifed gefs.yaml.j2
  parm/archive/gefs.yaml.j2
Owners: none

modified ush/python/pygfs/task/archive.py
  ush/python/pygfs/task/archive.py
Owners: none

modified parm\config\gefs\yaml\defaults.yaml
  parm/config/gefs/yaml/defaults.yaml
Owners: none

updated checkpoint task
  ci/cases/gfsv17/ocnanal.yaml
  env/HERA.env
  env/HERCULES.env
  env/ORION.env
  jobs/JGLOBAL_MARINE_ANALYSIS_CHECKPOINT
  jobs/JGLOBAL_MARINE_ANALYSIS_INITIALIZE
  jobs/JGLOBAL_MARINE_ANALYSIS_VARIATIONAL
  jobs/JGLOBAL_MARINE_BMAT
  jobs/rocoto/marineanlchkpt.sh
  parm/archive/gdas.yaml.j2
  parm/config/gfs/config.marineanl
  parm/config/gfs/config.marineanlchkpt
  parm/config/gfs/config.ocnanalchkpt
  parm/config/gfs/config.resources
  parm/config/gfs/yaml/defaults.yaml
  scripts/exglobal_marine_analysis_checkpoint.py
  sorc/link_workflow.sh
  ush/python/pygfs/task/marine_analysis.py
  ush/python/pygfs/task/marine_bmat.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

update pygfs jedi class and atmospheric tasks to extract JEDI radiance bias correction files from tarball (#2862)
  ush/python/pygfs/jedi/jedi.py
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Remove the GTS BUFR2IODA part of the snow obs prep job and Replace it with a direct read from BUFR at runtime.
  parm/config/gfs/config.prepsnowobs
  parm/config/gfs/config.snowanl
  scripts/exglobal_prep_snow_obs.py
  ush/python/pygfs/task/snow_analysis.py
Owners: none

Fix typo
  env/HERA.env
Owners: none

add FAQ page and a caution with using reserved variables
  docs/source/errors_faq.rst
  docs/source/index.rst
  docs/source/run.rst
Owners: none

Add FAQ page and a caution with using reserved variables (#2898)
  docs/source/errors_faq.rst
  docs/source/index.rst
  docs/source/run.rst
Owners: none

modified gefs.yaml.j2
  parm/archive/gefs.yaml.j2
Owners: none

Update UGFS model to the latest
  versions/run.jet.ver
Owners: none

Saving progress
  jobs/JGLOBAL_ATM_CALC_ANALYSIS
  parm/config/gfs/config.calcanl
  sorc/link_workflow.sh
  ush/python/pygfs/task/calcanl.py
Owners: none

Change HOMEgfs to PARMgfs.
  ush/python/pygfs/task/snow_analysis.py
Owners: none

move radiance bias correction staging to jedi class (#2868)
  ush/python/pygfs/jedi/jedi.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

revert local change
  versions/run.jet.ver
Owners: none

correct a shell error
  parm/config/gefs/config.resources
Owners: none

initial attempt to generalize processing of variational bias correction files using jedi class (#2862)
  ush/python/pygfs/jedi/jedi.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Consolidate python configuration dictionaries (#2839)
  parm/config/gfs/config.resources
  workflow/applications/applications.py
  workflow/applications/gefs.py
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/tasks.py
  workflow/rocoto/workflow_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update Gaea modulefile to use prepobs variable
  modulefiles/module_base.gaea.lua
Owners: none

Update prepobs_run_ver for WCOSS2
  versions/run.wcoss2.ver
Owners: none

move VarBcDir inside initialize_analysis method (#2862)
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Correct the scripts based on the suggestions of the workfloow team
  jobs/JGEFS_ATMOS_ACC
Owners: none

Make the corrections based on the suggestion of the workflow tearm
  jobs/rocoto/repair_replay.sh
Owners: none

Make the corrections based on the suggestions of the workflow team
  scripts/exgefs_atmos_repair_replay.sh
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
