Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

Add a parameter file
  parm/product/gefs_parmlist_masteracc03.parm
Owners: none

Add a parameter file definition
  parm/config/gefs/config.repair_replay
Owners: none

Update
  scripts/exglobal_atm_analysis_fv3_increment.py
  scripts/exglobal_atm_analysis_initialize.py
  scripts/exglobal_atm_analysis_variational.py
  scripts/exglobal_atmens_analysis_initialize.py
  scripts/exglobal_atmens_analysis_obs.py
  scripts/exglobal_atmens_analysis_sol.py
  ush/python/pygfs/jedi/jedi.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: @RussTreadon-NOAA

update bucket to contrib in awspw hosts yaml file for ICs
  workflow/hosts/awspw.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Increase max allocatable memory on Orion
  parm/config/gfs/config.resources
Owners: none

updated location of ICs (no bucker dir in /contrib)
  ci/cases/pr/C48_ATM.yaml
  workflow/hosts/awspw.yaml
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

update start hour to 00 for C48_ATM
  ci/cases/pr/C48_ATM.yaml
Owners: @TerrenceMcGuinness-NOAA

Update ush/python/pygfs/utils/marine_da_utils.py
  ush/python/pygfs/utils/marine_da_utils.py
Owners: none

new jedi hashes
  ush/python/pygfs/utils/marine_da_utils.py
Owners: none

Update parm/prep/aero_emissions.yaml
  parm/prep/aero_emissions.yaml
Owners: none

Update parm/prep/aero_emissions.yaml
  parm/prep/aero_emissions.yaml
Owners: none

Update parm/prep/aero_emissions.yaml
  parm/prep/aero_emissions.yaml
Owners: none

Update parm/prep/aero_emissions.yaml
  parm/prep/aero_emissions.yaml
Owners: none

Remove ges.sfc background file
  ush/python/pygfs/task/analcalc.py
Owners: none

pynorms
  ush/python/pygfs/task/atm_analysis.py
Owners: none

Update GSI tag to gfsda.v16.3.20 for saildrone
  Externals.cfg
  docs/Release_Notes.md
  sorc/checkout.sh
Owners: none

Update GSI tag to gfsda.v16.3.20 for saildrone data (#2986)
  Externals.cfg
  docs/Release_Notes.md
  sorc/checkout.sh
Owners: none

Add corrections to the variable names for GEFS (#2969)
  parm/product/gefs.0p25.fFFF.paramlist.b.txt
Owners: none

Initialize all JEDI applications on the initialize jobs
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmanlfv3inc
  parm/config/gfs/config.atmensanl
  parm/config/gfs/config.atmensanlfv3inc
  parm/config/gfs/config.atmensanlobs
  parm/config/gfs/config.atmensanlsol
  parm/config/gfs/yaml/defaults.yaml
  scripts/exglobal_atm_analysis_fv3_increment.py
  scripts/exglobal_atm_analysis_initialize.py
  scripts/exglobal_atm_analysis_variational.py
  scripts/exglobal_atmens_analysis_fv3_increment.py
  scripts/exglobal_atmens_analysis_initialize.py
  scripts/exglobal_atmens_analysis_letkf.py
  scripts/exglobal_atmens_analysis_obs.py
  scripts/exglobal_atmens_analysis_sol.py
  ush/python/pygfs/jedi/jedi.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: @RussTreadon-NOAA

add some missing steps in GAEA.env
  env/GAEA.env
Owners: none

env/GAEA.env clean up
  env/GAEA.env
Owners: none

pynorms
  ush/python/pygfs/jedi/jedi.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

pynorms #2
  ush/python/pygfs/jedi/jedi.py
Owners: none

pynorms #3
  scripts/exglobal_atmens_analysis_letkf.py
Owners: none

Account for warm start in forecast_postdet.sh
  ush/forecast_postdet.sh
Owners: none

Fix some python bugs
  ush/python/pygfs/jedi/jedi.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Fixing bugs
  scripts/exglobal_atm_analysis_fv3_increment.py
  scripts/exglobal_atm_analysis_variational.py
  scripts/exglobal_atmens_analysis_fv3_increment.py
  scripts/exglobal_atmens_analysis_letkf.py
  scripts/exglobal_atmens_analysis_obs.py
  scripts/exglobal_atmens_analysis_sol.py
  ush/python/pygfs/jedi/jedi.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Bug fix
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

SFS output and auto re-submission and yamls in new directory
  ci/cases/sfs/C96mx100_S2S.yaml
  ci/cases/yamls/sfs_defaults.yaml
  parm/config/gefs/config.atmos_products
  parm/config/gefs/config.base
  parm/config/gefs/config.efcs
  parm/config/gefs/config.fcst
  parm/config/gefs/yaml/defaults.yaml
  ush/forecast_det.sh
  ush/forecast_predet.sh
Owners: @TerrenceMcGuinness-NOAA

REVERT: added machine specific resource statement to config.ufs
  parm/config/gfs/config.ufs
Owners: none

Correct Python script
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Make correction
  jobs/JGEFS_ATMOS_ACC
Owners: none

Correct the script
  scripts/exgefs_atmos_repair_replay.sh
Owners: none

Remove redundant code for tarball extraction, update comments, and update GDAS hash
  ush/python/pygfs/jedi/jedi.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

pynorms
  ush/python/pygfs/jedi/jedi.py
Owners: none

pynorms #2
  ush/python/pygfs/jedi/jedi.py
Owners: none

Make the correction
  jobs/JGEFS_ATMOS_ACC
Owners: none

Move PEVPR from b to a group
  parm/product/gefs.0p25.fFFF.paramlist.a.txt
  parm/product/gefs.0p25.fFFF.paramlist.b.txt
Owners: none

Add tob to ocean products
  parm/post/oceanice_products_gefs.yaml
Owners: none

Correct the script
  scripts/exgefs_atmos_repair_replay.sh
Owners: none
