Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

Modify APP based on RUN
  parm/config/gfs/config.base
  parm/config/gfs/config.efcs
Owners: none

Correct APP substitution for enkf
  parm/config/gfs/config.base
Owners: none

Add S2SWA as valid app option
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

addressing CI failure
  parm/config/gfs/config.fcst
  ush/forecast_postdet.sh
Owners: none

fixed logic in arg check in publishing tool and removed the creation of build semephore forcing a rebuild on restart as default
  ci/Jenkinsfile
  ci/scripts/utils/publish_logs.py
Owners: @TerrenceMcGuinness-NOAA

Fix post log arg check and don't create build semaphore (#2440)
  ci/Jenkinsfile
  ci/scripts/utils/publish_logs.py
Owners: @TerrenceMcGuinness-NOAA

turned gefs case back on for hera
  ci/cases/pr/C48_S2SWA_gefs.yaml
Owners: @TerrenceMcGuinness-NOAA

add sfc fix
  scripts/exgdas_enkf_sfc.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

needed scope of gist_url moved out a level for it to be used in output during the build phase because that was not previoiusly tested
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

had error.logs set wrong for build fails
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

moved if block to include posting message on error_log file exists and fixed path since cd into sorc
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

still had extra logs in path for each file in error log file
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

my gosh the logs is one extra in one more place
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

removed tics in markdown to message error in build
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Modify APP based on RUN (#2413)
  parm/config/gfs/config.base
  parm/config/gfs/config.efcs
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Turn GEFS CI test on for Hera (#2442)
  ci/Jenkinsfile
  ci/cases/pr/C48_S2SWA_gefs.yaml
Owners: @TerrenceMcGuinness-NOAA

Reverting accidental renaming
  scripts/exglobal_aero_analysis_run.py
Owners: @CoryMartin-NOAA

Reverting some changes and revising some things.
  jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmanlfv3inc
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
  workflow/applications/applications.py
Owners: @RussTreadon-NOAA, @WalterKolczynski-NOAA, @aerorahul

Add htar features to archive task, update gdas template. (untested)
  parm/archive/gdas.yaml.j2
  ush/python/pygfs/task/archive.py
Owners: none

Add GEFS ENS Atmos options (#2392)
  env/WCOSS2.env
  parm/config/gefs/config.base
  parm/config/gefs/config.efcs
  parm/config/gefs/config.fcst
  parm/config/gefs/yaml/defaults.yaml
  parm/config/gfs/config.fcst
  ush/forecast_postdet.sh
  ush/parsing_namelists_FV3.sh
Owners: none

Archive the snow DA analysis into HPSS (#2414)
  jobs/JGLOBAL_ARCHIVE
  scripts/exglobal_archive.sh
  ush/hpssarch_gen.sh
Owners: none

added new feature of pr_list_database for getting pr list and added rocoto_statcount for checkout case states that now also includes checks for stalled
  ci/scripts/check_ci.sh
  ci/scripts/driver.sh
  ci/scripts/run_ci.sh
  ci/scripts/utils/pr_list_database.py
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

Reenable the minimization monitor on Hera.
  modulefiles/module_base.hera.lua
  parm/config/gfs/config.base
  versions/run.hera.ver
Owners: none

missed some updates from previouse review on pr list database script
  ci/scripts/utils/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

a few pynorms spaces
  ci/scripts/utils/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

extra spaces
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

shell norms and spaces
  ci/scripts/check_ci.sh
  ci/scripts/utils/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

shell norm using ==
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

fixed date sring
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

create_table is not the argumnet
  ci/scripts/utils/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

remove hard coded late cycle
  scripts/exgdas_enkf_ecen.sh
  scripts/exgdas_enkf_sfc.sh
  scripts/exgdas_enkf_update.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Remove the reset of upper layer humidity
  ush/parsing_namelists_FV3.sh
Owners: none

Remove the reset of upper layer humidity (#2449)
  ush/parsing_namelists_FV3.sh
Owners: none

Rename the bash function script to bash_utils
  ush/bash_utils.sh
  ush/preamble.sh
Owners: none

Group function exports at bottom of bash utils
  ush/bash_utils.sh
Owners: none

Add final blank line to bash_utils
  ush/bash_utils.sh
Owners: none

Move bash utility functions out of preamble
  ush/bash_functions.sh
  ush/preamble.sh
Owners: none

missed utils in path to pr_list_database script
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

fixed quote in dictionary for rocoto stat
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

Finished debugging check_ci with python rocoto checker
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
