Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

remove comment
  parm/gdas/aero_stage_bmatrix_bkg.yaml.j2
Owners: none

aerosol_init should not be called when it is a warm start
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

fix pynorms
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Replace strings with arithmetic where possible
  scripts/exglobal_extractvars.sh
  ush/gefs_atmos_extractvars.sh
  ush/gefs_ocnice_extractvars.sh
  ush/gefs_wav_extractvars.sh
Owners: none

Replace while loops with for loops where possible
  ush/gefs_ocnice_extractvars.sh
  ush/gefs_wav_extractvars.sh
Owners: none

Simplify some if-statements
  ush/gefs_ocnice_extractvars.sh
Owners: none

Modify extractvars dependencies
  ush/gefs_atmos_extractvars.sh
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Remove gefs string from ush script filenames
  scripts/exglobal_extractvars.sh
  ush/atmos_extractvars.sh
  ush/ocnice_extractvars.sh
  ush/wav_extractvars.sh
Owners: none

extend walltime for aeroanlvar
  parm/config/gfs/config.resources
Owners: none

extend walltime even more
  parm/config/gfs/config.resources
Owners: none

added try block on create experment so message is set to user and label is updated to fail
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

test creating of all ci pr experments
  ci/scripts/tests/test_create_experiment.py
Owners: @TerrenceMcGuinness-NOAA

Update resources used in extractvars
  parm/config/gefs/config.resources
Owners: none

job deps and arch
  jobs/JGLOBAL_ARCHIVE
  jobs/rocoto/marinebmat.sh
  parm/archive/gdasocean_analysis.yaml.j2
  ush/python/pygfs/task/marine_bmat.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

added all yaml cases for create experement that do not have IC to unit tests
  ci/scripts/tests/test_create_experiment.py
Owners: @TerrenceMcGuinness-NOAA

fixed indent in create test and catch sytnax in pipeline
  ci/Jenkinsfile
  ci/scripts/tests/test_create_experiment.py
Owners: @TerrenceMcGuinness-NOAA

added paralelsAlwaysFailFast in Jenkins Pipeline
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Update prepobs/fit2obs paths for Orion Rocky9
  modulefiles/module_base.hercules.lua
Owners: none

Adds contents of constructor and initialize methods to marine LETKF class (#2635)
  env/HERA.env
  env/ORION.env
  jobs/JGLOBAL_MARINE_ANALYSIS_LETKF
  jobs/rocoto/marineanalletkf.sh
  parm/config/gfs/config.marineanalletkf
  parm/config/gfs/config.ocnanal
  parm/config/gfs/config.ocnanalletkf
  parm/config/gfs/config.resources
  ush/python/pygfs/task/marine_letkf.py
Owners: none

Update prepobs install path for new v1.0.2
  modulefiles/module_base.jet.lua
Owners: none

address issues in creating XML for GFS forecast-only with app S2SWA
  workflow/applications/applications.py
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

revert GFS f-o changes related to app=S2SWA
  workflow/applications/applications.py
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

removed dpdcy to soca calc_scales module
  ush/python/pygfs/task/marine_bmat.py
Owners: none

removed dpdcy to soca calc_scales module 2
  jobs/rocoto/marinebmat.sh
Owners: none

update ufs-weather-model to latest hash
  .gitmodules
Owners: none

fortran bools are translated to python bools
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Use more efficient method to generate parmlist
  ush/extractvars_tools.sh
Owners: none

Add job-specific variable for FHMAX_HF_GFS
  scripts/exglobal_extractvars.sh
  ush/atmos_extractvars.sh
Owners: none

Remove unnecessary mkdir commands
  ush/atmos_extractvars.sh
  ush/ocnice_extractvars.sh
  ush/wav_extractvars.sh
Owners: none

CI maintenance updates and adding CI Unit Tests (#2740)
  .github/workflows/ci_unit_tests.yaml
  ci/Jenkinsfile
  ci/cases/yamls/gefs_ci_defaults.yaml
  ci/scripts/tests/test_create_experiment.py
  ci/scripts/tests/test_rocotostat.py
  ci/scripts/tests/test_setup.py
  ci/scripts/utils/publish_logs.py
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Move temporary atmos files into subdata directory
  ush/atmos_extractvars.sh
  ush/extractvars_tools.sh
Owners: none

no op for CI self-test
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Rename varlist in check_atmos function
  ush/extractvars_tools.sh
Owners: none

Address shell check error and fix error
  ush/atmos_extractvars.sh
  ush/extractvars_tools.sh
Owners: none

Add more detail to warning message
  ush/atmos_extractvars.sh
  ush/extractvars_tools.sh
Owners: none

Fix shell check error
  ush/atmos_extractvars.sh
Owners: none

save with more changes
  parm/config/gfs/config.aeroanlgenb
  scripts/exgdas_aero_analysis_generate_bmatrix.py
  ush/python/pygfs/task/aero_bmatrix.py
  ush/python/pygfs/task/bmatrix.py
Owners: none

fix norms
  ush/python/pygfs/task/aero_bmatrix.py
Owners: none

make more options configurable
  parm/config/gfs/config.aeroanlgenb
Owners: none

fix slow aeroanlinit (hopefully) and update gdas hash
  parm/gdas/aero_stage_variational.yaml.j2
Owners: none
