Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

remove hosts for hy and at
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
Owners: @TerrenceMcGuinness-NOAA

Corrected missing local variable reference.
  ush/hpssarch_gen.sh
Owners: none

Reverting push to develop.
  ush/hpssarch_gen.sh
Owners: none

Corrected missing local variable reference.
  ush/hpssarch_gen.sh
Owners: none

moved iau offset to common
  ush/forecast_predet.sh
Owners: none

Corrects missing local variable reference (#2023)
  ush/hpssarch_gen.sh
Owners: none

Move analysis post to new stand-alone task (#1979)
  jobs/JGLOBAL_ATMOS_POST
  jobs/rocoto/post.sh
  jobs/rocoto/postanl.sh
  workflow/applications/gfs_cycled.py
  workflow/hosts/awspw.yaml
  workflow/rocoto/gfs_tasks.py
Owners: @WenMeng-NOAA, @WalterKolczynski-NOAA, @aerorahul

changed optional script name vars for ocean analysis
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY
  jobs/JGLOBAL_PREP_OCEAN_OBS
Owners: @guillaumevernieres

Update archive job dependencies for GSI monitor jobs
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Resolve PEP8 error in gfs_tasks.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Further resolve PEP8 errors
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Create separate GSI monitor jobs and remove from vrfy job (#1983)
  jobs/JGDAS_ATMOS_VERFOZN
  jobs/JGDAS_ATMOS_VERFRAD
  jobs/JGDAS_ATMOS_VMINMON
  jobs/JGFS_ATMOS_VMINMON
  jobs/JGLOBAL_ARCHIVE
  jobs/rocoto/verfozn.sh
  jobs/rocoto/verfrad.sh
  jobs/rocoto/vminmon.sh
  jobs/rocoto/vrfy.sh
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.com
  parm/config/gfs/config.resources
  parm/config/gfs/config.verfozn
  parm/config/gfs/config.verfrad
  parm/config/gfs/config.vminmon
  parm/config/gfs/config.vrfy
  ush/hpssarch_gen.sh
  ush/minmon_xtrct_costs.pl
  ush/minmon_xtrct_gnorms.pl
  ush/minmon_xtrct_reduct.pl
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @EdwardSafford-NOAA, @WalterKolczynski-NOAA, @aerorahul

changed optional script name vars for ocean analysis (#2025)
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY
  jobs/JGLOBAL_PREP_OCEAN_OBS
Owners: @guillaumevernieres

modify config.stage_ic to reflect HR3 IC
  parm/config/gfs/config.stage_ic
Owners: none

add resolution symbol in stage_ic
  parm/config/gfs/config.stage_ic
Owners: none

wrapping up prittyer printed CI GitHub output
  ci/platforms/config.hera
  ci/platforms/config.orion
  ci/scripts/check_ci.sh
  ci/scripts/clone-build_ci.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

further modification on stage_ic
  parm/config/gfs/config.stage_ic
Owners: none

fixing up to double quotes on sed
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

bash lint quotes
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

shellcheck needs or true for date
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

not reporting number of succeded jobs anymore
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Removed dependency that was raising XML exception.
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix staging of MOM data
  scripts/exglobal_stage_ic.sh
Owners: none

Fix staging of MOM data (#2028)
  scripts/exglobal_stage_ic.sh
Owners: none

Update ci/scripts/clone-build_ci.sh
  ci/scripts/clone-build_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Update ci/scripts/clone-build_ci.sh
  ci/scripts/clone-build_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Create rocoto job scripts for tracker/genesis
  jobs/rocoto/genesis.sh
  jobs/rocoto/genesis_fsu.sh
  jobs/rocoto/tracker.sh
Owners: none

Update clone-build_ci.sh
  ci/scripts/clone-build_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Add tracker/genesis settings to config.base
  parm/config/gfs/config.base.emc.dyn
Owners: none

Remove tracker/genesis settings from config.vrfy
  parm/config/gfs/config.vrfy
Owners: none

Remove tracker/genesis from vrfy rocoto job script
  jobs/rocoto/vrfy.sh
Owners: none

Create configs for tracker/genesis jobs
  parm/config/gfs/config.genesis
  parm/config/gfs/config.genesis_fsu
  parm/config/gfs/config.tracker
Owners: none

enable warm starting of the atmosphere for forecast-only mode and staging of restarts
  scripts/exglobal_stage_ic.sh
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Add tracker/genesis to resource config
  parm/config/gfs/config.resources
Owners: none

adjust resource for C1152
  parm/config/gfs/config.ufs
Owners: none

correct the semantics where the staging is in COM. Fix a bug from a previous PR that was doing a second copy
  scripts/exglobal_stage_ic.sh
Owners: none

Update ci/scripts/check_ci.sh
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Update check_ci.sh
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Add two ucx modules in load_ufswm_modules.sh to solve C768 and C1152 S2SW job hanging issue on WCOSS2 (#2021)
  ush/load_ufswm_modules.sh
Owners: none

Update check_ci.sh
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA
