Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

Check that a PR driver is still running before trying to kill it (#2799)
  ci/scripts/check_ci.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Feature/get arch adds an empty archive job to GEFS system (#2772)
  jobs/rocoto/arch_test.sh
  parm/config/gefs/config.arch
  parm/config/gefs/config.resources
  workflow/applications/gefs.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Revert "remove CDUMP"
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGDAS_AERO_ANALYSIS_GENERATE_BMATRIX
  jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE
  jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE
  jobs/JGLOBAL_AERO_ANALYSIS_RUN
  jobs/rocoto/aeroanlgenb.sh
  jobs/rocoto/aeroanlrun.sh
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.aeroanlgenb
  parm/config/gfs/config.aeroanlrun
  parm/config/gfs/config.aeroanlvar
  parm/config/gfs/config.com
  parm/config/gfs/config.resources
  parm/gdas/aero_finalize_bmatrix_bkg.yaml.j2
  parm/gdas/aero_finalize_variational.yaml.j2
  parm/gdas/aero_stage_bmatrix_bkg.yaml.j2
  parm/gdas/aero_stage_variational.yaml.j2
  parm/ufs/gocart/ExtData.other
  scripts/exgdas_aero_analysis_generate_bmatrix.py
  scripts/exglobal_aero_analysis_run.py
  sorc/link_workflow.sh
  ush/forecast_postdet.sh
  ush/python/pygfs/__init__.py
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/aero_bmatrix.py
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/bmatrix.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @CoryMartin-NOAA, @WalterKolczynski-NOAA, @aerorahul

updated buildResult on stage catError mode and forced an error to get fail reflected on controler
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

added build number to all messages and trying FAIL attribute in buildResult for stage level catchError
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Stage atmospheric backgrounds and UFS cubed-sphere history files (#2792)
  parm/gdas/staging/atm_lgetkf_bkg.yaml.j2
  parm/gdas/staging/atm_var_bkg.yaml.j2
  parm/gdas/staging/atm_var_fv3ens.yaml.j2
  ush/forecast_postdet.sh
  ush/parsing_model_configure_FV3.sh
Owners: none

Fix pycode style
  workflow/rocoto/gefs_tasks.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Add capability to run forecast in segments
  parm/config/gefs/config.base
  parm/config/gefs/config.fcst
  parm/config/gefs/yaml/defaults.yaml
  parm/config/gfs/config.base
  parm/config/gfs/config.fcst
  parm/config/gfs/yaml/defaults.yaml
  ush/forecast_predet.sh
  workflow/applications/applications.py
  workflow/rocoto/gefs_tasks.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/rocoto.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Change fcst segments to breakpoints, move to config.fcst
  parm/config/gefs/config.base
  parm/config/gefs/config.fcst
  parm/config/gefs/yaml/defaults.yaml
  parm/config/gfs/config.base
  parm/config/gfs/config.fcst
  parm/config/gfs/yaml/defaults.yaml
  workflow/applications/applications.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix cdump to run and make AUFHRS always array
  ush/calcanl_gfs.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix another dependency bug
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Adjust aerosol DA jobs for new config arrays
  parm/config/gfs/config.aeroanl
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/aero_prepobs.py
Owners: none

Clean up remaining bugs in fcst segment update
  workflow/rocoto/gefs_tasks.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix wxflow import
  ush/calcanl_gfs.py
Owners: none

Update Test for GFS forecast segments
  ci/cases/yamls/gfs_extended_ci.yaml
Owners: @TerrenceMcGuinness-NOAA

Update archive jinja to account for new lists
  parm/archive/enkf.yaml.j2
  parm/archive/enkf_restarta_grp.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/gfs_netcdfa.yaml.j2
  parm/archive/master_enkf.yaml.j2
  parm/archive/master_gdas.yaml.j2
  parm/archive/master_gfs.yaml.j2
Owners: none

Update archive for fcst segments
  parm/archive/gdas.yaml.j2
Owners: none

Add trailing commas when IAUFHRS is only one number
  parm/config/gfs/config.base
Owners: none

Correct prod dependency
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Extract ice products with native grid instead
  parm/config/gefs/config.extractvars
Owners: none

Remove unused local variable
  ush/forecast_postdet.sh
Owners: none

add C768
  env/AWSPW.env
  workflow/hosts/awspw.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

added failFast to case matrix
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

hard coded failFast feature into running cases matrix
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

trying out a more complex solution using threads to check background process for run-check
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

removed attempt to use threads for hand coded fastFail for cases
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

moved the failFast attribute at the top of the matrix block
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

taking a stab at using a parrallel construct in place of matrix
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

parallel section needs to be in a script under steps
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

still trying to get stag steps hiarchy in parallel block
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Move YAML save out of get_jedi_config method
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
  ush/python/pygfs/task/jedi.py
Owners: none

third attept at getting stages in the right place
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

fourth with aliginging brackets
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

moved script inside of stages
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

removed extra stage block
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

removed extra steps block too
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

removed steps back and try to solve when again
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

pynorms
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
  ush/python/pygfs/task/jedi.py
Owners: none

removed when and used if instead sence they can not be used inside steps
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

no steps in stepsgit add Jenkinsfile
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA
