Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

modified exglobal_archive.py
  scripts/exglobal_archive.py
Owners: none

rename JEDI radiance bias correction tarball file to be more self-describing (#2862)
  parm/archive/gdas_restarta.yaml.j2
  parm/stage/analysis.yaml.j2
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
Owners: none

Move to contrib spack-stack on Jet
  modulefiles/module_base.jet.lua
  modulefiles/module_gwsetup.jet.lua
  versions/build.jet.ver
  versions/run.jet.ver
  workflow/hosts/jet.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

fix ci stager for ensemble + DO_IAU
  parm/stage/analysis.yaml.j2
Owners: none

add 3 and 9 hr inc files to ic staging
  parm/stage/analysis.yaml.j2
Owners: none

Merge latest develop
  ci/cases/pr/C96C48_ufs_hybatmDA.yaml
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGLOBAL_ATMENS_ANALYSIS_OBS
  jobs/JGLOBAL_ATMENS_ANALYSIS_SOL
  jobs/rocoto/atmensanlobs.sh
  jobs/rocoto/atmensanlsol.sh
  parm/archive/enkf.yaml.j2
  parm/config/gfs/config.atmensanlobs
  parm/config/gfs/config.atmensanlsol
  parm/config/gfs/config.base
  parm/config/gfs/config.resources
  parm/config/gfs/config.resources.HERA
  parm/config/gfs/config.resources.HERCULES
  parm/config/gfs/config.resources.WCOSS2
  parm/config/gfs/yaml/defaults.yaml
  parm/stage/analysis.yaml.j2
  scripts/exglobal_atmens_analysis_obs.py
  scripts/exglobal_atmens_analysis_sol.py
  scripts/exglobal_stage_ic.py
  ush/python/pygfs/task/atmens_analysis.py
  ush/python/pygfs/task/stage_ic.py
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

Refactor LETKF observer to work with JEDI class
  scripts/exglobal_atmens_analysis_fv3_increment.py
  scripts/exglobal_atmens_analysis_obs.py
  scripts/exglobal_atmens_analysis_sol.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Update model hash, reenable Orion cycling support
  .gitignore
  jobs/rocoto/upp.sh
  parm/config/gefs/config.base
  parm/post/upp.yaml
  sorc/build_all.sh
  sorc/link_workflow.sh
  ush/forecast_predet.sh
  ush/parsing_model_configure_FV3.sh
Owners: none

Adjust walltime for eobs, rename walltime variables
  parm/config/gfs/config.resources.ORION
Owners: none

Use [[]] instead of [] as bash prefers the double square bracket
  scripts/exglobal_atmos_products.sh
Owners: none

remove commented print
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Correct ocean `MOM.res_#` stage copy (#2868)
  parm/stage/ocean.yaml.j2
  scripts/exglobal_stage_ic.py
Owners: none

Fix small bug
  scripts/exglobal_atmens_analysis_fv3_increment.py
Owners: none

Link gfs and gefs upp parm directories instead of files
  .gitignore
  sorc/link_workflow.sh
  ush/forecast_predet.sh
Owners: none

Load more modules for the UPP
  jobs/rocoto/upp.sh
  parm/config/gefs/config.base
  ush/python/pygfs/__init__.py
  versions/run.spack.ver
Owners: none

modified indent space
  jobs/JGLOBAL_ATMOS_UPP
Owners: @WenMeng-NOAA, @aerorahul

Update path to post_tag_gfs*
  ush/forecast_predet.sh
Owners: none

Update UPP parm paths
  parm/post/upp.yaml
Owners: none

Adjust detection of jet to use lfs5
  ush/detect_machine.sh
Owners: none

Revert UPP modules
  jobs/rocoto/upp.sh
  ush/python/pygfs/__init__.py
Owners: none

Detect Jet with /lfs5
  ush/detect_machine.sh
Owners: none

Remove extra whitespace
  jobs/rocoto/upp.sh
Owners: none

Add diffusion/diag B for aerosol DA and some other needed changes (#2738)
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGDAS_AERO_ANALYSIS_GENERATE_BMATRIX
  jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE
  jobs/JGLOBAL_AERO_ANALYSIS_VARIATIONAL
  jobs/rocoto/aeroanlgenb.sh
  jobs/rocoto/aeroanlvar.sh
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.aeroanlgenb
  parm/config/gfs/config.aeroanlrun
  parm/config/gfs/config.aeroanlvar
  parm/config/gfs/config.com
  parm/config/gfs/config.resources
  parm/gdas/aero_finalize_bmatrix_bkg.yaml.j2
  parm/gdas/aero_finalize_variational.yaml.j2
  parm/gdas/aero_stage_bmatrix_bkg.yaml.j2
  parm/gdas/aero_stage_variational.yaml.j2
  parm/ufs/gocart/ExtData.other
  scripts/exgdas_aero_analysis_generate_bmatrix.py
  scripts/exglobal_aero_analysis_variational.py
  sorc/link_workflow.sh
  ush/forecast_postdet.sh
  ush/python/pygfs/__init__.py
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/aero_bmatrix.py
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/bmatrix.py
  versions/fix.ver
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @CoryMartin-NOAA, @WalterKolczynski-NOAA, @aerorahul

Fix paths to use lfs5 instead of lfs4
  docs/note_fixfield.txt
  docs/source/components.rst
  docs/source/init.rst
  parm/config/gfs/config.aero
  sorc/link_workflow.sh
  workflow/hosts.py
Owners: @WalterKolczynski-NOAA, @aerorahul

modified exglobal_archive.py
  scripts/exglobal_archive.py
Owners: none

modified exglobal_archive.py
  scripts/exglobal_archive.py
Owners: none

modified exglobal_archive.py
  scripts/exglobal_archive.py
Owners: none

modified exglobal_archive.py
  scripts/exglobal_archive.py
Owners: none

Add 3 and 9 hr increment files to IC staging (#2876)
  parm/stage/analysis.yaml.j2
Owners: none

update config/version files to run CI test C96_atm3DVar
  modulefiles/module_base.gaea.lua
  versions/run.gaea.ver
  workflow/hosts/gaea.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Link post_tag files to parm/post
  sorc/link_workflow.sh
  ush/forecast_predet.sh
Owners: none

fix few paths
  docs/note_fixfield.txt
  sorc/link_workflow.sh
Owners: none

Avoid adding _base to app objects
  workflow/applications/applications.py
  workflow/applications/gefs.py
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Declare 'run' attribute in GEFSAppConfig
  workflow/applications/gefs.py
Owners: @WalterKolczynski-NOAA, @aerorahul

modified exglobal_Archive.py
  scripts/exglobal_archive.py
Owners: none

Redo some things w/ JEDI class to address YAML archiving error
  scripts/exglobal_atm_analysis_finalize.py
  scripts/exglobal_atm_analysis_fv3_increment.py
  scripts/exglobal_atm_analysis_initialize.py
  scripts/exglobal_atm_analysis_variational.py
  scripts/exglobal_atmens_analysis_finalize.py
  scripts/exglobal_atmens_analysis_fv3_increment.py
  scripts/exglobal_atmens_analysis_initialize.py
  scripts/exglobal_atmens_analysis_letkf.py
  scripts/exglobal_atmens_analysis_obs.py
  scripts/exglobal_atmens_analysis_sol.py
  ush/python/pygfs/jedi/jedi.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: @RussTreadon-NOAA

modified exglobal_archive.py
  scripts/exglobal_archive.py
Owners: none

modified exglobal_archive.py
  scripts/exglobal_archive.py
Owners: none

pynorms
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Proposed change to enkf.yaml.j2
  parm/archive/enkf.yaml.j2
Owners: none
