Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

Fix gdas_tasks
  workflow/applications/gfs_cycled.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix aerosol comment
  parm/config/gfs/config.fcst
Owners: none

Turn aerosol analyses on for gfs and gdas runs
  parm/config/gfs/config.base
Owners: none

Use aero cdump variables to determine archiving
  parm/archive/arcdir.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gfsa.yaml.j2
  parm/archive/master_gfs.yaml.j2
Owners: none

create two new variables that define the start time of the forecast model for current and next cycle and leave other defintions of variables as is
  ush/forecast_det.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

Replace waves with aerosols in config.fcst
  parm/config/gfs/config.fcst
Owners: none

Change mandatory to required
  parm/archive/chem.yaml.j2
  parm/archive/enkf.yaml.j2
  parm/archive/enkf_grp.yaml.j2
  parm/archive/enkf_restarta_grp.yaml.j2
  parm/archive/enkf_restartb_grp.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/gdas_restartb.yaml.j2
  parm/archive/gdasice.yaml.j2
  parm/archive/gdasice_restart.yaml.j2
  parm/archive/gdasocean.yaml.j2
  parm/archive/gdasocean_analysis.yaml.j2
  parm/archive/gdasocean_restart.yaml.j2
  parm/archive/gdaswave.yaml.j2
  parm/archive/gdaswave_restart.yaml.j2
  parm/archive/gfs_downstream.yaml.j2
  parm/archive/gfs_flux.yaml.j2
  parm/archive/gfs_flux_1p00.yaml.j2
  parm/archive/gfs_netcdfa.yaml.j2
  parm/archive/gfs_netcdfb.yaml.j2
  parm/archive/gfs_pgrb2b.yaml.j2
  parm/archive/gfs_restarta.yaml.j2
  parm/archive/gfsa.yaml.j2
  parm/archive/gfsb.yaml.j2
  parm/archive/gfswave.yaml.j2
  parm/archive/ice_6hravg.yaml.j2
  parm/archive/ice_grib2.yaml.j2
  parm/archive/ocean_6hravg.yaml.j2
  parm/archive/ocean_daily.yaml.j2
  parm/archive/ocean_grib2.yaml.j2
  ush/python/pygfs/task/archive.py
Owners: none

Make wave point files required
  parm/archive/gfswave.yaml.j2
Owners: none

Update ush/forecast_predet.sh
  ush/forecast_predet.sh
Owners: none

use more descriptive variable name sdate -> model start date
  ush/forecast_det.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

small updates for gaea settings in config.res, detect_machine, and module-setup
  parm/config/gfs/config.resources
  ush/detect_machine.sh
  ush/module-setup.sh
  versions/fix.ver
Owners: none

added development Jenkninsfile for dispatching from GitHub Actions
  ci/Jenkinsfile_dispatch
Owners: @TerrenceMcGuinness-NOAA

Add wave IBP data
  parm/archive/gfswave.yaml.j2
  parm/config/gefs/config.base
  parm/config/gefs/config.wavepostsbs
  parm/config/gfs/config.base
  parm/config/gfs/config.wavepostsbs
  scripts/exglobal_archive.py
Owners: none

Split archive execute method, determine commands (htar/tar, chmod, etc) in configure method
  scripts/exglobal_archive.py
  ush/python/pygfs/task/archive.py
Owners: none

tweaks
  .gitignore
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_LETKF
Owners: none

Remove unused numpy, timedelta modules
  ush/python/pygfs/task/archive.py
Owners: none

revert changes in CCPP_SUITE to FV3_GFS_v17_p8_ugwpv1 in config.ufs and sorc/build_ufs.sh
  parm/config/gfs/config.ufs
  sorc/build_ufs.sh
Owners: none

Actually run the snow DA executable!
  ush/python/pygfs/task/snow_analysis.py
Owners: none

update cice output ic link
  ush/forecast_postdet.sh
Owners: none

Updating atmens_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Initial commit for new "atmensanlfv3inc" job
  env/AWSPW.env
  env/CONTAINER.env
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGLOBAL_ATMENS_ANALYSIS_FV3_INCREMENT
  jobs/JGLOBAL_ATMENS_ANALYSIS_LETKF
  jobs/rocoto/atmensanlletkf.sh
  parm/config/gfs/config.atmensanlfv3inc
  parm/config/gfs/config.atmensanlletkf
  parm/config/gfs/config.atmensanlrun
  parm/config/gfs/config.resources
  scripts/exglobal_atmens_analysis_fv3_increment.py
  scripts/exglobal_atmens_analysis_letkf.py
  ush/python/pygfs/task/atmens_analysis.py
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

update remove data command - suggestion from Rahul
  jobs/JGLOBAL_FORECAST
Owners: none

Fix atmens_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Implementing wait_for_file.
  scripts/exgfs_atmos_awips_20km_1p0deg.sh
  scripts/exgfs_atmos_postsnd.sh
  scripts/exgfs_wave_nawips.sh
  scripts/exgfs_wave_post_gridded_sbs.sh
  scripts/exgfs_wave_prdgen_gridded.sh
  ush/gfs_bufr.sh
  ush/gfs_bufr_netcdf.sh
  ush/wave_tar.sh
Owners: @JessicaMeixner-NOAA

Enhance error handlings for missing input files (#2557)
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: none

updates scripts for GW CI testing on Gaea
  ci/platforms/config.gaea
  ci/scripts/check_ci.sh
  ci/scripts/driver.sh
  ci/scripts/driver_weekly.sh
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Split enkfgdas and enkfgfs master templates; create one tarball at a time.
  parm/archive/enkf.yaml.j2
  parm/archive/enkf_grp.yaml.j2
  parm/archive/enkf_restartb_grp.yaml.j2
  parm/archive/master_enkf.yaml.j2
  parm/archive/master_enkfgdas.yaml.j2
  parm/archive/master_enkfgfs.yaml.j2
  parm/config/gefs/config.base
  parm/config/gfs/config.base
  scripts/exgdas_enkf_earc.py
  ush/python/pygfs/task/archive.py
Owners: none

removed skipping of hosts from create experment and moved into a test by pars_yaml.py in the driver script
  ci/scripts/driver.sh
  ci/scripts/utils/pars_yaml.py
  workflow/create_experiment.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

needed quotes for shellnorms
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

added needed spaces for pynorms for doc strings
  ci/scripts/utils/pars_yaml.py
Owners: @TerrenceMcGuinness-NOAA

added needed spaces for pynorms for doc strings again
  ci/scripts/utils/pars_yaml.py
Owners: @TerrenceMcGuinness-NOAA

added needed last new line to file pars_yaml.py
  ci/scripts/utils/pars_yaml.py
Owners: @TerrenceMcGuinness-NOAA

Single Executable for main GDAS JEDI applications (#2565)
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmensanl
  parm/config/gfs/config.snowanl
  sorc/link_workflow.sh
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
  ush/python/pygfs/task/snow_analysis.py
Owners: none

On branch dycore_update_hr4 Changes to be committed: modified: parm/config/gefs/config.fcst parm/config/gefs/config.ufs parm/config/gfs/config.fcst parm/config/gfs/config.ufs
  parm/config/gefs/config.fcst
  parm/config/gefs/config.ufs
  parm/config/gfs/config.fcst
  parm/config/gfs/config.ufs
Owners: none

Add task to prepare emissions for GEFS (#2562)
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGLOBAL_PREP_EMISSIONS
  jobs/rocoto/prep_emissions.sh
  parm/config/gefs/config.prep_emissions
  parm/config/gefs/config.resources
  scripts/exglobal_prep_emissions.py
  ush/python/pygfs/__init__.py
  ush/python/pygfs/task/aero_emissions.py
  workflow/applications/gefs.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Remove retired AWIPS job from rocoto generation
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
  workflow/prod.yml
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix npoess filename
  scripts/exgfs_atmos_grib2_special_npoess.sh
Owners: none

Add nest input template to ignore list
  .gitignore
Owners: none

Disable AWIPS in extended test
  ci/cases/yamls/gfs_extended_ci.yaml
Owners: @TerrenceMcGuinness-NOAA

Move config.base overrides to correct place
  ci/cases/pr/C96_atm3DVar_extended.yaml
  ci/cases/yamls/gfs_extended_ci.yaml
Owners: @TerrenceMcGuinness-NOAA
