Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

Update ush/forecast_postdet.sh
  ush/forecast_postdet.sh
Owners: none

added (to view contents of these file) to make it cleaer what the link dones
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

added (to view contents of these file) to make it cleaer what the link dones again
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Updates to archive task.
  parm/archive/gdas.yaml.j2
  ush/python/pygfs/task/archive.py
Owners: none

update gitmodules to add upp and keep the rest same
  .gitmodules
Owners: none

make reviewer updates
  modulefiles/module_base.hera.lua
  sorc/link_workflow.sh
Owners: none

update upp version to develop and set fit2obs_ver in module_base.hera
  modulefiles/module_base.hera.lua
Owners: none

straighten out the comment for fit2obs modulefile on hera
  modulefiles/module_base.hera.lua
Owners: none

pip is not found in load_ufsda_modules.sh. Remove pip list from there
  ush/load_ufsda_modules.sh
Owners: none

update path to iodaconv and python version
  jobs/rocoto/prepsnowobs.sh
Owners: none

Update fit2obs_ver in run.spack.ver
  versions/run.spack.ver
Owners: none

Update Fit2Obs path in module_base.hera.lua
  modulefiles/module_base.hera.lua
Owners: none

Add details to release note for gfs.v16.3.14 - adding wdqms into global-workflow (#2428)
  docs/Release_Notes.gfs.v16.3.14.md
Owners: none

Reordered modules as per reviewer request.
  .gitmodules
Owners: none

Reverting deleted comment as per reviewer request.
  modulefiles/module_base.hera.lua
Owners: none

Finalized HPC environment file changes and bugs in analysis scripts
  env/AWSPW.env
  env/CONTAINER.env
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
Owners: none

Remove ldebug flag from wave post ecf scripts
  ecf/scripts/gfs/wave/post/jgfs_wave_post_bndpnt.ecf
  ecf/scripts/gfs/wave/post/jgfs_wave_post_bndpntbll.ecf
  ecf/scripts/gfs/wave/post/jgfs_wave_postpnt.ecf
Owners: @lgannoaa

Minor documentation update
  ush/python/pygfs/task/atm_analysis.py
Owners: none

Undo change
  parm/gdas/aero_jedi_fix.yaml.j2
Owners: none

Reordered.
  .gitmodules
Owners: none

Reordered.
  .gitmodules
Owners: none

Reordered.
  .gitmodules
Owners: none

Fixed syntax.
  modulefiles/module_base.hera.lua
Owners: none

Fixed mistake.
  modulefiles/module_base.hera.lua
Owners: none

Another fix I missed, again.
  modulefiles/module_base.hera.lua
Owners: none

Another fix I missed, again.
  modulefiles/module_base.hera.lua
Owners: none

fixec pycode style splaces
  ci/scripts/utils/githubpr.py
  ci/scripts/utils/publish_logs.py
Owners: @TerrenceMcGuinness-NOAA

CI test update for RDHPCS Hera.
  ci/cases/pr/C48_S2SWA_gefs.yaml
Owners: @TerrenceMcGuinness-NOAA

generalize specification of path to GDASApp pyiodaconv (#2434)
  jobs/rocoto/prepatmiodaobs.sh
Owners: none

correct gdasappPATH for prepsnowobs.sh (#2434)
  jobs/rocoto/prepsnowobs.sh
Owners: none

generalize pyioda path for JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP (#2434)
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP
Owners: @guillaumevernieres

Fix *earc jobs where the number of members isn't a multiple of 10 (#2424)
  ush/hpssarch_gen.sh
Owners: none

Update ci/scripts/utils/githubpr.py
  ci/scripts/utils/githubpr.py
Owners: @TerrenceMcGuinness-NOAA

Update sorc/build_all.sh
  sorc/build_all.sh
Owners: none

put in check to make sure at least gitst or file is used
  ci/scripts/utils/publish_logs.py
Owners: @TerrenceMcGuinness-NOAA

Only create gif directory when needed
  jobs/JGDAS_ATMOS_GEMPAK_META_NCDC
Owners: @GwenChen-NOAA

More symlinks for gempak
  gempak/ush/gdas_ecmwf_meta_ver.sh
  gempak/ush/gdas_ukmet_meta_ver.sh
Owners: none

Standardize gempak symlinks
  gempak/ush/gdas_meta_loop.sh
  gempak/ush/gdas_meta_na.sh
  gempak/ush/gfs_meta_ak.sh
  gempak/ush/gfs_meta_bwx.sh
  gempak/ush/gfs_meta_comp.sh
  gempak/ush/gfs_meta_crb.sh
  gempak/ush/gfs_meta_hi.sh
  gempak/ush/gfs_meta_hur.sh
  gempak/ush/gfs_meta_mar_atl.sh
  gempak/ush/gfs_meta_mar_comp.sh
  gempak/ush/gfs_meta_mar_pac.sh
  gempak/ush/gfs_meta_mar_ql.sh
  gempak/ush/gfs_meta_mar_skewt.sh
  gempak/ush/gfs_meta_mar_ver.sh
  gempak/ush/gfs_meta_nhsh.sh
  gempak/ush/gfs_meta_opc_na_ver
  gempak/ush/gfs_meta_opc_np_ver
  gempak/ush/gfs_meta_precip.sh
  gempak/ush/gfs_meta_qpf.sh
  gempak/ush/gfs_meta_sa.sh
  gempak/ush/gfs_meta_sa2.sh
  gempak/ush/gfs_meta_trop.sh
  gempak/ush/gfs_meta_us.sh
  gempak/ush/gfs_meta_usext.sh
  gempak/ush/gfs_meta_ver.sh
Owners: none

add function detect_py_ver to set pyiodaPATH (#2434)
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP
  jobs/rocoto/prepatmiodaobs.sh
  jobs/rocoto/prepsnowobs.sh
  ush/preamble.sh
Owners: @guillaumevernieres

address shellcheck warning (#2434)
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP
  jobs/rocoto/prepatmiodaobs.sh
  jobs/rocoto/prepsnowobs.sh
Owners: @guillaumevernieres

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
