Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

Update parm/config/gfs/config.resources
  parm/config/gfs/config.resources
Owners: none

Export postsndcfp resource variables
  parm/config/gfs/config.resources
Owners: none

added perturbations for envar
  jobs/JGLOBAL_MARINE_BMAT
  scripts/exglobal_marine_bmat_run.py
  ush/python/pygfs/__init__.py
  ush/python/pygfs/task/marine_bmat.py
  ush/python/pygfs/utils/__init__.py
  ush/python/pygfs/utils/marine_da_utils.py
Owners: none

options block with parallelsAlwaysFailFast was not valid for matrix
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Update ufs model hash to 20240625 (#2729)
  ush/parsing_namelists_CICE.sh
  ush/parsing_ufs_configure.sh
Owners: none

Update ci/scripts/tests/test_create_experiment.py
  ci/scripts/tests/test_create_experiment.py
Owners: @TerrenceMcGuinness-NOAA

remove mpmd_opt from APRUN_UFS
  env/AWSPW.env
Owners: none

Separate warm/forecast-only restart ARCH_CYC calculations
  parm/archive/master_gdas.yaml.j2
Owners: none

Remove additional CDUMP references
  jobs/JGDAS_ATMOS_ANALYSIS_DIAG
  jobs/JGDAS_ATMOS_CHGRES_FORENKF
  jobs/JGDAS_ENKF_DIAG
  jobs/JGDAS_ENKF_ECEN
  jobs/JGDAS_ENKF_SELECT_OBS
  jobs/JGDAS_ENKF_SFC
  jobs/JGDAS_FIT2OBS
  jobs/JGFS_ATMOS_CYCLONE_TRACKER
  jobs/JGFS_ATMOS_VERIFICATION
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

address comments
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGDAS_ENKF_SNOW_RECENTER
  jobs/rocoto/esnowrecen.sh
  parm/config/gfs/config.esnowrecen
  parm/config/gfs/config.resources
  scripts/exgdas_enkf_snow_recenter.py
  ush/python/pygfs/task/snowens_analysis.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

revert prepobs and fit2obs versions
  modulefiles/module_base.hercules.lua
  versions/run.spack.ver
Owners: none

mpmd_opt and switch off tracker/genesis default for AWS
  env/AWSPW.env
  parm/config/gfs/config.base
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

add TODO
  parm/config/gfs/config.base
Owners: none

Update WCOSS2.env
  env/WCOSS2.env
Owners: none

use new wxflow technique for templates
  parm/gdas/snow_finalize_ens_update.yaml.j2
  parm/gdas/snow_stage_ens_update.yaml.j2
Owners: none

some python issues
  ush/python/pygfs/__init__.py
  ush/python/pygfs/task/snowens_analysis.py
Owners: none

more issues
  scripts/exgdas_enkf_snow_recenter.py
Owners: none

working hybvar
  jobs/JGLOBAL_MARINE_BMAT
  ush/python/pygfs/task/marine_bmat.py
  ush/python/pygfs/utils/marine_da_utils.py
Owners: none

saving before testing stage of bkgs
  jobs/JGDAS_AERO_ANALYSIS_GENERATE_BMATRIX
  jobs/rocoto/aeroanlgenb.sh
  parm/config/gfs/config.aeroanlgenb
  parm/gdas/aero_stage_bmatrix_bkg.yaml.j2
  scripts/exgdas_aero_analysis_generate_bmatrix.py
  ush/python/pygfs/__init__.py
  ush/python/pygfs/task/aero_bmatrix.py
Owners: none

Rename resource variables
  env/AWSPW.env
  env/GAEA.env
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  parm/config/gefs/config.resources
  parm/config/gfs/config.eupd
  parm/config/gfs/config.resources
  parm/config/gfs/config.resources.GAEA
  parm/config/gfs/config.resources.HERA
  parm/config/gfs/config.resources.HERCULES
  parm/config/gfs/config.resources.JET
  parm/config/gfs/config.resources.S4
  parm/config/gfs/config.resources.WCOSS2
  scripts/exgdas_atmos_chgres_forenkf.sh
  scripts/exgdas_enkf_update.sh
  scripts/exglobal_atmos_analysis.sh
  scripts/exglobal_atmos_products.sh
  scripts/exglobal_diag.sh
  workflow/rocoto/tasks.py
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA, @WalterKolczynski-NOAA, @aerorahul

fix templating
  parm/gdas/snow_finalize_ens_update.yaml.j2
  parm/gdas/snow_stage_ens_update.yaml.j2
Owners: none

Disambiguate calcanl ntasks
  parm/config/gfs/config.resources
  ush/calcanl_gfs.py
Owners: none

ocnanalletkf to marineanalletkf and moving setup yamls
  env/HERA.env
  env/ORION.env
  jobs/JGLOBAL_MARINE_ANALYSIS_LETKF
  jobs/rocoto/marineanalletkf.sh
  parm/config/gfs/config.marineanalletkf
  parm/config/gfs/config.ocnanal
  parm/config/gfs/config.resources
  ush/python/pygfs/task/marine_letkf.py
Owners: none

intermediate save
  parm/gdas/aero_stage_bmatrix_bkg.yaml.j2
  ush/python/pygfs/task/aero_bmatrix.py
  ush/python/pygfs/task/bmatrix.py
Owners: none

Correct WCOSS2 mpiexec call for fcst/efcs jobs
  env/WCOSS2.env
  parm/config/gfs/config.eobs
Owners: none

Remove NTHREADS2
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/WCOSS2.env
Owners: none

Update (partially) global-workflow for orion+rocky9 (#2741)
  modulefiles/module_base.orion.lua
  modulefiles/module_gwci.orion.lua
  modulefiles/module_gwsetup.orion.lua
  parm/config/gfs/config.resources.ORION
  ush/detect_machine.sh
  versions/build.orion.ver
  versions/run.orion.ver
Owners: none

End of week commit
  jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.aeroanlgenb
  parm/gdas/aero_finalize_bmatrix_bkg.yaml.j2
  parm/gdas/aero_stage_bmatrix_bkg.yaml.j2
  parm/gdas/aero_stage_variational.yaml.j2
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/aero_bmatrix.py
Owners: @CoryMartin-NOAA

remove ncl version on AWS
  modulefiles/module_base.noaacloud.lua
  versions/run.noaacloud.ver
Owners: none

get stage working
  parm/gdas/aero_stage_variational.yaml.j2
Owners: none

appease the pynorm gods
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update prepobs and fit2obs versions for Orion Rocky9
  modulefiles/module_base.wcoss2.lua
  versions/run.spack.ver
  versions/run.wcoss2.ver
Owners: none

Update Hera prepobs MODULEPATH for Rocky9 install
  modulefiles/module_base.hera.lua
Owners: none

Update commented out prepobs MODULEPATH for Orion
  modulefiles/module_base.orion.lua
Owners: none

Update omega calculation
  parm/ufs/fv3/diag_table
  parm/ufs/fv3/diag_table_da
  ush/forecast_predet.sh
  ush/parsing_namelists_FV3.sh
  ush/parsing_namelists_FV3_nest.sh
Owners: none

moving to availe scatch2 on hera
  workflow/hosts/hera.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

moved KEEPDATA=YES as one-off hard codes into config.base
  ci/platforms/config.hera
  parm/config/gefs/config.base
  parm/config/gfs/config.base
Owners: @TerrenceMcGuinness-NOAA

correct _base to self._base
  workflow/applications/gfs_forecast_only.py
Owners: @WalterKolczynski-NOAA, @aerorahul

correct self.app_config.aero_fcst_cdumps to self.app_config.aero_anl_cdumps
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

commit before attempt at comparing
  jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE
  parm/config/gfs/config.aeroanl
  parm/gdas/aero_finalize_variational.yaml.j2
  parm/gdas/aero_stage_variational.yaml.j2
  ush/forecast_postdet.sh
  ush/python/pygfs/task/aero_analysis.py
Owners: @CoryMartin-NOAA
