Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

added machine name on sinlge exe completion lines
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Consolidate WW3 input templates
  parm/wave/ww3_multi.gfs.inp.tmpl
  parm/wave/ww3_multi.inp.tmpl
  parm/wave/ww3_shel.gfs.inp.tmpl
  parm/wave/ww3_shel.inp.tmpl
  ush/parsing_namelists_WW3.sh
Owners: none

updated REPO_URL to global just before to submit PR
  ci/scripts/check_ci.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Add waves to GEFS CI test
  ci/cases/pr/C48_S2SWA_gefs.yaml
Owners: @TerrenceMcGuinness-NOAA

Update ci/scripts/run_ci.sh
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Update ci/scripts/run_ci.sh
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Add {} into scripts/exgdas_atmos_verfrad.sh
  scripts/exgdas_atmos_verfrad.sh
Owners: @EdwardSafford-NOAA

Add shellcheck disable to jobs/JGDAS_ATMOS_VERFOZN
  jobs/JGDAS_ATMOS_VERFOZN
Owners: @EdwardSafford-NOAA

Added new AWIPS jobs for Rocoto.
  jobs/rocoto/awips_20sh.sh
  jobs/rocoto/awips_g2sh.sh
Owners: none

Removed no longer needed script.
  jobs/rocoto/awips.sh
Owners: none

Add shellcheck disable for SC2153 for monitor jobs
  jobs/JGDAS_ATMOS_VERFRAD
  jobs/JGLOBAL_ATMOS_VMINMON
Owners: @EdwardSafford-NOAA

Updated Rocoto applications.
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Updates to test AWIPS job splitting.
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Added tasks to GFS for AWIPS.
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update ci/scripts/check_ci.sh
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Addressing issues raised by linter.
  jobs/rocoto/awips_20sh.sh
  jobs/rocoto/awips_g2sh.sh
Owners: none

Addressing issues raised by linter.
  jobs/rocoto/awips_20sh.sh
  jobs/rocoto/awips_g2sh.sh
Owners: none

Update ci/scripts/driver.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Update ci/scripts/driver.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

moved STMP to /work2 on orion because /work is full
  ci/platforms/config.orion
Owners: @TerrenceMcGuinness-NOAA

Update driver.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Update driver.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Update driver.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Update ci/scripts/utils/ci_utils.sh
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

Update driver.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Update ci_utils.sh
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

Update driver.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Adjust permissions for jobs/JGFS_ATMOS_VERIFICATION
  jobs/JGFS_ATMOS_VERIFICATION
Owners: none

Adjust permissions for jobs/JGFS_ATMOS_VERIFICATION (#2095)
  jobs/JGFS_ATMOS_VERIFICATION
Owners: none

Add wave init to GEFS (#2089)
  ci/cases/pr/C48_S2SWA_gefs.yaml
  jobs/JGDAS_ENKF_FCST
  parm/config/gefs/config.base.emc.dyn
  parm/config/gefs/config.efcs
  parm/config/gefs/config.wave
  parm/config/gefs/config.waveinit
  parm/wave/ww3_multi.inp.tmpl
  parm/wave/ww3_shel.inp.tmpl
  scripts/exgfs_wave_init.sh
  ush/parsing_namelists_WW3.sh
  workflow/applications/gefs.py
  workflow/rocoto/gefs_tasks.py
Owners: @TerrenceMcGuinness-NOAA, @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA, @JessicaMeixner-NOAA, @WalterKolczynski-NOAA, @aerorahul

Add missing cut to VDATE setting in JGFS_ATMOS_VERIFICATION
  jobs/JGFS_ATMOS_VERIFICATION
Owners: none

Adjust cut of VDATE in JGFS_ATMOS_VERIFICATION
  jobs/JGFS_ATMOS_VERIFICATION
Owners: none

added to config.prepoceanobs
  parm/config/gfs/config.prepoceanobs
Owners: none

Add missing cut to VDATE setting in JGFS_ATMOS_VERIFICATION (#2098)
  jobs/JGFS_ATMOS_VERIFICATION
Owners: none

Removed comment as per reviewer request.
  jobs/rocoto/awips_20sh.sh
  jobs/rocoto/awips_g2sh.sh
Owners: none

Renamed tasks as per reviewer suggestion.
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Updates relative to reviewer comments/suggestions.
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update driver.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Update driver.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Remove WAFS update from v16.3.11 release branch
  Externals.cfg
  docs/Release_Notes.gfs.v16.3.11.md
  ecf/defs/gfs_v16_3.def
  ecf/scripts/gfs/atmos/post_processing/grib2_wafs/jgfs_atmos_wafs_blending_0p25.ecf
  ecf/scripts/gfs/atmos/post_processing/grib2_wafs/jgfs_atmos_wafs_grib2.ecf
  ecf/scripts/gfs/atmos/post_processing/grib2_wafs/jgfs_atmos_wafs_grib2_0p25.ecf
  ecf/scripts/gfs/atmos/post_processing/jgfs_atmos_wafs_gcip.ecf
  sorc/checkout.sh
Owners: @lgannoaa

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
