Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

Switch to Rocky 9 built external packages on Hercules (#2608)
  jobs/JGFS_ATMOS_CYCLONE_GENESIS
  jobs/JGFS_ATMOS_CYCLONE_TRACKER
  jobs/JGFS_ATMOS_FSU_GENESIS
  workflow/hosts/hercules.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

just removed line for extra var to setup_expt
  ci/scripts/tests/test_setup.py
Owners: @TerrenceMcGuinness-NOAA

Corrected globbing issue.
  ush/wave_tar.sh
Owners: none

updated HPC_ACCOUNT to ACCOUNT in bash config of ci platforms to test updates to wxflow configuration.py
  ci/cases/yamls/atmaerosnowDA_defaults_ci.yaml
  ci/cases/yamls/gefs_ci_defaults.yaml
  ci/cases/yamls/gfs_defaults_ci.yaml
  ci/cases/yamls/gfs_extended_ci.yaml
  ci/cases/yamls/soca_gfs_defaults_ci.yaml
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
  ci/platforms/config.hera
  ci/platforms/config.hercules
  ci/platforms/config.orion
  ci/platforms/config.wcoss2
  ci/scripts/tests/wxflow
Owners: @TerrenceMcGuinness-NOAA

Delete ci/scripts/tests/wxflow
  ci/scripts/tests/wxflow
Owners: @TerrenceMcGuinness-NOAA

Move COM declares inside MEMDIR loop
  jobs/JGLOBAL_STAGE_IC
Owners: none

Update jobs/JGLOBAL_WAVE_INIT
  jobs/JGLOBAL_WAVE_INIT
Owners: @JessicaMeixner-NOAA

Update jobs/JGLOBAL_WAVE_POST_BNDPNT
  jobs/JGLOBAL_WAVE_POST_BNDPNT
Owners: @JessicaMeixner-NOAA

Update jobs/JGLOBAL_WAVE_POST_BNDPNTBLL
  jobs/JGLOBAL_WAVE_POST_BNDPNTBLL
Owners: @JessicaMeixner-NOAA

Update jobs/JGLOBAL_WAVE_POST_PNT
  jobs/JGLOBAL_WAVE_POST_PNT
Owners: @JessicaMeixner-NOAA

Update jobs/JGLOBAL_WAVE_POST_SBS
  jobs/JGLOBAL_WAVE_POST_SBS
Owners: @JessicaMeixner-NOAA

Update jobs/JGLOBAL_WAVE_POST_SBS
  jobs/JGLOBAL_WAVE_POST_SBS
Owners: @JessicaMeixner-NOAA

Update jobs/JGLOBAL_WAVE_PRDGEN_BULLS
  jobs/JGLOBAL_WAVE_PRDGEN_BULLS
Owners: @JessicaMeixner-NOAA

Update jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED
  jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED
Owners: @JessicaMeixner-NOAA

Update jobs/JGLOBAL_WAVE_PREP
  jobs/JGLOBAL_WAVE_PREP
Owners: @JessicaMeixner-NOAA

Update jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED
  jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED
Owners: @JessicaMeixner-NOAA

Update scripts/exgfs_wave_init.sh
  scripts/exgfs_wave_init.sh
Owners: @JessicaMeixner-NOAA

Update jobs/JGLOBAL_WAVE_INIT
  jobs/JGLOBAL_WAVE_INIT
Owners: @JessicaMeixner-NOAA

Addressing reviewer suggestion.
  scripts/exgfs_wave_init.sh
Owners: @JessicaMeixner-NOAA

update enkf job log filenames for enkf archive (#2640)
  parm/archive/enkf.yaml.j2
Owners: none

Update job JGFS_ATMOS_POSTSND package
  scripts/exgfs_atmos_postsnd.sh
  ush/gfs_bufr.sh
Owners: none

Update job JGFS_ATMOS_POSTSND package
  scripts/exgfs_atmos_postsnd.sh
  ush/gfs_bufr.sh
Owners: none

Initial commit
  parm/gdas/atm_berror_bump_fix.yaml.j2
  parm/gdas/atm_berror_gsibec_fix.yaml.j2
  parm/gdas/atm_berror_identity_fix.yaml.j2
  parm/gdas/atm_bkg_fix.yaml.j2
  parm/gdas/atm_fv3ens_fix.yaml.j2
Owners: none

update exgfs_atmos_postsnd.sh to use NUM_SND_COLLECTIVES
  scripts/exgfs_atmos_postsnd.sh
Owners: none

more cleanup
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_LETKF
  ush/python/pygfs/task/marine_letkf.py
Owners: none

Remove yamls not yet needed
  parm/stage/fv3_nest.yaml.j2
  parm/stage/fv3_warm.yaml.j2
  parm/stage/mediator.yaml.j2
  scripts/exglobal_stage_ic.py
Owners: none

Remove nest option and cleanup python imports
  ush/python/pygfs/task/stage.py
Owners: none

Undo change to setup_expt.py
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Add handling to select CRTM cloud optical table based on cloud scheme.
  scripts/exglobal_atmos_analysis.sh
Owners: @RussTreadon-NOAA

update for COMIN/COMOUT changes
  ush/forecast_postdet.sh
Owners: none

Add script to process ocean and ice
  parm/config/gefs/config.extractvars
  parm/product/gefs_ice_shortparmlist.parm
  parm/product/gefs_ice_shortparmlist_grib2.parm
  parm/product/gefs_ocn_shortparmlist.parm
  parm/product/gefs_ocn_shortparmlist_grib2.parm
  scripts/exglobal_extractvars.sh
  ush/gefs_ocnice_extractvars.sh
Owners: none

Changes based on reviews - link nest fix files when needed, i.e. keep the --nest option - change $FIXgfs/orog to $FIXorog - change $FIXgfs/ugwd to $FIXugwd
  parm/config/gfs/config.base
  parm/ufs/fix/gfs/atmos.fixed_files.yaml
  parm/ufs/fix/gfs/land.fixed_files.yaml
  parm/ufs/fix/gfs/ocean.fixed_files.yaml
  scripts/exgdas_enkf_sfc.sh
  scripts/exglobal_atmos_sfcanl.sh
  scripts/exglobal_forecast.sh
  sorc/link_workflow.sh
  ush/forecast_predet.sh
  ush/gaussian_sfcanl.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

update .gitignore
  .gitignore
Owners: none

Update scripts/exglobal_atmos_analysis.sh
  scripts/exglobal_atmos_analysis.sh
Owners: @RussTreadon-NOAA

Increase the total number of MPI due to increase number of variables for analysis increment interpolation and analysis calculation in gsi_utils/src/netcdf_io
  ush/calcanl_gfs.py
Owners: none

Remove pre-defined cloud optical table
  scripts/exglobal_atmos_analysis.sh
Owners: @RussTreadon-NOAA

tweaks
  parm/config/gfs/config.ocnanalletkf
  ush/python/pygfs/task/marine_letkf.py
Owners: none

end of day commit
  parm/config/gfs/config.esnowanl
  parm/gdas/snow_stage_orog.yaml.j2
  scripts/exglobal_snow_ensemble_analysis.py
  ush/python/pygfs/task/snowens_analysis.py
Owners: none

update jobs name to prepobsaero
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGLOBAL_PREP_OBS_AERO
  jobs/rocoto/prepobsaero.sh
  parm/config/gfs/config.base
  parm/config/gfs/config.prepobsaero
  parm/config/gfs/config.resources
  scripts/exglobal_archive.py
  scripts/exglobal_prep_obs_aero.py
  ush/python/pygfs/task/aero_prepobs.py
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Archiving cleanup (#2621)
  parm/archive/arcdir.yaml.j2
  parm/archive/enkf.yaml.j2
  parm/archive/enkf_grp.yaml.j2
  parm/archive/enkf_restarta_grp.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/gdasocean_analysis.yaml.j2
  parm/archive/gfsa.yaml.j2
  parm/archive/gfsb.yaml.j2
  parm/archive/gfswave.yaml.j2
  parm/archive/ice_grib2.yaml.j2
  parm/archive/master_enkf.yaml.j2
  parm/archive/master_gdas.yaml.j2
  parm/archive/master_gfs.yaml.j2
  parm/config/gfs/config.base
  scripts/exglobal_archive.py
  ush/python/pygfs/task/archive.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul
