Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

change COMIN_ATMOS_MASTER into COMOUT_ATMOS_MASTER
  scripts/exglobal_atmos_upp.py
Owners: none

changing COM/ into COMIN/ or COMOUT/
  ush/python/pygfs/task/upp.py
Owners: none

update COM_ into COMIN_ or COMOUT_
  parm/post/upp.yaml
Owners: none

activate C96C48_ufs_hybatmDA CI on hera, adjust hera resources, update gdas.cd hash (#2415)
  ci/cases/pr/C96C48_ufs_hybatmDA.yaml
  parm/config/gfs/config.resources
  parm/config/gfs/config.resources.HERA
Owners: @TerrenceMcGuinness-NOAA

set WCOSS2 resources for atmanlvar and atmensanlobs (#2415)
  parm/config/gfs/config.resources.WCOSS2
Owners: none

Construct dict of dicts of config files #2783
  workflow/applications/applications.py
  workflow/applications/gefs.py
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/tasks.py
  workflow/rocoto/workflow_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Add comment for sourcing configs based on RUN
  workflow/applications/applications.py
Owners: @WalterKolczynski-NOAA, @aerorahul

set HERCULES resources for atmanlvar and atmensanlobs (#2415)
  parm/config/gfs/config.resources.HERCULES
Owners: none

no op for CI self-test
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

updated the UNKOWN test by count not inclusion
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

removed no-op from driver.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

update gefs_arcdir.yaml.j2
  parm/archive/gefs_arcdir.yaml.j2
Owners: none

updated config.arch
  parm/config/gefs/config.arch
Owners: none

add atmensanlobs and atmensanlsol to enkf.yaml.j2 (#2415)
  parm/archive/enkf.yaml.j2
Owners: none

Adjust mem if-block and fix job list for JEDI
  parm/stage/master_gfs.yaml.j2
  workflow/applications/gfs_cycled.py
Owners: @WalterKolczynski-NOAA, @aerorahul

generalize lgetkf observer and solver configuration, save observer and solver yamls (#2415)
  parm/config/gfs/config.atmensanlobs
  parm/config/gfs/config.atmensanlsol
  parm/config/gfs/yaml/defaults.yaml
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

correct pynorms violation (#2415)
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Update analysis yaml for enkfgdas ratminc.nc
  parm/stage/analysis.yaml.j2
  parm/stage/master_gfs.yaml.j2
Owners: none

update parm/config/gfs
  parm/config/gfs/config.anlstat
  parm/config/gfs/config.resources
Owners: none

changes following suggestion, remove ATM forecast only unrelated, simplifying checking PW
  env/AZUREPW.env
  parm/config/gfs/config.base
Owners: none

remove extra I_MPI_x env var export
  env/AZUREPW.env
Owners: none

remove a comment line
  parm/config/gfs/config.base
Owners: none

Fixed test on UNAVAILBLE in python Rocoto check (#2842)
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

set 300s limit for dt_inner
  parm/config/gefs/config.fcst
  parm/config/gfs/config.fcst
Owners: none

correct fi
  parm/config/gefs/config.fcst
Owners: none

running url in Terry Repo in Jenkinsfile
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

spelling errror in url for jenkins
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

support ATM forecast only on Azure (#2827)
  env/AZUREPW.env
  parm/config/gfs/config.base
  parm/config/gfs/config.resources
  parm/config/gfs/config.resources.AZUREPW
  workflow/hosts.py
  workflow/hosts/azurepw.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Update Jenkinsfile
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

move archive step to the end of the finalize function
  ush/python/pygfs/task/aero_analysis.py
Owners: none

no op
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

put EMC-NOAA back in url
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

turn off wave on AWS
  parm/config/gefs/config.base
Owners: none

Convert bufr to handle one forecast at a time
  jobs/JGFS_ATMOS_POSTSND
  scripts/exgfs_atmos_postsnd.sh
  ush/gfs_bufr.sh
Owners: @WenMeng-NOAA

Addressing Rahul's comments
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
  ush/python/pygfs/task/jedi.py
Owners: none

edits to stage_ic for replay perturbations
  parm/stage/atmosphere_replay.yaml.j2
  parm/stage/master_gefs.yaml.j2
  parm/stage/ocean_replay.yaml.j2
Owners: none

Move jedi.py to its own directory and move logging from jedi.py functions to actual task
  ush/python/pygfs/jedi/__init__.py
  ush/python/pygfs/jedi/jedi.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

adding icsdir to pr CI yaml
  ci/cases/pr/C96_S2SWA_gefs_replay_ics.yaml
Owners: @TerrenceMcGuinness-NOAA

update stage_ic to copy JEDI radiance bias correction files (#2415)
  parm/stage/analysis.yaml.j2
  scripts/exglobal_stage_ic.py
  ush/python/pygfs/task/stage_ic.py
Owners: none

remove trailing whitespace to correct pynorm coding violation (#2415)
  scripts/exglobal_stage_ic.py
Owners: none
