Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

only one pycodestyle error left now
  workflow/rocoto/workflow_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Add missing documentation to execute_stage function
  ush/python/pygfs/task/stage.py
Owners: none

Clean-up temporary rundirs - take 2. (#2753)
  .github/pull_request_template.md
  jobs/JGFS_ATMOS_FBWIND
  jobs/JGFS_ATMOS_GEMPAK_META
  jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
  jobs/JGLOBAL_CLEANUP
  parm/config/gefs/config.base
  parm/config/gfs/config.base
  parm/config/gfs/config.fbwind
  parm/config/gfs/config.resources
  scripts/exglobal_cleanup.sh
  ush/jjob_header.sh
  workflow/rocoto/tasks.py
Owners: @GwenChen-NOAA, @WalterKolczynski-NOAA, @aerorahul

updated reference to gh tool in pipeline script in the FINALIZE section
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

pycodestype passed without any error
  workflow/rocoto/workflow_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update ci/scripts/driver.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Add condition to perform additional CICE averaging
  ush/forecast_postdet.sh
Owners: none

Fix conditional statement
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

modified arch_test.sh
  jobs/rocoto/arch_test.sh
Owners: none

Add flag on whether to further average CICE
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

Simplify ocnice prod python script
  ush/python/pygfs/task/oceanice_products.py
Owners: none

Move IC variables from base to stage config
  parm/config/gefs/config.base
  parm/config/gefs/config.stage_ic
  parm/config/gfs/config.base
  parm/config/gfs/config.stage_ic
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Correct spelling mistake in config.com
  parm/config/gfs/config.com
Owners: none

Add comments in config.stage_ic
  parm/config/gefs/config.stage_ic
  parm/config/gfs/config.stage_ic
Owners: none

MEMDIR updates in JGLOBAL_STAGE_IC
  jobs/JGLOBAL_STAGE_IC
Owners: none

Fix shellcheck errors
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

Make arch_test.sh executable
  jobs/rocoto/arch_test.sh
Owners: none

Bugfix for updating label states in Jenkins (#2808)
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

updated fix dir for orion/hercules
  sorc/link_workflow.sh
Owners: none

Revert MSU FIX_DIRs back to glopara
  sorc/link_workflow.sh
Owners: none

Revert MSU FIX_DIRs back to glopara (#2811)
  sorc/link_workflow.sh
Owners: none

link fix files added in #2806
  sorc/link_workflow.sh
  versions/fix.ver
Owners: none

Gaea c5 added to Jenkinsfile and CI testing
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  ci/cases/pr/C96C48_ufs_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar_extended.yaml
  ci/cases/pr/C96_atmaerosnowDA.yaml
  ci/platforms/config.gaea
  ci/scripts/check_ci.sh
  ci/scripts/driver.sh
  ci/scripts/driver_weekly.sh
  ci/scripts/run_ci.sh
  ci/scripts/utils/launch_java_agent.sh
Owners: @TerrenceMcGuinness-NOAA

add global default env variable for gh the GitHub CLI executable in account running agents for EMC global-workflows
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

add global default env variable for gh the GitHub CLI executable in account running agents for EMC global-workflows
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

reverted to authrative URL after testing
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

update increment mask
  scripts/exgdas_enkf_snow_recenter.py
  ush/python/pygfs/task/snowens_analysis.py
Owners: none

more robust check of analysis restarts
  ush/forecast_postdet.sh
Owners: none

Marine DA updates (#2802)
  ci/cases/gfsv17/ocnanal.yaml
  jobs/rocoto/prepoceanobs.sh
  parm/config/gfs/config.resources
  ush/python/pygfs/task/marine_bmat.py
  ush/python/pygfs/utils/marine_da_utils.py
  versions/fix.ver
Owners: @TerrenceMcGuinness-NOAA

Feature/get arch adds an empty archive job to GEFS system (#2772)
  jobs/rocoto/arch_test.sh
  parm/config/gefs/config.arch
  parm/config/gefs/config.resources
  workflow/applications/gefs.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

added a catcherror block around running experments to capture fails on the Jenkins Controller
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Update ci/Jenkinsfile
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

reverted suggestion and added indent
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Check that a PR driver is still running before trying to kill it (#2799)
  ci/scripts/check_ci.sh
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

added build number to final message
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

make GH a global variable and assign it once the Node conncetion is established
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

remove CDUMP
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGDAS_AERO_ANALYSIS_GENERATE_BMATRIX
  jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE
  jobs/JGLOBAL_AERO_ANALYSIS_VARIATIONAL
  jobs/rocoto/aeroanlgenb.sh
  jobs/rocoto/aeroanlvar.sh
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.aeroanlgenb
  parm/config/gfs/config.aeroanlrun
  parm/config/gfs/config.aeroanlvar
  parm/config/gfs/config.com
  parm/config/gfs/config.resources
  parm/gdas/aero_finalize_bmatrix_bkg.yaml.j2
  parm/gdas/aero_finalize_variational.yaml.j2
  parm/gdas/aero_stage_bmatrix_bkg.yaml.j2
  parm/gdas/aero_stage_variational.yaml.j2
  parm/ufs/gocart/ExtData.other
  scripts/exgdas_aero_analysis_generate_bmatrix.py
  scripts/exglobal_aero_analysis_variational.py
  sorc/link_workflow.sh
  ush/forecast_postdet.sh
  ush/python/pygfs/__init__.py
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/aero_bmatrix.py
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/bmatrix.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @CoryMartin-NOAA, @WalterKolczynski-NOAA, @aerorahul

Revert "remove CDUMP"
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGDAS_AERO_ANALYSIS_GENERATE_BMATRIX
  jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE
  jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE
  jobs/JGLOBAL_AERO_ANALYSIS_RUN
  jobs/rocoto/aeroanlgenb.sh
  jobs/rocoto/aeroanlrun.sh
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.aeroanlgenb
  parm/config/gfs/config.aeroanlrun
  parm/config/gfs/config.aeroanlvar
  parm/config/gfs/config.com
  parm/config/gfs/config.resources
  parm/gdas/aero_finalize_bmatrix_bkg.yaml.j2
  parm/gdas/aero_finalize_variational.yaml.j2
  parm/gdas/aero_stage_bmatrix_bkg.yaml.j2
  parm/gdas/aero_stage_variational.yaml.j2
  parm/ufs/gocart/ExtData.other
  scripts/exgdas_aero_analysis_generate_bmatrix.py
  scripts/exglobal_aero_analysis_run.py
  sorc/link_workflow.sh
  ush/forecast_postdet.sh
  ush/python/pygfs/__init__.py
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/aero_bmatrix.py
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/bmatrix.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @CoryMartin-NOAA, @WalterKolczynski-NOAA, @aerorahul

fix shellnorm
  ush/forecast_postdet.sh
Owners: none

Marine DA updates (#2802)
  ci/cases/gfsv17/ocnanal.yaml
  jobs/rocoto/prepoceanobs.sh
  parm/config/gfs/config.resources
  ush/python/pygfs/task/marine_bmat.py
  ush/python/pygfs/utils/marine_da_utils.py
  versions/fix.ver
Owners: @TerrenceMcGuinness-NOAA
