Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

removed redundant gaea-c5 lua conf file
  modulefiles/ufs_gaea-c5.intel.lua
Owners: none

Add shellcheck disable for SC2034 in forecast_postdet.sh
  ush/forecast_postdet.sh
Owners: none

Removed submodule.
  .gitmodules
Owners: none

Rocky-8 updates.
  .gitmodules
  modulefiles/module_gwsetup.hera.lua
Owners: none

tmpl for do_vrfy_oceanda
  parm/config/gfs/config.base
Owners: none

added default
  parm/config/gfs/yaml/defaults.yaml
Owners: none

Forgotten templated DO_VRFY_OCEANDA (#2379)
  parm/config/gfs/config.base
  parm/config/gfs/yaml/defaults.yaml
Owners: none

more jinja updates for JEDI ATM, increase JEDI ATMENS layout for CI test (#2294)
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmensanl
Owners: @TerrenceMcGuinness-NOAA

no op for ci self test on develop
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Remove script no longer used by the system
  ush/fv3gfs_remap.sh
Owners: none

Update ci/scripts/pr_list_database.py
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

address comments from review
  ecf/scripts/gdas/atmos/analysis/jgdas_atmos_analysis_wdqms.ecf
  jobs/rocoto/wdqms.sh
  parm/config/config.base.emc.dyn
  parm/config/config.base.nco.static
  parm/config/config.resources.emc.dyn
  parm/config/config.resources.nco.static
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: @lgannoaa

updated hosts.yaml
  workflow/hosts/gaea-c5.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

update paths to COMIN/COMOUT and unravel the cnvstat to get inputs for wdqms.py
  jobs/JGDAS_ATMOS_ANALYSIS_WDQMS
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: none

added no op for ci self test
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Add new BUFR table file parm/product/bufr_ij9km.txt for GFSv17 C1152
  parm/product/bufr_ij9km.txt
  ush/gfs_bufr.sh
Owners: none

removed C48_S2SWA_gefs from CI Jenkins test on Hercules due to ln issue
  ci/cases/pr/C48_S2SWA_gefs.yaml
Owners: @TerrenceMcGuinness-NOAA

fix shellnorm errors
  parm/config/gefs/config.resources
Owners: none

update config.resources in the repo with the one used in test
  parm/config/gfs/config.resources
Owners: none

remove superfluous APRUNCFP
  env/HERA.env
Owners: none

adding notional orion capability
  env/ORION.env
Owners: none

correct syntax errors in atm_jedi_fix.yaml (#2294)
  parm/gdas/atm_jedi_fix.yaml
Owners: none

Ocean Ensmemble Options
  parm/config/gefs/config.base
  parm/config/gefs/config.efcs
  parm/config/gefs/config.stage_ic
  scripts/exglobal_stage_ic.sh
  ush/forecast_postdet.sh
  ush/parsing_namelists_FV3.sh
  ush/parsing_namelists_MOM6.sh
Owners: none

Initial set of archiving yamls.
  parm/archive/enkfgdas.yaml
  parm/archive/enkfgdas_hybvar.yaml
  parm/archive/enkfgdas_hybvar_lobsdiag.yaml
  parm/archive/enkfgdas_hybvar_nolobsdiag.yaml
  parm/archive/enkfgfs.yaml
  parm/archive/enkfgfs_hybvar.yaml
  parm/archive/enkfgfs_hybvar_lobsdiag.yaml
  parm/archive/enkfgfs_hybvar_nolobsdiag.yaml
  parm/archive/gdas.yaml
  parm/archive/gdas_aero.yaml
  parm/archive/gdas_dopost.yaml
  parm/archive/gdas_ice.yaml
  parm/archive/gdas_ocn.yaml
  parm/archive/gdas_verfozn.yaml
  parm/archive/gdas_verfrad.yaml
  parm/archive/gdas_vminmon.yaml
  parm/archive/gdas_wave.yaml
  parm/archive/gfs.yaml
  parm/archive/gfs_aero.yaml
  parm/archive/gfs_archgaussian.yaml
  parm/archive/gfs_archgaussian_cycled.yaml
  parm/archive/gfs_bufrsnd.yaml
  parm/archive/gfs_cycled.yaml
  parm/archive/gfs_forecastonly.yaml
  parm/archive/gfs_ice.yaml
  parm/archive/gfs_ocn.yaml
  parm/archive/gfs_vminmon.yaml
  parm/archive/gfs_wave.yaml
Owners: none

resource massaging
  env/HERA.env
  env/ORION.env
Owners: none

Add global-workflow infrastructure for ocean analysis recentering task (#2299)
  env/HERA.env
  env/ORION.env
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_ECEN
  jobs/rocoto/ocnanalecen.sh
  parm/config/gfs/config.ocnanalecen
  parm/config/gfs/config.resources
  sorc/link_workflow.sh
Owners: none

Add new BUFR table file parm/product/bufr_ij9km.txt for GFSv17 C1152 (#2383)
  parm/product/bufr_ij9km.txt
  ush/gfs_bufr.sh
Owners: none

turn off JEDI ATM CI on hera and orion (#2294)
  ci/cases/pr/C96C48_ufs_hybatmDA.yaml
Owners: @TerrenceMcGuinness-NOAA

Replace ATMENSYAML and ATMVARYAML with JEDIYAML (#2294)
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmensanl
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

replaced search for uniquness in adding pr to state database with UNIQUE constraint within the table
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

added error exception class for SQLiteDB
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

add some defaults to YAML
  parm/config/gefs/config.base
  parm/config/gefs/config.stage_ic
  parm/config/gefs/yaml/defaults.yaml
  ush/forecast_postdet.sh
Owners: none

added better condtion on checkout error code string for when user tries to add pr already in the ci state database
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

simplyfied test for uniqueness to account for different versions of squlite3
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

improved args to function calls and their types
  ci/scripts/pr_list_database.py
Owners: @TerrenceMcGuinness-NOAA

setting back to previous value
  parm/config/gfs/config.resources
Owners: none

Return ocnanalrun npes resource setting back to previous value (#2386)
  parm/config/gfs/config.resources
Owners: none

remove orion from gefs case for testing non system build bash ci
  ci/cases/pr/C48_S2SWA_gefs.yaml
Owners: @TerrenceMcGuinness-NOAA

took orion skip back out of gefs case
  ci/cases/pr/C48_S2SWA_gefs.yaml
Owners: @TerrenceMcGuinness-NOAA

parse jediyaml only once
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/snow_analysis.py
Owners: none
