Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

Fix dependencies for extractvars
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

switch ufs-weather-model back
  .gitmodules
Owners: none

Update ush/python/pygfs/task/archive.py
  ush/python/pygfs/task/archive.py
Owners: none

Update ush/python/pygfs/task/archive.py
  ush/python/pygfs/task/archive.py
Owners: none

Update ufs-weather-model (#2663)
  .gitmodules
  scripts/exglobal_cleanup.sh
  sorc/build_upp.sh
  sorc/link_workflow.sh
  ush/forecast_postdet.sh
Owners: none

Link both global-nest fix files and non-nest ones at the same time (#2632)
  .gitignore
  parm/config/gefs/config.base
  parm/config/gfs/config.base
  parm/ufs/fix/gfs/atmos.fixed_files.yaml
  parm/ufs/fix/gfs/land.fixed_files.yaml
  parm/ufs/fix/gfs/ocean.fixed_files.yaml
  scripts/exgdas_enkf_sfc.sh
  scripts/exglobal_forecast.sh
  sorc/link_workflow.sh
  ush/forecast_predet.sh
  ush/gaussian_sfcanl.sh
  versions/fix.nest.ver
  versions/fix.ver
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

before final sync with EMC repo
  parm/config/gfs/config.base
  workflow/hosts/awspw.yaml
  workflow/hosts/azurepw.yaml
  workflow/hosts/googlepw.yaml
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Bug fix related to bash integer expansion.
  scripts/exgfs_atmos_postsnd.sh
Owners: none

Update FHOUT variable
  scripts/exglobal_extractvars.sh
  ush/gefs_ocnice_extractvars.sh
Owners: none

Remove unused variables from config.extractvars
  parm/config/gefs/config.extractvars
Owners: none

Remove more unused variables
  parm/config/gefs/config.extractvars
Owners: none

Remove nonexistant variable
  scripts/exglobal_extractvars.sh
Owners: none

Add COM template for JEDI obs (#2678)
  parm/config/gfs/config.com
Owners: none

Addressed reviewer comments.
  jobs/JGLOBAL_WAVE_POST_BNDPNT
  jobs/JGLOBAL_WAVE_POST_SBS
  jobs/JGLOBAL_WAVE_PRDGEN_BULLS
  jobs/JGLOBAL_WAVE_PREP
  scripts/exgfs_wave_post_gridded_sbs.sh
  scripts/exgfs_wave_post_pnt.sh
  scripts/exgfs_wave_prdgen_bulls.sh
  scripts/exgfs_wave_prdgen_gridded.sh
  scripts/exgfs_wave_prep.sh
Owners: @JessicaMeixner-NOAA

link gdas_fv3jedi_error_covariance_toolbox.x
  parm/config/gfs/config.aeroanl
  sorc/link_workflow.sh
Owners: none

Modify scripts to process netcdf input
  scripts/exglobal_extractvars.sh
  ush/gefs_ocnice_extractvars.sh
Owners: none

Fix shellcheck errors
  ush/gefs_ocnice_extractvars.sh
Owners: none

Remove line that has been commented out
  ush/gefs_ocnice_extractvars.sh
Owners: none

save diffusion files and aeroanlgenb-related yamls to COM_CHEM_ANALYSIS
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/aero_bmatrix.py
  workflow/applications/gfs_cycled.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Bug fix.
  jobs/JGLOBAL_WAVE_POST_BNDPNTBLL
  jobs/JGLOBAL_WAVE_POST_PNT
Owners: @JessicaMeixner-NOAA

Replace `sleep` with `wait_for_file` (#2586)
  env/HERA.env
  scripts/exgfs_atmos_awips_20km_1p0deg.sh
  scripts/exgfs_atmos_postsnd.sh
  scripts/exgfs_wave_nawips.sh
  scripts/exgfs_wave_post_gridded_sbs.sh
  scripts/exgfs_wave_prdgen_gridded.sh
  ush/gfs_bufr.sh
  ush/gfs_bufr_netcdf.sh
  ush/wave_tar.sh
  versions/run.hera.ver
Owners: @JessicaMeixner-NOAA

Increase memory for UPP @C384 on WCOSS2.
  parm/config/gfs/config.resources.WCOSS2
Owners: none

Make wtime for waveprep RUN-agnostic
  parm/config/gfs/config.resources
Owners: none

make it also run on hera
  scripts/exglobal_stage_ic.sh
Owners: none

Declare runtime job resource variables based on RUN
  parm/config/gfs/config.analcalc
  parm/config/gfs/config.resources
Owners: none

Clean up env files
  env/AWSPW.env
  env/CONTAINER.env
  env/GAEA.env
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
Owners: none

Add {} around EXPDIR
  parm/config/gfs/config.analcalc
Owners: none

Add double quotes to nth_
  parm/config/gfs/config.resources
Owners: none

Add ability to use GEFS replay ICs (#2559)
  parm/config/gefs/config.base
  parm/config/gefs/config.efcs
  parm/config/gefs/config.fcst
  parm/config/gefs/config.stage_ic
  parm/config/gefs/config.ufs
  parm/config/gefs/yaml/defaults.yaml
  parm/config/gfs/config.base
  scripts/exgfs_wave_post_pnt.sh
  scripts/exglobal_stage_ic.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/parsing_namelists_WW3.sh
  ush/wave_outp_spec.sh
  workflow/rocoto/gefs_tasks.py
  workflow/setup_expt.py
Owners: @JessicaMeixner-NOAA, @WalterKolczynski-NOAA, @aerorahul

Update gdas.cd and gsi_utils hashes (#2641)
  parm/archive/enkf.yaml.j2
Owners: none

Addressed reviewer comments.
  jobs/JGLOBAL_WAVE_POST_BNDPNTBLL
  jobs/JGLOBAL_WAVE_POST_PNT
  jobs/JGLOBAL_WAVE_POST_SBS
  jobs/JGLOBAL_WAVE_PRDGEN_BULLS
  scripts/exgfs_wave_post_gridded_sbs.sh
Owners: @JessicaMeixner-NOAA

added node Hercules-EMC to the parameter list for allowedSlaves to support the configurable parameters Jenkins Plugin
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Shellcheck linter.
  scripts/exgfs_wave_post_pnt.sh
Owners: @JessicaMeixner-NOAA

Use replace_tmpl filter
  parm/gdas/staging/atm_lgetkf_bkg.yaml.j2
  parm/gdas/staging/atm_var_fv3ens.yaml.j2
Owners: none

Add Hercules-EMC to the Jenkins configurable parameter list (#2685)
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

Update Jenkinsfile
  ci/Jenkinsfile
Owners: @TerrenceMcGuinness-NOAA

avoid change wxflow
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix and simplify online archiving #2673
  parm/archive/arcdir.yaml.j2
  ush/python/pygfs/task/archive.py
Owners: none

remove echo
  scripts/exglobal_stage_ic.sh
Owners: none

remove ocean daily files
  parm/archive/master_gfs.yaml.j2
  parm/archive/ocean_daily.yaml.j2
  parm/ufs/fv3/diag_table
  ush/forecast_postdet.sh
Owners: none
