Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

removed commented out line
  jobs/JGLOBAL_PREP_OCEAN_OBS
Owners: none

Turning off tests for debugging purposes.
  .github/workflows/docs.yaml
  .github/workflows/pynorms.yaml
Owners: none

Additional cubed-sphere resolution support.
  workflow/hosts/awspw.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Reverting to develop actions.
  .github/workflows/docs.yaml
  .github/workflows/pynorms.yaml
Owners: none

Updated/corrected order of post task applications.
  workflow/applications/gfs_cycled.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Addressed reviewer comments.
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Revert g2tmpl upgrade on Orion
  versions/build.orion.ver
  versions/run.orion.ver
Owners: none

Fix incorrect usage of CFP on WCOSS2 (#1977)
  ush/run_mpmd.sh
Owners: none

Reverted to old sponge layer settings for GDAS in config.fcst and updated parsing_namelists_FV3.sh
  parm/config/gefs/config.fcst
  parm/config/gfs/config.fcst
  ush/parsing_namelists_FV3.sh
Owners: none

Adjust GSI monitor job order for consistency
  jobs/JGLOBAL_ARCHIVE
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.com
  ush/hpssarch_gen.sh
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

successful- tested coupled ic for gefs and gfs
  scripts/exglobal_stage_ic.sh
Owners: none

One more change for order consistency
  ush/hpssarch_gen.sh
Owners: none

Resolve shellcheck SC2086 warning
  jobs/rocoto/verfozn.sh
  jobs/rocoto/verfrad.sh
  jobs/rocoto/vminmon.sh
Owners: none

Cleanup DATA and add missing exit
  jobs/JGDAS_ATMOS_VERFOZN
  jobs/JGDAS_ATMOS_VERFRAD
  jobs/JGDAS_ATMOS_VMINMON
  jobs/JGFS_ATMOS_VMINMON
Owners: @EdwardSafford-NOAA

Add missing exit at end of JGDAS_ATMOS_VERFRAD
  jobs/JGDAS_ATMOS_VERFRAD
Owners: @EdwardSafford-NOAA

changes write permission to config.resource file
  parm/config/gefs/config.base.emc.dyn
  parm/config/gefs/config.resources
  parm/config/gefs/config.stage_ic
  parm/config/gefs/config.waveinit
Owners: none

add ocean analysis to arch task
  jobs/JGLOBAL_ARCHIVE
  scripts/exglobal_archive.sh
  ush/hpssarch_gen.sh
Owners: none

removed vrfy plots from archiving
  ush/hpssarch_gen.sh
Owners: none

config file permission to write for gfs
  parm/config/gfs/config.aero
  parm/config/gfs/config.com
  parm/config/gfs/config.ice
  parm/config/gfs/config.ocn
  parm/config/gfs/config.wave
Owners: none

undo permission for both gfs ad gefs
  parm/config/gefs/config.base.emc.dyn
  parm/config/gefs/config.resources
  parm/config/gefs/config.stage_ic
  parm/config/gefs/config.waveinit
  parm/config/gfs/config.aero
  parm/config/gfs/config.com
  parm/config/gfs/config.ice
  parm/config/gfs/config.wave
Owners: none

undo permission for gfs/config.ocn
  parm/config/gfs/config.ocn
Owners: none

Correcting missing environment variable for AWS PW.
  env/AWSPW.env
Owners: none

Adding updated parameters needed for newest changes in FENGSHA
  parm/ufs/chem/DU2G_instance_DU.rc
Owners: none

Updating to remove the nitrogen inputs and the Ginoux scheme as they are not used. We also are updating the inputs for FENGSHA for GEFSv13 tests
  parm/ufs/chem/ExtData.other
  parm/ufs/chem/ExtData.qfed
Owners: none

Remove the nitrogen component by default in support of EPx experiments
  parm/ufs/chem/GOCART2G_GridComp.rc
Owners: none

Update ufs-weather-model hash
  sorc/checkout.sh
Owners: none

remove nitrate tracers
  parm/ufs/chem/gocart_tracer.list
Owners: none

comment out nitrogen, left in so if anyone wants to run with it they only need to uncomment
  parm/ufs/fv3/diag_table.aero
  parm/ufs/fv3/field_table.aero
Owners: none

update scaling factor
  parm/ufs/chem/ExtData.gbbepx
  parm/ufs/chem/ExtData.qfed
Owners: none

update fengsha path
  parm/ufs/chem/ExtData.other
Owners: none

Update ufs model to version from 10-12-23 (#1933)
  Externals.cfg
  env/WCOSS2.env
  jobs/rocoto/efcs.sh
  jobs/rocoto/fcst.sh
  jobs/rocoto/waveinit.sh
  jobs/rocoto/wavepostbndpnt.sh
  jobs/rocoto/wavepostbndpntbll.sh
  jobs/rocoto/wavepostpnt.sh
  jobs/rocoto/wavepostsbs.sh
  jobs/rocoto/waveprep.sh
  parm/config/gefs/config.base.emc.dyn
  parm/config/gfs/config.resources
  parm/ufs/chem/CAP.rc
  parm/ufs/chem/GOCART2G_GridComp.rc
  parm/ufs/nems.configure.cpld.IN
  parm/ufs/nems.configure.cpld_aero.IN
  parm/ufs/nems.configure.cpld_aero_outerwave.IN
  parm/ufs/nems.configure.cpld_aero_wave.IN
  parm/ufs/nems.configure.cpld_outerwave.IN
  parm/ufs/nems.configure.cpld_wave.IN
  scripts/exglobal_forecast.sh
  sorc/checkout.sh
  ush/forecast_postdet.sh
  ush/load_ufswm_modules.sh
  ush/nems_configure.sh
  ush/parsing_namelists_FV3.sh
Owners: none

initial C96/1 deg coupled model support
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.ocn
  parm/config/gfs/config.resources
  parm/config/gfs/config.ufs
  parm/ufs/mom6/MOM_input_template_100
  ush/parsing_namelists_MOM6.sh
Owners: none

Updated as per reviewer comment.
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Test tarballs for rstprod before calling chgrp (#1967)
  scripts/exgdas_enkf_earc.sh
  scripts/exglobal_archive.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Update GDASApp hash (#1975)
  Externals.cfg
  sorc/checkout.sh
Owners: none

Fix COM_ATMOS_RADMON_PREVS in JGDAS_ATMOS_VERFRAD
  jobs/JGDAS_ATMOS_VERFRAD
Owners: @EdwardSafford-NOAA

Remove duplicate line in gfs_cycled.py
  workflow/applications/gfs_cycled.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Removing script due to redundancy.
  jobs/rocoto/postanl.sh
Owners: none

Created link to post.sh in order to remove redundancy.
  jobs/rocoto/postanl.sh
Owners: none

Corrected small error in forecast_postdet.sh
  ush/forecast_postdet.sh
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
