Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

Fix eupd after GSI PR 602 (#1835)
  Externals.cfg
  scripts/exgdas_enkf_update.sh
  sorc/checkout.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Remove some repetitions.
  ush/python/pygfs/task/land_analysis.py
Owners: none

Fix the python norm error.
  ush/python/pygfs/task/land_analysis.py
Owners: none

Simplify the code to generate bufr2ioda YAML files
  ush/python/pygfs/task/land_analysis.py
Owners: none

Remove the obsolete BUFR2IODAYAML and BUFRADPSFCYAML.
  parm/config/gfs/config.preplandobs
Owners: none

update to latest ufs weather model
  sorc/checkout.sh
Owners: none

Address reviewer's comments.
  ush/python/pygfs/task/land_analysis.py
Owners: none

removed STRICT="NO"
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY
Owners: @guillaumevernieres

fixes declaration error in the exglobal_stage_ic
  scripts/exglobal_stage_ic.sh
Owners: none

Introducing weekly vs pr cases for CI (#1844)
  ci/cases/pr/C48_ATM.yaml
  ci/cases/pr/C48_S2S.yaml
  ci/cases/pr/C48_S2SA_gefs.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
  ci/cases/weekly/C384C192_hybatmda.yaml
  ci/cases/weekly/C384_atm3DVar.yaml
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

quick test of CI framework from develop branch
  ci/cases/pr/C48_S2S.yaml
  ci/cases/pr/C48_S2SA_gefs.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

changes to remove shellcheck
  parm/config/gfs/config.resources
Owners: none

changes to remove shellcheck
  parm/config/gfs/config.resources
Owners: none

remove shell checks from config.resources
  parm/config/gfs/config.resources
Owners: none

remove coupled_ic statments from config.resources
  parm/config/gfs/config.resources
Owners: none

Update ush/load_fv3gfs_modules.sh
  ush/load_fv3gfs_modules.sh
Owners: none

commit sugestion in stage_ic.sh
  jobs/rocoto/stage_ic.sh
Owners: none

Update jobs/rocoto/stage_ic.sh
  jobs/rocoto/stage_ic.sh
Owners: none

ush/load_fv3gfs_modules.sh changes [[ NO == NO ]]
  ush/load_fv3gfs_modules.sh
Owners: none

ARFC - add debug flag to resolve wave post runtimes
  ecf/scripts/gfs/wave/post/jgfs_wave_post_bndpnt.ecf
  ecf/scripts/gfs/wave/post/jgfs_wave_post_bndpntbll.ecf
  ecf/scripts/gfs/wave/post/jgfs_wave_postpnt.ecf
Owners: @lgannoaa

Create release notes for GFSv16.3.8
  docs/Release_Notes.gfs.v16.3.8.md
Owners: none

Update version to v16.3.8
  versions/run.ver
Owners: none

Update jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP_OBS
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP_OBS
Owners: none

GFSv16.3.8 - add debug flag to resolve wave post runtimes (#1849)
  docs/Release_Notes.gfs.v16.3.8.md
  ecf/scripts/gfs/wave/post/jgfs_wave_post_bndpnt.ecf
  ecf/scripts/gfs/wave/post/jgfs_wave_post_bndpntbll.ecf
  ecf/scripts/gfs/wave/post/jgfs_wave_postpnt.ecf
  versions/run.ver
Owners: @lgannoaa

review modifications
  jobs/JGLOBAL_PREP_OCEAN_OBS
  jobs/rocoto/prepoceanobs.sh
  parm/config/gfs/config.ocnanalprepobs
  parm/config/gfs/config.prepoceanobs
  parm/config/gfs/config.resources
Owners: none

Add jjob stub for prospective ocean analysis prep observation task (#1831)
  jobs/JGLOBAL_PREP_OCEAN_OBS
  jobs/rocoto/prepoceanobs.sh
  parm/config/gfs/config.prepoceanobs
  parm/config/gfs/config.resources
Owners: none

Simplify the codes following the reviewer's suggestions.
  ush/python/pygfs/task/land_analysis.py
Owners: none

Remove the unnecessary construction of gts_yaml.
  ush/python/pygfs/task/land_analysis.py
Owners: none

Convert IC staging job into a proper j-job (#1806)
  jobs/JGLOBAL_STAGE_IC
  jobs/rocoto/stage_ic.sh
  parm/config/gfs/config.resources
  parm/config/gfs/config.stage_ic
  scripts/exglobal_stage_ic.sh
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

start staging ICs for gefs
  scripts/exglobal_stage_ic.sh
Owners: none

Rename and update release notes for v16.3.9
  docs/Release_Notes.gfs.v16.3.9.md
Owners: none

Update GFS version to v16.3.9 in run.ver
  versions/run.ver
Owners: none

GFSv16.3.9 - temporary satingest changes for NOAA-21 (#1852)
  Externals.cfg
  docs/Release_Notes.gfs.v16.3.9.md
  modulefiles/modulefile.storm_reloc_v6.0.0.wcoss2.lua
  sorc/build_tropcy_NEMS.sh
  sorc/checkout.sh
  versions/run.ver
Owners: none

Update index.rst for new GFS version
  docs/source/index.rst
Owners: none

Update RTD index.rst for new GFS version (#1853)
  docs/source/index.rst
Owners: none

start stagging the code
  scripts/exglobal_stage_ic.sh
Owners: none

added wave cases to weekly tests dir
  ci/cases/weekly/C48_S2SW.yaml
Owners: @TerrenceMcGuinness-NOAA

added wave cases to weekly tests dir
  ci/cases/weekly/C384_S2SW.yaml
Owners: @TerrenceMcGuinness-NOAA

updated description of driver script
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

added weekly script running tests from develop branch instead of PRs with labels
  ci/scripts/driver_weekly.sh
Owners: @TerrenceMcGuinness-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
