Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

Add `waveinit` and `waveprep` to half-cycle. (#2037)
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Refine fit2obs job in rocoto mesh (#2047)
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

bug fixes on undefined timedelta_to_HMS
  workflow/rocoto/gfs_forecast_only_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Reverted back to previous JGLOBAL_FORECAST and forecast_postdet.sh
  jobs/JGLOBAL_FORECAST
  ush/forecast_postdet.sh
Owners: none

update for prod_util diffs
  ush/load_ufswm_modules.sh
Owners: none

Removed COM_CONF.
  jobs/JGDAS_ENKF_FCST
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Added COM_CONF for ensemble members.
  scripts/exgdas_enkf_fcst.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

updates for nems.configure -> ufs.configure and related changes
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.fcst
  parm/ufs/fix/gfs/atmos.fixed_files.yaml
  parm/ufs/ufs.configure.atm.IN
  parm/ufs/ufs.configure.atm_aero.IN
  parm/ufs/ufs.configure.blocked_atm_wav.IN
  parm/ufs/ufs.configure.cpld.IN
  parm/ufs/ufs.configure.cpld_aero.IN
  parm/ufs/ufs.configure.cpld_aero_outerwave.IN
  parm/ufs/ufs.configure.cpld_aero_wave.IN
  parm/ufs/ufs.configure.cpld_outerwave.IN
  parm/ufs/ufs.configure.cpld_wave.IN
  parm/ufs/ufs.configure.leapfrog_atm_wav.IN
  scripts/exglobal_forecast.sh
  sorc/link_workflow.sh
  test/diff_UFS_rundir.sh
  ush/cplvalidate.sh
  ush/ufs_configure.sh
Owners: none

Update jobs/JGDAS_ENKF_FCST
  jobs/JGDAS_ENKF_FCST
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Moves UFS WM configuration files to `COM_CONF` (#2054)
  jobs/JGLOBAL_FORECAST
  scripts/exgdas_enkf_fcst.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

add fix from NB for running out of the box
  parm/config/gefs/config.base.emc.dyn
Owners: none

Enable warm starting of the model for forecast-only mode (#2031)
  ci/cases/pr/C48_S2SA_gefs.yaml
  parm/config/gefs/config.base.emc.dyn
  scripts/exglobal_stage_ic.sh
  workflow/setup_expt.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

save cice da hist
  ush/forecast_postdet.sh
Owners: none

update model configure with zstandard_level
  ush/parsing_model_configure_FV3.sh
Owners: none

Update ush/forecast_postdet.sh
  ush/forecast_postdet.sh
Owners: none

Update post dependencies for archive job
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

add convection tuning parameters to namelist
  ush/parsing_namelists_FV3.sh
Owners: none

Add --cpus-per-task flag to APRUN commands
  env/ORION.env
Owners: none

Add TODO notes to check need for cpus-per-task flag
  env/ORION.env
Owners: none

updated discription for rocoto_statcount
  ci/scripts/utils/rocoto_statcount.py
Owners: @TerrenceMcGuinness-NOAA

Add --cpus-per-task flag to APRUN commands on Hera
  env/HERA.env
Owners: none

incorporate inputs from NB on grid-types for atm, ocean and ice in the ice namelist
  ush/parsing_namelists_CICE.sh
Owners: none

Separate tracker and genesis jobs from vrfy job (#2058)
  jobs/JGFS_ATMOS_CYCLONE_GENESIS
  jobs/JGFS_ATMOS_CYCLONE_TRACKER
  jobs/JGFS_ATMOS_FSU_GENESIS
  jobs/rocoto/genesis.sh
  jobs/rocoto/genesis_fsu.sh
  jobs/rocoto/tracker.sh
  jobs/rocoto/vrfy.sh
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.genesis
  parm/config/gfs/config.genesis_fsu
  parm/config/gfs/config.resources
  parm/config/gfs/config.tracker
  parm/config/gfs/config.tropcy
  parm/config/gfs/config.vrfy
  versions/run.hera.ver
  versions/run.jet.ver
  versions/run.orion.ver
  versions/run.s4.ver
  versions/run.wcoss2.ver
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/applications/gfs_forecast_only.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

set compression levels in parsing_model_configure_FV3.sh directly
  parm/config/gefs/config.fcst
  parm/config/gfs/config.fcst
  ush/parsing_model_configure_DATM.sh
  ush/parsing_model_configure_FV3.sh
Owners: none

update prod_util
  ush/load_ufswm_modules.sh
Owners: none

Replace ARCH_LIST with DATA in earc script
  scripts/exgdas_enkf_earc.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Add status check and exit to exgdas_enkf_earc.sh
  scripts/exgdas_enkf_earc.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Resolve shellcheck warning
  scripts/exgdas_enkf_earc.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

updates for new unstructured grids
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.stage_ic
  parm/config/gfs/config.ufs
  parm/config/gfs/config.wave
  parm/ufs/fv3/diag_table
  scripts/exglobal_stage_ic.sh
  workflow/coupled768.sh
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix check for existence of preamble functions
  ush/load_fv3gfs_modules.sh
  ush/load_ufswm_modules.sh
  ush/module-setup.sh
Owners: none

Resolve ENKF archive script bugs (#2065)
  scripts/exgdas_enkf_earc.sh
Owners: @RussTreadon-NOAA, @CoryMartin-NOAA, @CatherineThomas-NOAA

Use assim_freq to configure "offset" in dependencies (#2039)
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gefs_xml.py
  workflow/rocoto/gfs_cycled_xml.py
  workflow/rocoto/gfs_forecast_only_xml.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Save the required CICE history for the sea-ice DA (#2062)
  ush/forecast_postdet.sh
Owners: none

Update functionality for Prototype HR3 UGWP (#1987)
  parm/config/gefs/config.base.emc.dyn
  parm/config/gefs/config.fcst
  parm/config/gefs/config.ufs
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.fcst
  parm/config/gfs/config.ufs
  sorc/build_ufs.sh
  sorc/checkout.sh
  ush/forecast_postdet.sh
  ush/parsing_namelists_FV3.sh
Owners: none

update to latest ufs
  Externals.cfg
  sorc/checkout.sh
Owners: none

fix missing _PREV in ocean restart file location
  scripts/exglobal_stage_ic.sh
Owners: none

Fix missing _PREV in ocean restart file location (#2070)
  scripts/exglobal_stage_ic.sh
Owners: none

fix a few nems->ufs that was missed
  parm/config/gefs/config.base.emc.dyn
  parm/config/gfs/config.base.emc.dyn
Owners: none

update another nems -> ufs that was missed
  ush/forecast_postdet.sh
Owners: none

NEMS -> UFS in a comment
  scripts/exglobal_forecast.sh
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
