Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

Update STMP and PTMP settings in host file for Orion and Hercules (#2614)
  ci/cases/yamls/atmaerosnowDA_defaults_ci.yaml
  ci/cases/yamls/gefs_ci_defaults.yaml
  ci/cases/yamls/gfs_defaults_ci.yaml
  ci/cases/yamls/gfs_extended_ci.yaml
  ci/cases/yamls/soca_gfs_defaults_ci.yaml
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
  ci/platforms/config.hera
  ci/platforms/config.hercules
  ci/platforms/config.orion
  ci/platforms/config.wcoss2
  ci/scripts/run-check_ci.sh
  ci/scripts/utils/rocotostat.py
  workflow/hosts/hercules.yaml
  workflow/hosts/orion.yaml
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

getting to run
  ush/python/pygfs/task/marine_letkf.py
Owners: none

Update extractvars job dependency
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Global-workflow (AR) Generic updates for Gaea C5 (#2515)
  env/GAEA.env
  modulefiles/module_base.gaea.lua
  modulefiles/module_gwsetup.gaea.lua
  parm/config/gfs/config.aero
  parm/config/gfs/config.resources
  sorc/link_workflow.sh
  ush/detect_machine.sh
  ush/module-setup.sh
  versions/build.gaea.ver
  versions/run.gaea.ver
  workflow/hosts.py
  workflow/hosts/gaea.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

fix previous commit
  ci/cases/yamls/atmaerosnowDA_defaults_ci.yaml
  ci/cases/yamls/gefs_ci_defaults.yaml
  ci/cases/yamls/gfs_defaults_ci.yaml
  ci/cases/yamls/gfs_extended_ci.yaml
  ci/cases/yamls/soca_gfs_defaults_ci.yaml
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
  ci/platforms/config.hera
  ci/platforms/config.hercules
  ci/platforms/config.orion
  ci/platforms/config.wcoss2
  ci/scripts/run-check_ci.sh
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

fix previous commit
  workflow/hosts/hercules.yaml
  workflow/hosts/orion.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

fix coding norms issues
  scripts/exglobal_prep_aero_obs.py
  ush/python/pygfs/task/aero_prepobs.py
  workflow/applications/gfs_cycled.py
Owners: @WalterKolczynski-NOAA, @aerorahul

adding a persistent lanuching tool for Jenkins Java Agents
  ci/scripts/utils/launch_java_agent.sh
Owners: @TerrenceMcGuinness-NOAA

got test node working
  ci/scripts/utils/launch_java_agent.sh
Owners: @TerrenceMcGuinness-NOAA

letkf yaml gets ingested
  ush/python/pygfs/task/marine_letkf.py
Owners: none

added machine specifics into config file in ci for lanuching Jenkins
  ci/platforms/config.hera
  ci/scripts/utils/launch_java_agent.sh
Owners: @TerrenceMcGuinness-NOAA

spelled source wrong
  ci/scripts/utils/launch_java_agent.sh
Owners: @TerrenceMcGuinness-NOAA

letkf yaml gets ingested better
  ush/python/pygfs/task/marine_letkf.py
Owners: none

added lanuch config for hercules and orion
  ci/platforms/config.hercules
  ci/platforms/config.orion
  ci/scripts/utils/launch_java_agent.sh
Owners: @TerrenceMcGuinness-NOAA

Add atmensanlfv3inc job (#2592)
  env/AWSPW.env
  env/CONTAINER.env
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGLOBAL_ATMENS_ANALYSIS_FV3_INCREMENT
  jobs/JGLOBAL_ATMENS_ANALYSIS_LETKF
  jobs/rocoto/atmensanlfv3inc.sh
  jobs/rocoto/atmensanlletkf.sh
  parm/config/gfs/config.atmensanlfv3inc
  parm/config/gfs/config.atmensanlletkf
  parm/config/gfs/config.atmensanlrun
  parm/config/gfs/config.resources
  scripts/exglobal_atmens_analysis_fv3_increment.py
  scripts/exglobal_atmens_analysis_letkf.py
  ush/python/pygfs/task/atmens_analysis.py
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Change GRIB2 parameter names and vertical levels for ocean/ice post (#2611)
  parm/post/oceanice_products.yaml
  ush/oceanice_nc2grib2.sh
Owners: none

updated configured path to launch dir
  ci/scripts/utils/launch_java_agent.sh
Owners: @TerrenceMcGuinness-NOAA

made a few shell norm updates
  ci/scripts/utils/launch_java_agent.sh
Owners: @TerrenceMcGuinness-NOAA

made two more shell norm updates
  ci/scripts/utils/launch_java_agent.sh
Owners: @TerrenceMcGuinness-NOAA

trailing spaces needed
  ci/platforms/config.hercules
  ci/platforms/config.orion
Owners: @TerrenceMcGuinness-NOAA

change google CPU numbers
  parm/config/gfs/config.resources
Owners: none

Fix error in CHEM template name
  jobs/JGLOBAL_FORECAST
Owners: none

Corrected conflicts.
  scripts/exgfs_wave_nawips.sh
  scripts/exgfs_wave_prdgen_gridded.sh
  ush/gfs_bufr.sh
  ush/gfs_bufr_netcdf.sh
Owners: @JessicaMeixner-NOAA

Manual corrections.
  scripts/exgfs_atmos_postsnd.sh
  scripts/exgfs_wave_post_gridded_sbs.sh
  scripts/exgfs_wave_prdgen_gridded.sh
Owners: @JessicaMeixner-NOAA

Working through linter complaints.
  scripts/exgfs_atmos_awips_20km_1p0deg.sh
  scripts/exgfs_atmos_postsnd.sh
Owners: none

Fixing linter flags.
  scripts/exgfs_atmos_awips_20km_1p0deg.sh
  scripts/exgfs_atmos_postsnd.sh
  scripts/exgfs_wave_post_gridded_sbs.sh
  ush/gfs_bufr.sh
  ush/gfs_bufr_netcdf.sh
  ush/wave_tar.sh
Owners: @JessicaMeixner-NOAA

Debugging from linter.
  ush/wave_tar.sh
Owners: none

Linter corrections.
  ush/gfs_bufr_netcdf.sh
Owners: none

Linter debugging.
  ush/gfs_bufr.sh
Owners: none

Linter fixes.
  ush/wave_tar.sh
Owners: none

Linter fixes.
  scripts/exgfs_atmos_awips_20km_1p0deg.sh
  scripts/exgfs_atmos_postsnd.sh
Owners: none

remove acorn from usfda module load list (#2602)
  ush/load_ufsda_modules.sh
Owners: none

Add JGLOBAL script for extractvars task
  jobs/JGLOBAL_EXTRACTVARS
Owners: none

var cleanup
  ush/python/pygfs/task/marine_letkf.py
Owners: none

WDQMS fix for obsproc/v1.2
  ush/wdqms.py
Owners: none

Update ocnanal.yaml
  ci/cases/gfsv17/ocnanal.yaml
Owners: @TerrenceMcGuinness-NOAA

removed contents of run method
  ush/python/pygfs/task/marine_letkf.py
Owners: none

removed keepdata
  parm/config/gfs/config.ocnanalletkf
Owners: none

Update ci/scripts/utils/launch_java_agent.sh
  ci/scripts/utils/launch_java_agent.sh
Owners: @TerrenceMcGuinness-NOAA

style
  ush/python/pygfs/task/marine_letkf.py
Owners: none
