Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

ls on EXPDIR is tight no need for extra globing
  ci/scripts/utils/ci_utils.sh
Owners: @TerrenceMcGuinness-NOAA

Updates for WCOSS2 CICE restart and history formats and ufs_model.fd hash.
  env/WCOSS2.env
  ush/parsing_namelists_CICE.sh
Owners: none

Remove unused fhmin.
  parm/archive/arcdir.yaml.j2
Owners: none

Better explicitize enkf archiving
  parm/archive/enkf.yaml.j2
  parm/config/gfs/config.base
  parm/config/gfs/config.epos
  scripts/exgdas_enkf_earc.py
Owners: none

config.ufs, config.fcst: change from links to regular files
  parm/config/global-nest/config.fcst
  parm/config/global-nest/config.ufs
Owners: none

update parameters for the global_nest_v1 physics in config.fcst and config.ufs
  parm/config/global-nest/config.fcst
  parm/config/global-nest/config.ufs
Owners: none

update ush/parsing_namelists_FV3.sh to include the FV3_global_nest option
  ush/parsing_namelists_FV3.sh
Owners: none

fix some shellcheck errors
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
Owners: none

add parm/ufs/fv3/field_table_thompson_aero_tke_progsigma
  parm/ufs/fv3/field_table_thompson_aero_tke_progsigma
Owners: none

use the new use the new field_table_thompson_aero_tke_progsigma for global_nest
  parm/config/global-nest/config.fcst
Owners: none

fix some shellcheck errors
  ush/forecast_det.sh
  ush/forecast_predet.sh
Owners: none

commit after debugging and testing
  jobs/JGLOBAL_AERO_ANALYSIS_GENERATE_BMATRIX
  jobs/rocoto/aeroanlgenb.sh
  parm/config/gfs/config.aeroanl
  parm/config/gfs/config.aeroanlgenb
  ush/python/pygfs/task/aero_bmatrix.py
  ush/python/pygfs/task/bmatrix.py
Owners: none

norm
  ush/python/pygfs/task/aero_bmatrix.py
Owners: none

norm was not happy
  ush/python/pygfs/task/aero_bmatrix.py
Owners: none

Relax Norm, it is Friday afternoon
  ush/python/pygfs/task/aero_bmatrix.py
  ush/python/pygfs/task/bmatrix.py
Owners: none

update version and modules for AWS
  jobs/rocoto/stage_ic.sh
  modulefiles/module_base.noaacloud.lua
  sorc/mod4aws/gdas.aws.tar
  sorc/mod4aws/gfs_utils.aws.tar
  sorc/mod4aws/gsi_enkf.aws.tar
  sorc/mod4aws/gsi_enkf.azure.tar
  sorc/mod4aws/gsi_monitor.aws.tar
  sorc/mod4aws/gsi_utils.aws.tar
  sorc/mod4aws/ufs_model.aws.tar
  sorc/mod4aws/ufs_utils.aws.tar
  sorc/mod4aws/update-modulefiles.sh
  sorc/mod4aws/upp.aws.tar
  versions/run.noaacloud.ver
Owners: none

CI Refactoring and STALLED case detection (#2488)
  ci/Jenkinsfile
  ci/scripts/check_ci.sh
  ci/scripts/clone-build_ci.sh
  ci/scripts/driver.sh
  ci/scripts/run-check_ci.sh
  ci/scripts/run_ci.sh
  ci/scripts/utils/ci_utils.sh
  ci/scripts/utils/pr_list_database.py
  ci/scripts/utils/rocotostat.py
  workflow/rocoto_viewer.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

some bugs found during final testing
  .gitignore
  ush/check_netcdf.sh
  ush/forecast_predet.sh
Owners: none

fix bugs in model_configure for IAU + gfsfcst
  ush/forecast_postdet.sh
  ush/parsing_model_configure_FV3.sh
Owners: none

merge the changes into gfs/config.fcst
  parm/config/gfs/config.fcst
Owners: none

add hosts info for noaacloud
  base.env
  workflow/hosts/azurepw.yaml
  workflow/hosts/gcppw.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

compiled OK for ca-sfc-emc account
  modulefiles/module_base.noaacloud.lua
  sorc/mods4aws/gdas.aws.tar
  sorc/mods4aws/gfs_utils.aws.tar
  sorc/mods4aws/gsi_enkf.aws.tar
  sorc/mods4aws/gsi_utils.aws.tar
  sorc/mods4aws/ufs_model.aws.tar
  sorc/mods4aws/update-modulefiles.sh
  versions/run.spack.ver
Owners: none

add test script to compare 2 Fortran90 namelists
  modulefiles/module_base.hera.lua
  modulefiles/module_base.hercules.lua
  modulefiles/module_base.jet.lua
  modulefiles/module_base.orion.lua
  modulefiles/module_base.s4.lua
  test/f90nmlcmp.sh
  versions/run.spack.ver
Owners: none

Enable using the FV3_global_nest_v1 CCPP suite (#2512)
  parm/config/gfs/config.fcst
  parm/ufs/fv3/field_table_thompson_aero_tke_progsigma
  ush/parsing_namelists_FV3.sh
Owners: none

update gaea setting and configure resources for gaea c5 machine
  ci/platforms/config.gaea
  modulefiles/module_base.gaea.lua
  modulefiles/module_gwsetup.gaea.lua
  parm/config/gfs/config.aero
  parm/config/gfs/config.resources
  parm/config/gfs/config.ufs
  sorc/build_ufs.sh
  sorc/link_workflow.sh
  ush/detect_machine.sh
  ush/module-setup.sh
  workflow/hosts.py
  workflow/hosts/gaea.yaml
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

more updates; looks like it is working
  ush/python/pygfs/task/aero_analysis.py
  ush/python/pygfs/task/aero_bmatrix.py
  ush/python/pygfs/task/analysis.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

pynorms
  ush/python/pygfs/task/aero_analysis.py
Owners: none

Run from all cycles to address Issue #291
  gempak/ush/gfs_meta_sa2.sh
Owners: none

Further explicitize archiving templates.
  parm/archive/enkf_restarta_grp.yaml.j2
  parm/archive/enkf_restartb_grp.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gdas_restarta.yaml.j2
  parm/archive/gdas_restartb.yaml.j2
  parm/archive/gfs_netcdfa.yaml.j2
  parm/archive/gfs_pgrb2b.yaml.j2
  parm/archive/gfs_restarta.yaml.j2
  parm/archive/gfs_restartb.yaml.j2
  parm/archive/gfsa.yaml.j2
  parm/archive/gfsb.yaml.j2
  parm/archive/gfswave.yaml.j2
  parm/archive/ice_6hravg.yaml.j2
  parm/archive/ice_grib2.yaml.j2
  parm/archive/ocean_6hravg.yaml.j2
  parm/archive/ocean_daily.yaml.j2
  parm/archive/ocean_grib2.yaml.j2
  scripts/exglobal_archive.py
Owners: none

Apply suggestions from code review
  ush/forecast_det.sh
  ush/parsing_namelists_FV3.sh
Owners: none

add doc block to wdqms exscript
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: none

update script abstract from @emilyhcliu
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: none

Small fix for snow DA archiving.
  parm/archive/gdas_restarta.yaml.j2
Owners: none

Fix TC genesis arcdir archiving.
  parm/archive/arcdir.yaml.j2
Owners: none

Fix pgrb2b analysis filename
  parm/archive/gfs_pgrb2b.yaml.j2
Owners: none

Fix cyclone tracker filenames.
  parm/archive/gfsa.yaml.j2
Owners: none

update build scripts to include the nest physics and an -f option to build the UFS model
  parm/config/gfs/config.base
  parm/config/gfs/config.ufs
  sorc/build_all.sh
  sorc/build_ufs.sh
Owners: none

Adding more cycles to gempak script gfs_meta_sa2.sh (#2518)
  gempak/ush/gfs_meta_sa2.sh
Owners: none

Update gdas_gsibec_ver to 20240416 (#2497)
  versions/fix.ver
Owners: none

Remove duplicated comment
  ush/forecast_det.sh
Owners: none
