Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

removed config.cleanup simlink
  parm/config/gefs/config.cleanup
Owners: none

modifed gefs_tasks.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

modified gefs_tasks.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

add 1 deg ocean/ice info to parm/config/gfs/config.resources (#2922)
  parm/config/gfs/config.resources
Owners: none

Build GDASApp and unset memory in Gaea-C5 xml files (#2912)
  parm/config/gfs/config.resources.GAEA
  sorc/build_all.sh
Owners: none

Update parm/post/upp.yaml
  parm/post/upp.yaml
Owners: none

Cleanup job for GEFS (#2919)
  parm/config/gefs/config.cleanup
  parm/config/gefs/config.resources
  workflow/applications/gefs.py
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update IMS preprocessing job.
  scripts/exglobal_prep_snow_obs.py
  workflow/rocoto/gfs_cycled_xml.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update config.resources for bufr sounding job postsnd (#2917)
  env/WCOSS2.env
  parm/config/gfs/config.resources
Owners: none

Rename IMS snow preprocessing jobs/names to be snowcover
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGLOBAL_PREP_SNOWCOVER
  jobs/rocoto/prepsnowcover.sh
  parm/config/gfs/config.prepsnowcover
  parm/config/gfs/config.resources
  scripts/exglobal_prep_snowcover.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Updates for RTOFSv2.4.4 operational upgrade (#2800) (#2921)
  docs/Release_Notes.gfs.v15.2.0.txt
  docs/Release_Notes.gfs.v15.2.2.txt
  docs/Release_Notes.gfs.v16.0.0.md
  docs/Release_Notes.gfs.v16.1.0.txt
  docs/Release_Notes.gfs.v16.1.4.txt
  docs/Release_Notes.gfs.v16.1.5.txt
  docs/Release_Notes.gfs.v16.1.6.txt
  docs/Release_Notes.gfs.v16.1.7.txt
  docs/Release_Notes.gfs.v16.1.8.txt
  docs/Release_Notes.gfs.v16.2.0.md
  docs/Release_Notes.gfs.v16.2.1.md
  docs/Release_Notes.gfs.v16.2.2.md
  docs/Release_Notes.gfs.v16.3.10.md
  docs/Release_Notes.gfs.v16.3.11.md
  docs/Release_Notes.gfs.v16.3.12.md
  docs/Release_Notes.gfs.v16.3.13.md
  docs/Release_Notes.gfs.v16.3.14.md
  docs/Release_Notes.gfs.v16.3.15.md
  docs/Release_Notes.gfs.v16.3.16.md
  docs/Release_Notes.gfs.v16.3.3.md
  docs/Release_Notes.gfs.v16.3.4.md
  docs/Release_Notes.gfs.v16.3.5.md
  docs/Release_Notes.gfs.v16.3.6.md
  docs/Release_Notes.gfs.v16.3.8.md
  docs/Release_Notes.gfs.v16.3.9.md
  docs/Release_Notes.gfs_downstream.v15.2.0.txt
  docs/Release_Notes.gfs_downstream.v16.0.0.txt
  docs/Release_Notes.md
  versions/run.ver
Owners: none

Remove commented code
  ush/forecast_predet.sh
Owners: none

Update global atmos upp job to use COMIN/COMOUT (#2867)
  jobs/JGLOBAL_ATMOS_UPP
  parm/post/upp.yaml
  scripts/exglobal_atmos_upp.py
  ush/python/pygfs/task/upp.py
Owners: @WenMeng-NOAA, @aerorahul

Fix Hera C384 GSI analysis resources
  parm/config/gfs/config.resources.HERA
Owners: none

Fix analysis tasks/node variable name for S4
  parm/config/gfs/config.resources.S4
Owners: none

modified gefs_ice.yaml.j2
  parm/archive/gefs_ice.yaml.j2
Owners: none

modified gefs_ocean.yaml.j2
  parm/archive/gefs_ocean.yaml.j2
Owners: none

modified gefs_waves.yaml.j2
  parm/archive/gefs_wave.yaml.j2
Owners: none

modified ges_atmos.yaml.j2
  parm/archive/gefs_atmos.yaml.j2
Owners: none

Update release notes for WAFS change
  docs/Release_Notes.md
  versions/run.ver
Owners: none

Update WAFS tag to gfs_wafs.v6.3.3
  Externals.cfg
  docs/Release_Notes.md
  sorc/checkout.sh
Owners: none

Changes from NCO to increase the wait time for UKMet data in the WAFS blending job (#2924)
  Externals.cfg
  docs/Release_Notes.md
  sorc/checkout.sh
  versions/run.ver
Owners: none

modified gefs_ice.yaml.j2
  parm/archive/gefs_ice.yaml.j2
Owners: none

modified gefs_ocean.yaml.j2
  parm/archive/gefs_ocean.yaml.j2
Owners: none

fix archiving until archiving PR is ready
  parm/archive/gefs_arcdir.yaml.j2
Owners: none

change back to ufs.top edits
  parm/config/gefs/config.ufs
Owners: none

Update scripts/exgfs_wave_post_pnt.sh
  scripts/exgfs_wave_post_pnt.sh
Owners: @JessicaMeixner-NOAA

changed COM_* into COMIN/COMOUT
  jobs/JGLOBAL_ATMOS_VMINMON
Owners: none

Update release notes for WAFS removal from GFS
  docs/Release_Notes.md
  versions/run.ver
Owners: none

addressed review comments
  jobs/JGLOBAL_MARINE_ANALYSIS_FINALIZE
  parm/config/gfs/config.marineanl
  parm/config/gfs/config.marinebmat
  parm/config/gfs/config.prepoceanobs
  ush/python/pygfs/task/marine_analysis.py
  ush/python/pygfs/task/marine_bmat.py
  ush/python/pygfs/utils/marine_da_utils.py
Owners: none

modified gefs_ocean.yaml.j2
  parm/archive/gefs_ocean.yaml.j2
Owners: none

modified ges_wave.yaml.j2
  parm/archive/gefs_wave.yaml.j2
Owners: none

modify gefs_wave.yaml.j2
  parm/archive/gefs_wave.yaml.j2
Owners: none

modified gefs_wave.yaml.j2
  parm/archive/gefs_wave.yaml.j2
Owners: none

modified gefs_wave.yaml.j2
  parm/archive/gefs_wave.yaml.j2
Owners: none

modified gefs_atmos.yaml.j2
  parm/archive/gefs_atmos.yaml.j2
Owners: none

modified exglobal_archive.py
  scripts/exglobal_archive.py
Owners: none

Update glopara git path to new git_rocky9 folder
  modulefiles/module_base.hercules.lua
  modulefiles/module_base.orion.lua
Owners: none

Update fit2obs version to v1.1.4
  versions/run.wcoss2.ver
  versions/spack.ver
Owners: none

Fix prepobs modulepath in modulefiles
  modulefiles/module_base.hercules.lua
  modulefiles/module_base.orion.lua
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
