Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

Fix typo in cice history filename
  ush/forecast_postdet.sh
Owners: none

removed -r switch for all the generate_com
  scripts/exglobal_stage_ic.sh
Owners: none

micro update for remote name for pushing weekly update brandh to emcbot repo
  ci/scripts/driver_weekly.sh
Owners: @TerrenceMcGuinness-NOAA

add wgrib2
  jobs/rocoto/wavepostsbs.sh
Owners: none

picked up two other name chages in remote stream for pushing the emcbot repo
  ci/scripts/driver_weekly.sh
Owners: @TerrenceMcGuinness-NOAA

Changes required for NOAA-21 monitoring
  docs/Release_Notes.gfs.v16.3.10.md
  versions/build.ver
  versions/run.ver
Owners: none

rats -- spelled REMOTE worng .. fixed
  ci/scripts/driver_weekly.sh
Owners: @TerrenceMcGuinness-NOAA

Moved weekly cases files into pr for high resolution testing
  ci/cases/pr/C384C192_hybatmda.yaml
  ci/cases/pr/C384_S2SWA.yaml
  ci/cases/pr/C384_atm3DVar.yaml
  ci/cases/pr/C48_ATM.yaml
  ci/cases/pr/C48_S2SA_gefs.yaml
  ci/cases/pr/C48_S2SW.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
Owners: @TerrenceMcGuinness-NOAA

Update driver_weekly.sh
  ci/scripts/driver_weekly.sh
Owners: @TerrenceMcGuinness-NOAA

Update driver_weekly.sh
  ci/scripts/driver_weekly.sh
Owners: @TerrenceMcGuinness-NOAA

CI driver_weekly bugfix deleting new branch if is already on repo (#1899)
  ci/scripts/driver_weekly.sh
  ci/scripts/run_ci.sh
Owners: @TerrenceMcGuinness-NOAA

update modules for wcoss2
  jobs/rocoto/waveinit.sh
  jobs/rocoto/wavepostbndpnt.sh
  jobs/rocoto/wavepostbndpntbll.sh
  jobs/rocoto/wavepostpnt.sh
  jobs/rocoto/wavepostsbs.sh
  jobs/rocoto/waveprep.sh
Owners: none

Change gdas version in checkout.sh
  sorc/checkout.sh
Owners: none

remove if condition and gefs manually staged condition in setup_expt.py
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Add stage_ic to GEFS job mesh and update dependencies
  workflow/applications/gefs.py
  workflow/rocoto/gefs_tasks.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Update UPP and GDAS version numbers
  Externals.cfg
  docs/Release_Notes.gfs.v16.3.10.md
  sorc/checkout.sh
Owners: none

Update FV3GFS tag in Externals.cfg
  Externals.cfg
Owners: none

Update FV3GFS tag in checkout.sh
  sorc/checkout.sh
Owners: none

Add BASE_CPLIC to GEFS config.base
  parm/config/gefs/config.base.emc.dyn
Owners: none

Add stage_ic to GEFS config
  parm/config/gefs/config.resources
  parm/config/gefs/config.stage_ic
Owners: none

Remove stale coupled_ic config from GEFS
  parm/config/gefs/config.coupled_ic
Owners: none

Fix low-res staged IC directory names
  parm/config/gfs/config.stage_ic
Owners: none

Add GEFS forecast dependency on stage_ic
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fix indentation of print in setup_expt
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Load stage_ic config during exp setup for GEFS
  workflow/applications/gefs.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Change BASE_CPLIC location to temp new structure on Hera
  workflow/hosts/hera.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Update FV3GFS tag in Release_Notes.gfs.v16.3.10.md
  docs/Release_Notes.gfs.v16.3.10.md
Owners: none

Add prelude to Release_Notes.gfs.v16.3.10.md
  docs/Release_Notes.gfs.v16.3.10.md
Owners: none

updated check ci to close the PR of a weekly test when completed all casses on all platforms
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

update for init cfp job on wcoss2
  jobs/rocoto/waveinit.sh
Owners: none

updated check_ci bash script to remove PR based CI weekly tests on successfull complition on all platforms
  ci/scripts/check_ci.sh
Owners: @TerrenceMcGuinness-NOAA

Add UPP release notes link to release notes
  docs/Release_Notes.gfs.v16.3.10.md
Owners: none

Addressed linter warnings and exceptions.
  ush/string_utils.sh
Owners: none

Update rocoto generation for new stage_ic and add GEFS from WalterKolczynski-NOAA:feature/stage_gefs
  parm/config/gefs/config.base.emc.dyn
  parm/config/gefs/config.coupled_ic
  parm/config/gefs/config.resources
  parm/config/gefs/config.stage_ic
  parm/config/gfs/config.stage_ic
  workflow/applications/gefs.py
  workflow/hosts/hera.yaml
  workflow/rocoto/gefs_tasks.py
  workflow/rocoto/gfs_tasks.py
  workflow/setup_expt.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Linter updates; disabled and commented where necessary.
  ush/remap_prep.sh
Owners: none

Updated comments.
  ush/string_utils.sh
Owners: none

Removed from scripts.
  ush/gfs_sndp.sh
  ush/syndat_qctropcy.sh
  ush/tropcy_relocate.sh
  ush/wave_grib2_sbs.sh
  ush/wave_grid_interp_sbs.sh
  ush/wave_prnc_ice.sh
  ush/wave_tar.sh
Owners: none

Updates for ; note that the linter will throw suggestion messages; these should be addressed in a future issue and PR.
  scripts/exgdas_atmos_post.sh
  scripts/exgfs_atmos_awips_20km_1p0deg.sh
  scripts/exgfs_atmos_fbwind.sh
  scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
  scripts/exgfs_atmos_goes_nawips.sh
  scripts/exgfs_atmos_grib2_special_npoess.sh
  scripts/exgfs_atmos_grib_awips.sh
  scripts/exgfs_atmos_nawips.sh
  scripts/exgfs_atmos_post.sh
  scripts/exgfs_wave_nawips.sh
  scripts/exgfs_wave_prdgen_bulls.sh
  scripts/exgfs_wave_prdgen_gridded.sh
Owners: @WenMeng-NOAA, @JessicaMeixner-NOAA

Updated jobs/; note that the shellcheck linter has not been run against the respective changes.
  jobs/JGDAS_ATMOS_GEMPAK
  jobs/JGDAS_ATMOS_GEMPAK_META_NCDC
  jobs/JGFS_ATMOS_AWIPS_G2
  jobs/JGFS_ATMOS_CYCLONE_GENESIS
  jobs/JGFS_ATMOS_CYCLONE_TRACKER
  jobs/JGFS_ATMOS_FBWIND
  jobs/JGFS_ATMOS_FSU_GENESIS
  jobs/JGFS_ATMOS_GEMPAK
  jobs/JGFS_ATMOS_GEMPAK_META
  jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF
  jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
  jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS
  jobs/JGFS_ATMOS_POSTSND
  jobs/JGLOBAL_WAVE_GEMPAK
  jobs/JGLOBAL_WAVE_INIT
  jobs/JGLOBAL_WAVE_PRDGEN_BULLS
  jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED
Owners: @GwenChen-NOAA, @WenMeng-NOAA, @JessicaMeixner-NOAA

Updated parm/config/gefs and /parm/config/gegs; note that the shellcheck linter has not been run against these changes.
  parm/config/gefs/config.base.emc.dyn
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.post
  parm/config/gfs/config.prep
  parm/config/gfs/config.waveawipsbulls
  parm/config/gfs/config.waveawipsgridded
  parm/config/gfs/config.wavegempak
Owners: none

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
