Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

clean up comment
  parm/config/gfs/config.base.emc.dyn
Owners: none

Move SBATCH_DEBUG to xml envars
  workflow/rocoto/tasks.py
  workflow/rocoto/workflow_xml.py
Owners: @WalterKolczynski-NOAA, @aerorahul

added common workspace with miminum nubmer of chars to path
  Jenkinsfile
Owners: none

self test no op
  ci/scripts/driver.sh
Owners: @TerrenceMcGuinness-NOAA

Disable snow DA tests
  ci/cases/pr/C96_atmsnowDA.yaml
Owners: @TerrenceMcGuinness-NOAA

put all tests back and removed Keep limiter
  Jenkinsfile
Owners: none

python norms needed extra line delteted in get_host_case_list
  ci/scripts/utils/get_host_case_list.py
Owners: @TerrenceMcGuinness-NOAA

updated gw setup for gaea
  modulefiles/module_gwsetup.gaea.lua
Owners: none

added host name to argument to get_host_case_list.py
  Jenkinsfile
  ci/scripts/utils/get_host_case_list.py
  ci/scripts/utils/workflow
Owners: @TerrenceMcGuinness-NOAA

removed lib paths
  sorc/build_ww3prepost.sh
Owners: none

fixing python norms with removing white spaces
  ci/scripts/utils/get_host_case_list.py
Owners: @TerrenceMcGuinness-NOAA

Update build_ww3prepost.sh
  sorc/build_ww3prepost.sh
Owners: none

replace nc4 with nc for observation related files in python jedi atm scripts, generalize jedi atm layout (#2335)
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmensanl
  parm/config/gfs/config.resources
  parm/config/gfs/yaml/defaults.yaml
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: none

Update wave_prnc_ice.sh for shellcheck warning
  ush/wave_prnc_ice.sh
Owners: none

update cice config and resources for c384 gdas
  parm/config/gfs/config.resources
  ush/parsing_namelists_CICE.sh
Owners: none

Fix several Jenkins issues (#2334)
  Jenkinsfile
  ci/scripts/utils/get_host_case_list.py
  ci/scripts/utils/wxflow
Owners: @TerrenceMcGuinness-NOAA

Case correction.
  sorc/build_ww3prepost.sh
Owners: none

remove obsolete case comment for JEDI var and ens jobs in config.resources (#2335)
  parm/config/gfs/config.resources
Owners: none

use (1,1) layout for var and ens jobs in UFS hybrid DA CI (#2335)
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
Owners: @TerrenceMcGuinness-NOAA

update diag freq for cice from typo
  ush/parsing_namelists_CICE.sh
Owners: none

David Huber suggested updates.
  sorc/build_ww3prepost.sh
Owners: none

Update sorc/build_ww3prepost.sh
  sorc/build_ww3prepost.sh
Owners: none

remove unused variable wave_sys_ver
  parm/config/gefs/config.wave
  parm/config/gfs/config.wave
  ush/wave_grid_moddef.sh
Owners: none

Remove PARM* variables from JJOB scripts
  jobs/JGDAS_ATMOS_GEMPAK
  jobs/JGDAS_ATMOS_GEMPAK_META_NCDC
  jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG
  jobs/JGFS_ATMOS_AWIPS_G2
  jobs/JGFS_ATMOS_FBWIND
  jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS
  jobs/JGFS_ATMOS_POSTSND
  jobs/JGLOBAL_WAVE_INIT
  jobs/JGLOBAL_WAVE_POST_BNDPNT
  jobs/JGLOBAL_WAVE_POST_BNDPNTBLL
  jobs/JGLOBAL_WAVE_POST_PNT
  jobs/JGLOBAL_WAVE_POST_SBS
  jobs/JGLOBAL_WAVE_PREP
Owners: @GwenChen-NOAA, @WenMeng-NOAA, @JessicaMeixner-NOAA

Remove non-gfs PARM* variables from ush scripts
  ush/gfs_bufr.sh
  ush/gfs_bufr_netcdf.sh
  ush/parsing_namelists_WW3.sh
  ush/radmon_verf_angle.sh
  ush/radmon_verf_time.sh
  ush/syndat_qctropcy.sh
  ush/wave_grid_interp_sbs.sh
  ush/wave_prnc_cur.sh
Owners: none

Remove non-gfs PARM* variables in scripts scripts
  scripts/exgfs_atmos_awips_20km_1p0deg.sh
  scripts/exgfs_atmos_fbwind.sh
  scripts/exgfs_atmos_grib2_special_npoess.sh
  scripts/exgfs_atmos_grib_awips.sh
  scripts/exgfs_wave_post_gridded_sbs.sh
  scripts/exgfs_wave_post_pnt.sh
  scripts/exgfs_wave_prdgen_bulls.sh
  scripts/exgfs_wave_prdgen_gridded.sh
  scripts/exgfs_wave_prep.sh
Owners: @JessicaMeixner-NOAA

Remove non-gfs PARM* variables from configs
  parm/config/gefs/config.wave
  parm/config/gfs/config.verfozn
  parm/config/gfs/config.verfrad
  parm/config/gfs/config.vminmon
  parm/config/gfs/config.wave
Owners: none

Update JEDI ATM to use .nc for obs and generalize x,y layout (#2336)
  ci/cases/yamls/ufs_hybatmDA_defaults.ci.yaml
  parm/config/gfs/config.atmanl
  parm/config/gfs/config.atmensanl
  parm/config/gfs/config.resources
  parm/config/gfs/yaml/defaults.yaml
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
  ush/python/pygfs/task/atmens_analysis.py
Owners: @TerrenceMcGuinness-NOAA

made more updates with gwsetup for gaea, build_ufs and link_workflow
  modulefiles/module_gwsetup.gaea.lua
  sorc/build_ufs.sh
  sorc/link_workflow.sh
Owners: none

minimal set of changes to execute JEDI ATM only CI case (#2294)
  ci/cases/pr/C48C48_ufs_hybatmDA.yaml
  workflow/setup_expt.py
Owners: @TerrenceMcGuinness-NOAA, @WalterKolczynski-NOAA, @aerorahul

Update ufs-waether-model hash (#2338)
  parm/config/gefs/config.wave
  parm/config/gfs/config.base.emc.dyn
  parm/config/gfs/config.resources
  parm/config/gfs/config.wave
  ush/parsing_namelists_CICE.sh
  ush/wave_grid_moddef.sh
Owners: none

Replace IODAPARM with gdas parm subfolder
  jobs/JGLOBAL_ATM_PREP_IODA_OBS
  parm/config/gfs/config.prepatmiodaobs
  sorc/link_workflow.sh
Owners: @RussTreadon-NOAA

Add GDASApp parm subfolder to git ignore
  .gitignore
Owners: none

Remove no-longer-needed fix/gldas from .gitignore
  .gitignore
Owners: none

more tweaks
  env/HERA.env
  jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_ECEN
  jobs/rocoto/ocnanalecen.sh
Owners: none

adding missed executables for linking
  sorc/link_workflow.sh
Owners: none

Remove clean_tankdir step from verfrad script
  scripts/exgdas_atmos_verfrad.sh
Owners: @EdwardSafford-NOAA

Updating/debugging gfs_utils.
  .gitmodules
  modulefiles/module_gwsetup.hera.lua
Owners: none

Remove USHgempak from gempak folder scripts
  gempak/fix/gfs_meta
  gempak/ush/gdas_meta_na.sh
  gempak/ush/gfs_meta_hi.sh
  gempak/ush/gfs_meta_nhsh.sh
  gempak/ush/gfs_meta_us.sh
  gempak/ush/gfs_meta_usext.sh
Owners: none

Remove USH* variables from JJOB scripts
  jobs/JGDAS_ATMOS_GEMPAK
  jobs/JGDAS_ATMOS_GEMPAK_META_NCDC
  jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG
  jobs/JGFS_ATMOS_AWIPS_G2
  jobs/JGFS_ATMOS_FBWIND
  jobs/JGFS_ATMOS_GEMPAK
  jobs/JGFS_ATMOS_GEMPAK_META
  jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF
  jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC
  jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS
  jobs/JGFS_ATMOS_POSTSND
  jobs/JGLOBAL_ATMOS_POST_MANAGER
  jobs/JGLOBAL_WAVE_INIT
  jobs/JGLOBAL_WAVE_POST_BNDPNT
  jobs/JGLOBAL_WAVE_POST_BNDPNTBLL
  jobs/JGLOBAL_WAVE_POST_PNT
  jobs/JGLOBAL_WAVE_POST_SBS
  jobs/JGLOBAL_WAVE_PREP
Owners: @GwenChen-NOAA, @WenMeng-NOAA, @lgannoaa, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh
