Repository NOAA-EMC/global-workflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TerrenceMcGuinness-NOAA, @lgannoaa, @WalterKolczynski-NOAA, @aerorahul, @RussTreadon-NOAA, @CoryMartin-NOAA, @GwenChen-NOAA, @EdwardSafford-NOAA, @CatherineThomas-NOAA, @guillaumevernieres, @WenMeng-NOAA, @GeorgeGayno-NOAA, @jiaruidong2017, @JessicaMeixner-NOAA

.github/CODEOWNERS:

# global-workflow is a collaborative space where contributions come from a variety of sources
# This file is ensure that new development gets reviewed by the appropriate SME

# global-workflow default owners (not a complete list)
@KateFriedman-NOAA
@WalterKolczynski-NOAA

# Specific directory owners
/ci/ @TerrenceMcGuinness-NOAA

/ecf/ @lgannoaa

/workflow/ @WalterKolczynski-NOAA @aerorahul

# Specific file owners
jobs/JGDAS_ATMOS_ANALYSIS_DIAG @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_CHGRES_FORENKF @RussTreadon-NOAA @CoryMartin-NOAA
jobs/JGDAS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGDAS_ATMOS_GEMPAK_META_NCDC @GwenChen-NOAA
jobs/JGDAS_ATMOS_VERFOZN @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VERFRAD @EdwardSafford-NOAA
jobs/JGDAS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGDAS_ENKF_ARCHIVE
jobs/JGDAS_ENKF_DIAG @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_ECEN @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_FCST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_POST @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SELECT_OBS @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_SFC @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_ENKF_UPDATE @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
jobs/JGDAS_FIT2OBS
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_BMAT_VRFY @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_CHKPT @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_POST @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_PREP @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_RUN @guillaumevernieres
jobs/JGDAS_GLOBAL_OCEAN_ANALYSIS_VRFY @guillaumevernieres
jobs/JGFS_ATMOS_AWIPS_20KM_1P0DEG @GwenChen-NOAA
jobs/JGFS_ATMOS_AWIPS_G2 @GwenChen-NOAA
jobs/JGFS_ATMOS_CYCLONE_GENESIS
jobs/JGFS_ATMOS_CYCLONE_TRACKER
jobs/JGFS_ATMOS_FBWIND
jobs/JGFS_ATMOS_FSU_GENESIS
jobs/JGFS_ATMOS_GEMPAK @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_META @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_NCDC_UPAPGIF @GwenChen-NOAA
jobs/JGFS_ATMOS_GEMPAK_PGRB2_SPEC @GwenChen-NOAA
jobs/JGFS_ATMOS_PGRB2_SPEC_NPOESS @WenMeng-NOAA
jobs/JGFS_ATMOS_POSTSND @WenMeng-NOAA
jobs/JGFS_ATMOS_VMINMON @EdwardSafford-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_FINALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_INITIALIZE @CoryMartin-NOAA
jobs/JGLOBAL_AERO_ANALYSIS_RUN @CoryMartin-NOAA
jobs/JGLOBAL_ARCHIVE
jobs/JGLOBAL_ATMENS_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATMENS_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_ANALYSIS_CALC @RussTreadon-NOAA
jobs/JGLOBAL_ATMOS_EMCSFC_SFC_PREP @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_POST @WenMeng-NOAA
jobs/JGLOBAL_ATMOS_POST_MANAGER @lgannoaa
jobs/JGLOBAL_ATMOS_SFCANL @GeorgeGayno-NOAA
jobs/JGLOBAL_ATMOS_TROPCY_QC_RELOC
jobs/JGLOBAL_ATMOS_UPP @WenMeng-NOAA @aerorahul
jobs/JGLOBAL_ATM_ANALYSIS_FINALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_INITIALIZE @RussTreadon-NOAA
jobs/JGLOBAL_ATM_ANALYSIS_RUN @RussTreadon-NOAA
jobs/JGLOBAL_ATM_PREP_IODA_OBS @RussTreadon-NOAA
jobs/JGLOBAL_FORECAST
jobs/JGLOBAL_LAND_ANALYSIS @jiaruidong2017
jobs/JGLOBAL_PREP_LAND_OBS @jiaruidong2017
jobs/JGLOBAL_WAVE_GEMPAK @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_INIT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_BNDPNTBLL @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_PNT @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_POST_SBS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_BULLS @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PRDGEN_GRIDDED @JessicaMeixner-NOAA
jobs/JGLOBAL_WAVE_PREP @JessicaMeixner-NOAA

# scripts
scripts/exgdas_atmos_chgres_forenkf.sh @RussTreadon-NOAA @CoryMartin-NOAA
scripts/exgdas_atmos_gempak_gif_ncdc.sh
scripts/exgdas_atmos_nawips.sh @GwenChen-NOAA
scripts/exgdas_atmos_post.sh @WenMeng-NOAA
scripts/exgdas_atmos_verfozn.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_verfrad.sh @EdwardSafford-NOAA
scripts/exgdas_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgdas_enkf_earc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_ecen.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_fcst.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_post.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_select_obs.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_sfc.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgdas_enkf_update.sh @RussTreadon-NOAA @CoryMartin-NOAA @CatherineThomas-NOAA
scripts/exgfs_aero_init_aerosol.py
scripts/exgfs_atmos_awips_20km_1p0deg.sh
scripts/exgfs_atmos_fbwind.sh
scripts/exgfs_atmos_gempak_gif_ncdc_skew_t.sh
scripts/exgfs_atmos_gempak_meta.sh
scripts/exgfs_atmos_goes_nawips.sh
scripts/exgfs_atmos_grib2_special_npoess.sh
scripts/exgfs_atmos_grib_awips.sh
scripts/exgfs_atmos_nawips.sh
scripts/exgfs_atmos_post.sh
scripts/exgfs_atmos_postsnd.sh
scripts/exgfs_atmos_vminmon.sh @EdwardSafford-NOAA
scripts/exgfs_pmgr.sh
scripts/exgfs_prdgen_manager.sh @WenMeng-NOAA
scripts/exgfs_wave_init.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_nawips.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_gridded_sbs.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_post_pnt.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_bulls.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prdgen_gridded.sh @JessicaMeixner-NOAA
scripts/exgfs_wave_prep.sh @JessicaMeixner-NOAA
scripts/exglobal_aero_analysis_finalize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_initialize.py @CoryMartin-NOAA
scripts/exglobal_aero_analysis_run.py @CoryMartin-NOAA
scripts/exglobal_archive.sh
scripts/exglobal_atm_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atm_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_finalize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_initialize.py @RussTreadon-NOAA
scripts/exglobal_atmens_analysis_run.py @RussTreadon-NOAA
scripts/exglobal_atmos_analysis.sh @RussTreadon-NOAA
scripts/exglobal_atmos_analysis_calc.sh @RussTreadon-NOAA
scripts/exglobal_atmos_pmgr.sh
scripts/exglobal_atmos_sfcanl.sh
scripts/exglobal_atmos_tropcy_qc_reloc.sh
scripts/exglobal_atmos_upp.py
scripts/exglobal_diag.sh
scripts/exglobal_forecast.py @aerorahul
scripts/exglobal_forecast.sh
scripts/exglobal_land_analysis.py
scripts/exglobal_prep_land_obs.py
scripts/run_reg2grb2.sh
scripts/run_regrid.sh

Add restart on failure capability for the forecast executable (#2510)
  .gitignore
  env/HERA.env
  jobs/JGLOBAL_FORECAST
  modulefiles/module_base.hera.lua
  modulefiles/module_base.hercules.lua
  modulefiles/module_base.jet.lua
  modulefiles/module_base.orion.lua
  modulefiles/module_base.s4.lua
  parm/config/gefs/config.wave
  parm/config/gfs/config.wave
  parm/ufs/fv3/diag_table
  parm/ufs/fv3/diag_table_da
  scripts/exglobal_forecast.sh
  test/f90nmlcmp.sh
  test/g2cmp.sh
  test/nccmp.sh
  ush/forecast_det.sh
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/parsing_model_configure_FV3.sh
  ush/parsing_namelists_CICE.sh
  ush/parsing_namelists_FV3.sh
  ush/parsing_namelists_MOM6.sh
  ush/parsing_ufs_configure.sh
  versions/run.spack.ver
Owners: none

remove the CCPP_SUITE variable from config.base per suggestion
  parm/config/gfs/config.base
Owners: none

maintain alphabetical order for the -f option
  sorc/build_all.sh
  sorc/build_ufs.sh
Owners: none

move up the -f description
  sorc/build_all.sh
Owners: none

Update sorc/build_all.sh
  sorc/build_all.sh
Owners: none

move up the f) option
  sorc/build_ufs.sh
Owners: none

Add doc block to wdqms ex script. (#2519)
  scripts/exgdas_atmos_analysis_wdqms.sh
Owners: none

Move forecast hours and restart intervals to config.base.
  parm/config/gfs/config.base
  parm/config/gfs/config.efcs
  parm/config/gfs/config.fcst
  parm/config/gfs/config.wave
Owners: none

Archive all sfcf* files.
  parm/archive/enkf_grp.yaml.j2
Owners: none

Refactor restart/forecast hour-based archiving
  parm/archive/enkf_restartb_grp.yaml.j2
  parm/archive/gdas_restartb.yaml.j2
  parm/archive/gfs_restartb.yaml.j2
Owners: none

Add TODOs for GDAS component archiving
  parm/archive/chem.yaml.j2
  parm/archive/gdas.yaml.j2
  parm/archive/gdasice.yaml.j2
  parm/archive/gdasice_restart.yaml.j2
  parm/archive/gdasocean.yaml.j2
  parm/archive/gdasocean_analysis.yaml.j2
  parm/archive/gdasocean_restart.yaml.j2
  parm/archive/gdaswave.yaml.j2
  parm/archive/gdaswave_restart.yaml.j2
Owners: none

Explicitly archive gfs_collective files
  parm/archive/gfs_downstream.yaml.j2
Owners: none

add sdl
  parm/config/gfs/config.resources
  scripts/exglobal_atmos_analysis.sh
Owners: @RussTreadon-NOAA

More explicitly archive gridded GFS Wave products
  parm/archive/gfswave.yaml.j2
Owners: none

fix spacing
  parm/config/gfs/config.resources
Owners: none

Add optional wave station products to archives
  parm/archive/gfswave.yaml.j2
Owners: none

comment indentation fix for pynorms
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Hotfix to disable STALLED in CI as an error (#2523)
  ci/Jenkinsfile
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Fix restart intervals in archiving templates.
  parm/archive/enkf_restartb_grp.yaml.j2
  parm/archive/gdas_restartb.yaml.j2
  parm/archive/gfs_restartb.yaml.j2
  scripts/exgdas_enkf_earc.py
  scripts/exgfs_atmos_postsnd.sh
  scripts/exglobal_archive.py
Owners: none

New "atmanlfv3inc" Rocoto job (#2420)
  env/AWSPW.env
  env/CONTAINER.env
  env/HERA.env
  env/HERCULES.env
  env/JET.env
  env/ORION.env
  env/S4.env
  env/WCOSS2.env
  jobs/JGLOBAL_ATM_ANALYSIS_FV3_INCREMENT
  jobs/JGLOBAL_ATM_ANALYSIS_VARIATIONAL
  jobs/rocoto/atmanlfv3inc.sh
  jobs/rocoto/atmanlvar.sh
  parm/config/gfs/config.atmanlfv3inc
  parm/config/gfs/config.atmanlrun
  parm/config/gfs/config.atmanlvar
  parm/config/gfs/config.resources
  parm/gdas/atm_jedi_fix.yaml.j2
  scripts/exglobal_atm_analysis_fv3_increment.py
  scripts/exglobal_atm_analysis_variational.py
  sorc/link_workflow.sh
  ush/calcanl_gfs.py
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Add CCPP suite and FASTER option to UFS build (#2521)
  parm/config/gfs/config.ufs
  sorc/build_all.sh
  sorc/build_ufs.sh
Owners: none

Fix comment indentation
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

Fix comment indentation (#2526)
  ci/scripts/utils/rocotostat.py
Owners: @TerrenceMcGuinness-NOAA

more fixes
  ush/python/pygfs/task/aero_bmatrix.py
  workflow/rocoto/gfs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

add host and env for CSP
  env/AZUREPW.env
  env/GCPPW.env
  sorc/setup-case.sh
  workflow/hosts.py
  workflow/hosts/awspw.yaml
Owners: @WalterKolczynski-NOAA, @aerorahul

Address shellcheck suggestion
  scripts/exgfs_atmos_postsnd.sh
Owners: none

Fix enkf_grp optional file declarations.
  parm/archive/enkf_grp.yaml.j2
Owners: none

Move verfrad warning files to optional list
  parm/archive/gdas.yaml.j2
Owners: none

Fix restart_interval loop control.
  parm/archive/enkf_restartb_grp.yaml.j2
  parm/archive/gdas_restartb.yaml.j2
  parm/archive/gfs_restartb.yaml.j2
  parm/config/gfs/config.base
Owners: none

Copy relevant changes to gefs config files.
  parm/config/gefs/config.base
  parm/config/gefs/config.efcs
  parm/config/gefs/config.wave
Owners: none

add --nest option to link different orog/ugwd fix files for global nest
  sorc/link_workflow.sh
  versions/fix.nest.ver
Owners: none

Remove amsua files from archive list
  parm/archive/gdas_restarta.yaml.j2
Owners: none

running with replay ICs
  parm/config/gefs/config.base
  parm/config/gefs/config.fcst
  parm/config/gefs/config.ufs
  parm/config/gefs/yaml/defaults.yaml
  scripts/exglobal_stage_ic.sh
  ush/forecast_postdet.sh
  ush/parsing_model_configure_FV3.sh
  workflow/rocoto/gefs_tasks.py
Owners: @WalterKolczynski-NOAA, @aerorahul

Fixed a typo and added some comments.
  parm/config/gfs/config.anal
  scripts/exglobal_atmos_analysis.sh
Owners: @RussTreadon-NOAA

fixes for increment step
  parm/config/gfs/config.atmanlfv3inc
  ush/python/pygfs/task/analysis.py
  ush/python/pygfs/task/atm_analysis.py
Owners: none

bugfixes on jobs and parm
  jobs/JGLOBAL_FORECAST
  parm/config/gfs/config.base
Owners: none

run ufsda case as a test
  ush/forecast_postdet.sh
  ush/forecast_predet.sh
  ush/parsing_model_configure_FV3.sh
Owners: none

Fix wave FHMAX for GEFS.
  parm/config/gefs/config.base
Owners: none

Added untested enkfgfs warning to archive.py
  ush/python/pygfs/task/archive.py
Owners: none

Remove debug print statement
  ush/python/pygfs/task/archive.py
Owners: none
