Repository NOAA-EMC/global-workflow, pull requests merged in 2025-03, with the labels that each got.

#3323 Enable cycling support for Gaea C6
  .github/workflows/ci_unit_tests.yaml
  ci/cases/pr/C48_S2SW_extended.yaml
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  ci/cases/pr/C48mx500_hybAOWCDA.yaml
  ci/cases/pr/C96C48_hybatmaerosnowDA.yaml
  ci/cases/pr/C96C48_ufs_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar_extended.yaml
  ci/cases/pr/C96mx100_S2S.yaml
  ci/platforms/config.gaeac6
  ci/scripts/utils/launch_java_agent.sh
  docs/source/hpc.rst
  docs/source/setup.rst
  docs/source/start.rst
  env/GAEAC6.env
  modulefiles/module_base.gaeac5.lua
  modulefiles/module_base.gaeac6.lua
  modulefiles/module_gwsetup.gaeac6.lua
  parm/config/gefs/config.base
  parm/config/gefs/config.resources
  parm/config/gefs/config.resources.GAEAC5
  parm/config/gefs/config.resources.GAEAC6
  parm/config/gfs/config.base
  parm/config/gfs/config.resources.GAEAC6
  sorc/build_compute.sh
  sorc/link_workflow.sh
  versions/build.gaeac6.ver
  versions/run.gaeac5.ver
  versions/run.gaeac6.ver
  workflow/build_compute.py
  workflow/generate_workflows.sh
  workflow/hosts/awspw.yaml
  workflow/hosts/azurepw.yaml
  workflow/hosts/gaeac5.yaml
  workflow/hosts/gaeac6.yaml
  workflow/hosts/googlepw.yaml
  workflow/hosts/hera.yaml
  workflow/hosts/hercules.yaml
  workflow/hosts/jet.yaml
  workflow/hosts/orion.yaml
  workflow/hosts/s4.yaml
  workflow/hosts/wcoss2.yaml
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
  workflow/rocoto/workflow_xml.py
Labels: CI-Wcoss2-Passed

#3280 CI/CD Test on Gaea C5- And update config.gaea under ci/platform
  ci/platforms/config.gaeac5
Labels: CI/CD

#3389 Adding Jenkins CI to GaeaC6 using role account
  ci/Jenkinsfile
  ci/platforms/config.gaeac6
  ci/scripts/utils/githubpr.py
  ci/scripts/utils/launch_java_agent.sh
Labels: CI-Hera-Failed, CI/CD, CI-Gaeac6-Failed

#3342 Update jgdas atmos verfozn and verfrad with COMIN/COMOUT prefix instead of COM
  jobs/JGDAS_ATMOS_VERFOZN
  jobs/JGDAS_ATMOS_VERFRAD
Labels: CI-Hercules-Passed

#3414 Migrate CI Jenkins to role account on Hera
  ci/Jenkinsfile
  ci/platforms/config.gaeac5
  ci/platforms/config.gaeac6
  ci/platforms/config.hera
  ci/platforms/config.hercules
  ci/platforms/config.orion
  ci/scripts/check_ci.sh
  ci/scripts/driver.sh
  ci/scripts/driver_weekly.sh
  ci/scripts/run_ci.sh
  ci/scripts/utils/ci_utils.sh
  ci/scripts/utils/launch_java_agent.sh
Labels: CI-Hera-Passed, CI/CD

#3415 Remove job name from product files & update GEMPAK module.
  ecf/scripts/gfs/atmos/post_processing/awips_20km_1p0/jgfs_atmos_awips_master.ecf
  scripts/exgfs_atmos_awips_20km_1p0deg.sh
  versions/run.wcoss2.ver
Labels: CI-Wcoss2-Passed

#3379 Remove Direct Linking to COM from DATA for `extractvars` Job
  ush/atmos_extractvars.sh
  ush/ocnice_extractvars.sh
  ush/wave_extractvars.sh
Labels: CI-Wcoss2-Passed

#3423 Migration to role account for Jenkins on Hercules
  ci/Jenkinsfile
  ci/platforms/config.gaeac6
  ci/platforms/config.hera
  ci/platforms/config.hercules
  ci/platforms/config.orion
  ci/scripts/utils/launch_java_agent.sh
  workflow/hosts/hercules.yaml
Labels: CI/CD, CI-Hercules-Passed

#3420 Eliminate `_gfs`, `_gdas`, etc, variables and add necessary if blocks
  parm/config/gefs/config.resources
  parm/config/gefs/config.ufs
  parm/config/gfs/config.resources
  parm/config/gfs/config.resources.HERA
  parm/config/gfs/config.resources.HERCULES
  parm/config/gfs/config.resources.ORION
  parm/config/gfs/config.resources.S4
  parm/config/gfs/config.resources.WCOSS2
  parm/config/gfs/config.ufs
  parm/config/sfs/config.resources
  workflow/build_opts.yaml
Labels: CI-Hera-Passed, CI-Hercules-Passed, CI-Wcoss2-Passed

#3440 Migration to role account for Jenkins on Orion
  ci/Jenkinsfile
  ci/platforms/config.orion
  ci/scripts/utils/launch_java_agent.sh
  workflow/hosts/orion.yaml
Labels: CI-Orion-Passed, CI/CD

#3331 Remove the eomg job
  parm/archive/enkf.yaml.j2
  parm/config/gfs/config.anal
  parm/config/gfs/config.eobs
  parm/config/gfs/config.resources
  parm/config/gfs/config.resources.HERCULES
  scripts/exgdas_enkf_update.sh
  scripts/exglobal_atmos_analysis.sh
  workflow/applications/applications.py
  workflow/applications/gfs_cycled.py
  workflow/rocoto/gfs_tasks.py
  workflow/rocoto/tasks.py
Labels: CI-Hercules-Passed

#3447 CI/CD TEST- GAEA C5 & HPC ACCOUNT UPDATE
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
  ci/platforms/config.gaeac5
  workflow/hosts/gaeac5.yaml
Labels: CI-Gaeac5-Passed

#3459 Enable CI testing on AWS
  ci/Jenkinsfile4AWS
  ci/cases/pr/C48_S2SW.yaml
  ci/cases/pr/C48_S2SW_extended.yaml
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  ci/cases/pr/C48mx500_hybAOWCDA.yaml
  ci/cases/pr/C96C48_hybatmDA.yaml
  ci/cases/pr/C96C48_hybatmaerosnowDA.yaml
  ci/cases/pr/C96C48_ufs_hybatmDA.yaml
  ci/cases/pr/C96_atm3DVar.yaml
  ci/cases/pr/C96_atm3DVar_extended.yaml
  ci/cases/pr/C96mx100_S2S.yaml
  ci/cases/yamls/gfs_defaults_ci.yaml
  ci/scripts/utils/ci_utils.sh
  ci/scripts/utils/launch_java_agent.sh
  parm/config/gfs/config.resources.AWSPW
Labels: CI-Awsepicglobalworkflow-Ready

#3443 Update MSU glopara paths to new role-global space
  modulefiles/module_base.hercules.lua
  modulefiles/module_base.orion.lua
  workflow/hosts/hercules.yaml
  workflow/hosts/orion.yaml
Labels: CI-Orion-Passed, CI-Hercules-Passed

#3462 Make marine LETKF optional
  ci/cases/gfsv17/marinehyb.yaml
  ci/cases/yamls/soca_hyb_gfs_defaults_ci.yaml
  parm/config/gfs/config.base
  parm/config/gfs/yaml/defaults.yaml
  scripts/exglobal_archive_tars.py
  workflow/applications/gfs_cycled.py
Labels: CI-Hera-Passed

#3455 Update GOCART path for GDAS/GFS/GCAFS implementations
  parm/ufs/gocart/ExtData.qfed
  workflow/hosts/awspw.yaml
  workflow/hosts/gaeac5.yaml
  workflow/hosts/gaeac6.yaml
  workflow/hosts/hera.yaml
  workflow/hosts/hercules.yaml
  workflow/hosts/jet.yaml
  workflow/hosts/orion.yaml
  workflow/hosts/s4.yaml
  workflow/hosts/wcoss2.yaml
Labels: CI-Gaeac6-Passed

#3487 Updates for AOWCDA and hybatmaerosnowDA cases on Gaea C6
  ci/cases/pr/C48mx500_3DVarAOWCDA.yaml
  ci/cases/pr/C48mx500_hybAOWCDA.yaml
  ci/cases/pr/C96C48_hybatmaerosnowDA.yaml
  env/GAEAC5.env
  env/GAEAC6.env
  env/HERCULES.env
Labels: CI-Gaeac6-Passed

#3520 make sure cold starts are handled correctly when DOIAU=YES (issue #3516)
  ci/platforms/config.gaeac6
  ush/forecast_predet.sh
Labels: CI-Hera-Passed, CI-Hercules-Passed, CI-Gaeac6-Failed

#3532 Hotfix path for CI in Jenkins on Gaea C2 to it's world-share path
  ci/Jenkinsfile
Labels: CI/CD, triage
